<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Dashboard</a><span class="divider">/</span></li>
        <li class="active"><a href="/messages">Messages</a><span class="divider">/</span> </li>
        <li class="active"><a href="/messages">Open Message</a>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Messages</h1> 
<span>Your Healthy connections</span>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
  <div class="maincontent">
            <div class="contentinner">
<div id="chat" class="chatcontent">
    <div id="chatmessage" class="chatmessage">
        <div id="chatmessageinner">
            <p class="reply">
<img src="img/avatar.png" alt="" class="img-polaroid"/>
<span class="msgblock">
<strong>Dr. Jun Gayapa</strong> <span class="time">- 12:10 pm</span>
<span class="msg">Hello, what's up!</span>
</span>
            </p>
        </div><!--chatmessageinner-->
    </div><!--chatmessage-->

    <div class="messagebox">
        <button class="btn btn-primary send">Send</button>
        <span class="inputbox">
            <input type="text" id="msgbox" name="msgbox"  class="input-block-level" />
        </span>
        <div class="clearfix"></div>
    </div><!--messagebox-->
</div><!--#chat-->
</div><!--contentinner-->
  </div><!--maincontent-->
</div>
</div>
<script type="text/javascript">
jQuery(document).ready(function(){

    // submit a message via a submit button click 
    jQuery('.messagebox button').click(function(){
        enterMessage();
    });
    
    // submit a message via an enter key press
    jQuery('.messagebox input').keypress(function(e){
        if(e.which == 13)
            enterMessage();
    });
    
    function enterMessage() {
        var msg = jQuery('.messagebox input').val(); //get the value of message box
        
        //display message from a message box
        if(msg != '') {
            jQuery('#chatmessageinner').append('<p><img src="img/avatar.png" alt="" class="img-polaroid"/>'
                                               +'<span class="msgblock radius2"><strong>You</strong> <span class="time">- 12:10 pm</span>'
                                               +'<span class="msg">'+msg+'</span></p>');
            jQuery('.messagebox input').val('');
            jQuery('.messagebox input').focus();
            jQuery('#chatmessageinner').animate({scrollTop: jQuery('#chatmessageinner').height()});
            
            //this will create a sample response display after submitting message
            window.setTimeout(  
                function() {  
                    //this is just a sample reply when somebody send a message
                    jQuery('#chatmessageinner').append('<p class="reply"><img src="img/avatar.png" alt="" class="img-polaroid" />'
                                                       +'<span class="msgblock radius2"><strong>Nambal:</strong> <span class="time">12:11 pm</span>'
                                                       +'<span class="msg">This is an automated reply!!</span></p>', function(){
                        jQuery(this).animate({scrollTop: jQuery(this).height()});
                    });
                }, 1000);           
        }   
    }


});
</script>