<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li><a href="/messages">Messages</a></li>
        <li class="active">Create Message</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="maincontent">            
<div class="contentinner content-dashboard">

<div class="row tallheight">
    <div class="col-md-4 widget-container tallheight" >
         <section class="widget">
            <header>
                <h4>Search the Recipient</h4>
            </header>
            <div>
                <form method="GET" action="">
                <div class="form-group">
                    <label for="search-input">Search by Email or username</label>
                        <div class="input-group">
                            <input type="search" name="search-username-or-email" class="form-control" id="search-input">
                            <span class="input-group-btn">
                            <button type="submit" class="btn btn-transparent">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="body people-list">
            <?php if(!empty($returnedSearch)): ?>
                <div class="list-group users-list-group">    
                    <?php foreach ($returnedSearch as $retSearch): ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->nagkamoritsing->bungkag($retSearch->IDsafe_user)?>" class="list-group-item">
                        <?php 
                         $profilepic = $this->profilepic->getprofilepicinfo($retSearch->IDsafe_user);
                        ?>
                        <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
                          <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
                        <?php else: ?>
                            <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
                        <?php endif; ?>
                        <h5 class="no-margin"><?=@$this->nagkamoritsing->ibalik($retSearch->firstname)?>&nbsp;<?=@$this->nagkamoritsing->ibalik($retSearch->lastname)?></h5>
                        <small class="text-muted"><?=@$this->nagkamoritsing->ibalik($retSearch->emailAddress)?></small>
                    </a>
                    <?php endforeach; ?>
                </div>
            <?php else: ?>
                Please make sure username or email exist.<br>Please try again
            <?php endif; ?>
            </div>
        </section>
    </div>
    <div class="col-md-8 widget-container">
       <section class="widget">
            <header>
                <h4>
                    Crop image
                </h4>
            </header>
            <div class="body">
                Please select the recipient
            </div>
        </section>
        
    </div>
</div>
</div>
</div>