<?php $firstloop=0; ?>
<?php if (isset($this->inboxes)): ?>
<?php foreach ($this->inboxes as $inboxlist): ?>
<?php if (!empty($inboxlist->datesent)): ?>
<tr>
	<td class="hidden "><?=@$inboxlist->datesent?></td>
	<td class="<?php if (@$inboxlist->nabasa == 0) echo "unread-message"; ?>">
	<?php if (@$inboxlist->from_IDsafe_user != ($this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']))): ?>
	<a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->from_IDsafe_user)?>">
	<?php if($this->emrUser->checkIfDoctor($inboxlist->from_IDsafe_user)): ?>Dr.<?php endif; ?>
	<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromfirstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromlastname))?>
	    <?php if ($this->nagkamoritsing->ibalik($this->sendto) == $inboxlist->from_IDsafe_user): ?>
	    <i class="fa fa-chevron-right pull-right"></i>
	    <?php endif; ?>
	<?php else: ?>
	<a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->to_IDsafe_user)?>">
		<?php if($this->emrUser->checkIfDoctor($inboxlist->to_IDsafe_user)): ?>Dr.<?php endif; ?>
	<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->firstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->lastname))?>
	    <?php if ($this->nagkamoritsing->ibalik($this->sendto) == $inboxlist->to_IDsafe_user): ?>
	    <i class="fa fa-chevron-right pull-right"></i>
	    <?php endif; ?>
	<?php endif;?>
	</a>
	<br>
	<span class="message-datetime">
	<?php
	// echo unix_to_human($inboxlist->datesent, TRUE, 'us'); // U.S. time with seconds
	echo date("M d, Y (h:i A e)", strtotime($inboxlist->datesent));
	// echo @$inboxlist->datesent;
	?>
	</span>
	</td>
</tr>
<?php $firstloop++; ?>
<?php else: ?>
<tr>
<td>&nbsp;</td>
<td style="text-align: center;">No messages yet.</td>
</tr>
<?php endif; ?>
<?php endforeach; ?>
<?php endif; ?>