<script type="text/javascript">
var chatAddUrl = 'messages';
var sendto = '<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>';
channel.bind('notify_user', function(data) 
{
    if (((data.message.length > 0) && (data.noti.length > 0)))
    {
        if (data.noti == '<?=@$this->IDsafe_userTO;?>')
        {
            <?php 
             $profilepic = $this->profilepic->getprofilepicinfo(@$this->IDsafe_userTO);
            ?>
            <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
            var profilepic = '<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>';
            <?php else: ?>
            var profilepic = '<?php echo base_url(); ?>public/img/profile-pic-4x4.gif';
            <?php endif; ?>
            jQuery('.chat-message:last').after('<div class="chat-message"><div class="sender pull-right"><div class="icon"><img src="'+profilepic+'" alt="" class="img-circle img-polaroid img-circle-small"></div></div><div class="chat-message-body on-left"><span class="arrow"></span><div class="sender"><a href="<?=base_url();?>profileViewer?id=<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>"> <?=@$this->fullname?></a></div><div class="text">'+data.message+'<br><span class="chat-date-font">'+data.datesent+'</span></div></div></div>');
            jQuery('#chat-messages').scrollTo('.chat-message:last');
            jQuery('#msg-table tbody').load('<?=base_url();?>messages/inboxListOnly?sendto='+sendto);
        }
        else if((data.noti == '<?=@$this->nagkamoritsing->ibalik($this->nambal_session['IDsafe_user'])?>') &&  (data.fy == '<?=@$this->IDsafe_userTO;?>') )
        {
            <?php 
             $profilepic = $this->profilepic->getprofilepicinfo(@$this->nagkamoritsing->ibalik($this->nambal_session['IDsafe_user']));
            ?>
            <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
            var profilepic = '<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>';
            <?php else: ?>
            var profilepic = '<?php echo base_url(); ?>public/img/profile-pic-4x4.gif';
            <?php endif; ?>
            jQuery('#'+data.messageid).parent().remove();
            jQuery('.chat-message:last').after('<div class="chat-message"><div class="sender pull-left"><div class="icon"><img src="'+profilepic+'" alt="" class="img-circle"></div></div><div class="chat-message-body"><span class="arrow"></span><div class="sender" style="text-decoration: underline;"><?=ucwords($this->nagkamoritsing->ibalik(@$this->nambal_session['firstname']))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$this->nambal_session['lastname']))?></div><div class="text">'+data.message+'<br><span class="chat-date-font">'+data.datesent+'</span></div></div></div>');
            jQuery('#chat-messages').scrollTo('.chat-message:last');
        }
        else
        {
            jQuery('#msg-table tbody').load('<?=base_url();?>messages/inboxListOnly?sendto='+sendto);
        }
    }
});
</script>
<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active">Messages</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="maincontent">            
<div class="contentinner content-dashboard">

<?php $errorReturn = validation_errors(); ?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
  <?php
            echo $errorMessage;
            echo validation_errors(); 
        ?>
</div>
<?php endif; ?>
    
<div class="row tallheight">
    <div class="col-md-4 widget-container tallheight">
         <section class="widget">
            <header>
                <div  class="row">
                    <div class="col-md-12" style="text-align: center; ">
                      <!-- <div class="btn-group" >
                            <button class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
                                &nbsp; Options &nbsp;
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu ">
                                <li><a href="#">Inbox<span class="badge badge-success">3</span></a></li>
                                <li><a href="#">Trash</a></li>
                                <li><a href="#">Spam</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </header>
            <div id="list-of-chat">
          <table class="table table-striped" id="msg-table">
                            <thead>
                            <tr>
                              <th class="hidden-phone-landscape ">Date Communicated</th>
                              <th class="no-sort">Inbox</th>
                              </tr>
                            </thead>
                            <tbody>
<?php if (!empty($this->returnedSearch->firstname)): ?>
<tr>
  <td class="hidden-phone-landscape "><?=date('F d, Y h:i A')?></td>
  <td><a href="<?=base_url();?>messages?from=<?=$this->nagkamoritsing->bungkag(@$this->returnedSearch->IDsafe_user)?>">
    <i class="fa fa-chevron-right pull-right"></i>
    <?php if($this->emrUser->checkIfDoctor($this->returnedSearch->IDsafe_user)): ?>Dr.<?php endif; ?>
    <?=ucwords(@$this->nagkamoritsing->ibalik($this->returnedSearch->firstname));?>&nbsp;<?=ucwords(@$this->nagkamoritsing->ibalik($this->returnedSearch->lastname));?></a></td>
</tr>
<?php endif; ?>
<?php $firstloop=0; ?>
<?php if (isset($this->inboxes)): ?>
    <?php foreach ($this->inboxes as $inboxlist): ?>
        <?php if (!empty($inboxlist->datesent)): ?>
        <tr>
          <td class="hidden "><?=@$inboxlist->datesent?></td>
          <td class="<?php if (@$inboxlist->nabasa == 0) echo "unread-message"; ?>">
            <?php if (@$inboxlist->from_IDsafe_user != ($this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']))): ?>
            <a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->from_IDsafe_user)?>">
                <?php if($this->emrUser->checkIfDoctor($inboxlist->from_IDsafe_user)): ?>Dr.<?php endif; ?>
            <?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromfirstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromlastname))?>
                <?php if ($this->IDsafe_userTO == $inboxlist->from_IDsafe_user): ?>
                <i class="fa fa-chevron-right pull-right"></i>
                <?php endif; ?>
            <?php else: ?>
            <a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->to_IDsafe_user)?>">
                <?php if($this->emrUser->checkIfDoctor($inboxlist->to_IDsafe_user)): ?>Dr.<?php endif; ?>
            <?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->firstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->lastname))?>
                <?php if ($this->IDsafe_userTO == $inboxlist->to_IDsafe_user): ?>
                <i class="fa fa-chevron-right pull-right"></i>
                <?php endif; ?>
            <?php endif;?>
            </a>
           <br>
            <span class="message-datetime">
             <?php
            // echo unix_to_human($inboxlist->datesent, TRUE, 'us'); // U.S. time with seconds
            echo date("M d, Y (h:i A e)", strtotime($inboxlist->datesent));
            // echo @$inboxlist->datesent;
            ?>
            </span>
          </td>
        </tr>
        <?php $firstloop++; ?>
        <?php else: ?>
            <tr>
                <td>&nbsp;</td>
                <td style="text-align: center;">No messages yet.</td>
            </tr>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
                            </tbody>
                        </table>
                    </div>
            
        </section>
        <section class="widget">
<!--             <button type="button" class="btn btn-success btn-block"  data-toggle="modal" data-target="#myModalLabel">
                <center>Create new Messages</center>
 -->            </button>
            <a href="<?php base_url(); ?>messages/create" class="btn btn-success btn-block">Create new Message</a>
        </section>
    </div>
    <?php if ((!empty($from)) || (!empty($this->to)) || (isset($this->inboxes))): ?>
    <div class="col-md-8 widget-container">
       <section class="widget large tallheight" >
            <header>

                <div class="row">
                    <div class="col-md-10">
                    <?php if ($this->emrUser->checkIfDoctor(@$this->IDsafe_userTO)): ?>
                        <?php
                            // print_r($this->emrUser->getDoctorId(@$this->IDsafe_userTO));
                            $IDemr_user = $this->emrUser->getDoctorId(@$this->IDsafe_userTO);
                            $IDemr_user = $IDemr_user->IDemr_user;
                        ?>
                        <a href="<?=base_url()?>connectDoctor/doctorInfo?dr=<?=$this->nagkamoritsing->bungkag(@$IDemr_user)?>">Dr. <?=@$this->fullname?>  </a>
                    <?php else: ?>
                        <?=@$this->fullname?>  
                    <?php endif; ?>
                    </div>
                    <div class="col-md-2">
                        <!-- <a  class="btn btn-block btn-info" href="<?=@base_url()?>appointmentsPatient/setAppointmentFromPatient?to=<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>"><i class="fa fa-calendar">&nbsp;</i>Set Appointment to this doctor</a> -->
                        <?php if ($this->emrUser->checkIfDoctor(@$this->IDsafe_userTO)): ?>
                        <div class="btn-group">
                            <button class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
                                &nbsp; Options &nbsp;
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <!-- <li><a href="#">Print</a></li>
                                <li><a href="#">Save</a></li>
                                <li><a href="#">Forward</a></li>
                                <li><a href="#">Mark as Spam</a></li>
                                <li class="divider"></li> -->
                                <li><a href="<?=@base_url()?>appointmentsPatient/setAppointmentFromPatient?to=<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>"><i class="fa fa-calendar">&nbsp;</i> Set Appointment</a></li>
                                <li><a href="<?=base_url();?>connectDoctor/recommend?dr=<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>" ><i class="fa fa-check">&nbsp;</i> Recommend this doctor</a></li>
                            </ul>
                        </div>
                        <?php endif; ?>
                    </div>
                    
                </div>
            </header>
            <div class="body tallheight"   >
                <input name="fromIDsafeUser" id="fromIDsafeUser" type="hidden" value="<?=@$this->nambal_session['IDsafe_user']?>" />
    <input name="toIDsafeUser" id="toIDsafeUser"  type="hidden" value="<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>"  />

                <div id="chat" class="chat"  >
                    <div id="chat-messages" class="chat-messages tallheight" >
                        <div class="chat-message"></div>
<?php if(isset($this->messageToDisplay)): ?>
<?php foreach ($this->messageToDisplay as $chatmessage): ?>
                    
<?php if ($chatmessage->from_IDsafe_user == $this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']) ): ?>
<div class="chat-message">
        <div class="sender pull-left">
            <div class="icon">
                <?php 
                 $profilepic = $this->profilepic->getprofilepicinfo($chatmessage->from_IDsafe_user);
                ?>
                <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
                  <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
                <?php else: ?>
                    <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
                <?php endif; ?>
            </div>


        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender" style="text-decoration: underline;"><?=@ucfirst($this->nagkamoritsing->ibalik($chatmessage->firstname))?>&nbsp;<?=@ucfirst($this->nagkamoritsing->ibalik($chatmessage->lastname))?></a></div>
            <div class="text">
                <?=@$chatmessage->message?>
                <br><span class="chat-date-font">
                <?php            
                echo date("M d, Y (h:i A e)", strtotime($chatmessage->datesent));
                ?></span>
            </div>
        </div>
</div>
<?php else: ?>
<div class="chat-message">
    <div class="sender pull-right">
        <div class="icon">
            <?php 
             $profilepic = $this->profilepic->getprofilepicinfo($chatmessage->from_IDsafe_user);
            ?>
            <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
              <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
            <?php else: ?>
                <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
            <?php endif; ?>
        </div>
    </div>
    <div class="chat-message-body on-left">
        <span class="arrow"></span>
         <div class="sender"><a href="<?=base_url();?>profileViewer/doctorViewing?sessionid=<?=$this->nagkamoritsing->bungkag(@$this->IDsafe_userTO)?>"> <?=@ucfirst($this->nagkamoritsing->ibalik($chatmessage->firstname))?>&nbsp;<?=@ucfirst($this->nagkamoritsing->ibalik($chatmessage->lastname))?></a></div>
        <div class="text">           
            <?=@$chatmessage->message?>
            <br><span class="chat-date-font">
            <?php            
            echo date("M d, Y (h:i A e)", strtotime($chatmessage->datesent));
            ?></span>
        </div>            
    </div>
</div>
<?php endif; ?>
<?php endforeach; ?>
<?php else: ?>
You have no messages.
<?php endif; ?>
                        </div>
                    <footer class="chat-footer row">
                        <div class="col-xs-9">
                            <input id="new-message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                        </div>
                        <div class="col-xs-3">
                            <button type="button" id="new-message-btn" class="btn btn-transparent btn-block">Send</button>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
        
    </div>
    <?endif; ?>
</div>
</div>
</div>

<script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <?php 
                 $profilepic = $this->profilepic->getprofilepicinfo(@$this->nagkamoritsing->ibalik($this->nambal_session['IDsafe_user']));
                ?>
                 <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
                  <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
                <?php else: ?>
                    <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
                <?php endif; ?>
            </div>


        </div>
        <div class="chat-message-body" id="<%- messageID %>">
            <span class="arrow"></span>
            <div class="sender" style="text-decoration: underline;"><?=ucwords($this->nagkamoritsing->ibalik(@$this->nambal_session['firstname']))?> <?=ucwords($this->nagkamoritsing->ibalik(@$this->nambal_session['lastname']))?></div>
            <div class="text">
                <%- text %>
            </div>
        </div>
</script>