<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Dashboard</a><span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Messages</a> </li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Messages</h1> 
<span>Your Healthy connections</span>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="row">
<div class="widgetcontent bordered">
  <div class="maincontent">
            <div class="contentinner">
                <div id="mail">
                	<div class="msghead">
                        <ul class="msghead_menu">
                            <li>
                                <button class="btn"><span class="iconsweets-alert2"></span> Report Spam</button>
                                <button class="btn msgtrash"><span class="iconsweets-trashcan"></span></button>
                                <div class="btn-group">
                                    <button class="btn">Actions</button>
                                    <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Mark as Read</a></li>
                                      <li><a href="#">Mark as Unread</a></li>
                                      <li><a href="#">Move to Folder</a></li>
                                      <li class="divider"></li>
                                      <li><a href="#">Add Star</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="right btn-group">
                                <a class="btn prev prev_disabled"><span class="icon-chevron-left"></span></a>
                                <a class="btn next"><span class="icon-chevron-right"></span></a>
                            </li>
                            <li class="right"><span class="pageinfo">1-10 of 2,139</span></li>
                        </ul>
                        <span class="clearall"></span>
                    </div><!--msghead-->
                    
                    <br />
                    
                    <table class="table table-bordered mailinbox">
                        <colgroup>
                            <col class="con1 width4" />
                            <col class="con0 width4" />
                            <col class="con1 width15" />
                            <col class="con0 width63" />
                            <col class="con1 width4" />
                            <col class="con1 width10" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th class="head1 aligncenter"><input type="checkbox" name="checkall" class="checkall" /></th>
                            <th class="head0">&nbsp;</th>
                            <th class="head1">Sender</th>
                            <th class="head0">Subject</th>
                            <th class="head1 attachement">&nbsp;</th>
                            <th class="head0">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="unread">
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Jun Gayapa</td>
                                <td><a href="/messages/individualMsg" class="title">Ut enim ad minim veniam, quis nostrud exercitation</a></td>
                                <td class="attachment"><img src="/public/img/attachment.png" alt="" /></td>
                                <td class="date">July 1</td>
                            </tr>
                            <tr class="unread">
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Tyronne Lariego</td>
                                <td><a href="/messages/individualMsg" class="title">Ullamco laboris nisi ut aliquip ex ea commodo consequat. </a></td>
                                <td class="attachment"></td>
                                <td class="date">June 30</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Nino Ismael Pastor</td>
                                <td><a href="/messages/individualMsg" class="title">Sed ut perspiciatis unde omnis iste natus error</a></td>
                                <td class="attachment"></td>
                                <td class="date">June 28</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Nino Ismael Pastor</td>
                                <td><a href="/messages/individualMsg" class="title">Sit voluptatem accusantium doloremque laudantium</a></td>
                                <td class="attachment"><img src="/public/img/attachment.png" alt="" /></td>
                                <td class="date">June 20</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar starred"></a></td>
                                <td>Dr. Nino Ismael Pastor</td>
                                <td><a href="/messages/individualMsg" class="title">Totam rem aperiam, eaque ipsa quae ab illo inventore</a></td>
                                <td class="attachment"></td>
                                <td class="date">June 19</td>
                            </tr>
                            <tr class="unread">
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Rene Catan</td>
                                <td><a href="/messages/individualMsg" class="title">Ut enim ad minim veniam, quis nostrud exercitation</a></td>
                                <td class="attachment"><img src="/public/img/attachment.png" alt="" /></td>
                                <td class="date">July 1</td>
                            </tr>
                            <tr class="unread">
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Rene Catan</td>
                                <td><a href="" class="title">Ullamco laboris nisi ut aliquip ex ea commodo consequat. </a></td>
                                <td class="attachment"></td>
                                <td class="date">June 30</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Rene Catan</td>
                                <td><a href="/messages/individualMsg" class="title">Sed ut perspiciatis unde omnis iste natus error</a></td>
                                <td class="attachment"></td>
                                <td class="date">June 28</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar"></a></td>
                                <td>Dr. Rene Catan</td>
                                <td><a href="/messages/individualMsg" class="title">Sit voluptatem accusantium doloremque laudantium</a></td>
                                <td class="attachment"><img src="/public/img/attachment.png" alt="" /></td>
                                <td class="date">June 20</td>
                            </tr>
                            <tr>
                                <td class="aligncenter"><input type="checkbox" name="" /></td>
                                <td class="star"><a class="msgstar starred"></a></td>
                                <td>Dr. Rene Catan</td>
                                <td><a href="/messages/individualMsg" class="title">Totam rem aperiam, eaque ipsa quae ab illo inventore</a></td>
                                <td class="attachment"></td>
                                <td class="date">June 19</td>
                            </tr>

                        </tbody>
                    </table>             
                </div>
                </div><!--contentinner-->
  </div><!--maincontent-->
</div>
</div>
</div>