<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li><a href="/profile">Personal Profile</a><span class="divider">/</span></li>
        <li class="active">Add more profile</li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Add more profile</h1>
</div><!--pagetitle--> 
<div class="maincontent">
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
  <div class="row-fluid">
      <div class="span3 profile-left">
        
          <h4>Your Profile Photo</h4>
            
            <div class="profilethumb">
              <a href="">Change Thumbnail</a>
                <img src="/public/img/profilethumb.png" alt="" class="img-polaroid" />
            </div><!--profilethumb-->
            
            
        </div><!--span3-->
        <div class="span9">
            <form action="" class="editprofileform" method="post">                
                <h4>Personal Information</h4>
                <p>
                  <label>Full Name:</label>
                  <input type="text" name="fullname" id="fullname" class="input-xlarge" value="<?=@$personalInfoOutput['fullname']?>" placeholder="Full name" required />
                </p>
                <p>
                  <label for="sex">Gender:  </label>
                  <select name="sex" id="sex"  class="input-xlarge" >
                    <option value="DKY"  <?php if (strcmp($personalInfoOutput['sex'],"DKY")==0) echo 'selected';  ?> >Dont know yet</option>
                    <option value="Male"  <?php if (strcmp($personalInfoOutput['sex'],"Male")==0) echo 'selected';  ?> >Male</option>
                    <option value="Female"  <?php if (strcmp($personalInfoOutput['sex'],"Female")==0) echo 'selected';  ?> >Female</option>
                  </select>
                </p>
                <p>
                  <label for="race">Race:  </label>
                  <div id="race-list">
                  <?php if((isset($personalInfoOutput['race'])) && (!empty($personalInfoOutput['race'])) ): ?>
                  <?php foreach(@$personalInfoOutput['race'] as $key): ?>
                    <ul>
                      <li><?=@$key;?></li>
                    </ul>
                  <?php endforeach; ?>
                  <?php endif; ?>
                  </div>
                  <?php # the code below should retrieve data from the race list ?>                 
                  <select name="race[]" size="3" multiple class="input-xlarge"  required>
                    <option value="1">Asian</option>
                    <option value="2">Black or African American</option>
                    <option value="3">Hispanic/Latino</option>
                    <option value="4">Native Hawaiian or Other Pacific Islander</option>
                    <option value="5">White</option>
                    <option value="6">American Indian or Alaska Native</option>
                  </select>
                  <?php #end of race list ?> 
                </p>
                <p>
                  <label for="street">Street: </label>
                  <input type="text" name="street" id="street" value="<?=@$personalInfoOutput['street'];?>" class="input-xlarge" placeholder="Street address" required  >
                </p>
                <p>
                  <label for="city">City: </label>
                  <input type="text" name="city" id="city" value="<?=@$personalInfoOutput['city'];?>" class="input-xlarge" placeholder="City" required>
                </p>
                <p>
                  <label for="state">State: </label>
                  <input type="text" name="state" id="town" value="<?=@$personalInfoOutput['state'];?>" class="input-xlarge" placeholder="State, suburb or Province" required>
                </p>
                 <p>
                  <label for="country">Country: </label>
                  <input type="text" name="country" id="country" value="<?=@$personalInfoOutput['country'];?>" class="input-xlarge" placeholder="Country" required>
                </p>
                <p>
                  <label for="country">Post Code: </label>
                  <input type="text" name="postcode" id="postcode" value="<?=@$personalInfoOutput['postcode'];?>"  class="input-xlarge" placeholder="Post code" required>
                </p>
                <p>
                  <label for="bloodtype">Blood Type</label>
                  <select name="bloodtype" class="input-xlarge" required>
                    <option value="DKY"  <?php if (strcmp(@$personalInfoOutput['bloodtype'],"DKY")==0) echo 'selected';  ?> >Dont know yet</option>
                    <option value="O+" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"O+")==0) echo 'selected';  ?> >O+</option>
                    <option value="O-" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"O-")==0) echo 'selected';  ?> >O-</option>
                    <option value="O?" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"O?")==0) echo 'selected';  ?> >O?</option>
                    <option value="A-" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"A-")==0) echo 'selected';  ?> >A-</option>
                    <option value="A+" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"A+")==0) echo 'selected';  ?>>A+</option>
                    <option value="A?" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"A?")==0) echo 'selected';  ?>>A?</option>
                    <option value="B-" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"B-")==0) echo 'selected';  ?>>B-</option>
                    <option value="B+" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"B+")==0) echo 'selected';  ?>>B+</option>
                    <option value="B?" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"B?")==0) echo 'selected';  ?>>B?</option>
                    <option value="AB-" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"AB-")==0) echo 'selected';  ?>>AB-</option>
                    <option value="AB+" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"AB+")==0) echo 'selected';  ?>>AB+</option>
                    <option value="AB?" <?php if (strcmp(@$personalInfoOutput['bloodtype'],"AB?")==0) echo 'selected';  ?>>AB?</option>
                  </select>
                </p>
                <p>
                  <label for="dateofbirth">Date of Birth:</label>
                    <input type="date" name="dateofbirth" id="dateofbirth" class="input-xlarge" placeholder="yyyy-mm-dd" required value="<?=@$personalInfoOutput['dateofbirth'];?>">
                </p>

                <p>
                  <button type="submit" class="btn btn-primary">Add new profile</button> 
                </p>
            </form>
        </div><!--span9-->
    </div><!--row-fluid-->
</div>
</div><!--maincontent-->
<script type="text/javascript">
jQuery(document).ready(function(){

  jQuery('.profilethumb').hover(function(){
    jQuery(this).find('a').fadeIn();
  },function(){
    jQuery(this).find('a').fadeOut();
  });
  
  jQuery('.taglist a').click(function(){
    return false;
  });
  jQuery('.taglist a span').click(function(){
    jQuery(this).parent().remove();
    return false;
  });
  
});
</script>
