<?php
	$birthDate = explode('-', $this->nambal_session['dateofbirth']);
	$age = (date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
?>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Your Nambal Safe Personal Profile</h2>
    </div>
</div>

<div class="row">
	<div class="col-md-7 widget-container">
    
    	<section class="widget widget-tabs">
        	<h3 class="page-title">Personal Information</h3>
            <header></header>
            <div class="body">
            
            	<div class="row information-details">
        			<div class="col-md-4">
            			<div class="profilethumb text-align-center">
                        	<!--<a href="#">Change Thumbnail</a>-->
                			<img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                		</div>
            		</div>
            		<div class="col-md-8">
            			<h3 class="no-margin"><?=ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['fullname']));?>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;<span class="age">(<?=@$age;?> Years Old)</span>&nbsp;
                			<a href="<?php echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-default btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>
                		</h3>
                		<address> 
                        	<div class="address">
                            	
                                <div>
                                	<div class="info-details-label"><strong>Address: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['street'];?>, <?=@$this->nambal_session['city'];?>, <?=@$this->nambal_session['town'];?>, <?=@$this->nambal_session['country'];?>, <?=@$this->nambal_session['postcode'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Blood type: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Date of Birth: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['dateofbirth'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Street: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['street'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>State: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['state'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>City: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['city'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Country: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['country'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Race: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['race'];?></div>
                                    <div class="clear"></div>
                                </div>
                                <div>
                                	<div class="info-details-label"><strong>Post Code: </strong></div>
                                    <div class="info-details-labelanswer"><?=@$this->nambal_session['postcode'];?></div>
                                    <div class="clear"></div>
                                </div>                                   
                            
                            </div>                     
                            
                		</address>
            		</div>
        		</div>
            
            </div>
        </section>
        
        
    
    </div>
    <div class="col-md-5 widget-container">    	
        
    	<section class="widget widget-tabs">
        
        	<div class="body">
        
                <div id="carousel-example-generic" class="carousel slide">
                    <ol class="carousel-indicators outer">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner text-align-center">
                        <div class="item active jumbotron">
                            <div class="container">
                                <h1>Are you a <span class="emphasize">Doctor?</span></h1>
                                <p class="lead"><em>Amazing Opportunities</em> coming your way!</p>
                                <p><a class="btn btn-danger btn-lg">Register as a Doctor now! &nbsp;<i class="fa fa-check"></i></a></p>
                                <p class="unlead"><small>It's easy to maintain! The more Medical Professions Registered, the seamless it is to maintain your wants, needs and Nambal Connectivity simplified with your Medical Professional demands.</small></p>                        
                            </div>
                        </div>
                        <div class="item jumbotron">
                            <div class="container">
                                <h1>Are you a <span class="emphasize">Nurse?</span></h1>
                                <p class="lead"><em>Be part of the Nambal Family</em> and enjoy awesome surprises!</p>
                                <p><a class="btn btn-danger btn-lg">Register as a Nurse now! &nbsp;<i class="fa fa-check"></i></a></p>
                                <p class="unlead"><small>It's easy to maintain! The more Medical Professions Registered, the seamless it is to maintain your wants, needs and Nambal Connectivity simplified with your Medical Professional demands.</small></p>                        
                            </div>
                        </div>
                        <div class="item jumbotron">
                            <div class="container">
                                <h1>Are you a <span class="emphasize">Pharmacist?</span></h1>
                                <p class="lead"><em>Amazing Opportunities</em> coming your way!</p>
                                <p><a class="btn btn-danger btn-lg">Register as a Pharmacist now! &nbsp;<i class="fa fa-check"></i></a></p>
                                <p class="unlead"><small>It's easy to maintain! The more Medical Professions Registered, the seamless it is to maintain your wants, needs and Nambal Connectivity simplified with your Medical Professional demands.</small></p>                        
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            
            </div>
        
        </section>
        
        <section class="widget widget-tabs">
            <div class="body">
            
            	<div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <span class="badge badge-success">14</span>
                        <i class="fa fa-comments"></i>&nbsp;
                        Inbox & Messages
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <span class="badge badge-danger">2</span>
                        <i class="fa fa-eye"></i>&nbsp;
                        Visited your Profile
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <span class="badge badge-default">12</span>
                        <i class="fa fa-calendar"></i>&nbsp;
                        Scheduled Appointments & Upcoming Events
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <span class="badge badge-info">20</span>
                        <i class="fa fa-usd"></i>&nbsp;
                        Accounts Receivable
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-chevron-right pull-right"></i>
                        <span class="badge badge-warning">7</span>
                        <i class="fa fa-thumbs-up"></i>&nbsp;
                        Recommendations
                    </a>
                </div>
            
            </div>
        </section>
        
    
    </div>
</div>