<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  display: 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* tooltip */
jQuery('.tootipper').popover();

/* masking number input */
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-int-country").mask("+9?99");
jQuery(".mask-int-area").mask("9?999");
jQuery(".mask-int-phone").mask("999999?999");

jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-birthday');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-birthday').val($btnCalendar.data('date'));
    $btnCalendar.datepicker('hide');
});
</script>
<div class="row">
	<label for="firstname">First name:</label>
	<input type="text" name="firstname" id="firstname"  value="<?=@$this->nagkamoritsing->ibalik($this->patientInformation->firstname)?>"  class="tootipper select-block-level"  placeholder="firstname" title="Firstname" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Firstname here." >
	<label for="middlename">Middle name:</label>
	<input type="text" name="middlename" id="middlename"  value="<?=@$this->nagkamoritsing->ibalik($this->patientInformation->middlename)?>"  class="tootipper select-block-level"  placeholder="middlename" title="Firstname" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Firstname here." >
	<label for="lastname">Last name:</label>
	<input type="text" name="lastname" id="lastname"  value="<?=@$this->nagkamoritsing->ibalik($this->patientInformation->lastname)?>"  class="tootipper select-block-level"  placeholder="lastname" title="Firstname" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Firstname here." >
</div><br>
<div class="row">
	<div class="col-xs-6">
	<div class="input-group">
      <label>Birthday:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-birthday" name="birthday" class="tootipper col-sm-7 masked-date"  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->personalinformation->dateofbirth)) echo date('m/d/o', strtotime($this->personalinformation->dateofbirth)); ?>" title="Birthday" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
      <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-birthday" class="btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->personalinformation->dateofbirth)) echo date('m/d/o', strtotime($this->personalinformation->dateofbirth)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
      <i class="fa fa-calendar"></i>  </a></span></label>
       <label>Time:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="birthtime" name="birthtime" class="tootipper col-sm-7 masked-time"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->personalinformation->dateofbirth)) echo date('H:i', strtotime($this->personalinformation->dateofbirth)); ?>" title="Birth time" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Date format: hh:mm, 24 hours format.  00:00 means you don't know the time" />
     </label>
    </div>
	</div>
	<div class="col-xs-6">
		<label for="" class="select-block-level">Gender:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
			<select name="gender" style="width: 110px;" class="tootipper form-control select-block-level" title="Strength unit" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="For example: 200 gm, select Milligram mg. Please select from the list." id="gender">
				<option value=""  <?php if (strcmp($this->personalinformation->sex,"DKY")==0) echo 'selected';  ?> >Please select gender</option>
			    <option value="Male"  <?php if (strcmp($this->personalinformation->sex,"Male")==0) echo 'selected';  ?> >Male</option>
			    <option value="Female"  <?php if (strcmp($this->personalinformation->sex,"Female")==0) echo 'selected';  ?> >Female</option>
			    <option value="Transgender"  <?php if (strcmp($this->personalinformation->sex,"Transgender")==0) echo 'selected';  ?> >Transgender</option>
		    </select>
	</div>
</div>
<div class="row">
	<label for="street">Address:</label>
	<input type="text" name="street" id="street"  value="<?=@$this->personalinformationAddress->street?>"  class="tootipper select-block-level"  placeholder="street" title="street" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="street address." >
  <input type="text" name="state" id="state"  value="<?=@$this->personalinformationAddress->state?>"  class="tootipper select-block-level"  placeholder="state" title="state" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="state." >
  <input type="text" name="city" id="city"  value="<?=@$this->personalinformationAddress->city?>"  class="tootipper select-block-level"  placeholder="city" title="city" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="city." >
  <div class="col-xs-6"><input type="text" name="country" id="country"  value="<?=@$this->personalinformationAddress->country?>"  class="tootipper select-block-level"  placeholder="country" title="country" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="country." ></div>
  <div class="col-xs-6"><input type="text" name="postcode" id="postcode"  value="<?=@$this->personalinformationAddress->postcode?>"  class="tootipper select-block-level"  placeholder="postcode" title="postcode" maxlength="150"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="postcode" ></div>
</div><br>
<div class="row">
  <label for="bloodtype">Blood Type</label>
  <select id="bloodtype" name="bloodtype"  class="input-xlarge" >
    <option value="DKY"  <?php if (strcmp($this->personalinformation->bloodtype,"DKY")==0) echo 'selected';  ?> >Dont know yet</option>
    <option value="O+" <?php if (strcmp($this->personalinformation->bloodtype,"O+")==0) echo 'selected';  ?> >O+</option>
    <option value="O-" <?php if (strcmp($this->personalinformation->bloodtype,"O-")==0) echo 'selected';  ?> >O-</option>
    <option value="O?" <?php if (strcmp($this->personalinformation->bloodtype,"O?")==0) echo 'selected';  ?> >O?</option>
    <option value="A-" <?php if (strcmp($this->personalinformation->bloodtype,"A-")==0) echo 'selected';  ?> >A-</option>
    <option value="A+" <?php if (strcmp($this->personalinformation->bloodtype,"A+")==0) echo 'selected';  ?>>A+</option>
    <option value="A?" <?php if (strcmp($this->personalinformation->bloodtype,"A?")==0) echo 'selected';  ?>>A?</option>
    <option value="B-" <?php if (strcmp($this->personalinformation->bloodtype,"B-")==0) echo 'selected';  ?>>B-</option>
    <option value="B+" <?php if (strcmp($this->personalinformation->bloodtype,"B+")==0) echo 'selected';  ?>>B+</option>
    <option value="B?" <?php if (strcmp($this->personalinformation->bloodtype,"B?")==0) echo 'selected';  ?>>B?</option>
    <option value="AB-" <?php if (strcmp($this->personalinformation->bloodtype,"AB-")==0) echo 'selected';  ?>>AB-</option>
    <option value="AB+" <?php if (strcmp($this->personalinformation->bloodtype,"AB+")==0) echo 'selected';  ?>>AB+</option>
    <option value="AB?" <?php if (strcmp($this->personalinformation->bloodtype/8,"AB?")==0) echo 'selected';  ?>>AB?</option>
</select>
</div>
<input name="IDsafe_personalInfo" value="<?=@$this->personalinformation->IDsafe_personalInfo;?>" type="hidden">
<input name="IDsafe_user" value="<?=@$this->IDsafe_user;?>" type="hidden">