<h1>Create new password</h1>
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
<form name="form1" method="post" action="">
  <label for="password">Password: </label>
  <input type="password" name="password" id="password">
  <br>
  <label for="confirmPassword">Change Password:</label>
  <input type="password" name="confirmPassword" id="confirmPassword">
  <br>
  <input name="code" type="hidden" id="code" value="<?php echo @$outputData['code']; ?>">
  <input name="sessionName" type="hidden" id="sessionName" value="<?php echo @$outputData['sessionName']; ?>">
  <input name="IDsafe_user" type="hidden" id="IDsafe_user" value="<?php echo @$outputData['IDsafe_user']; ?>">
<br>
  <input type="submit" name="Submit" id="button" value="Submit">
</form>