<h1>Change or Update password</h1>
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
<p>
Please check your email (<?=@$outputData['email'];?>).<br>
An e-mail that will allow you to reset your password was sent to the address you entered. To reset your password, click on the link contained in the e-mail.<br>
If you don't see it in your inbox please check your spam/junk folder.<br>
If it's not in both inbox and spam folder please wait for 15mins until requesting another forgot my password code.<br>
You may also contact our <a href="<?php echo base_url()?>support">technical support</a>.
</p>