<h1>Request new verification code</h1>
<?php
  echo validation_errors(); 
  echo $errorMessage;
?>
<form action="" method="post">
  <label for="email"> Email:</label>
  <input type="text" name="email" id="email" value="<?=@$outputData['email'];?>">
  <input type="submit" name="request" id="request" value="Request new verification">
</form>