 <link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}

ul.ui-autocomplete {
    z-index: 999999;
}


/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>

jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#barangay" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"barangay/displayList",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});

</script>

 <h3 class="signin-header" id="myModalLabel">Sign In to Nambal</h3>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>

<div class="modal-body row-fluid">
    <div class="pull-left signin-social" id="socialNetworkLogin">
      <h5 class="signin-header" >Sign in with social account</h5>
      <a href="login/facebook" class='zocial facebook pull-left'><small>Sign in with Facebook</small></a><br /><br />
      <a href="javascript:alert('Will be available very soon');" class='zocial twitter pull-left social-tw'><small>Sign in with Twitter</small></a><br /><br />
      <a href="javascript:alert('Will be available very soon');" class='zocial googleplus pull-left social-gplus'><small>Sign in with Google</small></a>
    </div>
    <div class="pull-left signin-native">
      <h5 class="signin-header">Sign with email or username</h5>
      <form action="login" method="post">
        <div class="">
          <input type="text" name="username" class="input-large" placeholder="Email or username" required id="username">
        </div>

        <div class="">
          <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required>
        </div>
        
        <div class="control-group">
          <label for="barangay">Barangay:&nbsp;&nbsp;</label>
            <input name="barangay" type="text" required class="tootipper" id="barangay" placeholder="Example: San Roque"  title="Medications" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Tip: Type the first letter of your barangay and Select from the list.  You may also type barangay name.  Example: Guadalupe" />
        </div>
        <a href="forgotPassword">Forgot Password</a>
        <div>
          <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
        </div>
        
      </form>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>