<h2>Welcome, please wait</h2>
<script>
jQuery( document ).ready(function() {
	window.location.href = "<?php echo $login_url ?>";
});
</script>
<?php if (@$user_profile): ?>
    <pre>
        <?php echo print_r($user_profile, TRUE) ?>
    </pre>
    <a href="<?php echo $logout_url ?>">Logout of this thing</a>
<?php else: ?>
    <h3>You will be redirected to the next step:</h3>
    <a href="<?php echo $login_url ?>">or you may click here to continue</a>
<?php endif; ?>