 <h3 class="signin-header" id="myModalLabel">Sign In to Mihealth</h3>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>

<div class="modal-body row-fluid">
    <div class="pull-left signin-social" id="socialNetworkLogin">
      <h5 class="signin-header" >Sign in with social account</h5>
      <a href="login/facebook" class='zocial facebook pull-left'><small>Sign in with Facebook</small></a><br /><br />
      <a href="javascript:alert('Will be available very soon');" class='zocial twitter pull-left social-tw'><small>Sign in with Twitter</small></a><br /><br />
      <a href="javascript:alert('Will be available very soon');" class='zocial googleplus pull-left social-gplus'><small>Sign in with Google</small></a>
    </div>
    <div class="pull-left signin-native">
      <h5 class="signin-header">Sign with email or username</h5>
      <form action="login" method="post">
        <div class="">
          <input type="text" name="username" class="input-large" placeholder="Email or username" required id="username">
        </div>

        <div class="">
          <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required>
        </div>
        <a href="forgotPassword">Forgot Password</a><br>
        <a href="login/barangay/">Barangay login</a>
        <div>
          <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
        </div>
        
      </form>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
