
<h1>Terms and Conditions</h1>
<p>
  <strong>1. Terms</strong><br>
  By accessing this web site, you are agreeing to be bound by  these web site Terms and Conditions of Use, all applicable laws and  regulations, and agree that you are responsible for compliance with any  applicable local laws. If you do not agree with any of these terms, you are  prohibited from using or accessing this site. The materials contained in this  web site are protected by applicable copyright and trade mark law.</p><p>
  <strong>2. Use License</strong>
<ol>
  <li>Permission  is granted to temporarily download one copy of the materials (information or  software) on Nambal.com software consultancy's web site for personal,  non-commercial transitory viewing only. This is the grant of a license, not a  transfer of title, and under this license you may not:</li>
  <ol>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose, or for any public  display (commercial or non-commercial);</li>
    <li>attempt to decompile or reverse engineer any software contained  on Nambal.com software consultancy's web site;</li>
    <li>remove any copyright or other proprietary notations from the  materials; or</li>
    <li>transfer the materials to another person or &quot;mirror&quot;  the materials on any other server.</li>
  </ol>
  <li>This  license shall automatically terminate if you violate any of these restrictions  and may be terminated by Nambal.com software consultancy at any time. Upon  terminating your viewing of these materials or upon the termination of this  license, you must destroy any downloaded materials in your possession whether  in electronic or printed format.</li>
</ol></p>
<p><strong>3. Disclaimer</strong>
<ol>
  <li>The  materials on Nambal.com software consultancy's web site are provided &quot;as  is&quot;. Nambal.com software consultancy makes no warranties, expressed or  implied, and hereby disclaims and negates all other warranties, including  without limitation, implied warranties or conditions of merchantability,  fitness for a particular purpose, or non-infringement of intellectual property  or other violation of rights. Further, Nambal.com software consultancy does not  warrant or make any representations concerning the accuracy, likely results, or  reliability of the use of the materials on its Internet web site or otherwise  relating to such materials or on any sites linked to this site.</li>
</ol>
</p><p><strong>4. Limitations</strong><br>
  In no event shall Nambal.com software consultancy or its  suppliers be liable for any damages (including, without limitation, damages for  loss of data or profit, or due to business interruption,) arising out of the  use or inability to use the materials on Nambal.com software consultancy's  Internet site, even if Nambal.com software consultancy or a Nambal.com software  consultancy authorized representative has been notified orally or in writing of  the possibility of such damage. Because some jurisdictions do not allow  limitations on implied warranties, or limitations of liability for  consequential or incidental damages, these limitations may not apply to you.</p><p>
  <strong>5. Revisions and Errata</strong><br>
  The materials appearing on Nambal.com software consultancy's web  site could include technical, typographical, or photographic errors. Nambal.com  software consultancy does not warrant that any of the materials on its web site  are accurate, complete, or current. Nambal.com software consultancy may make  changes to the materials contained on its web site at any time without notice.  Nambal.com software consultancy does not, however, make any commitment to  update the materials.</p><p>
  <strong>6. Links</strong><br>
  Nambal.com software consultancy has not reviewed all of the  sites linked to its Internet web site and is not responsible for the contents  of any such linked site. The inclusion of any link does not imply endorsement  by Nambal.com software consultancy of the site. Use of any such linked web site  is at the user's own risk.</p><p>
  <strong>7. Site Terms of Use Modifications</strong><br>
  Nambal.com software consultancy may revise these terms of use  for its web site at any time without notice. By using this web site you are  agreeing to be bound by the then current version of these Terms and Conditions  of Use.</p><p>
  <strong>8. Governing Law</strong><br>
  Any claim relating to Nambal.com software consultancy's web site  shall be governed by the laws of the Cebu City, Philippines without regard to  its conflict of law provisions.<br>
  General Terms and Conditions applicable to Use of a Web Site.</p>
  <p>Check our <a href="<?php echo base_url(); ?>privacy">Privacy Policy</a></p>