
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
});
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

jQuery(document).ready(function()
{
  jQuery('#medFormAdvanced').hide();
  jQuery('#showMedFormAdvanced').click(function()
  {
    jQuery('#medFormAdvanced').toggle();
  });  
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });
</script>
<div class="row">
</div>
<div class="row">
<input name="IDemr_journal" type="hidden" value="<?=@$this->journalinformation->IDemr_journal?>">
<label for="notes"  >Notes:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
  </label>
   <textarea name="notes" required class="select-block-level tootipper" id="notes" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->journalinformation->notes?></textarea>

</div>