<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
});
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

jQuery(document).ready(function()
{
  jQuery('#medFormAdvanced').hide();
  jQuery('#showMedFormAdvanced').click(function()
  {
    jQuery('#medFormAdvanced').toggle();
  });  
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });
</script>
<div class="row">
  
    <?php if (strcasecmp($this->whattableused['tableName'], 'safe_allergen')==0): ?>
    <p>This journal attached to an allergen information:</p>
    <p>
      <?php if (!empty($this->theinformationfordisplay['allergenName'])): ?>
      Allergy Name: <?=@$this->theinformationfordisplay['allergenName'];?><br>
      Date Experienced: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay['dateexperienced']))?><br>
      <?php endif; ?>
    </p>
    <?php elseif (strcasecmp($this->whattableused['tableName'], 'safe_problem')==0): ?>
    <p>This journal attached to a medical history information:</p>
    <p>
      <?php if (!empty($this->theinformationfordisplay->IDproblemList)): ?>
        Problem Name:  <?=@$this->theinformationfordisplay->problemName;?><br>
        Date Experienced: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->dateStart))?><br>
        <?php if ((strtotime($this->theinformationfordisplay->dateStart)) < (strtotime($this->theinformationfordisplay->dateEnd))): ?>
          Date End: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->dateEnd))?><br>
        <?php endif; ?>
      <?php endif; ?>
    </p>
    <?php elseif (strcasecmp($this->whattableused['tableName'], 'safe_drug')==0): ?>
    <p>This journal attached to a Medication information:</p>
    <p>
      <?php if (!empty($this->theinformationfordisplay->IDsafe_drug)): ?>
        Medication name: <?=@$this->theinformationfordisplay->brandName;?><br>
        Date: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->dateStart))?><br>
      <?php endif; ?>
    </p>
    <?php elseif (strcasecmp($this->whattableused['tableName'], "safe_prescription")==0): ?>
    <p>This journal attached to a prescription:</p>
    <p>
      Prescription date: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->prescriptiondate))?><br>
      <?php if ((strtotime($this->theinformationfordisplay->prescriptiondate)) < (strtotime($this->theinformationfordisplay->prescriptionend))): ?>
        Prescription end: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->prescriptionend))?>
      <?php endif; ?>
    </p>
    <?php elseif (strcasecmp($this->whattableused['tableName'], 'safe_procedure')==0): ?>
    <p>This journal attached to a procedure:</p>
      <?php if (!empty($this->theinformationfordisplay->procedurename)): ?>
        Procedure done: <?=@$this->theinformationfordisplay->procedurename;?><br>
        Date: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay->dateexecuted))?><br>
      <?php endif; ?>
    <?php elseif (strcasecmp($this->whattableused['tableName'], 'safe_immunization')==0): ?>
    <p>This journal attached to an Immunization information:</p>
    <?php elseif (strcasecmp($this->whattableused['tableName'], 'safe_test')==0): ?>
    <p>This journal attached to Laboratory information:</p>
      <?php if (!empty($this->theinformationfordisplay['IDsafe_test'])): ?>
        Lab Test Name: <?=@$this->theinformationfordisplay['testname'];?><br>
        Prescription date: <?=date('M j, Y h:i A',strtotime(@$this->theinformationfordisplay['dateoftest']))?><br>
      <?php endif; ?>
    <?php endif; ?>
</div>
<div class="row">
<div class="col-md-9">
<input name="IDemr_journal" type="hidden" value="<?=@$this->journalinformation->IDemr_journal?>">
<label for="notes"  >Notes:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
  </label>
   <textarea name="notes" required class="select-block-level tootipper" id="notes" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Personal notes to help you, your staff and other attending healthcare professionals." ><?=@$this->journalinformation->notes?></textarea>
</div>
<div class="col-md-3">
 <div class="input-group">
  <label>Date:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-datestarted" name="datestarted" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->journalinformation->dateinputed)) echo date('m/d/o', strtotime($this->journalinformation->dateinputed)); else echo date('m/d/o'); ?>" title="Date for journal" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
  <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->journalinformation->dateinputed)) echo date('m/d/o', strtotime($this->journalinformation->dateinputed)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
  <i class="fa fa-calendar"></i>  </a></span></label><br>
  <label>Time:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
    <input required name="timestarted" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->journalinformation->dateinputed)) echo date('H:i', strtotime($this->journalinformation->dateinputed)); else echo date('H:i'); ?>" title="Time" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
  </label>
</div>
</div>
</div>