<script src="<?=base_url();?>public/js/custom-dashboard-journal.js"></script>
<?php if ( (!empty($results)) && (!empty(($this->sessionid))) ): ?>
<table class="table table-bordered table-hover" id="drug-table">
    <thead>
    <tr>
        <th>Notes</th>
        <th>Date</th>
        <th>Options</th>
    </tr>
    </thead>
<tbody>
	<?php foreach ($results as $journal): ?>
	<tr>
		<td><?=$journal->notes?></td>
		<td><?=date('M j, Y h:i A',strtotime(@$journal->dateinputed))?></td>
		<td>
			<div class="btn-group">
	            <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Options <span class="caret"></span></button>
	            <ul class="dropdown-menu">
                <li><a href="#show-modal-change" data-toggle="modal" class="modifythisjournal" data-idemrjournal="<?=@$journal->IDemr_journal?>" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                <li><a href="#show-modal-change" data-toggle="modal" class="deletethisjournal"  data-idemrjournal="<?=@$journal->IDemr_journal?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                </ul>
	        </div>
		</td>
	</tr>
	<?php endforeach; ?>
</tbody>
</table>
<?php else: ?>
	<?php if (!empty($this->sessionid)): ?>
	<br><br>
	<center>No data here</center>
	<br><br>
	<?php endif; ?>
<?php endif; ?>
<div id="journal-pagination-div-id"><?php echo $links; ?></div>