@charset "UTF-8";
/* CSS Document */

#logohere
{
	width: 72px;
	height: 69px;
	background-repeat:no-repeat;
	text-shadow: 1px 1px 2px #555;
	margin-bottom: -25px;
	background: url(../img/nambal-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 255px 0px 10px 4px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.1);
	border-radius: 50px;
}

#logohere-small
{
	background-color: transparent;
	width: 35px;
	height: 34px;
	background-image:url(../img/nambal-logo-small.png);
	margin-bottom: -10px;
	color: #000000;
}

.dako-tunga
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.about-area
{
	font-size: 25px;
}

.about-area-2
{
	font-size: 19px;
	line-height:normal;
	margin: 25px;
	text-align: justify;
}
.about-area-3
{
	font-size: 19px;
	color:#666;
	text-align: justify;
}

.bluish
{
	color: #0099cc;
}

.reddish
{
	color: #cc0000;
}

.head-bar
{
	background-color: rgba(255,255,255, .8);
	border-bottom: rgba(193,193,193, .9);
}

.head-bar a 
{
	color: #000000 !important;
}

.red
{
	color: rgb(193, 39, 45) !important;
}

.blue
{
	color: rgb(0, 113, 188) !important;
}

.icon-big
{
	font-size: 105px
}

.head-phone p
{
	font-size: 28px;
	text-shadow: 0px 1px 2px #555;
	padding-top: 25px;
	padding-bottom: 25px;
}

.config-one-item
{
	opacity: 0.6 !important;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.config-one-item:hover
{
	opacity: 1 !important;
    filter: alpha(opacity=100) !important; /* For IE8 and earlier */
}

.small-p
{
	font-size: 12px !important;
}

.contact-us
{
	background: #ccc url('../img/nav-back.png') center;
	color: #000000 !important;
	border-bottom: 1px solid #ddd;
}

.contact-us a, .contact-us p
{
	color: #000000 !important;
}

.contact-us h3
{
	color: #777 !important;
}

.thank-you-header
{
	background: #ccc url('../img/doctors-table-thank-you.jpg') center no-repeat !important;
}

.wide-p p 
{
	margin-left: auto;
	margin-right: auto;
}

.config p, .config a
{
	color: #000000 !important;
}

.white-bg
{
	background: #ffffff;
}

.about
{
	background-color: rgb(246, 227, 233) !important;
	background: url('../img/about-back.jpg') center no-repeat; 
}

.about img
{
	height: 150px;
	width: 150px;
}