/************************
Designed by : http://responsivewebinc.com
************************/

/* Fonts */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

/* Basic CSS starts */

body{
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	line-height:30px;
	background:#ccc;
	color:#fff;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
}

p{
	margin:0;
	padding:0;
}

a{
	color:#fff;
	text-decoration:none;
}

a:hover{
	color:#fff;
	text-decoration:none;
}

a:hover,a:active,a:focus {
	outline: 0;
}

hr{

}

:focus {
	outline:none;
}

::-moz-focus-inner {
	border:0;
}

/* Basic CSS ends */

.container{
	width:100%;
	max-width:1000px;
}

.block{
	padding-top:70px;
	padding-bottom:70px;
}

.block-head{
	margin-bottom:40px;
	text-align:center;
}

.block-head h3{
	font-size:40px;
	color:#777;
}
	
.fwhite{
	color:#fff !important;
}
	
/* Colors */

.white{
	color:#fff;
}

.black{
	color:#444;
}

.grey{
	color:#bbb;
}

.red{
	color:#f75353;
}

.green{
	color:#51d466;
}

.lblue{
	color:#32c8de;
}

.blue{
	color:#609cee;
}

.brown{
	color:#c27256;
}

.pink{
	color:#eb76cb;
}	

.orange{
	color:#f7a253;
}

.yellow{
	color:#f4e375;
}

.purple{
	color:#cb79e6;
}

.violet{
	color:#9427e1 !important;
}

.dpink{
	color:#d33caa !important;
}

.dgreen{
	color:#5eb26c !important;
}

/* Background Color */

.br-white{
	background:#fff !important;
}

.br-black{
	background:#444 !important;
}

.br-grey{
	background:#bbb !important;
}

.br-red{
	background:#f75353 !important;
}

.br-green{
	background:#51d466 !important;
}

.br-lblue{
	background:#32c8de !important;
}

.br-blue{
	background:#609cee !important;
}

.br-brown{
	background:#c27256 !important;
}

.br-pink{
	background:#eb76cb !important;
}

.br-orange{
	background:#f7a253 !important;
}

.br-yellow{
	background:#ead54e !important;
}

.br-purple{
	background:#cb79e6 !important;
}

.br-violet{
	background:#9427e1 !important;
}

.br-dpink{
	background:#d33caa !important;
}

.br-dgreen{
	background:#5eb26c !important;
}

/* Buttons */

.btn-blue{
	background:#2cbfd4;
	display:inline-block;
	font-size:14px;
	padding:5px 18px;
	border-radius:4px;
	font-weight:bold;
	box-shadow:0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.3);
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.btn-blue:hover{
	background:#21a6b9;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.btn-red{
	background:#cb2f2f;
	display:inline-block;
	font-size:14px;
	padding:5px 18px;
	border-radius:4px;
	font-weight:bold;
	box-shadow:0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.3);
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.btn-red:hover{
	background:#c31d1d;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.btn-green{
	background:#43c859;
	display:inline-block;
	font-size:14px;
	padding:5px 18px;
	border-radius:4px;
	font-weight:bold;
	box-shadow:0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.3);
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.btn-green:hover{
	background:#31a444;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

/* Navigation bar Starts*/

.head-bar{
	background:#111;
	border-bottom:1px solid #222;
	height:60px;
	line-height:60px;
	position:fixed;
	z-index:1;
	width:100%;
}

.head-bar .head-brand{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:20px;
	font-weight:bold;
}

.head-bar .head-brand a i{
	margin-right:5px;
	display:inline-block;
	height:30px;
	width:30px;
	line-height:30px !important;
	font-size:18px;
	border-radius:110px 0px 110px 110px;
	background:#ef4848;
	text-align:center;
}

.head-bar .navigation-bar li{
	margin:0px;
	padding:0px;
	font-size:13px;
}

.head-bar .navigation-bar li  a{
	border:none;
	padding:21px 18px 21px 18px;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.head-bar .navigation-bar li :hover{
	background:#ef4848;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

.head-bar .nav-icon {
	display:none;
}

.head-bar .nav-icon a i{
	display:inline-block;
	height:30px;
	width:35px;
	border:1px solid #ef4848;
	line-height:28px;
	text-align:center;
	background:#ef4848;
	font-size:20px;
	border-radius:2px;
	margin-right:10px;
}

/* Navigation bar Ends */

/* Header Starts */

header{
	padding-top:70px;
	padding-bottom:60px;
	background:#ccc url('../img/1.jpg') center;
}

header .logo{
	margin-top:50px;
	margin-bottom:10px;
}

header .logo h1{
	text-shadow:1px 1px 2px #555;
}

header .logo h1 a i{
	display:inline-block;
	height:50px;
	width:50px;
	line-height:50px !important;
	font-size:25px;
	border-radius:110px 0px 110px 110px;
	background:#ef4848;
	position:relative;
	top:-5px;
	text-shadow:none;
}

header h1 span{
	display:inline-block;
	font-family: 'Open Sans', sans-serif;
	height:25px;
	width:25px;
	font-size:11px;
	line-height:25px;
	background:#ef4848;
	border-radius:100px;
	position:relative;
	top:-20px;
	text-shadow:none;
}

header h2{
	margin-bottom:30px;
	font-size:65px;
	text-shadow:1px 1px 2px #555;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay:  2s;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -ms-animation-duration: 1s;
    -ms-animation-delay:  2s;
    -o-animation-duration: 1s;    
    -o-animation-delay:  2s; 
}

header h2 span{
	font-weight:normal;
}

.pbtn{
	display:inline-block;
	font-size:14px;
	padding:5px 18px;
	margin-right:8px;
	border-radius:4px;
	font-weight:bold;
	box-shadow:0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.4);
}

.pbtn i{
	display:inline-block;
	height:23px;
	width:23px;
	border:2px solid rgba(255,255,255,0.6);
	border-radius:100px;
	line-height:20px;
	text-align:center;
	margin-right:5px;
	font-size:9px;
}

header  .head-button span{
	font-size:11px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}

header .head-phone{
	margin-top:60px;
}

header .head-phone .phone-item-left,
header .head-phone .phone-item-up,
header .head-phone .phone-item-right{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 2s;
    animation-delay:3s;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -moz-animation-duration: 2s;
    -moz-animation-delay:3s;
    -ms-animation-duration: 2s;
    -ms-animation-delay: 3s;
    -o-animation-duration: 2s;    
    -o-animation-delay: 3s; 
}

header .head-phone .phone-item-left img,
header .head-phone .phone-item-up img,
header .head-phone .phone-item-right img{
	margin:0 auto;
	width:200px;
}

/* Header Ends */

/* Configuration Bar */

.config{
	background:#ccc url('../img/nav-back.png') center; 
	color:#777;
	border-bottom:1px solid #ddd;
}

.config ul{
	text-align:center;
	margin-top:40px;
	margin-bottom:30px;
}

.config ul  li{
	margin:10px 20px;
	display:inline-block;
	padding:10px 40px 10px 40px;
	position: relative;
	border: 1px solid #ccc;
	height:110px;
	width:250px;
	background:#fafafa;
	border-radius:5px;
}

.config ul  li.active:after, .config ul  li.active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.config ul  li.active:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 15px;
	margin-left: -15px;
}

.config ul  li.active:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #ccc;
	border-width: 17px;
	margin-left: -17px;
}

.config ul  li h5{
	font-size:18px;
}

.config ul  li p{
	line-height:21px;
	font-size:12px;
}

.config ul li:hover{
	background:#fff;
	border: 1px solid #ccc;
}

.config ul li a{
	color:#777;
	text-decoration:none !important;
}

.config .tab-content .tab-pane{
	background:#fff;
	border:1px solid #ddd;
	border-radius:8px;
	padding:20px;
}

.config .tab-content .config-one-item{
	text-align:center;
	margin-bottom:20px;
	margin-top:20px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;
}

.config .tab-content .config-one-item i{
	font-size:45px;
}

.config .tab-content .config-one-item h2{
	font-size:85px;
	font-weight:normal;
	margin-bottom:20px;
	line-height:60px;
}

.config .tab-content .config-one-item  h4{
	display:inline;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#fff;
	background:#f75353;
	padding:5px 10px 5px 10px;
	border-radius:5px;
}

.config .tab-pane .config-two-item{
	margin-top:15px;
	margin-bottom:15px;
}

.config .tab-pane .config-two-item h4{
	margin:0px;
	color:#777;
	font-size:18px;
	font-weight:bold;
}

.config .tab-pane .config-two-item  p{
	line-height:20px;
	margin-bottom:10px;
	max-width:250px;
	font-size:12px;
}

.config .tab-pane .config-two-item a{
	color:#777;
}

.config .tab-pane .config-two-item i{
	display:inline-block;
	height:35px;
	width:25px;
	border-radius:100px;
	line-height:30px;
	font-size:15px;
} 

.config .tab-pane .config-three-item {
	margin-top:40px;
	margin-bottom:40px;
	border:1px solid #ccc;
	padding:7px 7px 7px 7px;
	border-radius:5px;
	max-width:300px;
}

.config .tab-pane .config-three-item img{
	border-radius:2px;
}

.config .tab-pane .config-three-item h4{
	text-align:center;
	margin-top:10px;
	font-size:20px;
}

.config .tab-pane .config-three-item i{
	display:inline-block;
	height:30px;
	width:30px;
	line-height:30px;
	text-align:center;
	border-radius:100px;
	color:#fff;
	font-size:15px;
}

/* Config Ends */

/* CTA Block starts */

.cta{
	background:#111 url('../img/1.jpg') center center;
	border-top:1px solid #999;
	border-bottom:1px solid #aaa;
}

.cta .cta-content h3{
	font-size:65px;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	line-height:60px;
}

.cta .cta-content h3 span{
	color:#cb2f2f;
}

.cta .cta-content h5{
	display:inline;
	background:#cb2f2f;
	font-size:35px;
	padding-left:12px;
	padding-right:12px;
	text-transform:uppercase;	
}

.cta .cta-content p{
	max-width:500px;
	line-height:27px;
	margin-top:20px;
	margin-bottom:20px;
	font-weight:bold;
	text-shadow:0px 1px 2px #555;
}

.cta .cta-content .btn-red{
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}

.cta .cta-content .btn-blue{
	padding-top:3px;
	padding-bottom:3px;
	font-size:13px;
}

/* CTA Status */

.cta .status{
	margin-top:35px;
}

.cta .status i{
	font-size:45px;
	float:left;
	margin-bottom:40px;
	text-shadow:0px 1px 2px #777;
}

.cta .status p{
	width:auto;
	margin-left:60px;
}

.cta .status p.status-name{
	margin-bottom:33px;
	font-size:15px;
	font-weight:bold;
	text-shadow:0px 1px 2px #777;
}

.cta .status p.status-num{
	font-family: 'Open Sans Condensed', sans-serif;
	width:85px;
	font-size:20px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
}

/* CTA Ends */


/* Portfolio */

.portfolio{
	background:#fff url('../img/p1.png') center;
	border-bottom:1px solid #ddd;
}

.portfolio .portfolio-item {
	max-width:240px !important;
	margin-bottom:20px;
	border:3px solid #fff;
	border-radius:3px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.portfolio .portfolio-item a{
	color:#777;
}

.portfolio .portfolio-item .port-cap{
	text-align:center;
    color:#777;
	padding:10px 5px 10px 5px;
	background:#fff;
}

.portfolio .portfolio-item .port-cap h4{
	margin:0px;
	padding:0px;
	margin-bottom:5px;
	font-size:16px;
}

.portfolio .portfolio-item .port-cap p{
	font-size:12px;
	line-height:20px;
}

div.ppt {
   display:none !important;
}

/* portfolio Ends */


/* Features */

.features{
	background:#ccc url('../img/nav-back.png') center;
	border-bottom:1px solid #888;
}

.features h3{
	font-size:40px;
}

.features .feature-item {
	height:120px;
	width:90px;
	border-radius:5px;
	text-align:center;
	text-transform:uppercase;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:17px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;
}

.features .feature-item h5{
	margin:0px;
	font-size:35px;
	font-weight:bold;
	padding-bottom:26px;
	padding-top:20px;
}

.features .feature-item p.ftop{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	width:90px;
	height:18px;
	font-size:10px;
	line-height:16px;
	color:#fff;
}

.features .feature-item p.fbottom{
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	width:90px;
	height:18px;
	font-size:10px;
	line-height:16px;
	color:#fff;
}

.features .feature-item p.fred{
	background:#d62222;
}

.features .feature-item p.fgreen{
	background:#31a444;
}

.features .feature-item p.fblue{
	background:#1e9cae;
}

.features .feature-item p.forange{
	background:#e38f42;
}

.features .feature-item p.fyellow{
	background:#cfb928;
}

.features .feature-item p.fpurple{
	background:#b15fcc;
}

.features .feature-item p.fpink{
	background:#c75ba9;
}

.features .feature-item p.flblue{
	background:#136672;
}

.features .feature-content {
	line-height:18px;
	margin-bottom:20px;
}

.features .feature-content p{
	margin:0 auto;
	font-size:13px;
	line-height:21px;
	color:#777;
	max-width:180px;
	padding:8px;
}
/* Features End */


/* Pricing Table */

.pricing-table{
	color:#333;
	background:#fff url('../img/p1.png') center;
	border-bottom:1px solid #ddd;
}

.pricing-table  table{
	text-align:center;
	margin-top:40px;
}

.pricing-table  table tr th{
	padding:18px 20px 18px 20px;
	border-bottom:none !important;
}

.pricing-table  table tr td{
	padding:18px 20px 18px 20px;
	border-right:1px solid rgba(255,255,255,0.1);
}

.pricing-table  table tbody td{
	font-family: 'Open Sans Condensed', sans-serif;
	background:rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(255,255,255,0.1);
	font-size:17px;
	font-weight:bold;
	color:#fff;
	border-top:none !important;
}

.pricing-table  table tbody td a.tbtn{
	box-shadow:none !important;
}

.pricing-table  table tr th{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:18px;
}

.pricing-table  table tr td:first-child{
	font-family: 'Open Sans Condensed', sans-serif;
	text-align:left;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	border:0px;
	border-right:1px solid rgba(255,255,255,0.1);
}

.pricing-table  table tr td.tone,
.pricing-table  table tr td.ttwo,
.pricing-table  table tr td.tthree,
.pricing-table  table tr td.tfour,
.pricing-table  table tr td.tfive{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s;
}

.pricing-table  table tr:last-child td:first-child{
	background:transparent !important;
	border-bottom:none !important;
}

/* About */

.about{
	background:#ccc url('../img/about-back.jpg') center;
	color:#777;
	line-height:18px;
	border-bottom:1px solid #ccc;
}

.about .block-head h3{
	text-shadow:1px 1px 2px #555;
}

.about .about-item{
	margin-bottom:30px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.about .about-item img{
	box-shadow:0 0 10px #444;
	margin:0 auto;
	border:5px solid #fff;
}

.about .about-item h5{
	background:rgba(0,0,0,0.5);
	max-width:150px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:17px;
	color:#fff;
}

.about .about-item  a i{
	display:inline-block;
	height:35px;
	width:35px;
	border:1px solid #fff;
	line-height:35px;
	text-align:center;
	border-radius:100px;
	color:#fff;
	font-size:15px;
	text-shadow:none;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;	
}

.about .about-item  a i:hover{
	background:rgba(0,0,0,1) !important;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-o-transition: background 1s ease;
	-ms-transition: background 1s ease;
	transition: background 1s ease;
}

/* About Ends */

/* Contact Us */

.contact-us{
	background:#fff url('../img/p1.png') center;
	color:#777;
	border-bottom:1px solid #ddd;
	
}

.contact-us .contact-form{
	padding:10px 20px 10px 20px;
}

.contact-us  .contact-form h3{
	margin:0px;
	margin-top:10px;
	margin-bottom:5px;
	text-align:left;
}

.contact-us  .contact-form .form-group{
	text-align:left !important;
	color:#fff;
	font-size:13px;
}

.contact-us  .contact-form .form-group .form-control{
	font-size: 12px;
	border:none !important;
	border-radius: 2px;
	box-shadow:none !important;
}

.contact-us  .contact-form .form-group button{
	font-size:12px;
}

.contact-us .map iframe{
	border:1px solid #ccc;
	width:100%;
	height:350px;
}

.contact-us  .contact-bar .contact-item{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}

.contact-us  .contact-bar i{
	display:inline-block;
	height:40px;
	width:40px;
	border-radius:100px;
	line-height:40px;
	text-align:center;
	font-size:14px;
}

.contact-us  .contact-bar p{
	font-size:12px;
	line-height:19px;
	max-width:180px;
	margin:0 auto;
	color:#bbb;
}

/* Social */

.contact-us .social{
	text-align:center;
}

.contact-us  .social{
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	animation-duration: 1s;
    animation-delay:0s;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-duration: 1s;
    -moz-animation-delay:0s;
    -ms-animation-duration: 1s;
    -ms-animation-delay: 0s;
    -o-animation-duration: 1s;    
    -o-animation-delay: 0s; 
}


.contact-us  .social i{
	display:inline-block;
	height:50px;
	width:50px;
	border-radius:100px;
	line-height:50px;
	text-align:center;
	font-size:21px;
	margin-bottom:30px;
	-webkit-transition: background 1s ease;
   -moz-transition: background 1s ease;
   -o-transition: background 1s ease;
   -ms-transition: background 1s ease;
   transition: background 1s ease;
}

.contact-us  .social a i:hover{
	background:rgba(0,0,0,1) !important;
	-webkit-transition: background 1s ease;
   -moz-transition: background 1s ease;
   -o-transition: background 1s ease;
   -ms-transition: background 1s ease;
   transition: background 1s ease;
}

/* Social ends */

.contact-us  hr{
	border:0px;
	border-top:1px solid #333 !important;
}

/* Bottom Navbar */

.bottom-nav{
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top:40px;
	margin-bottom:20px;
}

.bottom-nav ul li{
	margin-left:15px;
	margin-right:15px;
	font-size:20px;
}

.bottom-nav ul li a{
	color:#888;
}

/* Bottom Navbar Ends */

/* Footer */

.contact-us footer{
	margin-top:40px;
	text-align:center;
}

.contact-us footer p{
	font-size:14px;
	color:#fff;
}

.contact-us footer p a{
	color:#fff;
}

.contact-us footer p a:hover{
	color:#fff;
}


/* Back to top */

.gotop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 104400;
	background: #ef4848; 
}

.gotop a, .gotop a:visited{
	display: block;
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	line-height: 30px;
}

.gotop a:hover {
	color: #eee;
	text-decoration: none;
}

/* Footer Ends */

/* Contact Us Ends */

/* Animation CSS */

.animation{
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){

	.head-bar .navigation-bar li {
		font-size:12px !important;
	}
	
	.config ul li{
		margin:10px auto;
	}
	.config .tab-pane .config-three-item img{
		padding-left:2px;
		padding-right:2PX;
	}
	
	.cta .status i{
		font-size:30px;
	}
	
	.cta-content h3{
		font-size:50px !important;
	}
	
	.cta-content h5{
		font-size:23px !important;
	}
	
	.cta .status p{
		width:auto;
		margin-left:35px;
	}
	
	.cta .status p.status-num{
		font-size:15px;
		padding: 5px 10px 5px 10px !important;
		width:70px;
	}
	
	.cta .status p.status-name{
		font-size:13px !important;
	}
	
	.bottom-nav ul li{
		font-size:17px;
		text-align:center !important;
		margin:0 auto !important;
		margin-right:5px !important;
	}
	
}
/* Tablets */
@media (max-width: 767px){
	
	.head-bar{
		height:auto !important;
	}
	
	.head-bar .head-brand{
		font-size:25px;
		margin-left:10px;
	}
	
	.head-bar .nav-icon {
		text-align:right !important;
		float:none !important;
		display:inline;
	}
	
	.head-bar .nav-icon a{
		position:fixed;
		right:20px;
		top:3px;
	}
	
	.head-bar .navigation-bar {
		position:relative;
		float:none !important;
		text-align:center !important;
		display:none;
	}
	
	.head-bar .navigation-bar li  a{
		padding:12px 10px 12px 10px;
	}
	
	header  h2{
		font-size:40px;
	}
	
	.block{
		padding-top:30px;
		padding-bottom:30px;
	}
	
	.block-head h3{
		font-size:25px;
	}
	
	.block-head p{
		font-size:13px;
		margin:0px !important;
		padding:5px !important;
	}
	
	.cta .container{
		max-width:500px !important;
	}
	
	.cta .cta-content{
		margin:0 auto;
		text-align:center !important;
	}
	
	.cta .cta-content p{
		margin-left:auto !important;
		margin-right:auto !important;
	}

	.cta .status p.status-name{
		margin-bottom:25px;
		font-size:14px;
	}
	
	.about .container{
		max-width:500px;
	}
	
	.config ul li.active:after, .config ul li.active:before {
		border:0px !important;
		background:transparent;
	}
	
	.config .tab-pane .config-two-item h4{
		text-align:center !important;
	}
	
	.config .tab-pane .config-three-item{
		margin:0 auto !important;
		margin-top:10px !important;
		margin-bottom:30px !important;
	}
	
	.pricing-table .table-responsive{
		border:none;
	}
	
	.contact-us .container{
		max-width:600px;
	}
	
	.contact-us .map{
		margin-top:20px !important;
	}
}

/* Desktop */
@media (max-width: 991px){
	
	.config .tab-pane .config-two-item h4{
		text-align:center !important;	
	}
	
	.config .tab-pane .config-two-item  p{
		text-align:center !important;
		margin:0 auto !important;
		margin-bottom:15px !important;
	}
	
	.about .about-item img{
		width:100px !important;
	}
	
	.about .about-item h5{
		font-size:16px;
		margin-top:10px;	
	}
	
	.about .about-item{
		margin-bottom:20px;
	}
	
	.about .about-item p{
		margin-bottom:5px;
	}
	
	.portfolio .portfolio-item {
		margin:0 auto !important;
		margin-top:20px !important;
	}
	
	.portfolio .portfolio-item .port-cap{
		margin:0 auto !important;
	}
	
}



