<li class="dropdown">
	<a href="#" title="Dashboards" class="dropdown-toggle" data-toggle="dropdown">
    	<i class="fa fa-dashboard"></i><span class="text">You are currently on your <span class="white">Personal Dashboard</span></span>
	</a>
        
    <ul id="support-menu" class="dropdown-menu support" role="menu">
    	<?php if ($this->emrUser->checkIfDoctor($this->nagkamoritsing->ibalik($this->nambal_session['IDsafe_user']))): ?>
        <li role="presentation">
        	<a href="<?php echo base_url(); ?>doctorDashboard" class="support-ticket">
            	<div class="picture"><span class="label label-important"><i class="fa fa-dashboard"></i></span></div>
                <div class="details">Switch to My Professional Doctor's Dashboard</div>
            </a>
       	</li>
        <?php else: ?>
        <li role="presentation">
                <a href="<?=base_url()?>registerDoctor" data-toggle="modal" class="support-ticket">
                    <div class="picture"><span class="label label-medpro"><i class="fa fa-stethoscope"></i></span></div>
                    <div class="details">Add a Medical Profession - Doctor</div>
                </a>
            </li>
        <?php endif; ?>
        <li role="presentation">
        	<div style="background-color: #565656; height:1px;"></div>
   		</li>
        <li role="presentation">
        	<a href="#under-improvement" data-toggle="modal" class="support-ticket">
            	<div class="picture"><span class="label label-medpro"><i class="fa fa-medkit"></i></span></div>
                <div class="details">Add a Medical Profession - Nurse</div>
         	</a>
   		</li>
        <li role="presentation">
        	<a href="#under-improvement" data-toggle="modal" class="support-ticket">
            	<div class="picture"><span class="label label-medpro"><i class="fa fa-plus-square"></i></span></div>
                <div class="details">Add a Medical Profession - Pharmacist</div>
            </a>
       	</li>
    	<li role="presentation">
        	<a href="#under-improvement" data-toggle="modal" class="text-align-center see-all">See all list of Medical Professionals <i class="fa fa-arrow-right"></i></a>
		</li>
	</ul>
        
</li>