<li class="dropdown">
                	<a href="#" title="Notifications" id="messages" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-globe"></i>
                        <span class="count">8</span>
                    </a>
                    <ul id="messages-menu" class="dropdown-menu messages" role="menu">
						<li role="presentation">
							<a href="#" class="message"><img src="<?php echo base_url(); ?>light-blue/img/1.jpg" alt="">
							<div class="details">
                            	<div class="sender">Belleo Maraon</div>
									<div class="text">added you as a friend ...</div>
                                </div>
                            </a>
                      	</li>
                 		<li role="presentation">
                  			<a href="#" class="message"><img src="<?php echo base_url(); ?>light-blue/img/2.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Belleo Maraon</div>
                                    <div class="text">added you as a friend ...</div>
                              	</div>
                         	</a>
                		</li>
                        <li role="presentation">
                        	<a href="#" class="message"><img src="<?php echo base_url(); ?>light-blue/img/3.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Belleo Maraon</div>
                                    <div class="text">added you as a friend ...</div>
                               	</div>
							</a>
                      	</li>
                        <li role="presentation">
                          <a href="/profile/viewer">
                          <strong>3 people viewed your profile</strong><br />
                            <img src="public/img/thumbs/thumb1.png" alt="" />
                            <img src="public/img/thumbs/thumb2.png" alt="" />
                            <img src="public/img/thumbs/thumb3.png" alt="" />
                          </a>
                        </li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                        <li><a href="/donorsNetwork"><span class="icon-user"></span> <strong>Blood Donors wanted</strong> matched yours <small class="muted"> - 2 days ago</small></a></li>
                        <li role="presentation">
                        	<a href="#" class="text-align-center see-all">See all notifications <i class="fa fa-arrow-right"></i></a>
                        </li>
					</ul>
				</li>