<li class="dropdown">
                	<a href="javascript:void(0);" title="Dashboards" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-user"></i><span class="text">Hi, <span class="white"><?=substr(ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['firstname'])),0, 25);?></span></span>
                  	</a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                    	<li role="presentation" class="account-picture">
                        	<img src="<?php echo base_url(); ?>light-blue/img/2.jpg" alt="">
                            <?php
                                $fullNameDisplay = $this->nagkamoritsing->ibalik($this->nambal_session['firstname']).
                                    ' '.@$this->nagkamoritsing->ibalik($this->nambal_session['lastname']);
                                if (strlen($fullNameDisplay) > 20)
                                {
                                    // echo wordwrap($fullNameDisplay);
                                    echo substr($fullNameDisplay, 0, 12).'...';  
                                }
                                else
                                {
                                    echo $fullNameDisplay;
                                }
							?>
                      	</li>
                        <li role="presentation"><a href="form_account.html" class="link"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a></li>
                        <li role="presentation"><a href="component_calendar.html" class="link"><i class="fa fa-calendar"></i>&nbsp;&nbsp;My Wellness Calendar</a></li>
                        <li role="presentation"><a href="#" class="link"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox</a></li>
                        <li role="presentation"><a href="#" class="link"><span class="icon-eye-open"></span> Privacy Settings</a></li>
                        <li role="presentation"><a title="Log out Nambal.com Account" href="<?php echo base_url().'logout';?>" class="link"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                 	</ul>
         		</li>