<script type="text/javascript">
jQuery( document ).ready(function() {
<?php 
if ($this->messagesModel->countUnreadMessage($this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user'])) > 0)
{
  echo 'jQuery("#messages").html(\'<i class="fa fa-comments"></i><span class="count" id="messagecount">*</span>\');';
  echo 'jQuery("#messagecount").load(BASEURLL+"messages/countUnreadMessage");';
}
?>
});
jQuery('<audio id="chatsound"><source src="'+BASEURLL+'public/audio/nambal-mouth-sound.ogg" type="audio/ogg"><source src="'+BASEURLL+'public/audio/nambal-mouth-sound.mp3" type="audio/mpeg"><source src="'+BASEURLL+'public/audio/nambal-mouth-sound.wav" type="audio/wav"></audio>').appendTo('body');
channel.bind('notify_user', function(data) 
{

  if (((data.message.length > 0) && (data.noti.length > 0)))
  {
      if (data.noti == '<?=$this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']);?>')
      {
        // console.log('receiving own');
      }
      else
      {
        // console.log('receving ');
        jQuery('#messages').html('<i class="fa fa-comments"></i><span class="count" id="messagecount">*</span>');
        jQuery('#messagecount').load(BASEURLL+'messages/countUnreadMessage');
        jQuery('#chatsound')[0].play();
      }
  }
});
</script>
<?php $firstloop=0; ?>
<?php if (isset($this->inboxes)): ?>
  <?php foreach ($this->inboxes as $inboxlist): ?>
    <?php if (!empty($inboxlist->datesent)): ?>
      <?php if (@$inboxlist->from_IDsafe_user != ($this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']))): ?>
      <?php 
        $profilepic = $this->profilepic->getprofilepicinfo($inboxlist->from_IDsafe_user);
      ?>
      <li role="presentation">
      <a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->from_IDsafe_user)?>" class="message">
        <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
          <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
        <?php else: ?>
            <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
        <?php endif; ?>
        
      <div class="details">
          <div class="sender"><?php if($this->emrUser->checkIfDoctor($inboxlist->from_IDsafe_user)): ?>Dr. <?php endif; ?><?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromfirstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->fromlastname))?></div>
            <div class="text"><?php echo character_limiter($inboxlist->message, 18); ?>...</div>
        </div>
      </a>
      </li>
      <?php else: ?>
      <?php 
        $profilepic = $this->profilepic->getprofilepicinfo($inboxlist->to_IDsafe_user);
      ?>
        <li role="presentation">
        <a href="<?=base_url()?>messages?from=<?=$this->nagkamoritsing->bungkag(@$inboxlist->to_IDsafe_user)?>" class="message">
        <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
          <img src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" class="img-circle img-polaroid img-circle-small" />
        <?php else: ?>
            <img src="<?php echo base_url(); ?>public/img/profile-pic-4x4.gif" alt="" class="img-circle img-polaroid img-circle-small" />
        <?php endif; ?>
        <div class="details">
            <div class="sender"><?php if($this->emrUser->checkIfDoctor($inboxlist->to_IDsafe_user)): ?>Dr. <?php endif; ?><?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->firstname))?>&nbsp;<?=ucwords($this->nagkamoritsing->ibalik(@$inboxlist->lastname))?></div>
              <div class="text"><?php echo character_limiter($inboxlist->message, 18); ?>...</div>
          </div>
        </a>
        </li>
      <?php endif; ?>
    <?php $firstloop++; ?>
    <?php else: ?>
    
    <?php endif; ?>
  <?php 
    if ($firstloop == 5)
      break;
  ?>
  <?php endforeach; ?>
<?php endif; ?>
<!-- <li role="presentation">
  <a href="#" class="message"><img src="<?php echo base_url(); ?>public/img/1.jpg" alt="">
      <div class="details">
          <div class="sender">Dr. Edison Quinones</div>
            <div class="text">Hey, Jecy! How is it going? ...</div>
        </div>
    </a>
</li>
<li role="presentation">
  <a href="#" class="message"><img src="<?php echo base_url(); ?>public/img/2.jpg" alt="">
      <div class="details">
          <div class="sender">Belleo Maraon</div>
            <div class="text">I am recommending you this doctor...</div>
        </div>
    </a>
</li>
<li role="presentation">
  <a href="#" class="message"><img src="<?php echo base_url(); ?>public/img/3.jpg" alt="">
      <div class="details">
          <div class="sender">Janessa Velez</div>
            <div class="text">I am doing a follow-up regarding ...</div>
      </div>
  </a>
</li>-->
<li role="presentation">
<a href="<?=base_url();?>messages" class="text-align-center see-all">See all messages <i class="fa fa-arrow-right"></i></a>
</li> 