<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?>">    
    
    <title><?= isset($title) ? $title : 'Home' ?> - Nambal.com - life saving information for live savers</title>
<!--[if lt IE 9]>
    <script src="<?=base_url();?>js/html5shiv/html5shiv.js"></script>
    <script src="<?=base_url();?>js/html5shiv-printshiv.js"></script>
<![endif]-->
<script src="<?php echo base_url();?>public/lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="<?php echo base_url();?>public/lib/jquery-ui-1.10.3.custom.js"> </script>
<?php if (!empty($customJsTop)): ?>
<?php foreach ($customJsTop as $js): ?>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/<?=$js;?>.js"></script>
<?php endforeach; ?>
<?php endif; ?>


	<link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="<?php echo base_url(); ?>public/css/application.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url(); ?>public/css/custom-doctor-dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="<?php echo base_url(); ?>public/css/patient-dashboard.css" type="text/css" /> 

    <!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script>
	<![endif]-->
    <?php if (!empty($customCss)): ?>
        <?php foreach ($customCss as $css): ?>
            <link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
        <?php endforeach; ?>
    <?php endif; ?>
    
</head>
<body class="patient-dashboard">