<div class="logo">
    <h4 class="visible-lg"><a href="<?php echo base_url();?>dashboard"><img  src="<?php echo base_url(); ?>public/img/nambal-logo.png" alt="Nambal.com - life saving information for live savers!" /></a></h4>
    <h4 class="visible-xs visible-sm visible-md"><a href="<?php echo base_url();?>dashboard"><img  src="<?php echo base_url(); ?>public/img/nambal-logo-small.png" alt="Nambal.com - life saving information for live savers!" /></a></h4>
</div>
