<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#dashboard"><i class="fa fa-dashboard"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#wellness-profile"><i class="fa eicon eicon-clipboard"></i> <span class="name">My Wellness Profile</span></a>
            <ul id="wellness-profile" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'doctor options')==0) ) echo 'in'; ?> collapse ">
                <li><a href="<?php echo base_url(); ?>profileViewer">My Personal Profile</a></li>
                <li><a href="<?php echo base_url(); ?>emergencyContactInformation">My Emergency Contact Information</a></li>
                <li><a href="<?php echo base_url(); ?>healthCard/printArea">My Nambal Safe Card & other options</a></li>
                <li><a href="<?php echo base_url(); ?>wellnessCalendar">My Wellness Calendar</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#my-health-and-wellness-information"><i class="fa fa-heart"></i> <span class="name">My Health & Wellness Information</span></a>
            <ul id="my-health-and-wellness-information" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Applications and Plug-ins')==0) ) echo 'in'; ?> collapse">
                <li><a href="#">My Wellness Information</a></li>
                <li><a href="#">Problems History Information</a></li>
                <li><a href="#">Medications Information</a></li>
                <li><a href="#">Allergy Information</a></li>
                <li><a href="#">Procedures Information</a></li>
                <li><a href="#">Immunizations Information</a></li>
                <li><a href="#">Insurance Information</a></li>
                <li><a href="#">Test Results Information</a></li>
                <li><a href="#">Health Files Collections</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#connect-my-medical-professional"><i class="fa fa-user-md"></i> <span class="name">Connect with My Medical Professionals</span></a>
            <ul id="connect-my-medical-professional" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Applications and Plug-ins')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>connectDoctor/search">Find My Doc</a></li>
                <li><a href="<?php echo base_url(); ?>applicationsDoctor?appName=basicAccounting">Pharmacy Store</a></li>
                <li><a href="<?php echo base_url(); ?>profileViewer">Laboratory</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#messaging-links"><i class="fa fa-envelope"></i> <span class="name">Messaging&nbsp;&nbsp;<span class="label label-important">9</span></span></a>
            <ul id="messaging-links" class="panel-collapse <?php //if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Messaging')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>messagesDoctor/inbox">Inbox&nbsp;&nbsp;<span class="label label-important">4</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/sent">Sent&nbsp;&nbsp;<span class="label label-important">5</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/draft">Draft</a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/deleted">Deleted</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#my-apps"><i class="fa fa-th"></i> <span class="name">My Apps</span></a>
            <ul id="my-apps" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Applications and Plug-ins')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>applicationsDoctor/appnetwork">App Network</a></li>
                <li><a href="<?php echo base_url(); ?>applicationsDoctor?appName=basicAccounting">Basic Accounting</a></li>
                <li><a href="<?php echo base_url(); ?>profileViewer">QR reader</a></li>
                <li><a href="<?php echo base_url(); ?>donorsNetwork">Donor's network</a></li>
                <li><a href="<?php echo base_url(); ?>nonNambal">Non-nambal Record</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#personal-menus"><i class="fa fa-question"></i> <span class="name">Need Help?</span></a>
            <ul id="personal-menus" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'personal dashboard')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>#">How to add a new Wellness Information?</a></li>
              
            </ul>
        </li>
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>        
    </ul>
    <div id="sidebar-settings" class="settings">
    	<button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>
