<!DOCTYPE html>
<html lang="en">
	<head>		
		<base href="<?= base_url() ?>">
		<script src="public/js/modernizr-2.5.3.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Dancing+Script' rel='stylesheet' type='text/css'/>
		<link href="http://www.nambal.com/images/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<title><?= isset($title) ? $title : 'Home' ?> - Nambal.com software consultancy</title>
		<!-- Bootstrap -->
		<link href="public/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen"/>
		<link href="public/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"  media="screen"/>
		<link rel="stylesheet" type="text/css" href="public/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/signup.css"/>
    	<link rel="stylesheet" type="text/css" href="public/css/zocial.css"/>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="public/js/bootstrap-collapse.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-transition.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-scrollspy.js"> </script>
		<script type="text/javascript" src="public/js/main.js"> </script>
		<script type="text/javascript"src="public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="public/js/smoothscroll.js"></script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<?php if (!empty($customCss)): ?>
			<?php foreach ($customCss as $css): ?>
				<link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
			<?php endforeach; ?>
		<?php endif; ?>
		<?php if (!empty($customJs)): ?>
			<?php foreach ($customJs as $js): ?>
				# code...
			<?php endforeach; ?>
		<?php endif; ?>
	</head>
	<body data-spy="scroll" data-target="#navbarExample" data-offset="10">
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top" id="navbarExample">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="brand" href="#"><img src=""></a>-->
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="#home">Home</a></li>
								<li><a href="#about">About Nambal</a></li>
								<li><a href="#patient">For Patient</a></li>
								<li><a href="#doctor">For Doctors</a></li>
								<li><a href="#under-improvement" data-toggle="modal">News</a></li>
								<li><a href="#contact-us" data-toggle="modal">Contact Us</a></li>
							</ul>
							<form class="navbar-form pull-right hidden-tablet hidden-phone">
								<ul class="nav signinup">
								<?php if (empty($this->nambal_session['sessionName'])): ?>
				                  <li><button class="btn btn-small btn-danger" href="#signin" role="button" data-toggle="modal"><strong>Sign In</strong></button>&nbsp;&nbsp;</li>
				                  <li><button type="button" class="btn btn-small btn-primary gotocreate"><strong>Create Account</strong></button></li>
				                <?php else: ?>
				                  <li><button type="button" class="btn btn-small btn-danger logoutbtn" href="logout"><strong>Logout</strong></button>&nbsp;&nbsp;</li>
			                  	<?php if (!empty($this->nambal_session['street'])): ?>
			                  	  <li><button type="button" class="btn btn-small btn-primary gotodashboard" href="logout"><strong>Dashboard</strong></button></li>
			                  	<?php endif; ?>
				            	<?php endif; ?>
				                </ul>
							</form>
                            <div class="hidden-desktop" style="text-align: center;">
                            	<?php if (empty($this->nambal_session['sessionName'])): ?>
                            	<a class="btn btn-danger btn-block" href="login"><strong>Sign In</strong></a>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary gotocreate btn-block"><strong>Create Account</strong></button>
                            	<?php else: ?>
                            	<button type="button" class="btn btn-block btn-danger logoutbtn" href="Logout"><strong>Logout</strong></button>
                        		<?php if (!empty($this->nambal_session['street'])): ?>
                        			<button type="button" class="btn btn-block btn-primary gotodashboard" href="Logout"><strong>Dashboard</strong></button>
                        		<?php endif; ?>
                            	<?php endif; ?>
                            </div>

						</div>									
					</div>		
				</div>
			</div>
			<section id="bodyHeader">
					<div id="bodyContainer-white">
<?php
		if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		  $this->load->view($view . '.phtml');
		else:
		  $this->load->view('empty.phtml');
		endif;
?>
                    </div>
				</section>
			<footer id="theFooter">
				<div class="container">
					<nav id="navFooter">
						<ul>
						  <li><a href="#under-improvement" data-toggle="modal">Help & Support</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">API</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Community & Feedback</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Product Roadmap</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Partners & Investors area</a></li>
						  <li><a href="<?php echo base_url();?>privacy" data-toggle="modal">Privacy Policy</a></li>
						</ul>
					</nav>		
					<div>
						<span class="cpryt">Copyright Nambal.com Software Consultancy. All rights reserved. Proudly made in Philippines.</span>
					</div>		
			  	</div>
				<div class="clear">&nbsp;</div>	
				<div id="scbFooter">
					<span class='st_facebook_hcount'></span>
					<span class='st_twitter_hcount'></span>
	                <span class='st_googleplus_hcount'></span> 
				</div>		
		  </footer>
			
		</div>
<div id="under-improvement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Not yet available</h3>
  </div>
  <div class="modal-body">
    <p>Please bear with us because we are currently improving our Website.<br>
    For waiting list please like our <a href="https://www.facebook.com/nambalcebu?fref=ts">facebook page</a>. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
<div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h3 class="signin-header" id="myModalLabel">Sign In to Nambal</h3>
                            </div>
                            <div class="modal-body row-fluid">
                                <div class="pull-left signin-social" id="socialNetworkLogin">
                                  <h5 class="signin-header" >Sign in with social account</h5>
                                  <a href="login/facebook" class='zocial facebook pull-left'><small>Sign in with Facebook</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial twitter pull-left social-tw'><small>Sign in with Twitter</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial googleplus pull-left social-gplus'><small>Sign in with Google</small></a>
                                </div>
                                <div class="pull-left signin-native">
                                  <h5 class="signin-header">Sign with email or username</h5>
                                  <form action="login" method="post">
                                    <div class="">
                                      <input type="text" name="username" class="input-large" placeholder="Email or username" required id="username">
                                    </div>

                                    <div class="">
                                      <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required>
                                    </div>
                                    <a href="forgotPassword">Forgot Password</a>
                                    <div>
                                      <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
                                    </div>
                                    
                                  </form>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
</div>
<div id="contact-us" class="modal hide  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-info"><strong>Address:</strong>
      <br>
      RM 330 CebuinIT, arts and science building,<br>
    University of the Philippines - Cebu<br>
    Gorordo Avenue, Lahug<br>
    Cebu City, Cebu 6000<br>
    PHILIPPINES</p>
   
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
	</body>
</html>