<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Dashboard</a><span class="divider">/</span></li>
        <li class="active"><a href="/applications">Applications</a> </li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Nambal App Network</h1> 
<span>Your collection of health solutions</span>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
  <div class="maincontent">
            <div class="contentinner">
<h4 class="widgettitle nomargin">Emergency Information</h4>
<div id="emergency">
<div class="widgetcontent">
  <div id="tabs">
      <ul>
          <li><a href="/applications#apps-for-everyone">For Everyone</a></li>
          <li><a href="/applications#apps-for-professional">For Medical Professional</a></li>
          <li><a href="/applications#apps-for-facilities">For Medical Facilities</a></li>
      </ul>
      <div id="apps-for-everyone">
            <div class="row-fluid">
              <div class="span4 centerthis">
                  <center>
                  <img src="<?php echo base_url(); ?>public/img/application-sample-group-jogginapp.jpg" alt="" class="centerthis" />
                  Joggin App
                  </center>
              </div>
              <div class="span4">
                <center>
                  <img src="<?php echo base_url(); ?>public/img/application-sample-group-one-emergencybutton.jpg" alt="" class="centerthis" />
                  One Emergency Button
                </center>
              </div>
              <div class="span4">
                <center>
                  <img src="<?php echo base_url(); ?>public/img/application-sample-anotherapp.jpg" alt="" class="centerthis" />
                Another Mobile App
              </center>
              </div>
            </div>        
      </div>
      <div id="apps-for-professional">
            <div class="row-fluid">
              <div class="span4">
                <img src="<?php echo base_url(); ?>public/img/application-sample-anotherapp.jpg" alt="" class="centerthis" />
                Easy Clinic
              </div>
              <div class="span4">
                test
              </div>
              <div class="span4">
                test
              </div>
            </div>   
      </div>
      <div id="apps-for-facilities">
            <div class="row-fluid">
              <div class="span4">
                test
              </div>
              <div class="span4">
                test
              </div>
              <div class="span4">
                test
              </div>
            </div>   
      </div>
      </div><!--#tabs-->
</div><!--widgetcontent-->
</div>
              </div><!--contentinner-->
  </div><!--maincontent-->
</div>
</div>