<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/doctorDashboard">Doctor dashboard</a> </li>
        <li><a href="/doctorDashboard">Clinic Management</a> </li>
        <li class="active"><a href="<?=base_url();?>doctorstaff">Staff Management</a> </li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="pagetitle">
	<h1>Staff administration</h1>
</div><!--pagetitle--> 
 <section class="widget">
<div class="tabbable tabs-right">
    <ul id="myTabright" class="nav nav-tabs">
        <li class="active"><a href="#list-clinic-staff" data-toggle="tab">List</a></li>
        <li ><a href="#add-clinic-staff" data-toggle="tab">Add Staff</a></li>
    </ul>
    <div id="myTabContentright" class="tab-content" >
        <div class="tab-pane fade in active" id="list-clinic-staff">
			<div></div>
		</div>
        <div class="tab-pane fade" id="add-clinic-staff">
            <p>Light Blue - is a next generation admin template based on the latest Metro design. There are few reasons we want to tell you, why we have created it:
                We didn't like the darkness of most of admin templates, so we created this light one. We didn't like the high contrast of most of admin templates, so we created this unobtrusive one.
                We searched for a solution of how to make widgets look like real widgets, so we decided that deep background - is what makes widgets look real.</p>
        </div>
    </div>
</div>
</section>