<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
});
var $btnCalendarEnd = jQuery('#btn-select-calendar-dateend');
$btnCalendarEnd.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateend').val($btnCalendarEnd.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });


jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#conditionOrSymptom" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"problem/displayProblems",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});
});
</script>

<div class="control-group">
<label for="conditionOrSymptom">What is the condition or symptom?&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
  <input required name="conditionOrSymptom" type="text" id="conditionOrSymptom" class="tootipper col-sm-12" placeholder="Example: diabetes, back pain"  value="<?=@$this->problemInformation['problemName'];?>" title="Problems or Conditions" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one problem or symptom per entry.  Example: diabetes, back pain.  For your convenience you can select from the list." />  <br/><br/>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="control-group">
    <label>Do you have this problem now?&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"  title="Curently experiencing this?" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please select one of the options below"></i></label><br>
    <label>
    <input name="problem-now" type="radio" value="true" <?php echo ((@$this->problemInformation['havingitnow'] == TRUE) ? 'checked' : ''); ?> />&nbsp;&nbsp;Yes, I currently have this</label><br />
    <label><input name="problem-now" type="radio" value="false" <?php echo (((@$this->problemInformation['havingitnow'] == false)) ? 'checked' : ''); ?> />&nbsp;&nbsp;No, I no longer have this</label><br/><br/>
    </div>
    <div class="row">                     
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" >
            <div class="input-group">
              <label>Onset (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-datestarted" name="datestarted" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->problemInformation['dateStart'])) echo date('m/d/o', strtotime($this->problemInformation['dateStart'])); else echo date('m/d/o'); ?>" title="Date problem started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->datestarted)) echo date('m/d/o', strtotime($this->datestarted)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label>
            </div>
          </div>
          <div class="col-md-6" >
            <label>Time started (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timestarted" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->problemInformation['dateStart'])) echo date('H:i', strtotime($this->problemInformation['dateStart'])); else echo date('H:i'); ?>" title="Time started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <label>Date ended (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-dateend" name="dateended" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->problemInformation['dateEnd'])) echo date('m/d/o', strtotime($this->problemInformation['dateEnd'])); ?>" title="Date problem ended" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-dateend" class="btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->dateend)) echo date('m/d/o', strtotime($this->datestarted)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label>
            </div>
          </div>
          <div class="col-md-6" >
            <label>Time ended (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timeend" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->problemInformation['dateEnd'])) echo date('H:i', strtotime($this->problemInformation['dateEnd'])); ?>" title="Time End" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
          </div>
        </div>
      </div>
    </div><br />
    <label class="select-block-level">First note or journal entry: <i class="tootipper fa fa-question-circle"></i>
          <textarea placeholder="Notes" name="notes" required class="tootipper select-block-level" id="notes"  title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some notes to help you, your staff and other attending healthcare professionals" ><?=@$this->problemInformation['notes'];?></textarea>
    </label>
    <div class="miscs">Example: Add notes from a doctor&#39;s visit, record how you feel today, and so on.</div>
    <input name="IDsafe_problem" type="hidden" value="<?=@$this->problemInformation['IDsafe_problem'];?>">
    <input name="IDemr_journal" type="hidden" value="<?=@$this->problemInformation['IDemr_journal'];?>">
</div>
  <section class="col-md-4 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->problemInformation['doctor-notes'];?></textarea>
    </label>
  </section> 
</div>