<section id="introNambal">
    <div class="title">Thank you for your help.</div>
              <div class="clear">&nbsp;</div>

<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<h2>You may now use your doctor dashboard</h2>
<p style="width: 70%;" class="centerdiv">You may click the link below.  You can also click the easy switch button in you dashboard in switching from your personal dashboard to your doctor dashboard.</p>
<p style="width: 70%;" class="centerdiv">Enjoy!<br>From the Nambal.com Team<br>
<a class="btn btn-danger" type="button" href="<?php echo base_url(); ?>doctorDashboard">Start using Doctor's Dashboard</a><br>
<a href="<?=base_url();?>support">You may also ask help in our support center.</a>
</p>
</section>