
<section id="introNambal">
    <div class="title">Doctor's Registration</div>
              <div class="clear">&nbsp;</div>
    <div class="tabbable formtab">
   <ul class="nav nav-tabs" id="myTab">
        <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Register as Physician</a></li>
        <li  class="active"><a href="javascript:void(0)" ><small class="steps">Step 2 »</small><br />Done</a></li>
    </ul>
    </div>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<h2>Thank you</h2>
<p style="width: 70%;" class="centerdiv">We will email you a verification link and code in the next 2-3 days if your registration as a licensed physician has been approved!</p>
<p style="width: 70%;" class="centerdiv">Thank you!<br>From the Nambal.com Team<br>
<a class="btn btn-danger" type="button" href="<?php echo base_url(); ?>dashboard">Back to Nambal Safe patient dashboard</a><br>
<a href="<?=base_url();?>support">You may also ask help in our support center.</a>
</p>
</section>