
<section id="introNambal">
    <div class="title">Doctor's Registration</div>
              <div class="clear">&nbsp;</div>
    <div class="tabbable formtab">
   <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Register as Physician</a></li>
        <li><a href="javascript:void(0);" ><small class="steps">Step 2 »</small><br />Done</a></li>
    </ul>
    </div>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<form name="form" method="post" action="">
  <label for="specialty">Specialty: </label>
  <select name="specialty[]" size="1" multiple class="doctor-specialty">
  <?php foreach ($allEmrSpecialty as $special) : ?>
    <option value="<?=@$special->specialty_id;?>" <?php if (!empty($specialty)) {echo (in_array($special->specialty_id, $specialty, true)) ? 'selected' : '' ; }?> ><?=@$special->specialtyName;?></option>
  <?php endforeach; ?>
  </select>
  <br>
  <label for="licensenumber">License: </label>
  <input type="text" name="licensenumber" id="licensenumber" value="<?=@$licenseNumber;?>">
  <br>
  <p>Please type in the Promo code for a quicker approval to use your own doctor's dashboard.</p>
  <label for="promocode">Promo Code: </label>
  <input type="text" name="promocode" id="promocode"><br>
  <input name="countemail" type="hidden" value="3">
  <input type="submit" name="button" id="button" value="Submit" class="btn btn-info">
  <a class="btn btn-danger" type="button" href="<?php echo base_url(); ?>dashboard?redictorcancel=true">Back to dashboard</a>
</form>
</section>