@charset "utf-8";
/* CSS Document */

#introNambal,#helpNambal,#doctorNambal
{
	background: rgba(255,255,255,0);
}
#bodyHeader
{
	min-height:  350px;
}

#country,#state,#sex,#bloodtype{
	width:285px;
}

#dateofbirth{
	height: 20px;
}

@media (max-width: 767px) {
	#fullname,#country,#state,#street,#city,#postcode,#dateofbirth,#sex,#bloodtype{
		width:90%;
		margin:auto;
	}
}

#introNambal
{
    margin-top: 0px;
    padding-top: 10px;
}

.contactNumbers
{
	clear:both;
	overflow:hidden;
	width:25%;
	margin:auto;
}

.contactNumbers label
{
	color: #909090 !important;
    font-size: .9em !important;
	text-align: left !important;
}

.areaCode
{
	width:21%;
	float:left;
}

.areaCode input
{
	width:75%;
}

.number
{
	margin:0 0 0 5%;
	width:74%;
	float:left;
}

.number input
{
	width:93%;
}

#contactNumbers
{
    /* text-align: center; */
}

#contactNumbers label
{
	/* color: #909090;
    font-size: .9em;
	width:  10px; */
	/* display: inline; */
}

#countryCode
{
   /* width: 100%;  */
}

#areaCode
{
    /* width: 2em; */
}

#number
{
   /*  width: 6em; */
}

.centerdiv
{
	margin-left: auto;
	margin-right: auto;
}
.doctor-specialty
{
    height: 125px !important;
}