@charset "utf-8";
/* CSS Document */

.showmenu
{
    position: absolute;
}
.personalProfileText
{
	color: #ffffff !important;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 1) !important;
}
#aPharmacy
{
	float:left;
    background-image:url('/public/img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-repeat:no-repeat;
    background-position:-150px -50px;
}
#aDoc
{
	float:left;
    background-image:url('/public/img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-repeat:no-repeat;
    background-position:-100px -50px;
}
#aLaboratory
{
	float:left;
    background-image:url('/public/img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-repeat:no-repeat;
    background-position:-200px -50px;
}
.centerthis
{
	text-align: center;
}
.container-sliders
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#the-dashboard h4
{
	cursor: move;
}
#the-dashboard
{
	list-style: none;
}

#the-dashboard-right h4
{
	cursor: move;
}

#the-dashboard-right
{
	list-style: none;
}

#message
{
	display:none;
}

#create-clinic-information legend{
	tetx-align:left;
}

.create-clinic-label
{
	text-align:right !important;
}

.createClinicInformation
{
	float:right !important;
}
.clinic-time-title
{
	text-align:center !important;
}

.fa
{
	cursor:pointer;
}

.saveCreateClinicInformation
{
	display:none;
}

#clinic-number-of-doctors-container, #clinic-position-container
{
	display:none;
}

.required
{
	font-style:italic;
	color:#EAC85E;
}

.errorTime
{
	text-align:center;
	color:#EAC85E;
}

.breadcrumbwidget .breadcrumb 
{
	z-index: 10;
}

.modal-content .modal-header
{
	z-index: 9999;
}

.navbar
{
	z-index: 9 !important;
}
.breadcrumb
{
	z-index: 10 !important; 
}
.icon
{
	z-index: 15 !important;
}
.logo
{
	z-index: 15 !important;
}

.colon
{
	text-align:center;
}

.clinic-hour-description
{
	resize:none;
	width:100%;
}

/** clinic settins form wizard customization **/
.wizard-navigation li a{
	text-align:left;
	font-size:19.5px;
	background:none;
}

.wizard-navigation li.active a
{	
	background-color: rgba(51, 51, 51, 0.25) !important;
}
/** end clinic settins form wizard customization **/