.custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 0.3em;
  }
.maincontent
{
  text-align: center;
}
.justifythis
{
  text-align: left;
}
.centerthis
{
  text-align: center;
}
.search-boxes
{
  background:  rgba(0,11,42,.10) !important;
  width: 49%; 
  display: inline-block;
  border-radius: 25px;
}

#search-panel
{
  
}
.alert-block
{
  border-radius: 9px;
  border: none;
}