@charset "UTF-8";
/* CSS Document */

body, html
{
    min-height: 100% !important;
}
.tallheight
{
    height: 100% !important;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.people-list
{
	max-height: 400px !important;
	overflow-x: hidden; overflow-y: auto;
}



#datatable-table_info
{

}

table tr td:first-child
{
	display: none;
}
table tr th:first-child
{
	display: none;
}
.chat-date-font
{
	font-size: 9px;
	color: black;
}

#msg-table
{
	color: rgba(255, 255, 255, .2);
}

.unread-message
{
	color: rgba(255, 255, 255, 1);
}


.per-page-selector
{
	width: 20%;
}

.widget 
{
	background: rgba(1,1,1,.05);
}
.icon
{
	z-index: 1 !important;
}


.message-datetime
{
	font-size: 10px;
}