@charset "UTF-8";
/* CSS Document */

#sidebar
{
  position: fixed;
  display: auto;
  margin-top: 60px;
}

.navbar
{
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed; 
  right: 0px;
  width: 80%;
  
}

.container
{
  margin-top: -15px;
}

.logo
{
  position: fixed;
  left: 15px;
  top: 0px;
}


.logo img
{
  display: inline !important;
  
}
span .visible-lg
{
	display: inline !important;
}

.hundredpercent
{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
#take-a-tour
{
	display:block;
	overflow:hidden;
}

#take-a-tour h2
{
	padding:0 0 1% 0;
}

#take-a-tour .skip
{
	background:none !important;
	border:none !important;
	color:#17B0D9;
}

#take-a-tour .skip:hover
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
	text-decoration:underline !important;
}
#take-a-tour .update
{
	display:none;
}

#take-a-tour .modal-footer, #take-a-tour .modal-header
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#are-you-a-doctor
{
	overflow:hidden;
}

#take-a-tour .embedVideo object, #take-a-tour .embedVideo embed
{
	width:100% !important;
}

section
{
	color: #000000 !important;
}

.widget-transparent
{
	background-color: rgba(255,255,255, .3) !important;
}

@media (max-width: 767px)
{
	#take-a-tour .modal-body
	{
		max-height: 500px;
	}
}
/* end of 'connect with my medical professionals - css' */