.biggesticon
{
	font-size: 35px;
}
.spaniconarea
{
	clear: none;
	margin-left: auto !important;
}
table th
{
	color: #ffffff !important;
	background: #2182C9 !important
}

table .dropdown-toggle
{
    color: #7a7f7c !important;

}

.dropdown-toggle .caret
{
}

table .btn-info
{
    color: #ffffff !important;
}

table .btn-warning
{
    color: #ffffff !important;
}

table .btn-primary
{
    color: #ffffff !important;
}