.cal-square
{
    border:solid 8px ; 
	display: inline-block;
}
.red-square
{
	border:solid 8px rgba(255,0,0,9) !important;
}
.green-square
{
	border:solid 8px rgba(0,255,0,.5) !important;
}
.blue-square
{
	border:solid 8px rgba(0,0,255,.9) !important;
}
.orange-square
{
	border: solid 8px rgba(255, 182, 0, .8) !important;
}
.purple-square
{
	border: solid 8px rgba(255, 0, 255, .8) !important;
}