.widget{
	background: rgba(255,255,255,.3);
	margin: 3px;
}

a section:hover{
	text-decoration: none !important; 
}

.error-search{
	color: #dd3035;
    font-size: 11px;
}

.input-doctor-select{
	padding: 5px;
}

.patient-list{
	list-style: outside none none;
    padding: 0;
}

.patient-list li.result-list:hover{
	background: none repeat scroll 0 0 rgba(51, 51, 51, 0.25);
}

.patient-list li{
    box-sizing: content-box;
    cursor: pointer;
    /* height: 50px; */
    /* margin: 0 -12px; */
    padding: 12px;
    transition: background-color 0.2s ease-out 0s;
    clear:both;
    overflow:hidden;
}

.patient-list li.search-result-count{
	color: #999;
    font-size: 11px;
    padding: 0 12px 5px;
}

/*
.patient-list li.with-border{
	border-top: 1px solid rgba(51, 51, 51, 0.25);
}

.patient-list li:last-child{
	border-bottom: 1px solid rgba(51, 51, 51, 0.25);
} */

.patient-list li a{
	text-decoration:none;
}

.patient-list img{
	float: left;
    height: 100px;
    width: 100px;
}

.patient-info{
	 margin-left: 125px;
}

.patient-info .birthdate,
.patient-info .gender,
.patient-info .bloodtype{
	font-size: 11px;
	color: #000;
	/* line-height: 16px; */
}

.patient-info .name{
	font-size: 13px !important;
	/* line-height: 16px; */
}

.patient-info .email{
	color: #999;
    font-size: 11.05px;
	/* line-height: 16px; */
}