/** media queries custom classes **/

@media (max-width:767px){
   label{
	   text-align:left;
   }	
   #agreeTermsLabel,
   .contactNumbers{
	   width:auto;
   }
   #introNambal form{
	   padding:0 15px;
   }	
   .signin-native{
		padding-left:0 !important;
		border-left:none !important;   
   }
   .signin-social{
		padding-left:0!important;   
   }
   #card-content div{
		font-size:100%   
   }
   #card-content .card-top .qr-code{
	 	padding-top:0;  
   }
   #card-information{
	   padding-top:20px;
   }
}