@charset "utf-8";
/* Author: Nambal.com */


/* embed fonts */
@font-face {
    font-family: 'open_sanslight';
    src: url('../../public/fonts/OpenSans-Light-webfont.eot');
    src: url('../../public/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../public/fonts/OpenSans-Regular-webfont.eot');
    src: url('../../public/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../public/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../../public/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {	
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#204e69;	
	font-family:"open_sanslight";
}

body.doctor-dashboard {
	background-image:url(../../public/img/doctorsdashboard-overallbg.jpg);
	background-repeat:no-repeat;
	background-position:center 85px;
	width:100%;
	background-size:100%;
	top:0;
	left:0;
	background-attachment:fixed;
}

/* start - global css */
.clear {
	clear:both;
}

a {
	color:#3db5e6;
}

a:hover {
	color:#026f9c;
	text-decoration:underline;
}

.content {
	padding-top:57px;
}

.logo {
	z-index:99999;
	top:0;
	left:37px;
}

.colorline {
	background-image:url(../../public/img/colorline.jpg);
	background-repeat:repeat-x;
	background-position:center top;
	min-height:3px;
	position:fixed;
	display:block;
	width:100%;
	z-index:9;
}
.widget-tabs .body {
	background-color:#f9faf9;
	border-left:1px  solid rgba(0,0,0);
	border-left:1px solid rgba(0,0,0,.1);
	border-right:1px  solid rgba(0,0,0);
	border-right:1px solid rgba(0,0,0,.1);
	border-bottom:1px  solid rgba(0,0,0);
	border-bottom:1px solid rgba(0,0,0,.1);
	padding:10px 10px;
}
.widget-tabs .body div.body {
	background: rgba(33,130,201,0.1);
	border:none;
}
#accounts-search, #current-information-details-patients, #current-information-details-staffs {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#204e69;
}
i.fa-female {
	color:#ff9de7;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#204e69;	
	font-family:"open_sanslight";
}
/* end - global css */

/* start - header css */

.page-header {
}

.navbar {
	width:100%;
	background-color:transparent;
	background-image:url(../../public/img/doctorsdashboard-headerbg.png);
	background-repeat:repeat-x;
}

.page-header .navbar {
	margin-top:3px;
	min-height:85px;
}

.breadcrumb {
	padding:62px 15px 16px 0px;
	margin-bottom:0;
}

.breadcrumbwidget .breadcrumb {
	font-size:11px;
	position:fixed;
	z-index:999999;
	color:#7eacbf;
}

.breadcrumbwidget .breadcrumb li a {
	color:#7eacbf;
	font-family:"open_sansregular";
}

.breadcrumbwidget .breadcrumb li.active a {
	color:#006f9c;
}

.breadcrumb>li+li:before {
	color:#7eacbf;
	content: ">\00a0";
}

.page-header .navbar-nav {
	margin-right:15px;
}

.page-header .nav>li>a {
	width:auto;
	color:rgba(0,79,111,.20);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}

.page-header .nav>li:not(.active)>a:hover {
	color:rgba(0,79,111,.70);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .1);
}

.hidden-xs {
	margin-left:20px;
}

.page-header .nav>li>a span.text {
	color:#7eacbf;
	font-size:13px;	
	margin-left:7px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.page-header .nav>li>a span.text span.white {
	color:#004f6f;
	font-family:"open_sansregular";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.page-header .navbar-nav {
	padding: 5px 0 0 0;
	height:53px;
}

.page-header .nav>li .count {
	background: rgba(240,42,50,.7);
	color: #ffffff;
	bottom: 20px;
	right: -6px;
}

.fa-globe {
	margin-left: 15px;
}

.label-medpro {
	background-color: #CC3;
}

.navbar .nav>li>.support>li>a {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

/* search input box (header) */
.page-header .navbar-form {
	margin:0 35px 0 0;
	position:absolute;
	right:0;
	bottom:0;
	height:28px;
}

.page-header .search-query {
	background: url(../img/search-white.png) 5px 5px no-repeat rgba(244,244,244,.60);
	width:260px;
	padding:0px 0px 4px 26px;
	color:#7eacbf;
}


/* end - header css */


/* start - main navigation css */

/* end - main navigation css */

/* start - content css */
h2.page-title {
	color:#004f6f;
	font-family:"open_sansregular";
}

h3.page-title {
	color:#006f9c;
	font-family:"open_sanslight";
	font-size:19px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
	margin-bottom:8px;
}

.widget-tabs .nav>li:not(.active)>a {
	background: rgba(51,51,51,0.1);
	border-bottom: none;
	color:#006f9c;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

.widget-tabs .nav>li:not(.active)>a:hover {
	background: rgba(51,51,51,0.2);
}

.widget-tabs .nav>li.active>a:hover {
	color: #003b53;
}

.widget-tabs .nav>li.active>a {
	background-color:#f9faf9;
	color:#006f9c;
	font-family:"open_sanssemibold";
	border-left:1px  solid rgba(0,0,0);
	border-left:1px solid rgba(0,0,0,.1);
}

/* calendar */
.fc-state-default .fc-button-inner {
	/*border-style: solid;*/
	border:none;
	border-radius: 16px;
	background: rgba(0,79,111,0.1);
	height:30px;
	width:30px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	/*border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
	border-width: 1px;*/
	color: #fff;
}

.fc-header-title h2 {
	color:#004f6f;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.fc-widget-header, .fc-widget-content {
	border:1px solid rgba(0, 25, 67);
	border:1px solid rgba(0, 25, 67, .25);
}

#calendar .fc-content {
	color:#014e6d;
}

#calendar .fc-event-skin {
	background-color: #00c3fb;
	color: #204e69;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .3);
	font-size:11px;
	font-family:"open_sanslight";
}

#calendar .fc-state-highlight {
	background: rgba(33,130,201,0.12);
}

#calendar .fc-widget-header {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .10);
	font-family:"open_sanssemibold";
}

.widget #schedule-calendar .actions {
	top: 31px;
	margin-right:15px;
}

/* Accounts Receivable */

.table .table {
	background:none;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
	background-color: rgba(0,25,67,0.08);
}

#accounts-receivable #table-dynamic {
	background:none;
}

#accounts-receivable {
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .30);
	color:#204e69;
}

.table-editable th a {
	text-decoration: none;
	color:#7eacbf;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

/* Appointment - Table Format */
#schedule-table {
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .30);
	color:#204e69;
	font-weight:normal;
}

table.dataTable {
	background:none;	
}

table.dataTable thead th {
	color:#7eacbf;
	font-weight:normal;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .30);
	text-decoration:none;
}

.dataTables_filter {
	float:right;
}


/* end - content css */

/* start - right sidebar css */
#sidebar {
	margin-top:112px;
}

.sidebar {
	background-color:#f9faf9;
	/*border:1px  solid rgba(0,0,0);
	border:1px solid rgba(0,0,0,.1);*/
	color:#2182c9;
	font-family:"open_sanssemibold";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.side-nav li {
	line-height:28px;
}

.side-nav li a {
	color:#2182c9;
	font-family:"open_sanssemibold";
	font-size:11px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .12);
}

.side-nav li a:hover, .side-nav li a:focus {
	background: rgba(33,130,201,0.15);
}

.side-nav>li.active>a {
	color:#ffffff;
	font-family:"open_sanssemibold";
	font-size:11px;
	border-left: 4px solid #dd3035;
	background-color:#2182c9;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	line-height:28px;
}

ul#doctor-options li a:hover {
	background: rgba(33,130,201,0.05);
}

.side-nav li i[class*=fa] {
	line-height: 28px;
}

.side-nav {
	margin-top: -10px;
}

/* Personal Information */
.information-details {
	padding:33px 0 33px 0;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.information-details h3 {
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.information-details .fa-male {
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color: #204e69;
}

.information-details .fa-female {
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#ff9de7;
}

.information-details span {
	color: #929292;
	font-size:11.05px;
}

.information-details .btn-default {
	font-family:"open_sanslight";
	font-size:11px;
	color: #204e69;
	background-color: rgba(33,130,201,0.15);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .50);
	border-color:#cfcfcf;
}

.information-details .img-circle {
	border:5px  solid rgba(0,11,42);
	border:5px solid rgba(0,11,42,.35);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

address {
	margin-left:10px;	
	font-size:12px;
}

div.address {
	width:100%;
}

div.address .info-details-label {
	width:95px;
	text-align:right;
	float:left;
}

div.address .info-details-labelanswer {
	float:left;
	margin-left:4px;
}

/* start of 'scheduled appointments reminder - css' */
.scheduled-appointments-reminder, .information-details {
	color:#204e69;
	font-size:11px;
	font-family:"open_sanslight";
	line-height:18px;
	position:relative;
}

.event {
	margin-bottom:44px;
}

.scheduled-appointments-reminder .date {
	font-size:13px;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
}

.scheduled-appointments-reminder .date span {
	font-size:48px;	
	display:block;
	margin:12px 0 12px 0;
}

.calendar-link {
	float:left;
}

.calendar-link a {
	font-size:11px;
	color:#204e69;
}

.calendar-link a:hover {
	text-decoration:none;
	color:#83bdde;
}

.scheduled-appointments-reminder button {
	font-size:10px;
	color:#d6e4ec;
}


/* end of 'scheduled appointments reminder - css' */

/* current information details - activities */
#current-information-details-activities, .list-group a {
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#204e69;
}

.news-list li, .users-list li {
/* -webkit-box-sizing: content-box; */
	height:auto;
	cursor:default;
}

.news-list li:hover, .users-list li:hover {
	background: rgba(33,130,201,0.10);
}

.news-list li:hover .name span, .users-list li:hover .name span {
	color:#929292;
}

.news-list li:first-child, .users-list li:first-child {
/* -webkit-box-sizing: content-box; */
	border-top: none;
	margin-top:-10px;
}

.news-list li:last-child, .users-list li:last-child {
	margin-bottom: 8px;
	border-bottom: 1px solid rgba(51,51,51,0.25);
}

.news-list .name a, .users-list .name a, .information-details h3 {
	text-decoration: none;
	color:#3db5e6;
}

.news-list .name a.btn, .users-list .name a.btn {
	text-decoration: none;
	color:#ffffff;
}

.news-list .name a.btn:hover, .users-list .name a.btn:hover {
	text-decoration:none;
	color:#e8e8e8;
}

.news-list .name a:hover, .users-list .name a:hover {
	color: #026f9c;
	text-decoration:underline;
}

.news-list .name span, .users-list .name span {
	text-transform:capitalize;
	font-size: 11.05px;
	color: #b9b9b9;
}

.news-list .age {
	color:#204e69;
	font-size:10px;
}

.news-list .time {
	color:#204e69;
	font-size:11px;
	margin-bottom:3px;
}

.news-list .latest-activity, .users-list .latest-activity {
	font-size: 12px;
	color: #204e69;
}

.news-list .membership, .users-list .membership {
	font-size: 12px;
	color: #204e69;
}

.news-list .warning, .users-list .warning {
	color: #c1262c;
}

.widget .body>.list-group .list-group-item:first-child {
	/*border-top: 1px solid rgba(51,51,51,0.07);*/
	border-top:none;
	margin-top:-12px;
}

/* start of 'my recent activities - css' */
.my-recent-activities {
	color:#204e69;
	font-size:13px;
	font-family:"open_sanslight";
	line-height:18px;
	position:relative;
}

.ind-act {
	line-height:15px;
	margin-bottom:8px;
	font-family:"open_sansregular";
}

.activity {
	margin-bottom:44px;
}

span.nine {
	font-size:9px;
	color:#a7a7a7;
	font-family:"open_sanslight";
}

.my-recent-activities .date {
	font-size:10px;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
}

.date span.month {
	font-size:13px;
}

.date span.num {
	font-size:48px;	
	display:block;
	margin:10px 0 12px 0;
}

.my-recent-activities button {
	font-size:10px;
	color:#d6e4ec;
}

.doctors-overview {
	color:#204e69;
	font-size:13px;
	font-family:"open_sanslight";
	line-height:16px;
}

.overall-stats li:first-child {
	margin-top: 0px;
}

.overall-stats li {
	margin-top: 12px;
}
/* end of 'my recent activities - css' */

/* start of 'under development modal - css' */
.modal {
	color:#878787;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	z-index: 999999;
}

.modal h3 {
	color:#c1262c;
	font-size:24px;
	font-family:"open_sansregular";
}

.modal h3 span {
	color:#0b5d7c;
	font-family:"open_sansregular";
}

.modal-content {
	border:1px solid #dedede;
}

.modal-header {
	border-bottom:none;
	background-color:#f6f6f6;
	padding:15px 30px 15px 30px;
	border-bottom:1px solid #ededed;
}

.modal-header h3 {
	padding:0;
	margin:0;
}

.modal-body {
	background-image:url(../img/modal-bg.jpg);
	background-repeat:repeat-x;
	padding:30px;
	background-color:#e6e6e6;
	border-top:1px solid #fefefe;
	border-bottom:1px solid #ededed;
}

.modal-body p {
	margin: 0 0 0 0;
	/*padding-bottom: 30px;*/
}

.modal-footer {
	background-color:#f5f5f5;
	border-top:1px solid #d7d7d7;
	margin-top:0px;
}

.modal-body .panel {
	background-color:#e0e1e2;
	width:49%;
}

.modal-body h3 {
	font-size:16px;
	color:#0b5d7c;
	font-family:"open_sansregular";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	padding:0;
	margin:0;
}
/* end of 'under development modal - css' */

/* end - right sidebar css */

/* jumbotron */
.jumbotron h1 {
	font-size:30px;
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#2182c9;
	margin-bottom:10px;
}

.container .jumbotron { 
	padding-left:0;
	padding-right:0;
	padding-top:30px;
	padding-bottom:30px;
}

.jumbotron h1 .emphasize {
	font-family:"open_sansregular";
	font-size:50px;
}

.jumbotron p {
	line-height:18px;
}

.jumbotron .btn {
	margin-top:20px;
}

.unlead {
	margin-top:40px;
}

#carousel-example-generic {
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
	color:#204e69;
}

.carousel-control {
	color:#204e69;
}

.lead {
	font-size: 16px;
}

small {
	font-size:65%;
	color:#a7a7a7;
}

/* connect with my medical professionals */
#find-my-doc, #pharmacy-store, #laboratory-procedure {
	color:#204e69;
	font-size:11px;
	font-family:"open_sanslight";
	line-height:18px;
}

#find-my-doc .select2-container-multi .select2-choices .select2-search-field input {
	padding:0 5px 0 5px;
}

#find-my-doc .select2-container-multi .select2-choices {
	min-height: 18px;
	width:227px;
	height:18px;
}

#find-my-doc .select-block-level {
	width: 227px;
}

#find-my-doc input[type="text"] {
	margin-top:2px;
	min-height:18px;
}

#find-my-doc .select2-container .select2-choice {
	height:22px;
	line-height:18px;
	border:1px solid #a9aaaa;
	margin-top:1px;
	margin-bottom:4px;	
}

#pharmacy-store select[name="country"], #pharmacy-store select[name="province"] {
	width:227px;
	height:22px;
	color:#cecece;
}

#find-my-doc label {
	text-align:right;
	width:90px;
	margin-bottom:8px;
}

#find-my-doc a i, #pharmacy-store a i, #laboratory-procedure a i {
	color:#cecece;
}

.detect {
	margin-left:92px;
	margin-bottom:20px;
}

.sbmt-btn {
	margin-right:28px;
}

#pharmacy-store input[type="text"], #laboratory-procedure input[type="text"] {
	min-height: 22px;
	margin-top:2px;
	height:22px;
	width:227px;
	border:1px solid #a9aaaa;
	color:#cecece;
}

#pharmacy-store label {
	text-align:right;
	width:93px;
	margin-bottom:8px;
}

#laboratory-procedure input[type="text"], #laboratory-procedure select[name="country"], #laboratory-procedure select[name="province"] {
	width:218px;
	height:22px;
	color:#cecece;
}

#laboratory-procedure label {
	text-align:right;
	width:108px;
	margin-bottom:8px;
}

.message-datetime{
	font-size: 11px;
}

.widget-transparent{
	background-color: rgba(255,255,255, .3);
}

.modal-dialog {
	width: 90%;
}

.input-doctor-textarea{
	background-color: rgba(255,255,255, .5);
	padding: 20px;
}

.input-doctor-textarea  textarea{
	height: 200px;
}