body{
	background: url(../img/world_map.png) no-repeat center top fixed;
	display: block;
	background-color:#EEE !important;
}

#bodyHeader{
	background-image: url(../img/background.png);
	background-repeat: repeat-x;
	min-height: 600px;

}

#bodyHeaderInside {
	top: 86px;
	/*width: 960px;*/
	height: 273px;
	position: relative;
	background: url(../img/center_tilt.png) no-repeat center top;
	z-index: 2px;
}

#bodyContainer-white
{
	width: 70%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	background: rgba(255,255,255,.5);
}


#logo {
	/*text-indent: -3000px;
	position: absolute;
	top: 10px;
	left: 330px;
	background: url(../img/logo.png) no-repeat 0 0;
	display: block;
	width: 379px;
	height: 111px;*/
	margin: 20px auto;
}

.div-center{
	text-align: center;
}

.slogan {
	/*position: absolute;
	top: 190px;*/
	font-size: 27px;
	font-family: 'Dancing Script', cursive;
	/*width: 960px;*/
	color: #373737;
	text-align: center;
	line-height: 17px;
	font-weight: bold;
	margin: 43px auto;
	position: inherit;
}

.left_tilt {
	background: url(../img/left_tilt.png) no-repeat 0 0;
	position: absolute;
	height: 359px;
	width: 740px;
	top: -86px;
	left: -130px;
}

.clear{ clear:both; }

#signupInfo .btn, #videoNambal .btn, #helpNambal .btn, #doctorNambal .btn{
	font-size: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#signupInfo{
	margin-top: -240px;
}

#signupInfo span.fortypx, #introNambal span.fortypx, #helpNambal span.fortypx,  #doctorNambal span.fortypx{
	font-size: 12px;	
	color: #222;
	text-indent: 10px;
}

#signupInfo span.fortypx1, #introNambal span.fortypx1, #helpNambal span.fortypx1, #doctorNambal span.fortypx1{
	font-size:20px;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

#socialButtons{
	margin-top: 140px;
	background-color: #f5f5f5;
	border-top: 2px solid white;
	border-bottom: 1px solid #CCC;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}


#introNambal,#helpNambal,#doctorNambal{
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 50px;
	font-family: 'Maven Pro', sans-serif;
	color: black;
	text-align: center;
}	

#introNambal .title, #helpNambal span, #doctorNambal span{
	font-size: 46px;
	text-align: center;
	line-height: 1em;
}

#introNambal .subtitle, #helpNambal .subtitle, #doctorNambal .subtitle{
	color: #666;
	font-size: 17px;
	letter-spacing: 1px;
}

#videoNambal{
	margin: auto;
	margin-bottom: 5px;
}

#videoNambal span.vSpan1{
	color: #222;
	font-size: 17px;
	letter-spacing: 1px;
}

#videoNambal span.vSpan2{
	color: #CCC;
	font-size: 17px;
	letter-spacing: 1px;
}

#helpNambal .cursive, #helpNambal .knot, #doctorNambal .cursive, #doctorNambal .knot{
	font-family: 'Dancing Script', cursive;
	text-align: right;
	color: #004CCC;	
	margin: auto;
}

#helpNambal .cursive,#doctorNambal .cursive{
	width: 815px;
	font-size: 46px;
}

#helpNambal .knot, #doctorNambal .knot{
	width: 605px;
	font-size: 75px;
	line-height: 0.5em;
	margin-bottom: -20px;
}

#helpNambal, #doctorNambal{
	border-top: 1px solid #CCC;
}

#helpNambal .illustrations div, #doctorNambal .illustrations div{
	display: inline-block;
	margin: auto;
	margin-right: 10px;
	margin-left: 10px;
}

#helpNambal .illustrations div div,#doctorNambal .illustrations div div{
	display: block;
	font-family: 'Dancing Script', cursive;
}

#helpNambal .firstTitle, #doctorNambal .firstTitle{
	font-size: 30px;
	display: inline;
	font-weight: bold;
}

#helpNambal .secondTitle, #doctorNambal .secondTitle{
	color: #666;
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	font-size: 22px;
}

#helpNambal .cntent, #doctorNambal .cntent{
	font-size: 14px;
	color: #666;
	font-family: 'Maven Pro', sans-serif;
	width: 330px;
	text-align: center;
	display: block;
	margin: auto;
}

#helpNambal .illustrations div div a, #doctorNambal .illustrations div div a{
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	font-family: 'Maven Pro', sans-serif;
}

#helpNambal .btn, #doctorNambal .btn{ margin-bottom: 10px; }

#doctorNambal #firstPara{
	text-align: justify;
	margin-right: 100px;
	margin-left: 100px;
}

#doctorNambal .links{
	color: black;
	font-size: 14px;
	text-decoration: underline;
}

#theFooter{
	border-top: 1px solid #ECECEC;
	background-color: whitesmoke;
	font-family: 'Maven Pro', sans-serif;
	padding-bottom: 30px;
}

/* #theFooter .cpryt{
	margin-left: 23px;
} */

#navFooter{
	margin-top: 30px;
}

#navFooter ul li{
	margin-right: 30px;
	list-style: none;
	display: inline-block;
}

#navFooter ul li a{
	color: #222;
}

#theFooter #scbFooter{
	text-align: center;
	margin-top: 80px;
}
.dancing-font-small
{
	font-family: 'Dancing Script', cursive;
	font-size: 13px;
	color: #004CCC;
}
.dancing-font-medium
{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
	color: #004CCC;
}

.formtab
{
	margin-left: auto;
	margin-right: auto;
}

.form-small
{
	width: 500px;
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}

.a-s, .a-s1, .a-e, .a-e1, .emer-s, .emer-e, .social-info {
	display: none;
}

#inputCountryCode, #inputAreaCode{
	width: 50px;
}

#inputContactNumber {
	width: 132px;
}

.social-logos {
	margin-top: 20px;
}

