#wellness input{
	margin-top:-5px;
}

#chartplace2{
	height:400px;
}
#addbuttonstyle{
	float:right;
	margin-right: 3px;
	margin-top:2px;
}

#chartplace{
	height:800px;
	width:97.0414%;
}

.tabs-2-bottom{
	border-top:1px solid #ddd; 
}

.tabs-2-bottom ul{
	margin-left:-10px;
	list-style:none;
}

.tabs-2-bottom ul > li{
	float:left;
}

#wellness-bottom-btn{
	margin-bottom:10px;
}

#tooltip{
	z-index:2000;
}

#active-report{
	position:relative;
	width:100px;
	float:left;
	margin-top:-38px;
	left:78px;
}

#doc, #doc-p{
	background-image:url('../img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-position:-100px -50px;
	background-repeat:no-repeat;
}

#pharmacy, #pharmacy-p{
	background-image:url('../img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-position:-150px -50px;
	background-repeat:no-repeat;
}

#laboratory, #laboratory-p{
	background-image:url('../img/icon-sprites.jpg');
	width:50px;
	height:50px;
	background-position:-200px -50px;
	background-repeat:no-repeat;
}

#doctor, #pharma, #lab{
	position:relative; 
	margin-left: 60px; 
	top: -35px;
}

#look-for-doc, #look-for-doc-p{
	background-image:url('../img/zoom.png'); 
	width:16px; 
	height:16px;
}

#add-plugin, #add-plugin-p{
	background-image:url('../img/layout_add.png'); 
	width:16px; 
	height:16px;
}

#look-for-doc-p, #add-plugin-p{
	float:left;
}