@media (min-width: 300px) and (max-width: 320px)
{
	#congratulations {
		text-align: center;
		padding: 0px 5%;
		margin-left: 0%;
	}

	#card-content div {
		font-size: 100%;
		line-height: 166%;
	}
	
	#card-content .card-top .qr-code {
		text-align: center; 
		padding: 0;
	}
	
	#card-information {
		padding: 5% 0% 14% 3%;
	}
}

@media (min-width: 321px) and (max-width: 360px)
{
	#congratulations {
		text-align: center;
		padding: 0px 5%;
	}

	#card-content div {
		font-size: 100%;
		line-height: 166%;
		margin-left: 0%;
	}
	
	#card-content .card-top .qr-code {
		text-align: center; 
		padding: 0;
	}
	
	#card-information {
		padding: 5% 0% 15% 3%;
	}
}

@media (min-width: 361px) and (max-width: 768px)
{
	#card-content div {
		font-size: 100%;
		line-height: 106%;
	}
	#card-information {
		padding: 20px 0% 7% 0%;
	}
}

@media (min-width: 769px) and (max-width: 800px)
{
	#card-content div {
		font-size: 100%;
		line-height: 105%;
	}
	
	#card-information {
		padding: 23% 0% 9% 3%;
	}
}


@media (min-width: 801px) and (max-width: 980px)
{
	#card-content div {
		/* line-height: 78%;
		font-size: 77%; */
		line-height: 106%;
		font-size: 100%;
	}
	
	#card-information {
		padding: 23% 0% 9% 3%;
	}
}

@media (min-width: 981px) and (max-width: 1280px)
{
	#card-content div {/* 
		line-height: 10px;
		font-size: 83%; */
		font-size: 100%;
		line-height: 111%;
	}
	
	#card-information {
		padding: 23% 0% 12% 3%;
	}
}

/* @media (min-width: 1281px) and (max-width: 1583px)
{ */
	/* #card-content div { */
		/* font-size: 104%;
		line-height: 101%; */
		/* font-size: 94%;
		line-height: 101%; */
/* 		font-size: 90%;
		line-height: 115%;
	}

	#card-information {
		padding: 23% 0% 8% 3%;
	}
} */

@media (min-width: 1281px) and (max-width: 1920px)
{
	#card-content div {
		/* font-size: 104%;
		line-height: 101%; */
		/* font-size: 94%;
		line-height: 101%; */
		font-size: 100%;
		line-height: 116%;
	}

	#card-information {
		padding: 23% 0% 15% 3%;
	}

}