@charset "utf-8";
/* Author: Nambal.com
*/

/* embed fonts */
@font-face {
    font-family: 'open_sanslight';
    src: url('../../public/fonts/OpenSans-Light-webfont.eot');
    src: url('../../public/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../../public/fonts/OpenSans-Regular-webfont.eot');
    src: url('../../public/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../../public/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../../public/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../../public/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../../public/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* global */
.reset {
	padding:0;
}

/* fonts */
h3.page-title {
	font-weight:normal;
	font-family:"open_sanslight";
	font-size:15px;
	color:#afdefa;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	margin:11px 0 7px;
}

h4 {
	font-size:13px;
	font-family:"open_sansregular";
	padding:0;
	margin:0 0 8px 0;
}


body {	
	font-family:"open_sanslight";
	font-size:13px;
	color:#dfdfdf;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

body.patient-dashboard {
	background-image:url(../../public/img/patientsdashboard-overallbg.jpg);
	background-repeat:repeat;
	background-position:center top;
	width:100%;
	background-attachment:fixed;
}

.colorful-line {
	background-image:url(../../public/img/header-bg.jpg);
	background-repeat:repeat;
	background-position:center top;
	height:3px;	
	width:100%;
	margin:0 auto;
	position:fixed;
}

.logo {
	padding:0;
	margin:2px 0 0 0;
	top:0; 
	left:23px;
	z-index:2;
}

.logo h4 {
	padding:0;
	margin:0;
}

.navbar {
	width:100% !important;
	background-image:url(../../public/img/header-bg.jpg);
	background-repeat:repeat;
	background-position:center top;
	/*background-repeat:repeat-x;
	background-color:transparent;
	height:83px;
	margin:3px 0 0 0;*/
	height:86px;
	margin:0;
	z-index:1;
	padding-right:0px;
}

.warning-color {
	color:red;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* side navigation */
.side-nav>li.active>a {
	color:#81cfff;
	font-family:"open_sanssemibold";
	font-size:11px;
	border-left: 4px solid #7b3b50;
}

#sidebar {
	margin-top: 110px !important;
	color:#dadada;
	font-family:"open_sanslight";
	font-size:11px;
}
/* end of side navigation */

/* start of sidebar dashboard options */
#dashboard-options {
	margin-top: 410px;
	position:fixed;
}
.dashboard-options {
	background: rgba(0,25,67,.17);
	position:absolute;
	width:160px;
	padding:10px 0;
	top:0;
	z-index:1;
	margin:80px 0 0 25px;
	border-radius:1px;
}
/* end of sidebar dashboard options */

/* start of the search form found on the header */
form #id-search-form {
	margin-top:0px;
}
/* end of the search form found on the header */

.breadcrumb {
	/*padding:60px 15px 16px 0px;*/
	padding:20px 15px 16px 0px;
	margin-bottom:0;
}

.breadcrumbwidget .breadcrumb {
	font-size:11px;
	color:#c6c6c6;
	position:fixed;
	z-index:2;
}

.breadcrumbwidget .breadcrumb li a {
	color:#dfdfdf;
}

.breadcrumbwidget .breadcrumb li.active a {
	color:#ffffff;
}

.breadcrumb>li+li:before {
	content: ">\00a0";
}

.page-header .navbar-nav {
	margin-right:15px;
}

.page-header .nav>li>a {
	width:auto;
	color:rgba(255,255,255,.3)
}

.hidden-xs {
	/*margin-left:20px;*/
}

.page-header .nav>li>a span.text {
	color:#d6d6d6;
	font-size:13px;	
	margin-left:7px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.page-header .nav>li>a span.text span.white {
	color:#ffffff;
	font-family:"open_sansregular";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.page-header .navbar-nav {
	padding: 7px 0 0 0;
	height:53px;
}

.content {
	padding: 0px 2.5641%;
}

.pagetitle {
	/*padding:94px 0 0 0;*/
	padding:53px 0 0 0;
}

.pagetitle h1 {
	font-family:"open_sansregular";
	font-weight:30px;
}

.fa-globe {
	margin-left:15px;
}

.img-circle {
	border:5px  solid rgba(0,11,42);
	border:5px solid rgba(0,11,42,.15);
	-webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/*.widget, */.sidebar, .widget-tabs .body, .widget .body {
	background:rgba(0,25,67,.17);
	margin-top:0px;
}
.widget {
	background:none;
	padding: 0px 0px 0px 0px;
	margin-bottom: 30px;
}


.nowidget {
	background:none;
	margin-bottom:30px;
}

.widget-tabs .nav>li.active>a {
	font-family:"open_sanssemibold";
	background:rgba(0,25,67,.17);
}

.widget-tabs .nav>li:not(.active)>a {
	font-family:"open_sanslight";
	background:rgba(0,25,67,.17);
	color:#dfdfdf;
}

.widget-tabs .nav>li:not(.active):hover>a {
	font-family:"open_sanslight";
	background:rgba(0,25,67,.34);
}
.widget:not(.widget-tabs) .tab-content {
	background:rgba(0,25,67,.17);
}
/* accordion */
.panel {
	border: none;
	background:rgba(0,25,67,.17);
}

/* search input box (header) */
.page-header .navbar-form {
	margin:0 35px 0 0;
	position:absolute;
	right:0;
	bottom:0;
	height:28px;
}

.page-header .search-query {
	background: url(../img/search-white.png) 5px 5px no-repeat rgba(0,25,67,.17);
	width:260px;
	padding:4px 0px 4px 26px;
}

/* header notifications */
.page-header .nav>li .count {
	background:rgba(240,42,50,.7);
	color:#ffffff;
	bottom:20px;
	right:-6px;
}

/* alert information */
.alert-info {
	background:rgba(0,25,67,.18);
	border:2px  solid rgba(77,66,69);
	border:2px solid rgba(77,66,69,.5);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.alert-success
{
	background:rgba(0,255,0,.10);
	border:2px  solid rgba(77,66,69);
	border:2px solid rgba(77,66,69,.5);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.alert-error
{
	background:rgba(255,0,0,.18);
	border:2px  solid rgba(77,66,69);
	border:2px solid rgba(77,66,69,.5);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.logopanel {
	background:none;
	border-right:none;
	height:81px;
}

.logopanel h1 {
	padding:0;
}

/* buttons */
.btn-info {
	background:rgba(0,25,67,.17);
	border:none;
	font-size:11px;
	color:#cecece;
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-primary {
	color:#ffffff;
	font-size:13px;
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background-color:#016bb0;
	height:26px;
	line-height: 1;
}

.btn-add-specific-person {
	color:#cecece;
	font-size:11px;
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background:rgba(0,0,0,0.15);
	height:22px;
	line-height: 1;
}

.btn-save-changes {
	color:#cecece;
	font-size:11px;
	font-family:"open_sanslight";
	background:rgba(0,0,0,0.15);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	height:22px;
	line-height: 1;
}

.btn-group .btn {
background:rgba(0,0,0,0.15);
}

/* global */
a {
	color:#29bbf6;
}

.white-links {
	margin-top:5px;
	margin-right:2px;
	color:#ffffff;
	font-size:11px;
	font-family:"open_sanslight";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

a.white-links:hover  {
	margin-top:5px;
	margin-right:2px;
	color:#afdefa;
	font-size:11px;
	font-family:"open_sanslight";
	text-decoration:none;
}

.margin-top-two {
	margin-top:4px;
}

.margin-top-five {
	margin-top:5px;
}

.margin-bottom-seven {
	margin-bottom:7px;
}

.no-bottom {
	margin-bottom:0;
}

th {
	font-family:"open_sanssemibold";
	color:#dfdfdf !important;
}

.table-title
{
	width: 15%;
}

.clear {
	clear:both;
}

.information-details {
	/*margin-top:33px;
	margin-bottom:33px;*/
	padding:33px 15px 33px;
}
.information-details .fa-male {
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	color: #204e69;
}
.information-details .fa-female {
	font-size:18px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	color:#ff9de7;
}
.information-details span {
	color: #cecece;
	font-size:11.05px;
}
address {
	/*margin-left:30px;*/
}
address .info-details-label {
	text-align:right;
	font-weight:bold;
	padding:0;
}
address .info-details-labelanswer {
	/*float:left;*/
	margin-left:8px;
	text-align:left;
	padding:0;
}
.left {
	float:left;
}
.right {
	float:right;
}
/* start of 'dashboard - css */
.support {
    background: none repeat scroll 0% 0% rgba(51, 51, 51, .95);
}
.label-important {
	background-color: #b9424f;
}
.label-medpro {
	background-color:#CC3;
}
.account-picture {
text-transform: capitalize;
}
/* end of 'dashboard - css */

/* start of 'my wellness calendar - css' */
.my-wellness-calendar {
	color:#dfdfdf;
	font-size:11px;
	font-family:"open_sanslight";
	line-height:18px;
	position:relative;
}
.event {
	margin-bottom:44px;
}
.my-wellness-calendar .date {
	font-size:13px;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
}

.my-wellness-calendar .date span {
	font-size:48px;	
	display:block;
	margin:12px 0 12px 0;
}
.calendar-link {
	float:left;
}
.calendar-link a {
	font-size:11px;
	color:#cecece;
}
.calendar-link a:hover {
	text-decoration:none;
	color:#ffffff;
}
.my-wellness-calendar button {
	font-size:10px;
	color:#cecece;
}
/* end of 'my wellness calendar - css' */

/* start of 'my recent activities - css' */
.my-recent-activities {
	color:#dfdfdf;
	font-size:13px;
	font-family:"open_sanslight";
	line-height:18px;
	position:relative;
}
.ind-act {
	line-height:15px;
	margin-bottom:8px;
}
.activity {
	margin-bottom:44px;
}
span.nine {
	font-size:9px;
	color:#a7a7a7;
}
.my-recent-activities .date {
	font-size:10px;
	position:absolute;
	top:0;
	right:0;
	text-align:right;
}
.date span.month {
	font-size:13px;
}
.date span.num {
	font-size:48px;	
	display:block;
	margin:10px 0 12px 0;
}
.calendar-link {
	float:left;
}
.calendar-link a {
	font-size:11px;
	color:#cecece;
}
.calendar-link a:hover {
	text-decoration:none;
	color:#ffffff;
}
.my-recent-activities button {
	font-size:10px;
	color:#cecece;
}
/* end of 'my recent activities - css' */

/* start of 'connect with my medical professionals - css' */
#find-my-doc select[name="specialty"] {
	margin-top:2px;
}
#find-my-doc select[name="specialty"], #find-my-doc select[name="country"], #find-my-doc select[name="province"], #pharmacy-store select[name="country"], #pharmacy-store select[name="province"] {
	width:227px;
}
#find-my-doc label {
	text-align:right;
	width:90px;
	margin-bottom:8px;
}
#find-my-doc a i, #pharmacy-store a i, #laboratory-procedure a i {
	color:#cecece;
}
.detect {
	margin-left:92px;
	margin-bottom:20px;
}
.sbmt-btn {
	margin-right:28px;
}

#pharmacy-store input[type="text"], #laboratory-procedure input[type="text"] {
	min-height: 22px;
	margin-top:2px;
	height:22px;
	width:227px;
	border:1px solid #a9aaaa;
}
#pharmacy-store label {
	text-align:right;
	width:93px;
	margin-bottom:8px;
}
#laboratory-procedure input[type="text"], #laboratory-procedure select[name="country"], #laboratory-procedure select[name="province"] {
	width:218px;
}
#laboratory-procedure label {
	text-align:right;
	width:108px;
	margin-bottom:8px;
}
#find-my-doc .select2-container-multi .select2-choices .select2-search-field input {
	padding:0 5px 0 5px;
}
#find-my-doc .select2-container-multi .select2-choices {
	min-height: 18px;
	width:227px;
	height:18px;
}
#find-my-doc .select-block-level {
	/*width: 227px;*/
	width:214px;
}
#find-my-doc input[type="text"] {
	margin-top:2px;
	min-height:18px;
}
#find-my-doc .select2-container .select2-choice {
	height:22px;
	line-height:18px;
	border:1px solid #a9aaaa;
	margin-top:1px;
	margin-bottom:4px;	
}

/* container sliders */
.container-sliders
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
/* end of 'connect with my medical professionals - css' */

/* start of 'under development modal - css' */
.modal {
	color:#878787;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.modal-dialog {
	min-width:55%;
}

.modal h3 {
	color:#c1262c;
	font-size:24px;
	font-family:"open_sansregular";
}

.modal h3 span {
	color:#0b5d7c;
	font-family:"open_sansregular";
}
.modal-content {
	border:1px solid #dedede;
}
.modal-header {
	border-bottom:none;
	background-color:#f6f6f6;
	padding:15px 30px 15px 30px;
	border-bottom:1px solid #ededed;
}
.modal-header h3 {
	padding:0;
	margin:0;
}
.modal-body {
	background-image:url(../img/modal-bg.jpg);
	background-repeat:repeat-x;
	padding:30px;
	background-color:#e6e6e6;
	border-top:1px solid #fefefe;
	border-bottom:1px solid #ededed;
}
.modal-body p {
	margin: 0 0 0 0;
	/*padding-bottom: 30px;*/
}
.modal-footer {
	background-color:#f5f5f5;
	border-top:1px solid #d7d7d7;
	margin-top:0px;
}
.modal-body .panel {
	background-color:#e0e1e2;
	width:49%;
}
.modal-body h3 {
	font-size:16px;
	color:#0b5d7c;
	font-family:"open_sansregular";
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
	padding:0;
	margin:0;
}
/* end of 'under development modal - css' */
#take-a-tour
{
	display:block;
	overflow:auto;
}

#take-a-tour h2
{
	padding:0 0 1% 0;
}

#take-a-tour .skip
{
	background:none !important;
	border:none !important;
	color:#17B0D9;
}

#take-a-tour .skip:hover
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
	text-decoration:underline !important;
}
#take-a-tour .update
{
	display:none;
}

#take-a-tour .modal-footer, #take-a-tour .modal-header,
#are-you-a-doctor .modal-footer, #are-you-a-doctor .modal-header
{
	box-shadow:none !important;
	background:none !important;
	border:none !important;
}

#are-you-a-doctor
{
	overflow:hidden;
}

#take-a-tour .embedVideo embed
{
	width:100% !important;
}

#are-you-a-doctor .bodyContent
{
	text-align:center;
}

@media (max-width: 767px)
{
	#take-a-tour .modal-body
	{
		max-height: 500px;
	}
}
/* end of 'connect with my medical professionals - css' */

/* start of the modal forms */
.modal-header .close {
	margin:-8px -20px 0 0;
}

#emergencyModal .modal-body input[type="text"], #emergencyModal .modal-body input[type="email"] {
	min-height: 24px;
	margin-top: 2px;
	height: 24px;
	width: 358px;
	border: 1px solid #cacaca;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #fdfdfd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}

#emergencyModal .modal-body type[placeholder="Fullname of your contact person"] {
	color:#f3f3f3;
}

#emergencyModal .modal-body label {
	width:110px;
	text-align:right;
}

#emergencyModal .modal-body a i, #problemsModal .modal-body a i, #medicationsinfoModal .modal-body a i {
	color: #cecece;
}

#emergencyModal .modal-body #contactNumberss {
	margin-left:118px;
}

#emergencyModal .modal-body #contactNumbers {
	width:100%;
	margin-left: 101px;
}

#emergencyModal .modal-body #contactNumbers .col-md-3 {
	margin-top:-25px;
	margin-bottom:2px;
}

#emergencyModal .modal-body #contactNumbers label {
	text-align:left;
	margin:0;
}

#emergencyModal .modal-body #contactNumbers label[for="countryCode"], #emergencyModal .modal-body #contactNumbers label[for="areaCode"], #emergencyModal .modal-body #contactNumbers label[for="number"] {
	width:80px;
	font-size:10px;
	color:#aeaeae;	
}

#emergencyModal .modal-body #contactNumbers input[name="countryCode"], #emergencyModal .modal-body #contactNumbers input[name="areaCode"], #emergencyModal .modal-body #contactNumbers input[name="number"] {
	width:80px;
}

#problemsModal .modal-body input[type="text"] {
	min-height: 24px;
	margin-top: 2px;
	height: 24px;
	width: 279px;
	border: 1px solid #cacaca;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #fdfdfd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}

#problemsModal .modal-body input[type="radio"] {
	border: 1px solid #cacaca;
	background-color: #fdfdfd;
	margin-left:15px;
}

#problemsModal .modal-body input[type="date"] {
	border: 1px solid #cacaca;
	background-color: #fdfdfd;
	min-height: 24px;
	margin-top: 2px;
	height: 24px;
	padding-left: 6px;
	background-color: #fdfdfd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}

#problemsModal .modal-body label {
	width:210px;
}

#problemsModal .modal-body textarea {
	resize:none;
	width:495px;
	height:120px;
	margin-top:3px;
	border: 1px solid #cacaca;
	background-color: #fdfdfd;
}

#problemsModal .modal-body .miscs {
	font-size:10px;
	color:#aeaeae;
}

#medicationsinfoModal .modal-body input[type="text"] {
	min-height: 24px;
	margin-top: 2px;
	height: 24px;
	width: 279px;
	border: 1px solid #cacaca;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #fdfdfd;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
}

/* end of the modal forms */

/* My Emergency Contact Information */
.warning, .users-list .warning {
	color: #dfdfdf;
	font-size:11px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	font-family:"open_sanslight";
}
.users-list-group img {
	border:none;
}
.img-polaroid {
	width:145px !important;
	height:145px !important;
	border: 2px solid rgba(0,11,42,.19) !important;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
}
.other-emergency-contact-information .panel-group .panel {
	background:none;
}
.other-emergency-contact-information .panel-group .panel+.panel {
	margin-top: 0px;
	border-top: 1px solid rgba(51,51,51,0.25);
	background:none;
}

.profilethumb a
{
	position: absolute;
	z-index: 999 !important;
	top: 0px;
	
}
.profilethumb
{
	width: 140px;
	margin-left: auto;
	margin-right: auto;
}

.img-circle-small
{
	width: 50px !important;
	height: 50px !important;
	margin-right: 5px !important;
}
@media (max-width:1048px){
	.page-header{
		margin-top:0
	}
	.pagetitle{
		padding-top:78px;
	}
	.modal-body{
		max-height:inherit
	}
}
@media (max-width:767px){
	.pagetitle{
		padding-top:50px;	
	}
		
	nav.sidebar{
		background:#177195	
	}
	.breadcrumbwidget {
		position: fixed;
		top: 39px;
		z-index: 1000;
		width: 100%;
	}
}