.preloader
{
	background:#fff;
	position: fixed;
	z-index:9999999; /* grabe pagka z-index ang header logo ug breadcrumbs*/
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.content-container
{
	margin:auto;
	position: relative;
    top: 20%;
}

.image-container
{
	height:25%;
	width:25%;
	margin:auto;
}

.image-container img
{
	height:100%;
	width:100%;

	/*-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);

	-webkit-transition: all 3s cubic-bezier(0.42, 0.0, 1.0, 1.0);
	-moz-transition: all 3s cubic-bezier(0.42, 0.0, 1.0, 1.0);
	-o-transition: all 3s cubic-bezier(0.42, 0.0, 1.0, 1.0);
	transition: all 3s cubic-bezier(0.42, 0.0, 1.0, 1.0);*/
}

.text-container
{
	color: #000;
    font-size: 24px;
    margin: auto;
    text-align: center;
    width: 250px;
    padding: 30px 0;
}