@page  
{ 
    size: auto;   /* auto is the initial value */  
	width: 816px;
	height:1000px;
} 

body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin:0; 
	padding:0;
	width: 816px;
	height:1000px;
	border:1px solid red;
	clear:both;
	overflow:hidden;
} 

base, title, #navbarExample, .title, .formtab, #under-improvement, #signin, #contact-us, a, #congratulations, .embedVideo, .footer-links, .cpryt, #scbFooter
{
	display:none;
}

#card, #bodyHeader
{
	clear:both;
	overflow:hidden;
	padding:0 !important;
	margin:0 !important;
}

.span1, .span2, .span3, .span4, .span5, .span6
{
	margin:0 !important;
	padding:0 !important;
}


img#card-background
{
	/* position:absolute; */
	float:left;
	display:block;
	width:445px;
	/* width:55%; */
	height:615px; 
	/* height:52%;  */
	/* left:0px;  */
	/* left:3%; */
	margin:0 0 0 0;
}

/* img#ruler
{
	position:absolute;
	left:0px;
	width:816px;
	display:block;
	z-index:2;
} */

.qr-code img
{
	width:165px;
	height:165px;
	position:absolute;
	z-index:5;
	/* left:50px; */
	left:70px;
	top:160px;
	/* margin:50px 0 0 -200px; */
}

#card-information
{
	/* float:left; */
	/* padding:0mm 0mm 0mm 0mm; */
	position:absolute;
	z-index:3;
	/* left:30px; */
	left:50px;
	top:300px;
	/* margin:120px 0 0 80px; */
}

#card-information p
{
	line-height:12px !important;
	width:300px !important;
	font-size:9px !important;
	font-family: Arial !important;
}

.fold{
	position:absolute;
	/* float:right; */
	width:15px;
	heith:30px;
	/* z-index:4; */
	/* margin:150px 150px 0 0; */
	left:480px;
	top:280px;
}

#intro-NAMBAL
{
	position:absolute;
	text-align:justify;
	font-size:12px;
	width:250px;
	/* margin:0 150px 0 0 */
	left:480px;
	top:450px;
}

