@media print{
	@page  
	{ 
		size: 8.5in 11in;   /* auto is the initial value */ 

		/* this affects the margin in the printer settings */ 
		margin:0mm;  
	} 

	#navbarExample, .title, .formtab, #under-improvement, #signin, #contact-us, a, #congratulations, .embedVideo, .footer-links, .cpryt, #scbFooter, #card img.card-background-web
	{
		display:none;
		margin:0;
		padding:0;
	}
	
	.span1, .span2, .span3, .span4, .span5, .span6
	{
		margin:0 !important;
		padding:0 !important;
	}

	body, #wrap
	{
		background:#fff;
		margin:0; 
		padding:0;
		width: 816px;
		height:1000px;
		/* border:1px solid red; */
		clear:both;
		overflow:hidden;
	}

/* 	img#ruler
	{
		position:absolute;
		left:0px;
		width:816px;
		display:block;
		z-index:2;
		top:50px;
	} */

	#card, #introNambal, #bodyHeader, #bodyContainer-white
	{
		width: 100%;
		position:absolute;
		left:0px;
		z-index:0;
		backgtround:url(../img/nambal-card-fold-cut.jpg);
	}

	/* #card, #bodyHeader, #introNambal, #bodyContainer-white, #wrap
	{
		background:#fff;
		clear:both;
		overflow:hidden;
		padding:0 !important;
		margin:0 !important;
	} */


	img#card-background
	{
		float:left;
		display:block;
		width:445px;
		height:600px !important; 
		margin:0 0 0 25px;
	}
	
	#card-content .card-top img
	{
		width:165px !important;
		height:165px !important;
		position:absolute;
		z-index:5;
		left:55px;
		top:45px !important;
	}
	
	#card-content .card-top .qr-code
	{
		position:absolute;
		z-index:6;
		left:230px;
		top:170px;
		width:100px;
		font-size:10px !important;
	}
	
	#card-information
	{
		position:absolute;
		z-index:3;
		left:55px !important;
		top:280px !important;
		width: 310px !important;
		padding:15px 0px 0 2px !important;
	}
	
	
	#card-information div
	{
		float: left !important;
		padding: 0px !important;
		font-size:8px !important;
		font-family: Arial !important;
		line-height: 130% !important;
	}
	
	#card-information .fullname
	{
		width:90%;
	}
	
	#card-information .dob-content
	{
		width:78%;
	}
	
	#card-information .gender-content
	{
		width:10%;
	}
	
	#card-information .blood_type
	{
		width:60%;
	}
	
	#card-information .address
	{
		width:85%;
	}
	
	.fold
	{
		position:absolute;
		width:15px;
		heith:30px;
		left:530px;
		top:155px;
	}

	#intro-NAMBAL
	{
		position:absolute;
		text-align:justify;
		font-size:12px;
		width:250px;
		left:480px;
		top:315px;
	}
}