.signin-header {
  text-align: left;
}

h5.signin-header {
    color: #333;
}

.signin-social {
  min-width: 200px;
  padding-right: 25px;
  padding-left: 25px;
}

.signin-native {
  border-left: 1px solid #D2D2D2;
  min-width: 200px;
  padding-left: 38px;
  padding-right: 5px;
}

.signinup {
  padding-top: 3px;
}

.social-tw {
  min-width: 174px;
}

.social-gplus {
  min-width: 175px;
}

a.zocial:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.ajax-loader {
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

.steps {
  float: left;
  color: green;
  font-weight: bold;
}

#inputCountry, #inputBloodType {
  width: 282px;
}


#agreeTermsLabel{
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#agreeTermsLabel label{
    padding-left: 25px;
}

#agreeTerms{
    float: left;
}

#congratulations{
	text-align:left;
	font-size:20px;
	padding:0 5%;
}

#card-background, #ruler{
	display:none;
}

#card
{
	position:relative;
}

#card-content
{
	position:absolute;
	padding: 6% 5% 0%;
}

#card-content div
{
	font-weight: bold;
	text-align: left;
	margin-left: 0px;
	font-size: 94%;
	font-family: Arial;
	line-height: 100%;
	min-height: 0% !important;
}

#card-content .card-top
{
	clear:both;
	overflow:hidden;
}

#card-content .card-top .qr-container
{
	padding: 4% 4% 4% 2%;
}

#card-content .card-top .qr-code
{
	font-family: Arial;
	color: red;
	font-size: 92%;
	padding: 44% 0% 0%;
}

#card-content .card-top .space
{
	float:left;
	width: 2%;
}


#card-content .card-top img
{
	top:0;
	right:0;
	width:100%;
}

#card-information{
	top: 0px;
	right: 0px;
	clear: both;
	overflow: hidden;
	padding: 23% 0% 0% 3%;
}

#card-information .info-content
{
	font-weight:normal;
	padding:0;
}


.card-options{
	clear: both;
	overflow: hidden;
	text-align:center !important;
}

.card-options div
{
	text-align:center !important;
	margin-left: 2% !important;
	min-height: 0% !important;
}

.fold
{
	padding:18% 0% 0% 0%;
}

.links
{
	padding:2% 8% !important;
}

.embedVideo
{
	padding:0 5%;
}

#intro-NAMBAL{
	text-align:left;
	padding:10px;
	font-size:13px;
}

#edit-register
{
	text-align:left;
}

/* #edit-register input
{
	width::80%;
}

#edit-register select
{
	width::90%;
} */


/*
#edit-register div
{
	padding:0 2%;
}

#personal-information, #emergency-contact-information
{
	padding:0 2%;
	text-align:left;
}
*/
#edit-register input
{
	/* width:95%; */
}

#edit-register select
{
	width:100%;
} 

.information-title
{
	font-size:14px;
	padding:0 2%;
}

#contactNumbers
{
	text-align:left;
}