<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important; 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 1100 !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>
<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-dateoftest');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateoftest').val($btnCalendar.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }

/* add another range */

jQuery('.input-details-of-result').hide();
jQuery( "#testname" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"test/displayTest",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});

jQuery( document ).ready(function() 
{
  jQuery('.input-details-of-result').hide();
  jQuery('#show-input-details-of-result').on( "click", function() 
  {
    jQuery('.input-details-of-result').toggle();
  });
});
</script>

<?php
// 'IDsafe_test' => $safetest->IDsafe_test,
// 'testname' => $safetest->testname,
// 'dateoftest' => $safetest->dateoftest,
// 'flag' => $safetestflag,
// 'result' => $safetest->result,
// 'units' => $safetest->result,
// 'safetestrange' => $safetestrange,
// 'rangecount' => $rangecount
?>
<input name="IDsafe_test" type="hidden" id="IDsafe_test" value="<?=@$this->testInformation['IDsafe_test']?>">
<div class="row">
  <label for="testname">Test&#47;Laboratory&#47;Procedure name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="testname" type="text" required class="tootipper select-block-level" id="testname" placeholder="Example: Examples: LDL cholesterol, Hemoglobin - Blood, HbA1c"  title="Test name" value="<?=@$this->testInformation['testname']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one test result per entry.  For your convenience you can select from the list. Examples: LDL cholesterol, Hemoglobin - Blood, HbA1c" /><br><br>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="input-group">
      <label>Date of test(Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-dateoftest" name="dateoftest" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->testInformation['dateoftest'])) echo date('m/d/o', strtotime($this->testInformation['dateoftest'])); else echo date('m/d/o'); ?>" title="Date result" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
      <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-dateoftest" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->testInformation['dateoftest'])) echo date('m/d/o', strtotime($this->testInformation['dateoftest'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
      <i class="fa fa-calendar"></i>  </a></span></label>
    </div>
  </div>
  <div class="col-md-6">
    <label for="flag">Flag:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
    </label>
    <?php if (!empty($this->testInformation)): ?>
    <?php foreach($this->testInformation['flag'] as $testflag): ?>
      <select name="flag" id="flag" class="tootipper form-control select-block-level"  title="Flag" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please select if Abnormal, Critical, High, Interminate, Low ... or normal." >
      <option>Please select...</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Abnormal')==0) ? 'selected' : ''); ?>>Abnormal</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Critical')==0) ? 'selected' : ''); ?>>Critical</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'High')==0) ? 'selected' : ''); ?>>High</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Indeterminate')==0) ? 'selected' : ''); ?>>Indeterminate</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Low')==0) ? 'selected' : ''); ?>>Low</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Normal')==0) ? 'selected' : ''); ?>>Normal</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Not known')==0) ? 'selected' : ''); ?>>Not known</option>
    </select>
    <?php endforeach; ?>
    <?php else: ?>
       <select name="flag" id="flag" class="tootipper form-control select-block-level"  title="Flag" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please select if Abnormal, Critical, High, Interminate, Low ... or normal." >
      <option>Please select...</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Abnormal')==0) ? 'selected' : ''); ?>>Abnormal</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Critical')==0) ? 'selected' : ''); ?>>Critical</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'High')==0) ? 'selected' : ''); ?>>High</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Indeterminate')==0) ? 'selected' : ''); ?>>Indeterminate</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Low')==0) ? 'selected' : ''); ?>>Low</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Normal')==0) ? 'selected' : ''); ?>>Normal</option>
      <option <?php echo ((strcasecmp(@$testflag->testflag, 'Not known')==0) ? 'selected' : ''); ?>>Not known</option>
    </select>
    <?php endif; ?>
  </div>
</div><br>
<div class="row">
<label class="select-block-level">First note or journal entry: <i class="tootipper fa fa-question-circle"></i>
      <textarea placeholder="Some notes to help you and your attending healthcare professional. You can type all the result in this note.  Example:  Glucose, Serum, 106, High, mg/dL 65-99" name="notes" required class="tootipper select-block-level" id="notes"  title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some notes to help you and your attending healthcare professional. You can type all the result in this note.  Example:  Glucose, Serum, 106, High, mg/dL 65-99" ><?=@$this->testInformation['notes'];?></textarea>
</label><p>Examples:  Glucose, Serum, 106, High, mg/dL 65-99</p>
</div>
<center><a href="javascript:void(0);" id="show-input-details-of-result">Input result details (optional) </a></center>
<div class="row input-details-of-result">
    <div class="col-md-6">
       <label>Result:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="result" type="text" required class="tootipper" id="result" placeholder="result" title="Result value" value="<?=@$this->testInformation['result']?>" maxlength="10" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input value of the result here."/></label>
    </div>
    <div class="col-md-6">
       <label>Units:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="units" type="text" required class="tootipper" id="units" placeholder="unit" title="Result unit" value="<?=@$this->testInformation['units']?>" maxlength="10" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the unit of the result here."/></label>
    </div>
</div>
<div class="row input-details-of-result">
  <p >Range (optional): </p>
  <?php if (!empty($this->testInformation)): ?>
  <?php foreach ($this->testInformation['safetestrange'] as $range): ?>
  <div class="col-md-4">
    <label>Minimum:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="minimumrange1" type="text" required class="tootipper" id="minimumrange1" placeholder="Minimum" title="Minimum" value="<?=@$range->rangemin;?>" maxlength="10" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the minimum range."/></label>
  </div>
  <div class="col-md-4">
    <label>Maximum:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="maximumrange1" type="text" required class="tootipper" id="maximumrange1" placeholder="Maximum" title="Maximum" value="<?=@$range->rangemax;?>" maxlength="20" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the maximum range."/></label>
  </div>
  <div class="col-md-4">
    <label>Range Text:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="rangetext1" type="text" required class="tootipper" id="rangetext1" placeholder="optional text" title="Optional Text" value="<?=@$range->rangetext?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the text for this range."/></label>
  </div>
  <?php endforeach; ?>
  <?php else: ?>
    <div class="col-md-4">
    <label>Minimum:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="minimumrange1" type="text" required class="tootipper" id="minimumrange1" placeholder="Minimum" title="Minimum" value="<?=@$range->rangemin;?>" maxlength="10" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the minimum range."/></label>
  </div>
  <div class="col-md-4">
    <label>Maximum:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="maximumrange1" type="text" required class="tootipper" id="maximumrange1" placeholder="Maximum" title="Maximum" value="<?=@$range->rangemax;?>" maxlength="20" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the maximum range."/></label>
  </div>
  <div class="col-md-4">
    <label>Range Text:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>&nbsp;&nbsp;<input name="rangetext1" type="text" required class="tootipper" id="rangetext1" placeholder="optional text" title="Optional Text" value="<?=@$range->rangetext?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the text for this range."/></label>
  </div>
  <?php endif; ?>
<input name="rangecount" type="hidden" value="<?php if (!empty($this->testInformation['rangecount'])) echo $this->testInformation['rangecount']; else echo '1'; ?>" />
<!--   <a href="javascript:void(0);" id="addanotherrange">Add another range</a> -->
</div>