<?php if (!empty($results)): ?>
<?php foreach ($results as $contact): ?>         
<table class="table table-condensed">
    <tr>
        <td class="table-title">Name:</td>
        <td>
<?php if (!empty($this->sessionid)): ?>
<div class="btn-group">
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
    <i class="icon-th"></i> &nbsp; 
    <?php if ($contact['primary'] == TRUE): ?><span class="badge badge-important">Primary Contact</span>&nbsp;&nbsp;<?php endif; ?>
    <?=@$contact['fullname'];?> <span class="caret">
    </span></button>
    <ul class="dropdown-menu">
    <li><a href="#show-modal-change" data-toggle="modal" class="primarycontactthis" data-contactid="<?=@$contact['IDsafe_contactinformation']?>" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li>
    <li><a href="#show-modal-change" class="modifythis" data-toggle="modal" data-contactid="<?=@$contact['IDsafe_contactinformation']?>" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>"><i class="icon-edit"></i> &nbsp;Modify Contact</a></li>
    <li><a href="#show-modal-change" class="deletethis" data-toggle="modal" data-contactid="<?=@$contact['IDsafe_contactinformation']?>" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>"><i class="icon-edit"></i> &nbsp;Delete Contact</a></li>            
    </ul>
</div>
<?php else: ?>
<div class="btn-group">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="icon-th"></i> &nbsp; 
    <?php if ($contact['primary'] == TRUE): ?><span class="badge badge-important">Primary Contact</span>&nbsp;&nbsp;<?php endif; ?>
    <?=@$contact['fullname'];?> <span class="caret">
    </span></button>
    <ul class="dropdown-menu">
    <li><a href="#show-modal-change" class="modifythis" data-toggle="modal" data-contactid="<?=@$contact['IDsafe_contactinformation']?>" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>"><i class="icon-edit"></i> &nbsp;Edit</a></li>
    <li><a href="#show-modal-change" class="deletethis" data-toggle="modal" data-personalinfo="<?=@$contact['IDsafe_personalInfo']?>" data-contactid="<?=@$contact['IDsafe_contactinformation']?>" ><i class="icon-remove"></i> &nbsp;Delete</a></li>
    <li><a href="#under-improvement" data-toggle="modal"  data-contactid="<?=@$contact['IDsafe_contactinformation']?>"><i class="iconfa-lock"></i> &nbsp;Privacy Settings</a></li>
    <li class="divider"></li>
    <li><a href="#show-modal-change" data-toggle="modal" class="primarycontactthis" data-contactid="<?=@$contact['IDsafe_contactinformation']?>"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li>            
    </ul>
</div>
<?php endif; ?>
        </td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><?=@$contact['fulladdress'];?></td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>+<?=@$contact['countrycode'];?> (<?=@$contact['areacode'];?>) <?=@$contact['number'];?></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><?=@$contact['email'];?></td>
    </tr>
</table>
<?php endforeach; ?>
<br id="newlyAddedContact" />
<?php endif; ?>
<script src="<?=base_url();?>public/js/custom-dashboard-emergency-profileviewer.js"></script>
<div id="emergency-pagination-div-id"><?php echo $links; ?></div>