<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.popover-title {
	color: #ffffff !important;
	font-size: 10px !important;
}
.datepicker {
	z-index: 1100 !important;
}
</style>
<script>
/* tooltip */
jQuery('.tootipper').popover();

/* masking number input */
jQuery(".mask-int-country").mask("+9?99");
jQuery(".mask-int-area").mask("9?999");
jQuery(".mask-int-phone").mask("999999?999");
</script>
<p>
  <label for="fullname" class="col-md-2 ">Full Name: <i class="tootipper fa fa-question-circle"></i></label>
  &nbsp;&nbsp;
  <input name="fullname" type="text" id="fullname" class="tootipper col-md-9" placeholder="Fullname of your contact person" required value="<?=@$safeContact['fullname'];?>" title="Contact person" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Contact person full name is required.">
  &nbsp;&nbsp;
</p><br><br>
<p>
<label for="email"  class="col-md-2">Email: <i class="tootipper fa fa-question-circle"></i></label>
&nbsp;&nbsp;
<input name="email" type="email" id="email" class="tootipper col-md-9" placeholder="Email address of your contact person" required value="<?=@$safeContact['email'];?>"  title="Contact person" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Contact person full name is required.">
&nbsp;&nbsp;</p><br />
<div  style="clear: both;">
<label for="country"  >Contact Number:</label>
<br>
<div class="row">
  <div class="col-md-4">
    <label for="countryCode" >Country Code: <i class="tootipper fa fa-question-circle"></i><br>
    </label>
    <input name="countryCode" type="text" id="countryCode"  class="mask-int-country tootipper input-small" placeholder="+63" required  value="<?=@$safeContact['countrycode'];?>" data-animation="true" data-placement="top" data-trigger="hover focus" title="Country code" data-content="country code example: 63 for Philippines and 1 for United States. If Philippines mobile phones for example +63915-xxx-xxxx, 63 is still country code">
    &nbsp;&nbsp;</div>
  <div class="col-md-4">
    <label for="areaCode" >Area Code: <i class="tootipper fa fa-question-circle"></i></label>
    <br>
    <input name="areaCode" type="text" id="areaCode" class="mask-int-area tootipper input-small" placeholder="(032)" required value="<?=@$safeContact['areacode'];?>" title="Area code" data-content="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'."  data-animation="true" data-placement="top" data-trigger="hover focus" >
    &nbsp;&nbsp;</div>
  <div class="col-md-4">
    <label for="number" >Phone Number: <i class="tootipper fa fa-question-circle"></i><br>
    </label>
    <input name="number" type="text" id="number" class="tootipper mask-int-phone input-small" placeholder="xxx-xxxx" required value="<?=@$safeContact['number'];?>" data-content="Number without the area code or provider code.  If Philippines mobile phones for example +63915-xxx-xxxx, the phone number is the 'xxx-xxxx' that follows the '915." title="Phone"  data-animation="true" data-placement="top" data-trigger="hover focus" >
    &nbsp;&nbsp;</div>
</div>
</div>
<p><br>
  <label  class="select-block-level">Full Address: <i class="tootipper fa fa-question-circle"></i>&nbsp;&nbsp;
    <input name="fulladdress" type="text" id="fulladdress"  class="tootipper select-block-level" placeholder="Home or office addresss of your contact person" required  value="<?=@$safeContact['fulladdress'];?>" title="Full address" data-content="Home or office addresss of your contact person"data-animation="true" data-placement="top" data-trigger="hover focus" >
  </label>
</p>
<input name="IDsafe_contactinformation" type="hidden" value="<?=@$safeContact['IDsafe_contactinformation'];?>">
<input name="IDsafe_personalInfo" type="hidden" value="<?=@$safeContact['IDsafe_personalInfo'];?>">
