<?php
	$birthDate = explode('-', $this->nambal_session['dateofbirth']);
	$age = (date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
?>

<div class="breadcrumbwidget">
            <ul class="breadcrumb">
                <li><a href="/dashboard"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">My Wellness Profile</a></li>
                <li class="active"><a href="emergencyContactInformation">My Emergency Contact Information</a></li>
            </ul>
        </div>

<div class="pagetitle">
	<h1>Your Nambal Safe Emergency Contact Information</h1>
</div>

<div class="maincontent">
	<?php $errorReturn = validation_errors(); ?>
	<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
		<div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        	<h4><i class="fa fa-ban"></i> <strong>Oh snap! You got an error!</strong></h4>
            	<p>
					<?php
                        echo $errorMessage;
                        echo validation_errors();
                    ?>
                </p>
		</div>
	<?php endif; ?>
    
    <?php  if ((!empty($_GET['afterAdd'])) && (strcmp('true', $_GET['afterAdd'])==0)): ?>
    	<div class="alert alert-success">
      		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-times"></i></button>
      		<strong><i class="fa fa-check"></i> Succesfully Added!</strong> You have successfully added a new Emergency Contact Information. You may <a href="<?=base_url();?>emergencyContactInformation?afterAdd=true#newlyAddedContact">check the last input</a> below.
    	</div>
    <?php endif ?>
    
    <div class="alert alert-info">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong><i class="fa fa-info-circle"></i> Heads up!</strong> There's no quantity limit with regards to your Emergency Contact Information.
    </div>
</div>

<div class="row">
	<div class="col-md-8 widget-container">
    
    	<!-- START OF MY EMERGENCY CONTACT INFORMATION (Primary) -->
        <section class="widget">
        	<h3 class="page-title">My Emergency Contact Information</h3>
            <header class="widget-tabs">
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#addEmergencyContactInformation"><i class="fa fa-plus"></i> Add an Emergency Contact Information</button>
				<ul class="nav nav-tabs">
                	<li class="active"><a href="#my-primary-emergency-contact-information" data-toggle="tab">My Primary Emergency Contact Information</a></li>
                  	<li><a href="#my-primary-emergency-contact-information-privacy-settings" data-toggle="tab">Privacy Settings</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	<div id="my-primary-emergency-contact-information" class="tab-pane active clearfix">
                            	
                	<?php foreach ($arrayGetContact as $contact): ?> 
                    <div class="row information-details">
                        <div class="col-md-3">
                            <div class="profilethumb text-align-center">
                                <!--<a href="#">Change Thumbnail</a>-->
                                <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" /> 
                                <button type="button" class="btn btn-default btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-default .btn-xs" data-toggle="modal" data-target="#under-improvement"><div class="membership warning"><i class="fa fa-warning"></i>&nbsp;&nbsp;Non-Nambal Member</div></button>                               
                            </div>
                            
                        </div>
                        <div class="col-md-9">
                            <h3 class="no-margin"><?=@$contact['fullname'];?>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;<span class="age">(<?=@$age;?> Years Old)</span>
                            <div class="btn-group"><button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" data-original-title=".btn .btn-info .btn-xs"><i class="eicon-vcard"></i> <?php if ($contact['primary'] == TRUE): ?>Primary Contact&nbsp;&nbsp;<?php endif; ?><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#under-improvement" data-toggle="modal"><i class="icon-edit"></i> &nbsp;Edit</a></li>
                                <li><a href="#under-improvement" data-toggle="modal"><i class="icon-remove"></i> &nbsp;Delete</a></li>
                                <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-lock"></i> &nbsp;Privacy Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#under-improvement" data-toggle="modal"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li>            
                            </ul>
                            </div>
                                <!--<a href="<?php //echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-info btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>-->
                            </h3>
                            <address>
                            	<div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Relationship:</div>
                                    <div class="col-md-8 info-details-labelanswer">Mother</div>
                                                        
                                </div>
                                <div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Address:</div>
                                    <div class="col-md-8 info-details-labelanswer"><?=@$contact['fulladdress'];?></div>
                                                        
                                </div>
                                <div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Date of Birth:</div>
                                    <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['dateofbirth'];?></div>
                                                        
                                </div>
                                <div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Blood Type:</div>
                                    <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a></div>
                                                        
                                </div>
                                <div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Contact Number:</div>
                                    <div class="col-md-8 info-details-labelanswer">+<?=@$contact['countrycode'];?> (<?=@$contact['areacode'];?>) <?=@$contact['number'];?></div>
                                                        
                                </div>
                                <div class="col-md-12">
                            
                                    <div class="col-md-3 info-details-label">Email Address:</div>
                                    <div class="col-md-8 info-details-labelanswer"><?=@$contact['email'];?></div>
                                                        
                                </div>
                            </address>                		
                        </div>
                    </div>
                    <?php endforeach; ?>
                    <br id="newlyAddedContact" />                    
                    &nbsp;&nbsp;&nbsp;<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">Invite Virginia to Join Nambal!&nbsp;&nbsp;<i class="fa fa-check"></i></button></a>
                                                
           		</div>
                            
           		<div id="my-primary-emergency-contact-information-privacy-settings" class="tab-pane">                            
                            	
                	<section class="widget">
                                
                    	<h4>Current Global Settings:</h4>
                        <div class="col-md-12">
                                    
                        	<div>
                                        
                            	<div class="row">
                                	<button class="btn btn-add-specific-person btn-sm margin-bottom-seven" type="button" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-user-md"></i>&nbsp;&nbsp;Add specific person</button>
                                    <button class="btn btn-save-changes btn-sm margin-bottom-seven" type="button" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-save"></i>&nbsp;&nbsp;Save changes</button>
                                    <table class="table table-bordered table-hover" id="my-wellness-information">
										<thead>
                                        	<tr>
                                            	<th>Medical Professionals</th>
                                            	<th>Read</th>
                                            	<th>Add</th>
                                            	<th>Modify</th>
                                            	<th>Delete</th>
                                                <th>Share</th>
                                           	</tr>
                                      	</thead>
                                    	<tbody>
                                        	<tr>
                                            	<td>Doctors</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read" checked></td>
												<td><input name="Read" type="checkbox" value="doctor-add" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share" checked></td>
                                          	</tr>
                                            <tr>
                                             	<td>Doctor's staffs</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-add" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete" ></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share" checked></td>
                                           	</tr>
                                            <tr>
                                               	<td>Pharmacy</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-add"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share"></td>
                                           	</tr>
                                            <tr>
                                              	<td>Laboratory</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-add"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share"></td>
                                          	</tr>
                                            <tr>
                                              	<td>Nurses</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-add" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify" checked></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share" checked></td>
                                           	</tr>
                                            <tr>
                                             	<td>Public</td>
                                                <td><input name="Read" type="checkbox" value="doctor-read"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-add"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-modify"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-delete"></td>
                                                <td><input name="Read" type="checkbox" value="doctor-share"></td>
                                           	</tr>
										</tbody>
									</table>
                                    <button class="btn btn-add-specific-person btn-sm" type="button" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-user-md"></i>&nbsp;&nbsp;Add specific person</button>
                                    <button class="btn btn-save-changes btn-sm" type="button" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-save"></i>&nbsp;&nbsp;Save changes</button>
                              	</div>
                                        
                        	</div>
                                    
                     	</div>
                                
                	</section>
                                
            	</div>
            </div>
        </section>
        <!-- END OF MY EMERGENCY CONTACT INFORMATION (Primary )-->
        
        <!-- START OF MY OTHER EMERGENCY CONTACT INFOMATION -->
        <section class="widget other-emergency-contact-information">
        	<!--<h3 class="page-title">My Wellness Calendar</h3>
            <header></header>-->
            <div class="body widget-container">
            
            	<section class="tab-content clearfix">   
                    <header>
                    	<h5>Other Emergency Contact Information <span class="badge badge-success">4</span></h5>
                    </header>
                    <div class="body">
                    	<div class="panel-group" id="accordion2">
                        	<!--<div class="list-group users-list-group">-->
                            	<div class="panel list-group users-list-group">
                                    <div class="panel-heading">
                                        <a class="list-group-item accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#jerielyn-c-calambro">
                                            <img src="<?php echo base_url(); ?>public/img/2.jpg" alt="" class="img-circle"/>
                                            <button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">Invite Jerielyn to Join Nambal!&nbsp;&nbsp;<i class="fa fa-check"></i></button>
                                            <!--<i class="fa fa-circle pull-right text-success"></i>-->
                                            <h5 class="no-margin">Jerielyn C. Calambro</h5>
                                            <small class="text-muted warning-color"><i class="fa fa-warning warning-color"></i>&nbsp;&nbsp;Non-Nambal Member</small>
                                        </a>
                                    </div>
                                    <div id="jerielyn-c-calambro" class="panel-collapse collapse" style="height: auto;">
                                        <div class="panel-body">
                                                        
                                            <?php foreach ($arrayGetContact as $contact): ?> 
                                            <div class="row information-details">
                                                <div class="col-md-3">
                                                    <div class="profilethumb text-align-center">
                                                        <!--<a href="#">Change Thumbnail</a>-->
                                                        <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                                                        <button type="button" class="btn btn-default btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-default .btn-xs" data-toggle="modal" data-target="#under-improvement"><div class="membership warning"><i class="fa fa-warning"></i>&nbsp;&nbsp;Non-Nambal Member</div></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="no-margin">Jerielyn C. Calambro&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;<span class="age">(28 Years Old)</span>
                                                    <div class="btn-group"><button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" data-original-title=".btn .btn-info .btn-xs"><i class="eicon-vcard"></i> <?php if ($contact['primary'] == FALSE): ?>Primary Contact&nbsp;&nbsp;<?php endif; ?><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-edit"></i> &nbsp;Edit</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-remove"></i> &nbsp;Delete</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-lock"></i> &nbsp;Privacy Settings</a></li>
                                                        <!--<li class="divider"></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li> -->           
                                                    </ul>
                                                    </div>
                                                        <!--<a href="<?php //echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-info btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>-->
                                                    </h3>
                                                    <address>
                                                        <div class="col-md-12">
                                
                                                            <div class="col-md-3 info-details-label">Relationship:</div>
                                                            <div class="col-md-8 info-details-labelanswer">Sister</div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['fulladdress'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Date of Birth:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['dateofbirth'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Blood Type:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Contact Number:</div>
                                                            <div class="col-md-8 info-details-labelanswer">+<?=@$contact['countrycode'];?> (<?=@$contact['areacode'];?>) <?=@$contact['number'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Email Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['email'];?></div>
                                                                                
                                                        </div>
                                                    </address>                		
                                                </div>
                                            </div>
                                            <?php endforeach; ?>
                                            <br id="newlyAddedContact" />
                                            <!--<button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">Add Detail</button>-->
                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="panel list-group users-list-group">
                                    <div class="panel-heading">
                                        <a class="list-group-item accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#jeanbie-elieca-c-calambro">
                                            <img src="<?php echo base_url(); ?>public/img/3.jpg" alt="" class="img-circle"/>
                                            <i class="fa fa-circle-o pull-right text-success"></i>
                                            <h5 class="no-margin">Jeanbie Elieca C. Calambro</h5>
                                            <small class="text-muted">one hour ago</small>
                                        </a>
                                    </div>
                                    <div id="jeanbie-elieca-c-calambro" class="panel-collapse collapse">
                                        <div class="panel-body">
                                                        
                                            <?php foreach ($arrayGetContact as $contact): ?> 
                                            <div class="row information-details">
                                                <div class="col-md-3">
                                                    <div class="profilethumb text-align-center">
                                                        <!--<a href="#">Change Thumbnail</a>-->
                                                        <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                                                        <button type="button" class="btn btn-default btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-default .btn-xs" data-toggle="modal" data-target="#under-improvement"><div class="membership warning"><i class="fa fa-warning"></i>&nbsp;&nbsp;Nambal Member Since October 3, 1995</div></button>
                                                        <!-- dapat naa niy logo sa nambal unya pula and blue ang ui -->
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="no-margin">Jeanbie Elieca C. Calambro&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;<span class="age">(18 Years Old)</span>
                                                    <div class="btn-group"><button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" data-original-title=".btn .btn-info .btn-xs"><i class="eicon-vcard"></i> <?php if ($contact['primary'] == FALSE): ?>Primary Contact&nbsp;&nbsp;<?php endif; ?><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-edit"></i> &nbsp;Edit</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-remove"></i> &nbsp;Delete</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-lock"></i> &nbsp;Privacy Settings</a></li>
                                                        <!--<li class="divider"></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li> -->           
                                                    </ul>
                                                    </div>
                                                        <!--<a href="<?php //echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-info btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>-->
                                                    </h3>
                                                    <address>
                                                        <div class="col-md-12">
                                
                                                            <div class="col-md-3 info-details-label">Relationship:</div>
                                                            <div class="col-md-8 info-details-labelanswer">Sister</div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['fulladdress'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Date of Birth:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['dateofbirth'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Blood Type:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Contact Number:</div>
                                                            <div class="col-md-8 info-details-labelanswer">+<?=@$contact['countrycode'];?> (<?=@$contact['areacode'];?>) <?=@$contact['number'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Email Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['email'];?></div>
                                                                                
                                                        </div>
                                                    </address>                		
                                                </div>
                                            </div>
                                            <?php endforeach; ?>
                                            <br id="newlyAddedContact" />
                                            <!--<button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">Add Detail</button>-->
                                                    
                                        </div>
                                    </div>
                                </div>
                                <div class="panel list-group users-list-group">
                                    <div class="panel-heading">
                                        <a class="list-group-item accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#jecy-adam-nigel-i-calambro">
                                            <img src="<?php echo base_url(); ?>public/img/13.jpg" alt="" class="img-circle"/>
                                            <i class="fa fa-circle pull-right text-success"></i>
                                            <h5 class="no-margin">Jecy Adam Nigel I. Calambro</h5>
                                            <small class="text-muted">3 hours ago</small>
                                        </a>
                                    </div>
                                    <div id="jecy-adam-nigel-i-calambro" class="panel-collapse collapse">
                                        <div class="panel-body">
                                                        
                                            <?php foreach ($arrayGetContact as $contact): ?> 
                                            <div class="row information-details">
                                                <div class="col-md-3">
                                                    <div class="profilethumb text-align-center">
                                                        <!--<a href="#">Change Thumbnail</a>-->
                                                        <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                                                        <button type="button" class="btn btn-default btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-default .btn-xs" data-toggle="modal" data-target="#under-improvement"><div class="membership warning"><i class="fa fa-warning"></i>&nbsp;&nbsp;Nambal Member Since October 3, 1995</div></button>
                                                        <!-- dapat naa niy logo sa nambal unya pula and blue ang ui -->
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <h3 class="no-margin">Jecy Adam Nigel I. Calambro&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;<span class="age">(18 Years Old)</span>
                                                    <div class="btn-group"><button class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" data-original-title=".btn .btn-info .btn-xs"><i class="eicon-vcard"></i> <?php if ($contact['primary'] == FALSE): ?>Primary Contact&nbsp;&nbsp;<?php endif; ?><span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-edit"></i> &nbsp;Edit</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-remove"></i> &nbsp;Delete</a></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-lock"></i> &nbsp;Privacy Settings</a></li>
                                                        <!--<li class="divider"></li>
                                                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-star"></i> &nbsp;Make it as Primary</a></li> -->           
                                                    </ul>
                                                    </div>
                                                        <!--<a href="<?php //echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-info btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>-->
                                                    </h3>
                                                    <address>
                                                        <div class="col-md-12">
                                
                                                            <div class="col-md-3 info-details-label">Relationship:</div>
                                                            <div class="col-md-8 info-details-labelanswer">Sister</div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['fulladdress'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Date of Birth:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['dateofbirth'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Blood Type:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Contact Number:</div>
                                                            <div class="col-md-8 info-details-labelanswer">+<?=@$contact['countrycode'];?> (<?=@$contact['areacode'];?>) <?=@$contact['number'];?></div>
                                                                                
                                                        </div>
                                                        <div class="col-md-12">
                                                    
                                                            <div class="col-md-3 info-details-label">Email Address:</div>
                                                            <div class="col-md-8 info-details-labelanswer"><?=@$contact['email'];?></div>
                                                                                
                                                        </div>
                                                    </address>                		
                                                </div>
                                            </div>
                                            <?php endforeach; ?>
                                            <br id="newlyAddedContact" />
                                            <!--<button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">Add Detail</button>-->
                                                    
                                        </div>
                                    </div>
                                </div>
                        	<!--</div> --> 
                            <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#addEmergencyContactInformation"><i class="fa fa-plus"></i> an Emergency Contact Information</button></a>                    
                        </div>                    	
                    </div>                
                </section>
            
            </div>
        </section>
        <!-- END OF MY OTHER EMERGENCY CONTACT INFOMATION -->
    
    </div>
    <div class="col-md-4 widget-container">
    
    	<!-- START OF MY WELLNESS CALENDAR -->
        <section class="widget">
        	<h3 class="page-title">My Wellness Calendar</h3>
            <header></header>
            <div class="body">
            
            	<section class="tab-content">
        
                    <div class="my-wellness-calendar">
                        <div class="event">Check-up with <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a><br />at <a href="#" data-toggle="modal" data-target="#under-improvement">Cebu Doctors Hospital</a><br />on February 15, 2014<br />10:00 AM-11:00AM</div>
                        <div class="date pull-right">Today is February<br /><span>06</span>Thursday</div>
                        <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-calendar"></i>&nbsp;&nbsp;View My Wellness Calendar</a></div>
                        <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">4 Upcoming Events</button></a></div>
                        <div class="clear"></div>                
                    </div>
                
                </section>
            
            </div>
        </section>
        <!-- END OF MY WELLNESS CALENDAR -->
        
        <!-- START OF CONNECT WITH MY MEDICAL PROFESSIONALS -->
        <section class="widget">
        	<h3 class="page-title">Connect with My Medical Professionals</h3>
            <header class="widget-tabs">
            	<ul class="nav nav-tabs">
                	<li class="active"><a href="#find-my-doc" data-toggle="tab">Find My Doc</a></li>
                    <li><a href="#pharmacy-store" data-toggle="tab">Pharmacy Store</a></li>
                    <li><a href="#laboratory-procedure" data-toggle="tab">Laboratory</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	<div id="find-my-doc" class="tab-pane active clearfix">
                    <?=@$this->load->view('connect-to-doctor/search-form.phtml');?></div>
                <div id="pharmacy-store" class="tab-pane clearfix">
                    <?=@$this->load->view('connect-to-pharmacy/search-form.phtml');?>
                </div>
                <div id="laboratory-procedure" class="tab-pane clearfix">
                    <?=@$this->load->view('connect-to-laboratory/search-form.phtml');?>
                </div>            
            </div>
        </section>
        <!-- END OF CONNECT WITH MY MEDICAL PROFESSIONALS -->
        
        <!-- START OF MY RECENT ACTIVITIES -->
        <section class="widget">
        	<h3 class="page-title">My Recent Activities</h3>
            <header></header>
            <div class="body">
            	
                <section class="tab-content">
        
                    <div class="my-recent-activities">
                        <div class="activity">
                        
                            <div class="ind-act">Wellness Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                            <div class="ind-act">Personal Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">you</a></span></div>
                            <div class="ind-act">Procedures<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                        
                        </div>
                        <div class="date pull-right">Your Last Update was on <span class="month">February</span><span class="num">05</span><span class="month">Wednesday</span></div>
                        <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-bolt"></i>&nbsp;&nbsp;View all My Recent Activities</a></div>
                        <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">10 Updates made today</button></a></div>
                        <div class="clear"></div>                
                    </div>
                
                </section>  
                          
            </div>
        </section>
        <!-- END OF MY RECENT ACTIVITIES -->
    
    </div>
</div>

<div id="under-improvement" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
	<div class="modal-dialog">
    	<div class="modal-content">
        
        	<div class="modal-header">
    			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    			<h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
  			</div>
  			<div class="modal-body">
    			<p>We are currently improving your Nambal Experience. Thank you for bearing with us.<br>
    			For the meantime, Please like our <a href="https://www.facebook.com/nambalcebu?fref=ts" target="_blank">Facebook Page</a>. </p>
  			</div>
  			<div class="modal-footer">
    			<!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
    			<!--<button class="btn btn-primary">Save changes</button>-->
  			</div>
            
        </div>
  	</div>
</div>

<?=@$this->load->view('emergency-contact-information/insert.phtml');?>