<div class="maincontent">
	<?php $errorReturn = validation_errors(); ?>
	<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
		<div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        	<h4><i class="fa fa-ban"></i> <strong>Oh snap! You got an error!</strong></h4>
            	<p>
					<?php
                        echo $errorMessage;
                        echo validation_errors();
                    ?>
                </p>
		</div>
	<?php endif; ?>
    
    <?php  if ((!empty($_GET['afterAdd'])) && (strcmp('true', $_GET['afterAdd'])==0)): ?>
    	<div class="alert alert-success">
      		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><i class="fa fa-times"></i></button>
      		<strong><i class="fa fa-check"></i> Succesfully Added!</strong> You have successfully added a new Emergency Contact Information. You may <a href="<?=base_url();?>emergencyContactInformation?afterAdd=true#newlyAddedContact">check the last input</a> below.
    	</div>
    <?php endif ?>
</div>

<div id="addEmergencyContactInformation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
    	<div class="modal-content">
        	
            <form name="form1" method="post" action="">
           	<div class="modal-header col-md-12">
           		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h3 id="myModalLabel"><span>Add</span> My Emergency Contact Information</h3>
                <p>Please choose from the two columns</p>
    		</div>
        	<div class="modal-body">
            
            	<div class="col-md-12 reset">
                
                	<div class="col-md-6 reset">
                    
                    	Is your new Emergency Contact Information a Non-Nambal Member?<br /><br />
                        
                        <div class="col-md-12 reset">
                        
                        	<div class="col-md-3"><label class="control-label" for="fullname">Full Name</label></div>
                            <div class="col-md-9"><input name="fullname" type="text" id="fullname" class="select-block-level" placeholder="Fullname of your contact person" required value="<?=@$safeContact['fullname'];?>"></div>
                            <div class="clear"></div>
                        
                        </div>
                        
                        <div class="col-md-12 reset">
                        
                        	<div class="col-md-3"><label class="control-label" for="email">Email</label></div>
                            <div class="col-md-9"><input name="email" type="email" id="email" class="select-block-level" placeholder="Email address of your contact person" required value="<?=@$safeContact['email'];?>"></div>
                            <div class="clear"></div>
                        
                        </div>
                        
                        <div class="col-md-12">Contact Number:</div>
                        
                        <div class="col-md-12 reset">
                        
                        	<div class="col-md-4"><label for="countryCode" >Country code</label></div>
                            <div class="col-md-3"><label for="areaCode">Area code</label></div>
                            <div class="col-md-5"><label for="number">Phone number</label></div>
                            <div class="clear"></div>
                        
                        </div>
                        
                        <div class="col-md-12 reset">
                        
                        	<div class="col-md-4"><input name="countryCode" type="text" id="countryCode"  class="input-xlarge" placeholder="00" required  value="<?=@$safeContact['countrycode'];?>" title="country code example: 63 for Philippines and 1 for United States. If Philippines mobile phones for example +63915-xxx-xxxx, 63 is still country code"></div>
                            <div class="col-md-3"><input name="areaCode" type="text" id="areaCode" class="input-xlarge" placeholder="00" required value="<?=@$safeContact['areacode'];?>" title="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'."></div>
                            <div class="col-md-5"><input name="number" type="text" id="number" class="input-xlarge" placeholder="xxx-xxxx" required value="<?=@$safeContact['number'];?>" title="phone without the area code or provider code"></div>
                            <div class="clear"></div>
                        
                        </div>
                        
                        <div class="col-md-12 reset">
                        
                            <div class="col-md-3"><label for="fullAddress">Full Address</label></div>
                            <div class="col-md-9"><input name="fulladdress" type="text" id="fulladdress"  class="select-block-level" placeholder="Home or office addresss of your contact person" required  value="<?=@$safeContact['fulladdress'];?>" title="Home or office addresss of your contact person"></div>
                        	<div class="clear"></div>
                        	
                        </div>
                    
                    </div>
                    <div class="col-md-6 reset">
                    
                    	Is your new Emergency Contact Information is already a Nambal Member?<br /><br />
                    
                    </div>
                    <div class="clear"></div>
                
                </div>
                
           	</div>
          	<div class="modal-footer">
            	<!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
           		<button type="submit" class="btn btn-primary" data-loading-text="Loading...">Yipee, to the last step >></button>
			</div>
            </form>
            
      	</div><!-- /.modal-content -->
   	</div><!-- /.modal-dialog -->
</div>