<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin area lang</title>
	<meta name="description" content="<?= isset($pageDescription) ? $pageDescription : 'Admin area for nambal admins.' ?>">
	<meta name="keywords" content="<?= isset($pageKeywords) ? $pageKeywords : 'Doctors, patients' ?>">
	<meta name="author" content="Nambal.com inc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<?php 
	        $this->load->helper('googlea');
	        if (strcasecmp(googlea(), 'on')==0):
	    ?>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-27195127-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<?php endif; ?>
</head>
<body>
<?php if (!empty($this->admin_session['sessionName'])): ?>
<ul>
	<li><a href="<?=base_url();?>paraatora/showallusers">Show all users</a></li>
	<li><a href="<?=base_url();?>paraatora/showalldoctors">Show all doctors</a></li>
	<li><a href="<?=base_url();?>paraatora/logout">Logout</a></li>
</ul>
<?php endif; ?>
<?php 
    $this->load->view($view . '.phtml');
?>
</body>
</html>