<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?>">    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title><?= isset($title) ? $title : 'Home' ?> - Nambal.com - Life saving information for life savers</title>
    <link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="public/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="public/css/style.default.css" type="text/css" />
    <link rel="stylesheet" href="public/prettify/prettify.css" type="text/css" />
    <link rel="stylesheet" href="public/css/nambal.dashboardc.css" type="text/css" />
    <link rel="stylesheet" href="public/css/bootstrap-responsive.min.css" type="text/css" />
    <script type="text/javascript" src="public/prettify/prettify.js"></script>
    <script type="text/javascript" src="public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="public/js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="public/js/custom.js"></script>
    <script type="text/javascript" src="public/js/nambal.dashboardv.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script><![endif]-->
    <?php if (!empty($customCss)): ?>
        <?php foreach ($customCss as $css): ?>
            <link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if (!empty($customJs)): ?>
        <?php foreach ($customJs as $js): ?>
            <script type="text/javascript" src="public/js/<?=$js;?>.js"></script>
        <?php endforeach; ?>
    <?php endif; ?>
</head>
<body>

    
<div class="mainwrapper fullwrapper">
  
    <!-- START OF LEFT PANEL -->
    <div class="leftpanel">
        <div class="logopanel">
          <h1><a href="/dashboard"><img src="public/img/nambal-logo-header.png" border="0" alt="Nambal Logo: Life Saving Information for Life Savers!" /></a></h1>
        </div><!--logopanel-->
        
        <!--<div class="datewidget"><?php //Today is Tuesday, Dec 25, 2012 5:30pm ?>Version 1.1</div>-->
    
      <div class="searchwidget">
          <form action="results.html" method="post">
              <div class="input-append">
                    <input type="text" class="span2 search-query" placeholder="Search here...">
                    <button type="submit" class="btn"><span class="icon-search"></span></button>
            </div>
        </form>
</div><!--searchwidget--> 
        
        <div class="leftmenu hidden-phone hidden-tablet" style="margin-top:0">        
            <ul class="nav nav-tabs nav-stacked">
                <li class="nav-header">Main Navigation</li>  
                <li>              
                    <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Profiles</a></h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            Caring for someone?
                            <button class="btn btn-info gotoAddNewProfile" style="width:237px;" type="button" data-toggle="modal" data-target="#addAnotherProfile">Add Another Profile</button>
                            <a href="/profile" class="btn btn-primary btn-block personalProfileText"><i class="icon-user icon-white"></i> View all personal profile (6)</a>
                            <br/>
                            <a id="aPrint" href="/healthCard/printArea">
                                <span id="print" style="float:left;background-image:url('public/img/icon-sprites.jpg');width:50px;height:50px;background-position:-0px -50px;background-repeat:no-repeat;"></span>
                                <b>PRINT YOUR<br/>NAMBAL SAFE &amp; CARD</b><br/>
                                <a href="#" style="color:#CC3333;"><span class=" icon-arrow-right"></span>&nbsp;Know why...</a>
                            </a>
                            <br/><br/>
                            <a id="aWellness" href="wellnessCalendar">
                                <span id="wellness" style="float:left;background-image:url('public/img/icon-sprites.jpg');width:50px;height:50px;background-position:-50px -50px;background-repeat:no-repeat;"></span>
                                <b>YOUR WELLNESS<br/>CALENDAR</b><br/>
                                <a href="#" style="color:#CC3333;"><span class=" icon-arrow-right"></span>&nbsp;Know why...</a>
                            </a>
                        </div>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><a href="#">Applications or Plug-ins</a></h3>
                            <ul style="display: block">
                                <li><a href="/applications"><i class="iconsweets-magnifying"></i> Add another APP/PLUG-INS</a></li>
                                <li><a href="/messages"><i class="icon-envelope"></i> Messages</a></li>
                                <li><a href="/donorsNetwork"><i class="iconsweets-speech4"></i> Donors Network</a></li>
                                <li><a href="/profile/viewer"><i class="iconfa-qrcode"></i> QR reader</a></li>
                            </ul>
                         <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Health Information</a></h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <b><a href="/dashboard#wellnessInfo">Wellness</a><br/></b>
                            <b><a href="/dashboard#emergency">Emergency contact information</a><br/></b>
                            <b><a href="/dashboard#problem">Problem History</a><br/></b>
                            <b><a href="/dashboard#med">Medications</a><br/></b>
                            <b><a href="/dashboard#allergy">Allergy</a><br/></b>
                            <b><a href="/dashboard#procedures">Procedures</a><br/></b>
                            <b><a href="/dashboard#immunizations">Immunizations</a><br/></b>
                            <b><a href="/dashboard#insurance">Insurance</a><br/></b>
                            <b><a href="/dashboard#testres">Test Results</a><br/></b>
                            <b><a href="/dashboard#files">Files</a></b>
                        </div>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all no-margin" role="tab" id="ui-accordion-accordion-header-2" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Connect to</a></h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-2" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a  href="/connectDoctor/search">
                                <span id="aDoc" ><span class="badge badge-important">2</span></span>
                                <strong>Doctor</strong><br/>
                                <a href="#" style="color:#CC3333;"><span class=" icon-arrow-right"></span>&nbsp;Know why...</a>
                            </a>
                            <br/><br/>
                            <a   href="#under-improvement" data-toggle="modal">
                                <span id="aPharmacy" ></span>
                                <strong>Pharmacy</strong><br/>
                                <a href="#under-improvement" data-toggle="modal" style="color:#CC3333;"><span class=" icon-arrow-right"></span>&nbsp;Know why...</a>
                            </a>
                             <br/><br/>
                            <a   href="#under-improvement" data-toggle="modal">
                                <span id="aLaboratory" ></span>
                                <strong>Laboratory</strong><br/>
                                <a href="#under-improvement" data-toggle="modal" style="color:#CC3333;"><span class=" icon-arrow-right"></span>&nbsp;Know why...</a>
                            </a>
                        </div>
                        <?php if (!empty($arrayGetDocInfo)): ?>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all no-margin" role="tab" id="ui-accordion-accordion-header-3" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#" id="doctorsdashboardbutton"   data-placement="top" data-content="Congratulations, you have been approved to use the Doctor's dashboard." title="" data-original-title="Doctor's Dashboard">Doctor's Dashboard</a></h3>
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="<?php echo base_url(); ?>doctorDashboard" data-toggle="modal"><span class="icon-arrow-right"></span> Go to Doctor's Dashboard</a></li>
                            <li><a href="<?php echo base_url(); ?>profileViewer"><span class="iconfa-user"></span> Profile Viewer</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-calendar"></span> Appointments</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-wrench"></span> Clinic Settings</a></li>
                        </ul>
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                    jQuery('#doctorsdashboardbutton').popover('show');
                                   
                                });
                        </script>
                        <?php endif; ?>
                    </div>
                </li>
            <ul>
        </div><!--leftmenu-->
        
    </div><!--mainleft-->
    <!-- END OF LEFT PANEL -->
    
    <!-- START OF RIGHT PANEL -->
    <div class="rightpanel">
      <div class="headerpanel">
        <div class="hidden-desktop">
        </div>
          <a href="" class="showmenu hidden-desktop"></a>
            <div class="headerright">
            	<!-- START OF THE CURRENT DASHBOARD VIEWING -->
                <div class="dropdown notification">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">
                      <span class="iconsweets-globe iconsweets-white">currently viewing on a PATIENT'S DASHBOARD</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="nav-header">Dashboard Options</li>                        
                        <li><a href="/messages"><span class="icon-envelope"></span> Switch to Doctor's Dashboard</a></li>
                        <li><a href="/messages"><span class="icon-envelope"></span> Add a Medical Professional -<strong>Nurse</strong></a></li>
                        <li><a href="/messages"><span class="icon-envelope"></span> Add a Medical Professional -<strong>Pharmacist</strong></a></li>
                    </ul>
              </div>
              <!-- END OF THE CURRENT DASHBOARD VIEWING -->
                          
              <div class="dropdown notification">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">
                      <span class="iconsweets-globe iconsweets-white"><span class="badge badge-important">6</span></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="nav-header">Notifications</li>
                        <li>
                          <a href="/profile/viewer">
                          <strong>3 people viewed your profile</strong><br />
                            <img src="public/img/thumbs/thumb1.png" alt="" />
                            <img src="public/img/thumbs/thumb2.png" alt="" />
                            <img src="public/img/thumbs/thumb3.png" alt="" />
                          </a>
                        </li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                        <li><a href="/donorsNetwork"><span class="icon-user"></span> <strong>Blood Donors wanted</strong> matched yours <small class="muted"> - 2 days ago</small></a></li>
                        <li class="viewmore"><a href="/notification">View More Notifications</a></li>
                    </ul>
              </div><!--dropdown-->
                
          <div class="dropdown userinfo">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">Hi, <?=@$this->nagkamoritsing->ibalik($this->nambal_session['firstname']);?><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-edit"></span> Edit Profile</a></li>
                        <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-wrench"></span> Account Settings</a></li>
                        <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-eye-open"></span> Privacy Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="<?php echo base_url(); ?>logout"><span class="icon-off"></span> Sign Out</a></li>
                    </ul>
              </div><!--dropdown-->
        
            </div><!--headerright-->
    
      </div><!--headerpanel-->

<?php
    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
      $this->load->view($view . '.phtml');
    else:
      $this->load->view('home/home.phtml');
    endif;
?>
        
    </div><!--mainright-->
    <!-- END OF RIGHT PANEL -->
    
    <div class="clearfix">&nbsp;</div>
    
<div class="footer">
      <div class="footerleft">Nambal v1.0 </div>
      <div class="footerright">&copy; Nambal.com  -  <a href="https://twitter.com/nambaldotcom">Follow us on Twitter</a> - <a href="https://www.facebook.com/nambalcebu">Follow us on Facebook</a></div>
    </div><!--footer--><!--mainwrapper-->

<div id="under-improvement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Not yet available</h3>
  </div>
  <div class="modal-body">
    <p>Please bear with us because we are currently improving our Webapp.<br>
    For waiting list please like our <a href="https://www.facebook.com/nambalcebu?fref=ts">facebook page</a>. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

</body>
</html>