<!-- doctor-dashboard.phtml -->
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?>">    
    
    <title><?= isset($title) ? $title : 'Home' ?> - Nambal.com - life saving information for live savers</title>
    

    <link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="<?php echo base_url(); ?>public/css/application.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url(); ?>public/css/custom-doctor-dashboard.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>public/css/doctor-dashboard.css" rel="stylesheet">

    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script><![endif]-->
    <?php if (!empty($customCss)): ?>
        <?php foreach ($customCss as $css): ?>
            <link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
        <?php endforeach; ?>
    <?php endif; ?>

    
</head>
<body class="background-light">

<div class="colorline">&nbsp;</div>

<!--<div class="logo">
    <h4 class="visible-lg"><a href="<?php echo base_url();?>"><img  src="<?php echo base_url(); ?>public/img/nambal-logo-small.png" alt=""/>&nbsp;&nbsp;Nambal.com</a></h4>
    <h4 class="visible-xs visible-sm visible-md"><a href="<?php echo base_url();?>"><img  src="<?php echo base_url(); ?>public/img/nambal-logo-small.png" alt=""/></a></h4>
</div>-->

<div class="logo">
    <h4 class="visible-lg"><a href="<?php echo base_url(); ?>"><img src="<?php echo base_url(); ?>public/img/doctorsdashboard-nambal-logo.png" alt="" /></a></h4>
    <h4 class="visible-xs visible-sm visible-md"><a href="<?php echo base_url(); ?>"><img src="<?php echo base_url(); ?>public/img/nambal-logo-small.png" alt=""></a></h4>
</div>

<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="active">
            <a href="<?php echo base_url(); ?>doctorDashboard"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#doctor-options"><i class="fa fa-user-md"></i> <span class="name">Doctor Options</span></a>
            <ul id="doctor-options" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'doctor options')==0) ) echo 'in'; ?> collapse ">
                <li><a href="<?php echo base_url(); ?>profileViewer">Profile Viewer</a></li>
                <li><a href="<?php echo base_url(); ?>appointments">Appointments</a></li>
                <li><a href="<?php echo base_url(); ?>clinicSettings">Clinic Settings</a></li>
                <li><a href="<?php echo base_url(); ?>doctorstaff">Staff Administration</a></li>
                <li><a href="<?php echo base_url(); ?>setAsDefaultDashboard?dashboard=doctor">Set as Default Dashboard</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#messaging-links"><i class="fa fa-envelope"></i> <span class="name">Messaging&nbsp;&nbsp;<span class="label label-important">9</span></span></a>
            <ul id="messaging-links" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Messaging')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>messagesDoctor/inbox">Inbox&nbsp;&nbsp;<span class="label label-important">4</span></a></li>
                <li><a href="<?php echo base_url(); ?>messagesDoctor/sent">Sent&nbsp;&nbsp;<span class="label label-important">5</span></a></li>
                <li><a href="<?php echo base_url(); ?>messagesDoctor/draft">Draft</a></li>
                <li><a href="<?php echo base_url(); ?>messagesDoctor/deleted">Deleted</a></li>
            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#apps-menus"><i class="fa fa-list-alt"></i> <span class="name">Applications &amp; Plug-ins</span></a>
            <ul id="apps-menus" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Applications and Plug-ins')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>applicationsDoctor/appnetwork">App Network</a></li>
                <li><a href="<?php echo base_url(); ?>applicationsDoctor?appName=basicAccounting">Basic Accounting</a></li>
                <li><a href="<?php echo base_url(); ?>profileViewer">QR reader</a></li>
                <li><a href="<?php echo base_url(); ?>donorsNetwork">Donor's network</a></li>
                <li><a href="<?php echo base_url(); ?>nonNambal">Non-nambal Record</a></li>

            </ul>
        </li>
        <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#personal-menus"><i class="fa fa-bookmark-o"></i> <span class="name">Personal Dashboard</span></a>
            <ul id="personal-menus" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'personal dashboard')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>dashboard">Back to personal dashboard</a></li>
                <li><a href="<?php echo base_url(); ?>healthCard/printArea">Print your nambal safe card</a></li>
                <li><a href="<?php echo base_url(); ?>wellnessCalendar">Your wellness calendar</a></li>
              
            </ul>
        </li>
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>

<div class="wrap">
    <header class="page-header">   
        <div class="breadcrumbwidget">
            <ul class="breadcrumb">
                <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
                <li class="active"><a href="/dashboard">Patient's Dashboard</a></li>
            </ul>
        </div>  
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="visible-phone-landscape"><a href="#" id="search-toggle"><i class="fa fa-search"></i></a></li>
                <li class="dropdown">
                    <a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-comments"></i></a>
                    <ul id="messages-menu" class="dropdown-menu messages" role="menu">
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/1.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Jane Hew</div>
                                    <div class="text">Hey, John! How is it going? ...</div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/2.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Alies Rumiancaŭ</div>
                                    <div class="text">I'll definitely buy this template</div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="message">
                                <img src="img/3.jpg" alt="">
                                <div class="details">
                                    <div class="sender">Michał Rumiancaŭ</div>
                                    <div class="text">Is it really Lore ipsum? Lore ...</div>
                                </div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="text-align-center see-all">See all messages <i class="fa fa-arrow-right"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" title="8 support tickets" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-group"></i><span class="count">8</span></a>
                    <ul id="support-menu" class="dropdown-menu support" role="menu">
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture"><span class="label label-important"><i class="fa fa-bell-o"></i></span></div>
                                <div class="details">Check out this awesome ticket</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture"><span class="label label-warning"><i class="fa fa-question-circle"></i></span></div>
                                <div class="details">"What is the best way to get ...</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture"><span class="label label-success"><i class="fa fa-tag"></i></span></div>
                                <div class="details">This is just a simple notification</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture"><span class="label label-info"><i class="fa fa-info-circle"></i></span></div>
                                <div class="details">12 new orders has arrived today</div>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#" class="support-ticket">
                                <div class="picture"><span class="label label-important"><i class="fa fa-plus"></i></span></div>
                                <div class="details">One more thing that just happened</div>
                            </a>
                        </li>
                        <li role="presentation"><a href="#" class="text-align-center see-all">See all tickets <i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li class="hidden-xs"><a href="#" id="settings" title="Settings" data-toggle="popover" data-placement="bottom"><i class="fa fa-cog"></i></a></li>
                <li class="hidden-xs dropdown">
                    <a href="#" title="Account" id="account"class="dropdown-toggle"data-toggle="dropdown"><i class="fa fa-user"></i></a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                        <li role="presentation" class="account-picture"><img src="img/2.jpg" alt="">Philip Daineka</li>
                        <li role="presentation"><a href="form_account.html" class="link"><i class="fa fa-user"></i>Profile</a></li>
                        <li role="presentation"><a href="component_calendar.html" class="link"><i class="fa fa-calendar"></i>Calendar</a></li>
                        <li role="presentation"><a href="#" class="link"><i class="fa fa-inbox"></i>Inbox</a></li>
                    </ul>
                </li>
                <li class="visible-xs"><a href="javascript:void();" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title=""><i class="fa fa-bars"></i></a></li>
                <li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>
            </ul>
            <form id="search-form" class="navbar-form pull-right" role="search">
                <input type="search" class="search-query" placeholder="Search...">
            </form>
                <!--<div class="notifications pull-right">
                    <div class="alert pull-right">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <i class="fa fa-info-circle"></i> Check out Light Blue <a id="notification-link" href="#">settings</a> on the right!
                    </div>
                </div>-->
        </div>
    </header>
    <div class="content container">
        <div class="row">
            <span class="visible-lg">&nbsp;<br></span>&nbsp;<br>
            <span class="visible-xs">&nbsp;<br>&nbsp;<br></span>
        </div>
        <?php
            if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
              $this->load->view($view . '.phtml');
            else:
              $this->load->view('home/home.phtml');
            endif;
        ?>
    </div>
</div>



<!-- jquery and friends -->
<script src="<?php echo base_url();?>public/lib/jquery/jquery-2.0.3.min.js"> </script>

<!-- jquery plugins -->
<script src="<?php echo base_url();?>public/lib/icheck.js/jquery.icheck.js"></script>
<script src="<?php echo base_url();?>public/lib/sparkline/jquery.sparkline.js"></script>
<script src="<?php echo base_url();?>public/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="<?php echo base_url();?>public/lib/jquery.slimscroll.js"></script>
<script src="<?php echo base_url();?>public/lib/fullcalendar/fullcalendar.js"></script>

<script src="<?php echo base_url();?>public/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="<?php echo base_url();?>public/lib/parsley/parsley.js"> </script>
<script src="<?php echo base_url();?>public/lib/select2.js"></script>
<script src="<?php echo base_url();?>public/lib/jquery.dataTables.min.js"></script>

<!-- d3, nvd3-->
<script src="<?php echo base_url();?>public/lib/nvd3/lib/d3.v2.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/scatter.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/axis.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/legend.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/multiBar.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/multiBarChart.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/line.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/lineChart.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/stream_layers.js"></script>

<!--backbone and friends -->
<script src="<?php echo base_url();?>public/lib/backbone/underscore-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone.localStorage-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone-pageable.js"></script>
<script src="<?php echo base_url();?>public/lib/backgrid/backgrid.js"></script>
<script src="<?php echo base_url();?>public/lib/backgrid/backgrid-paginator.js"></script>

<!-- bootstrap default plugins -->
<script src="<?php echo base_url();?>public/lib/bootstrap/transition.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/collapse.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/alert.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/tooltip.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/popover.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/button.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php echo base_url();?>public/lib/bootstrap/dropdown.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/modal.js"></script>

<!-- basic application js-->
<script src="<?php echo base_url();?>public/js/app.js"></script>
<script src="<?php echo base_url(); ?>public/js/settings.js"></script>

<!-- page specific -->
<script src="<?php echo base_url(); ?>public/js/index.js"></script>
<script src="<?php echo base_url(); ?>public/js/chat.js"></script>
<script src="<?php echo base_url(); ?>public/js/grid-live.js"> </script>

<!-- bootstrap custom plugins -->
<script src="<?php echo base_url(); ?>public/lib/bootstrap-datepicker.js"></script>
<script src="<?php echo base_url(); ?>public/lib/bootstrap-select/bootstrap-select.js"></script>
<script src="<?php echo base_url(); ?>public/lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
<script src="<?php echo base_url(); ?>public/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>


<!-- page-specific js -->
<?php if (!empty($customJs)): ?>
<?php foreach ($customJs as $js): ?>
<script type="text/javascript" src="<?php echo base_url(); ?>public/js/<?=$js;?>.js"></script>
<!-- test -->
<?php endforeach; ?>
<?php endif; ?>

<script type="text/template" id="message-template">
        <div class="sender pull-left">
            <div class="icon">
                <img src="img/2.jpg" class="img-circle" alt="">
            </div>
            <div class="time">
                just now
            </div>
        </div>
        <div class="chat-message-body">
            <span class="arrow"></span>
            <div class="sender">Tikhon Laninga</div>
            <div class="text">
                <%- text %>
            </div>
        </div>
</script>

<script type="text/template" id="settings-template">
    <div class="setting clearfix">
        <div>Background</div>
        <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% dark = background == 'dark'; light = background == 'light';%>
            <button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            <button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
</script>

<script type="text/template" id="sidebar-settings-template">
    <% auto = sidebarState == 'auto'%>
    <% if (auto) {%>
    <button type="button"
            data-value="icons"
            class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
    <%} else {%>
    <button type="button"
            data-value="auto"
            class="btn btn-transparent btn-sm">Auto</button>
    <% } %>
</script>

</body>
</html>