<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/doctor/header.phtml');
		$this->load->view('structures/doctor/logo.phtml');
		$this->load->view('structures/doctor/sidebar_nav.phtml');
	endif;
?>

<div class="wrap">	
	<header class="page-header">
    	<?php
			if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
				$this->load->view($view . '.phtml');
			else:
				$this->load->view('structures/doctor/breadcrumbs.phtml');
			endif;
		?>   
        <div class="navbar">
        	<ul class="nav navbar-nav navbar-right pull-right">
            	<!--<li class="visible-phone-landscape"><a href="#" id="search-toggle"><i class="fa fa-search"></i></a></li>-->
            	<?php
						$this->load->view('structures/doctor/dashboard_switch.phtml');
						echo '<li class="divider"></li>';
						
						// $this->load->view('structures/doctor/header_notifications.phtml');
                        echo '
                        <li class="dropdown" >
                            <a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-comments"></i>
                          </a>
                            <ul class="dropdown-menu messages" role="menu" id="messages-notification">
                                <li role="presentation" style="text-align: center;">
                                  <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait. 
                                </li>
                            </ul>
                        </li>';
						echo '<li class="divider"></li>';
						$this->load->view('structures/doctor/header_ProfileGreeting.phtml');
				?>                     
                    <li class="visible-xs">
                        <a href="javascript:void();"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
        </div>
    </header>
    <div class="content container">
    	<div class="row">
		    <span class="visible-lg">&nbsp;<br></span>
		    &nbsp;<br>
		    <span class="visible-xs">&nbsp;<br>
		    &nbsp;<br></span>
		</div>
		<?php
		    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		      $this->load->view($view . '.phtml');
		    else:
		      $this->load->view('home/home.phtml');
		    endif;
		?>
    </div>
</div>
<?php
		$this->load->view('structures/jquery.phtml');
		$this->load->view('structures/footer.phtml');
?>