<!DOCTYPE html>
<html>
<head>
    <title>Receivables monitoring - Nambal.com - Dashboard</title>
    <link href="<?=base_url();?>public/white/css/application.min.css" rel="stylesheet">
    <link href="<?=base_url();?>public/homepage-pub/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">


</head>
<body class="">
<div class="logo">
    <h4><a href="index.html">Nambal.com <strong>Receivables</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="<?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'dashboard')==0) ) echo 'active'; ?>">
            <a href="<?=base_url();?>receivables"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>

        <li class="panel <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'receivables')==0) ) echo 'active'; ?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#receivable-collapse"><i class="fa fa-money"></i> <span class="name"><span class="badge badge-warning">28</span> Receivables</span></a>
            <ul id="receivable-collapse" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'receivables')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?=base_url();?>receivables/day"><i class="fa fa-calendar"></i> <span class="name">&nbsp;<span class="badge badge-success">14</span>Day</span></a></li>
                <li><a href="<?=base_url();?>receivables/week"><i class="fa fa-calendar"></i> <span class="name">&nbsp;<span class="badge badge-danger">2</span>Week</span></a></li>
                <li><a href="<?=base_url();?>receivables/month"><i class="fa fa-calendar"></i> <span class="name">&nbsp;<span class="badge badge badge-info">12</span>Month</span></a></li>
            </ul>
        </li>

        <li class="panel  <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'patients')==0) ) echo 'active'; ?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse"
               data-parent="#side-nav" href="#patient-collapse"><i class="fa fa-wheelchair"></i> <span class="name"> Patients</span></a>
            <ul id="patient-collapse" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'patients')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?=base_url();?>receivables/addpatient"><i class="fa eicon-user-add"></i> <span class="name">&nbsp;Add patient</span></a></li>
                <li><a href="<?=base_url();?>receivables/patients"><i class="fa fa-users"></i> <span class="name">&nbsp;Show all patient</span></a></li>
            </ul>
        </li>
       
        <li class="visible-xs">
            <a href="<?=base_url();?>logout"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>

</nav>
<div class="wrap">
    <header class="page-header">
        <div class="navbar">
                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    
                   
                    <li class="divider"></li>
            
                    <li class="visible-xs">
                        <a href="#"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <li class="hidden-xs"><a href="<?=base_url()?>logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>
                <form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="search-query" placeholder="Search...">
                </form>
            
        </div>
    </header>
    <div class="content container">
        <?php
            if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
              $this->load->view($view . '.phtml');
            else:
              $this->load->view('receivable/index.phtml');
            endif;
        ?>  
    </div>
</div>

<!-- jquery and friends -->
<script src="<?=base_url();?>public/white/lib/jquery/jquery-2.0.3.min.js"> </script>


<!-- jquery plugins -->
<script src="<?=base_url();?>public/white/lib/icheck.js/jquery.icheck.js"></script>
<script src="<?=base_url();?>public/white/lib/sparkline/jquery.sparkline.js"></script>
<script src="<?=base_url();?>public/white/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="<?=base_url();?>public/white/lib/jquery.slimscroll.js"></script>

<!-- d3, nvd3-->
<script src="<?=base_url();?>public/white/lib/nvd3/lib/d3.v2.js"></script>
<script src="<?=base_url();?>public/white/lib/nvd3/nv.d3.custom.js"></script>


<!--backbone and friends -->
<script src="<?=base_url();?>public/white/lib/backbone/underscore-min.js"></script>
<script src="<?=base_url();?>public/white/lib/backbone/backbone-min.js"></script>
<script src="<?=base_url();?>public/white/lib/backbone/backbone.localStorage-min.js"></script>

<!-- bootstrap default plugins -->
<script src="<?=base_url();?>public/white/lib/bootstrap/transition.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/collapse.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/alert.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/tooltip.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/popover.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/button.js"></script>
<script src="<?=base_url();?>public/white/lib/bootstrap/tab.js"> </script>
<script src="<?=base_url();?>public/white/lib/bootstrap/dropdown.js"></script>

<!-- basic application js-->
<script src="<?=base_url();?>public/white/js/app.js"></script>
<script src="<?=base_url();?>public/white/js/settings.js"></script>


    <link rel="stylesheet" href="<?=base_url()?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
    <script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
    <script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
    <script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
    <style>
    .ui-autocomplete-loading {
      background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
    }
    .ui-autocomplete {
      display: 
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }

    .datepicker
    {
        z-index: 1100 !important;
    }
    ul.ui-autocomplete {
        z-index: 1100;
    }

    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    html .ui-autocomplete {
      height: 100px;
    }
    </style>

<script >
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-dateresolved');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateresolved').val($btnCalendar.data('date'));
    // $btnCalendar.datepicker('hide');
});
jQuery('.datepicker .datepicker-days tbody').on('click', function(){  $btnCalendar.datepicker('hide'); });

jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();


</script>
</body>
</html>