<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?><?php if(empty($urlAdd)) {echo $urlAdd;} else {echo 'doctorDashboard'; }?>">    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title><?= isset($title) ? $title : 'Home' ?> - Locate My Debt</title>
    <link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="public/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="public/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="public/css/style.default.css" type="text/css" />
    <link rel="stylesheet" href="public/prettify/prettify.css" type="text/css" />
    <link rel="stylesheet" href="public/css/nambal.dashboardc.css" type="text/css" />
    <link rel="stylesheet" href="public/css/bootstrap-responsive.min.css" type="text/css" />
    <script type="text/javascript" src="public/prettify/prettify.js"></script>
    <script type="text/javascript" src="public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="public/js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.flot.resize.min.js"></script>
    <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="public/js/custom.js"></script>
    <script type="text/javascript" src="public/js/nambal.dashboardv.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script><![endif]-->
    <?php if (!empty($customCss)): ?>
        <?php foreach ($customCss as $css): ?>
            <link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php if (!empty($customJs)): ?>
        <?php foreach ($customJs as $js): ?>
            <script type="text/javascript" src="public/js/<?=$js;?>.js"></script>
        <?php endforeach; ?>
    <?php endif; ?>
</head>
<body>

    
<div class="mainwrapper fullwrapper">
  
    <!-- START OF LEFT PANEL -->
    <?php $this->load->view('doctor-dashboard/left.phtml'); ?>
    <!--leftmenu-->
        
    </div><!--mainleft-->
    <!-- END OF LEFT PANEL -->
    
    <!-- START OF RIGHT PANEL -->
    <div class="rightpanel">
      <div class="headerpanel">
        <div class="hidden-desktop">
        </div>
          <a href="" class="showmenu hidden-desktop"></a>
          <?php if (!empty($this->nambal_session['firstname'])): ?>
            <div class="headerright">
              <div class="dropdown notification">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">
                      <span class="iconsweets-globe iconsweets-white"><span class="badge badge-important">6</span></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="nav-header">Notifications</li>
                        <li>
                          <a href="/profile/viewer">
                          <strong>3 people viewed your profile</strong><br />
                            <img src="public/img/thumbs/thumb1.png" alt="" />
                            <img src="public/img/thumbs/thumb2.png" alt="" />
                            <img src="public/img/thumbs/thumb3.png" alt="" />
                          </a>
                        </li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                        <li><a href="/messages"><span class="icon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                        <li><a href="/donorsNetwork"><span class="icon-user"></span> <strong>Blood Donors wanted</strong> matched yours <small class="muted"> - 2 days ago</small></a></li>
                        <li class="viewmore"><a href="/notification">View More Notifications</a></li>
                    </ul>
              </div><!--dropdown-->
          <div class="dropdown userinfo">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="/page.html">Hi, <?=@$this->nagkamoritsing->ibalik($this->nambal_session['firstname']);?><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-edit"></span> Edit Profile</a></li>
                    <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-wrench"></span> Account Settings</a></li>
                    <li><a  href="#under-improvement" data-toggle="modal"><span class="icon-eye-open"></span> Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="<?php echo base_url(); ?>logout"><span class="icon-off"></span> Sign Out</a></li>
                </ul>
            </div><!--dropdown-->
          </div><!--headerright-->
          <?php else: ?>
          <div class="headerright">
            <a class="btn btn-small btn-danger" href="<?php echo base_url(); ?>login" role="button" data-toggle="modal"><strong>Sign In</strong></a>&nbsp;&nbsp;
            <a class="btn btn-small btn-primary gotocreate" href="<?php echo base_url(); ?>register"><strong>Create Account</strong></a>
          </div><!--headerright-->
          <?php endif; ?>
      </div><!--headerpanel-->

<?php
    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
      $this->load->view($view . '.phtml');
    else:
      $this->load->view('home/home.phtml');
    endif;
?>
        
    </div><!--mainright-->
    <!-- END OF RIGHT PANEL -->
    
    <div class="clearfix">&nbsp;</div>
    
<div class="footer">
      <div class="footerleft">Nambal v1.0 </div>
      <div class="footerright">&copy; Nambal.com  -  <a href="https://twitter.com/nambaldotcom">Follow us on Twitter</a> - <a href="https://www.facebook.com/nambalcebu">Follow us on Facebook</a></div>
    </div><!--footer--><!--mainwrapper-->

<div id="under-improvement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Not yet available</h3>
  </div>
  <div class="modal-body">
    <p>Please bear with us because we are currently improving our Webapp.<br>
    For waiting list please like our <a href="https://www.facebook.com/nambalcebu?fref=ts">facebook page</a>. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

</body>
</html>