<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title><?= isset($title) ? $title : 'Home' ?> - Nambal.com software consultancy</title>
</head>

<body>
	<?php
	if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
	  $this->load->view($view . '.phtml');
	else:
	  $this->load->view('empty.phtml');
	endif;
	?>
<p> Cheers,<br>
  The Nambalizers<br>
  <br>
</p>
<?php if (isset($footerEmail)):?>
	<h4>
		This message was intended for <?php echo $footerEmail; ?> and was sent to you by Nambal.com.
	Nambal.com respects your privacy. For more information, please review our <a href="<?php echo base_url();?>privacy">Privacy Policy</a>.
	</h4>
<?php endif ; ?>
<h5>Copyright 2014 Nambal.com Software Consultancy. All rights reserved. We are located at Unit 330, 3rd Floor, Arts and Science Building,  University of the Philippines Cebu College Campus, Gorordo Ave., Lahug, Cebu City, PHILIPPINES.
</h5>
</body>
</html>