<!DOCTYPE html>
<html lang="en">
	<head>		
		<base href="<?= base_url() ?>">
		<script src="public/js/modernizr-2.5.3.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Dancing+Script' rel='stylesheet' type='text/css'/>
		<link href="<?=base_url();?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Doctors, patients, Health professionals, health information">
	    <meta name="author" content="nambal.com inc">
		<title><?= isset($title) ? $title : 'Home' ?> - Nambal.com software consultancy</title>
		<link href="public/css/print-nambal-card.css" type="text/css" rel="stylesheet" media="print"/>
		<link href="public/css/nambal-card.css" type="text/css" rel="stylesheet" media="screen"/>
		<!-- Bootstrap -->
		<link href="public/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen"/>
		<link href="public/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"  media="screen"/>
		<!--[if IE 8 ]>    
			<link href="public/css/nambal-card-ie.css" type="text/css" rel="stylesheet"/>   
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="public/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/datepicker.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/signup.css"/>
    	<link rel="stylesheet" type="text/css" href="public/css/zocial.css"/>

		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="public/js/bootstrap-datepicker.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-collapse.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-collapse.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-transition.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-scrollspy.js"> </script>
		<script type="text/javascript" src="public/js/main.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="public/js/smoothscroll.js"></script>
		<script type="text/javascript" src="<?=base_url();?>public/js/sharethis-buttons.js"></script>

		<script type="text/javascript">
	        var BASEURLL = '<?=@base_url()?>';
	    </script>
		<?php if (!empty($customCss)): ?>
			<?php foreach ($customCss as $css): ?>
				<link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
			<?php endforeach; ?>
		<?php endif; ?>
		<link href="public/css/custom-media-queries.css" rel="stylesheet" type="text/css"/>
		<?php if (!empty($customJs)): ?>
			<?php foreach ($customJs as $js): ?>
				<script type="text/javascript" src="public/js/<?php echo $js;?>.js"></script>
			<?php endforeach; ?>
		<?php endif; ?>
		 <?php 
        	$this->load->helper('googlea');
	        if (strcasecmp(googlea(), 'on')==0):
	    ?>
	    <script>
	      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	      ga('create', 'UA-27195127-1', 'auto');
	      ga('send', 'pageview');

	    </script>
	    <?php endif; ?>
	</head>
	<body data-spy="scroll" data-target="#navbarExample" data-offset="10">
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top" id="navbarExample">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="brand" href="#"><img src=""></a>-->
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="#home">Home</a></li>
								<li><a href="//www.nambal.com/index.html#.contact-us|2000" data-toggle="modal">Contact Us</a></li>
							</ul>
							<form class="navbar-form pull-right hidden-tablet hidden-phone">
								<ul class="nav signinup">
								<?php if (empty($this->nambal_session['sessionName'])): ?>
				                  <li><button class="btn btn-small btn-danger" href="#signin" role="button" data-toggle="modal"><strong>Sign In</strong></button>&nbsp;&nbsp;</li>
				                  <li><button type="button" class="btn btn-small btn-primary gotocreate"><strong>Create Account</strong></button></li>
				                <?php else: ?>
				                  <li><button type="button" class="btn btn-small btn-danger logoutbtn" href="logout"><strong>Logout</strong></button>&nbsp;&nbsp;</li>
			                  	<?php if (!empty($this->nambal_session['street'])): ?>
			                  	  <li><button type="button" class="btn btn-small btn-primary gotodashboard" href="logout"><strong>Dashboard</strong></button></li>
			                  	<?php endif; ?>
				            	<?php endif; ?>
				                </ul>
							</form>
                            <div class="hidden-desktop" style="text-align: center;">
                            	<?php if (empty($this->nambal_session['sessionName'])): ?>
                            	<a class="btn btn-danger btn-block" href="login"><strong>Sign In</strong></a>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary gotocreate btn-block"><strong>Create Account</strong></button>
                            	<?php else: ?>
                            	<button type="button" class="btn btn-block btn-danger logoutbtn" href="Logout"><strong>Logout</strong></button>
                        		<?php if (!empty($this->nambal_session['street'])): ?>
                        			<button type="button" class="btn btn-block btn-primary gotodashboard" href="Logout"><strong>Dashboard</strong></button>
                        		<?php endif; ?>
                            	<?php endif; ?>
                            </div>

						</div>									
					</div>		
				</div>
			</div>
			<section id="bodyHeader">
					<div id="bodyContainer-white">
<?php
		if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		  $this->load->view($view . '.phtml');
		else:
		  $this->load->view('empty.phtml');
		endif;
?>
                    </div>
			</section>
			<footer id="theFooter" >
			<div class="row-fluid">
				<div class="container footer-links span9">
					<nav id="navFooter">
						<ul>
						  	<li><a href="https://www.facebook.com/nambalcebu" data-toggle="modal">Help &amp; Support</a></li>
						  	<!-- <li><a href="#under-improvement" data-toggle="modal">API</a></li> -->
						  	<li><a href="https://www.facebook.com/nambalcebu" data-toggle="modal">Community &amp; Feedback</a></li>
<!-- 						<li><a href="#under-improvement" data-toggle="modal">Product Roadmap</a></li> -->						  
							<!-- <li><a href="#under-improvement" data-toggle="modal">Partners &amp; Investors area</a></li> -->
							<li><a href="<?php echo base_url();?>privacy" data-toggle="modal">Privacy Policy</a></li>
							<li><a href="<?php echo base_url();?>terms-and-conditions" data-toggle="modal">Terms &amp; Conditions</a></li>
							<li><a href="<?php echo base_url();?>thank-you-page.html" data-toggle="modal">Thank you page</a></li>
						</ul>
					</nav>		
					<div class="span9 cpryt">
						&copy; <?=date('o'); ?> Copyright Nambal.com, Inc. All rights reserved. Proudly made in Philippines.
					</div>		
			  	</div>
				<div class="clear">&nbsp;</div>	
				<div id="scbFooter" class="span9">
					<span class='st_facebook_hcount'></span>
					<span class='st_twitter_hcount'></span>
	                <span class='st_googleplus_hcount'></span> 
				</div>
			</div>
		  </footer>
			
		</div>
<div id="under-improvement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Not yet available</h3>
  </div>
  <div class="modal-body">
    <p>Please bear with us because we are currently improving our Website.<br>
    For waiting list please like our <a href="https://www.facebook.com/nambalcebu?fref=ts">facebook page</a>. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
<div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h3 class="signin-header" id="myModalLabel">Sign In to Nambal</h3>
                            </div>
                            <div class="modal-body row-fluid">
                                <div class="pull-left signin-social" id="socialNetworkLogin">
                                  <h5 class="signin-header" >Sign in with social account</h5>
                                  <a href="login/facebook" class='zocial facebook pull-left'><small>Sign in with Facebook</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial twitter pull-left social-tw'><small>Sign in with Twitter</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial googleplus pull-left social-gplus'><small>Sign in with Google</small></a>
                                </div>
                                <div class="pull-left signin-native">
                                  <h5 class="signin-header">Sign with email or username</h5>
                                  <form action="login" method="post">
                                    <div class="">
                                      <input type="text" name="username" class="input-large" placeholder="Email or username" required id="username">
                                    </div>

                                    <div class="">
                                      <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required>
                                    </div>
                                    <a href="forgotPassword">Forgot Password</a>
                                    <div>
                                      <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
                                    </div>
                                    
                                  </form>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
</div>
<div id="contact-us" class="modal hide  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-info"><strong>Address:</strong>
      <br>
   	3rd floor, CebuinIT, arts and science building,<br>
    University of the Philippines - Cebu<br>
    Gorordo Avenue, Lahug<br>
    Cebu City, Cebu 6000<br>
    PHILIPPINES</p>
   
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>
</body>
</html>