<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title><?= isset($title) ? $title.' - ' : '' ?>  Nambal.com | Healthcare made easy.</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="<?= isset($pageDescription) ? $pageDescription : 'Free health information system for patients & medical professionals.' ?>">
		<meta name="keywords" content="<?= isset($pageKeywords) ? $pageKeywords : 'Doctors, patients, Health professionals, health information' ?>">
		<meta name="author" content="Nambal.com inc">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
				
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="<?=base_url();?>public/homepage-pub/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="<?=base_url();?>public/homepage-pub/css/font-awesome.min.css" rel="stylesheet">	
		<!-- Pretty Photo -->
		<link href="<?=base_url();?>public/homepage-pub/css/prettyPhoto.css" rel="stylesheet">
		<!-- Animation CSS -->
		<link href="<?=base_url();?>public/homepage-pub/css/animate.min.css" rel="stylesheet" >
		<!-- Custom CSS -->
		<link href="<?=base_url();?>public/homepage-pub/css/style.css" rel="stylesheet">
		<!-- Favicon -->
		<link href="<?=base_url();?>public/homepage-pub/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="<?=base_url();?>public/homepage-pub/css/custom-homepage.css" rel="stylesheet">
		<?php 
	        $this->load->helper('googlea');
	        if (strcasecmp(googlea(), 'on')==0):
	    ?>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-27195127-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<?php endif; ?>
	</head>
	
	<body>
			<!-- Navigation Bar Starts -->
					<div class="head-bar">
								<div class="col-md-3 col-sm-3">
									<div class="head-brand">
										<a href="<?=base_url();?>"><i id="logohere-small" class="fa "></i> <span class="red">Nambal</span><span class="blue">.com</span></a>
									</div>
								</div>
								<div class="col-md-9 col-sm-9">
									<!-- Navigation List Starts -->
									<div class="navigation-bar pull-right">
										<ul class="list-inline">
											<li><a href="<?=base_url();?>#.home|1000">Home</a></li>
											<li><a href="<?=base_url();?>#.contact-us|2000">Contact</a></li>
										<?php if (!empty($this->nambal_session['sessionName'])): ?>
											<li><a href="<?=base_url();?>dashboard" class="btn-red"><i class="fa fa-dashboard"></i> &nbsp;Back to dashboard</a></li>
										<?php else: ?>
											<li><a href="<?=base_url();?>register" class="btn-red"><i class="fa fa-pencil-square-o"></i> &nbsp;Register</a></li>
											<li><a href="<?=base_url();?>login" class="pbtn btn-blue"><i class="fa fa-sign-in"></i> Login now</a></li>
										<?php endif; ?>
										</ul>
									</div>
									<div class="clearfix"></div>
									
									<div class="nav-icon">
										<a href="#"><i class="fa fa-bars"></i></a>
									</div>
									<!-- Navigation List Ends-->
								</div>
					</div>
					<span class="home"></span>
				<!-- Navigation bar Ends -->
			
            <?php
			    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
			      $this->load->view($view . '.phtml');
			    endif;
			?> 
		
			<div class="config block text-center">
				<div class="container">

					<footer>
						<div class="fwhite">
							<p>Copyright &copy; 2014 Nambal.com, Inc.  Proudly made in the Philippines. <br>Check our <a href="<?=base_url();?>thank-you-page.html">credit page</a>. <br><a href="https://www.google.com/+Nambalcom" target="_blank" rel="publisher">Find us on Google+</a></p>

						</div>
					</footer>
					
						<!-- Scroll to top -->
						
						<span class="gotop"><a href="#.home"><i class="fa fa-chevron-up"></i></a></span> 
						
					<!-- Footer Ends -->
					
				</div>
			</div>
			
			
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="<?=base_url();?>public/homepage-pub/js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="<?=base_url();?>public/homepage-pub/js/bootstrap.min.js"></script>
		<!-- Pretty Photos -->
		<script src="<?=base_url();?>public/homepage-pub/js/jquery.prettyPhoto.js"></script>
		<!-- Arbitrary Anchor JS -->
		<script type="text/javascript" src="<?=base_url();?>public/homepage-pub/js/jquery.arbitrary-anchor.js"></script>
		<!-- Sticky -->
		<script src="<?=base_url();?>public/homepage-pub/js/jquery.sticky.js"></script>
		<!-- Way Points-->
		<script src="<?=base_url();?>public/homepage-pub/js/waypoints.min.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="<?=base_url();?>public/homepage-pub/js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="<?=base_url();?>public/homepage-pub/js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="<?=base_url();?>public/homepage-pub/js/custom.js"></script>
	</body>	
</html>