<!DOCTYPE html>
<html lang="en">
	<head>		
		<base href="<?= base_url() ?>">
		<script src="public/js/modernizr-2.5.3.min.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700|Dancing+Script' rel='stylesheet' type='text/css'/>
		<link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<title>Nambal</title>
		<!-- Bootstrap -->
		<link href="public/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen"/>
		<link href="public/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"  media="screen"/>
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="public/css/main-ie.css"/>
		<![endif]-->
		<link rel="stylesheet" type="text/css" href="public/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="public/css/signup.css"/>
    	<link rel="stylesheet" type="text/css" href="public/css/zocial.css"/>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" src="public/js/bootstrap-collapse.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-transition.js"> </script>
		<script type="text/javascript" src="public/js/bootstrap-scrollspy.js"> </script>
		<script type="text/javascript" src="public/js/main.js"> </script>
		<script type="text/javascript"src="public/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="public/js/smoothscroll.js"></script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	</head>
	<body data-spy="scroll" data-target="#navbarExample" data-offset="10">
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top" id="navbarExample">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!--<a class="brand" href="#"><img src=""></a>-->
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="active"><a href="#home">Home</a></li>
								<li><a href="#contact-us" data-toggle="modal">Contact Us</a></li>
							</ul>
							<form class="navbar-form pull-right hidden-tablet hidden-phone">
								<ul class="nav signinup">
								<?php if (empty($this->nambal_session['sessionName'])): ?>
				                  <li><button class="btn btn-small btn-danger" href="#signin" role="button" data-toggle="modal"><strong>Sign In</strong></button>&nbsp;&nbsp;</li>
				                  <li><button type="button" class="btn btn-small btn-primary gotocreate"><strong>Create Account</strong></button></li>
				                <?php else: ?>
				                  <li><button type="button" class="btn btn-small btn-danger logoutbtn" href="logout"><strong>Logout</strong></button>&nbsp;&nbsp;</li>
			                  	<?php if (!empty($this->nambal_session['street'])): ?>
			                  	  <li><button type="button" class="btn btn-small btn-primary gotodashboard" href="logout"><strong>Dashboard</strong></button></li>
			                  	<?php endif; ?>
				            	<?php endif; ?>
				                </ul>
							</form>
                            <div class="hidden-desktop" style="text-align: center;">
                            	<?php if (empty($this->nambal_session['sessionName'])): ?>
                            	<a class="btn btn-danger btn-block" href="login"><strong>Sign In</strong></a>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary gotocreate btn-block"><strong>Create Account</strong></button>
                            	<?php else: ?>
                            	<button type="button" class="btn btn-block btn-danger logoutbtn" href="logout"><strong>Logout</strong></button>
                        		<?php if (!empty($this->nambal_session['street'])): ?>
                        			<button type="button" class="btn btn-block btn-primary gotodashboard" href="logout"><strong>Dashboard</strong></button>
                        		<?php endif; ?>
                            	<?php endif; ?>
                            </div>

						</div>									
					</div>		
				</div>
			</div>
			
			<div id="home">
				<section id="bodyHeader">
					<div id="bodyHeaderInside">
						<!--<a href="#" title="Nambal.com Life Saving Information for  life savers" id="logo">Nambal.com</a>-->
							<div class="div-center"><img id="logo" src="public/img/logo.png"  alt="Nambal logo"/></div>
							<div class="left_tilt"></div>
							<div class="slogan">Life saving information for life-savers</div>									
						
					</div>
				</section>
				<section id="signupInfo">
					<div class="div-center">
						<a class="btn btn-primary btn-large" href="register">Sign Up Now</a><br /><br />
						<span class="fortypx">Register now and you will receive </span> <span class="fortypx1">exciting perks.</span>
						<br/><span class="fortypx"><a href="#introducing-nambal.com">Or you still want to learn more?</a></span>
					</div>				
				</section>	
				<section id="socialButtons">
					<span class='st_facebook_hcount'></span>
					<span class='st_twitter_hcount'></span>
	                <span class='st_googleplus_hcount'></span> 			
				</section>
			</div>
		
			<div id="about">
				<section id="introNambal"><span class="title"><a id="introducing-nambal.com"></a></span>
					<div class="title">Introducing Nambal.com</div>
					<div class="clear">&nbsp;</div>
					<p class="subtitle">few exciting reasons why you need to use nambal</p>
					<br />
					<div class="clear">&nbsp;</div>
					<div id="videoNambal">
						<span class="vSpan1">Here's a glimpse of the system:</span><br />
						<span class="vSpan2">(please press play)</span>
						<div id="embedVideo">
							<iframe width="420" height="315" src="http://www.youtube.com/embed/TKr1ZhS_M5I"></iframe>
						</div>
						<a href="register" class="btn btn-primary btn-large">Sign Up Now</a>
					</div>
					<span class="fortypx">Register now and you will receive </span> <span class="fortypx1">exciting perks.</span>
					<br/><span class="fortypx"><a href="#how-nambal-helps-patients">Or you still want to learn more?</a></span>
				</section>
			</div>
			<div id="patient">
				<section id="helpNambal">
					<div class="cursive"><a id="how-nambal-helps-patients"></a>
						<p class="hidden-phone hidden-tablet">everyone and you</p>
					</div>
					<div class="clear">&nbsp;</div>
					<span>How nambal helps patients</span><br />
					<div class="knot">
						<p class="hidden-phone hidden-tablet">^</p>
					</div>
					<span class="subtitle">some exciting features in nambal</span>
					<div class="clear">&nbsp;</div>
					<div class="illustrations">
						<div class="left">
							<div class="clear">&nbsp;</div>
							<div><img src="public/img/nambal-safe.jpg" alt="nambal safe image"/></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Safe</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Safe Keeping your Health Record</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Imagine how convenient it is to be in control of
									your very own health record! Medical History,
									Prescribed medications, Laboratory Results and
									much much more, rolled into one system that is
									portable, accessible and safe! Experience a
									UNIFIED HEALTHCARE SYSTEM with Nambal!
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about nambal safe?</a></div>
						</div>
						<div class="center">
							<div><img src="public/img/nambal-find-my-doc.jpg" alt="nambal find my doc image"/></div>

							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;find my Doc</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Find your doctor</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Majority of Filipinos lack permanent physicians
									that attend to their needs in times of sickness. In
									Nambal, patients can search the specific medical
									specialist they need. Nambal can even generate
									which of these doctors are most compatible and
									nearest to them.
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about find my doc?</a></div>
						</div>
						<div class="right"> 
							<div><img src="public/img/nambal-donors-network.jpg" alt="nambal doctor network image"/></div>
							
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Donor's network</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Donor's Network</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Most people, not just Filipinos always have a hard
									time looking for compatible blood and organ
									donors especially during emergency situations.
									Patients can search for blood/organ donors in the
									Nambal System. It also stores their previous
									donor's information and contacts.
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about find my doc?</a></div>
						</div>
						<div class="clear">&nbsp;</div><br />
						<div class="btmLeft">
							<div><img src="public/img/nambal-line.jpg" alt="nambal electronic prescription image"/></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Line</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Electronic Prescription</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									The Nambal Line is the EXPRESS Line in
									Pharmacies exclusively for Nambal users. It
									eliminates the hassle of waiting for your priority 
									number to be called. All you have to do is to let
									your doctor input your prescriptions via your 
									Nambal safe account and it will automatically be 
									ordered in your pharmacy of choice in the form of
									an e-prescription! You may also order other 
									pharmacy products in Nambal. 
									Yes, you don't need to get hold of a paper prescription!
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about nambal line?</a></div>
						</div>
						<div class="btmRight">
							<div><img src="public/img/nambal-lab-doctor.png" width="270" height="386" alt="nambal-lab-doctor"></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Lab Request</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Electronic Laboratory Request</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Patients don't need to remember the medical laboratory exams they need to go through. Their doctors can easily send the medical examinations they need directly to the laboratory of their choice. Once the result is out, the medical laboratory directly sends the medical exam result to the attending doctor and to the patient electronically. These results are directly recorded and save to the patient's Nambal safe account. No need to hold unto paper laboratory result that may be a subject of loss!
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about nambal line?</a></div>
						</div>
						<div class="clear">&nbsp;</div><br />
						<div>
							<div class="clear">&nbsp;</div><br /><br />
							<a class="btn btn-primary btn-large" href="register">Sign Up Now</a><br />
							<span class="fortypx">Register now and you will receive </span> <span class="fortypx1">exciting perks.</span>	
							<br/><span class="fortypx"><a href="#how-nambal-helps-doctors-the-life-savers">Or you still want to learn more?</a></span>
						</div>
						
					</div>
				</section>
			</div>
			<div id="doctor">
				<section id="doctorNambal">
					<div class="cursive"><a id="how-nambal-helps-doctors-the-life-savers"></a>
						<p class="hidden-phone hidden-tablet">real life-savers</p>
					</div>
					<div class="clear">&nbsp;</div>
					<span>How nambal helps doctors</span><br />
					<div class="knot">
						<p class="hidden-phone hidden-tablet">^</p>
					</div>
					<span class="subtitle">your personal tool that can help you save lives.</span>
					<div class="clear">&nbsp;</div><br />
					<p id="firstPara"><!--
						Gag ipsum dolar sit arnet gasp in brother. On problem? Morbi hulk avenger all the things people that angry birds pokeman why. Ipsum face hac true story movie derpina 
						arnet monocle. Unsave on thor rainbow scared puking rainbows cellphone bra homer impossibru dad. Easter simpson megusta clinton if you know what i mean colletion 
						bart oboma russia. Facebook dolar meme eat always in class panda right. Computer donut 140% elephant gag superhero rebecca black jackie chan. Wodka left steve
						jobs in viverra joke oh stop it, you 9000 nyan cat mom. Cereal guy humor close enough win final week i know that feel hammer creepy me gusta top cuteness over-
						load. Really? mother captain cereal college admire alcohol sandwich happy gentlemen.
					--></p>
					<div class="illustrations">
						<div class="left">
							<div><img src="public/img/nambalsafe-doc.png" alt="nambal safe image"/></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Safe</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Safe Keeping your Health Record</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
								The Nambal safe brings a lot of advantages to our mananambals (medical professionals). Aside from the fact that Nambal safe is an Electronic Record System that can save them a LOT of office space, it also gives doctors the convenience to remotely attend to patients when they are away on a trip. All they need is a mobile device and an internet connection to monitor and check patient's stats real time
                                </span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about nambal safe?</a></div>
						</div>
						<div class="center">
							<div><img src="public/img/nambal-safe.jpg" alt="nambal safe image"/></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;find my Doc</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">Be found</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Our service for our professional "manambals" 
									(medical professionals) acts as a network for 
									professional consulting and patient referal where 
									they can showcase their specialities and grow 
									their practice.
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

							
			
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about find my doc?</a></div>
						</div>
						<div class="right"> 
							<div><img src="public/img/nambal-lab-doctor.png"  alt="nambal-lab-doctor"></div>
							<div><img src="public/img/sub-logo.png" alt="nambal logo"/> <span class="firstTitle">&nbsp;Electronic Requests</span></div>
							<div class="clear">&nbsp;</div>
							<div><span class="secondTitle">e-prescription and e-lab-request</span></div>
							<div class="clear">&nbsp;</div>
							<div>
								<span class="cntent">
									Patients don't need to remember 
									the medical laboratory exams they
									need to go through. Their doctors can
									 easily send the medical examinations 
									 they need directly to the laboratory of 
									 their choice. Once the result is out, the
									  medical laboratory directly sends the medical
									   exam result to the attending doctor
									    and to the patient electronically.
									     These results are directly recorded and 
									     save to the patient's Nambal safe account. 
									     No need to hold unto paper laboratory 
									     result that may be a subject of loss!
								
								</span>
							</div>
							<div class="clear">&nbsp;</div>
							<div><a href="#under-improvement" data-toggle="modal">need more details about find my doc?</a></div>
						</div>
					</div>
					<div class="clear">&nbsp;</div><br />
					<div>
						<div class="clear">&nbsp;</div><br /><br />
						<a class="btn btn-primary btn-large" href="register">Sign Up Now</a><br />
						<span class="fortypx">Register now and you will receive </span> <span class="fortypx1">exciting perks.</span>	
						<div class="clear">&nbsp;</div>
						<a href="#home" class="links">read back at the top</a><br />
						or <a href="#contact-us" data-toggle="modal" class="links" >contact us</a>
					</div>
				
				</section>
			</div>
			<div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h3 class="signin-header" id="myModalLabel">Sign In to Nambal</h3>
                            </div>
                            <div class="modal-body row-fluid">
                                <div class="pull-left signin-social" id="socialNetworkLogin">
                                  <h5 class="signin-header" >Sign in with social account</h5>
                                  <a href="login/facebook" class='zocial facebook pull-left'><small>Sign in with Facebook</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial twitter pull-left social-tw'><small>Sign in with Twitter</small></a><br /><br />
                                  <a href="javascript:alert('Will be available very soon');" class='zocial googleplus pull-left social-gplus'><small>Sign in with Google</small></a>
                                </div>
                                <div class="pull-left signin-native">
                                  <h5 class="signin-header">Sign with email or username</h5>
                                  <form action="login" method="post">
                                    <div class="">
                                      <input type="text" name="username" class="input-large" placeholder="Email or username" required id="username">
                                    </div>

                                    <div class="">
                                      <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required>
                                    </div>
                                    <a href="forgotPassword">Forgot Password</a>
                                    <div>
                                      <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
                                    </div>
                                    
                                  </form>
                                  <div class="clearfix">&nbsp;</div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                            </div>
                          </div>
			<footer id="theFooter">
				<div class="container">
					<nav id="navFooter">
						<ul>
						  <li><a href="#under-improvement" data-toggle="modal">Help & Support</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">API</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Community & Feedback</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Product Roadmap</a></li>
						  <li><a href="#under-improvement" data-toggle="modal">Partners & Investors area</a></li>
						</ul>
					</nav>		
					<div>
						<span class="cpryt">Copyright Nambal.com Software Consultancy. All rights reserved. Proudly made in Philippines.</span>
					</div>		
			  	</div>
				<div class="clear">&nbsp;</div>	
				<div id="scbFooter">
					<span class='st_facebook_hcount'></span>
					<span class='st_twitter_hcount'></span>
	                <span class='st_googleplus_hcount'></span> 
				</div>		
		  </footer>
		</div>
<!-- ==============================================
		 JavaScript below! 															-->

<!-- Bootstrap JS: compiled and minified -->
    

<!-- Example plugin: Prettify -->
    <script src="public/js/prettify/prettify.js"></script>
    
<!-- Initialize Scripts -->
		<script>
			// Activate Google Prettify in this page
			addEventListener('load', prettyPrint, false);
		
			$(document).ready(function(){

				// Add prettyprint class to pre elements
					$('pre').addClass('prettyprint');
								
			}); // end document.ready
		</script>

<div id="under-improvement" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Not yet available</h3>
  </div>
  <div class="modal-body">
    <p>Please bear with us because we are currently improving our Website.<br>
    For waiting list please like our <a href="https://www.facebook.com/nambalcebu?fref=ts">facebook page</a>. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

<div id="contact-us" class="modal hide  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Contact Us</h3>
  </div>
  <div class="modal-body">
    <p class="alert alert-info"><strong>Address:</strong>
      <br>
      RM 330 CebuinIT, arts and science building,<br>
    University of the Philippines - Cebu<br>
    Gorordo Avenue, Lahug<br>
    Cebu City, Cebu 6000<br>
    PHILIPPINES</p>
   
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <!--<button class="btn btn-primary">Save changes</button>-->
  </div>
</div>

	</body>
</html>