<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title><?= isset($title) ? $title : 'Home' ?> - Nambal.com - life saving information for live savers</title>
    <link href="<?php echo base_url(); ?>public/css/application.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?>"> 
    
    <!--[if lt IE 9]>
        <script src="<?=base_url();?>js/html5shiv/html5shiv.js"></script>
        <script src="<?=base_url();?>js/html5shiv-printshiv.js"></script>
    <![endif]-->
        
    <!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script>
	<![endif]-->
    <!-- jquery and friends -->
    <script src="<?php echo base_url() ?>public/lib/jquery/jquery-2.0.3.min.js"> </script>

    <script src="<?php echo base_url() ?>public/lib/icheck.js/jquery.icheck.js"></script> <!-- added for Blood Pressure Chart -->
    <script src="<?=base_url();?>public/lib/sparkline/jquery.sparkline.js"></script>    
    <script src="http://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var BASEURLL = '<?=@base_url()?>';var pusher = new Pusher('bd6833fdf48eb57ca868');var channel = pusher.subscribe('<?php echo sha1(@$this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']).'GOD=>gugma=>nambal!23'); ?>');
    </script>
    <script src="<?=base_url()?>public/js/notify-pusher.js" type="text/javascript"></script>

    
    <link href="<?php echo base_url(); ?>public/css/custom-doctor-dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="<?php echo base_url(); ?>public/css/patient-dashboard.css" type="text/css" /> 
    
    <?php if (!empty($customCss)): ?>
        <?php foreach ($customCss as $css): ?>
            <link rel="stylesheet" type="text/css" href="public/css/<?=$css;?>.css"/>
        <?php endforeach; ?>
    <?php endif; ?>

    <?php if (!empty($customJsTop)): ?>
    <?php foreach ($customJsTop as $js): ?>
        <script type="text/javascript" src="<?php echo base_url(); ?>public/js/<?=$js;?>.js"></script>
    <?php endforeach; ?>
    <?php endif; ?>
    
</head>
<body class="patient-dashboard">

<div class="logo">
    <!--<h4><a href="index.html">Light <strong>Blue</strong></a></h4>-->
    <h4 class="visible-lg"><a href="<?php echo base_url();?>dashboard"><img  src="<?php echo base_url(); ?>public/img/nambal-logo.png" alt="Nambal.com - life saving information for live savers!" /></a></h4>
    <h4 class="visible-xs visible-sm visible-md"><a href="<?php echo base_url();?>dashboard"><img  src="<?php echo base_url(); ?>public/img/nambal-logo-small.png" alt="Nambal.com - life saving information for live savers!" /></a></h4>
</div>
<?php 
if(empty($this->activeMainMenu))
{
    $this->activeMainMenu = "Dashboard"; 
}

?>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav"> 
    	<?php if($title == 'Your Health Dashboard') {			
				echo '<li class="panel active">';			
			} else {				
				echo '<li class="panel">';				
			}
		?>        
            <a href="<?php echo base_url(); ?>dashboard"><i class="fa fa-dashboard"></i> <span class="name">Dashboard</span></a>
        </li>
        <?php if($title == 'My Personal Profile') {
			
				echo '<li class="panel active">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav" href="#my-wellness-profile"><i class="fa eicon eicon-clipboard"></i> <span class="name">My Wellness Profile</span></a>
						<ul id="my-wellness-profile" class="panel-collapse in">
							<li class="active">';
			
			} else {
				
				echo '<li class="panel">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#my-wellness-profile"><i class="fa eicon eicon-clipboard"></i> <span class="name">My Wellness Profile</span></a>
						<ul id="my-wellness-profile" class="panel-collapse collapse">
							<li>';
			
			}		
		
		?>
        		<a href="<?php echo base_url(); ?>profileViewer">My Personal Profile</a></li>
        <?php if ($title == 'My Emergency Contact Information') {
			
				echo '<li class="active">';
			
			} else {
				
				echo '<li>';
				
			}
		
		?>
				<a href="<?php echo base_url(); ?>emergencyContactInformation" data-toggle="modal">My Emergency Contact Information</a></li>
				<li><a href="#under-improvement" data-toggle="modal">My Nambal Safe Card & Other Options</a></li>
            	<li><a href="#under-improvement" data-toggle="modal">My Wellness Calendar</a></li>             
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Wellness-information")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-heart"></i> <span class="name">My Health & Wellness Information</span></a>
            <ul id="stats-collapse" class="panel-collapse collapse">
                <li><a href="#under-improvement" data-toggle="modal">My Wellness Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Problems History Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Medications Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Allergy Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Procedures Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Immunizations Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Insurance Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Test Results Information</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Health Files Collections</a></li>
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "connect-with-professionals")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#ui-collapse"><i class="fa fa-user-md"></i> <span class="name">Connect with My Medical Professionals</span></a>
            <ul id="ui-collapse" class="panel-collapse collapse">
                <li><a href="<?=base_url();?>connectDoctor/search" data-toggle="modal">Find My Doc</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Pharmacy Store</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Laboratory</a></li>
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "messages")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#components-collapse"><i class="fa fa-envelope"></i> <span class="name">Messaging</span></a>
            <ul id="components-collapse" class="panel-collapse collapse">
                <li><a href="<?=base_url();?>messages" data-toggle="modal">Inbox&nbsp;&nbsp;<span class="label label-important">4</span></a></li>
                <!--<li><a href="component_bootstrap.html">Bootstrap &nbsp; <span class="label label-important">new</span></a></li>
                <li><a href="component_list_groups.html">List Groups &nbsp; <span class="label label-important">new</span></a></li>-->
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "app-network")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#tables-collapse"><i class="fa fa-th"></i> <span class="name">My Apps</span></a>
            <ul id="tables-collapse" class="panel-collapse collapse">
                <li><a href="#under-improvement" data-toggle="modal">App Network</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Basic Accounting</a></li>
                <li><a href="#under-improvement" data-toggle="modal">QR Reader</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Donor's Network</a></li>
                <li><a href="#under-improvement" data-toggle="modal">Non-nambal Record</a></li>
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "support")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#side-nav" href="#grid-collapse"><i class="fa fa-question"></i> <span class="name">Help</span></a>
            <ul id="grid-collapse" class="panel-collapse collapse">
                <li><a href="#under-improvement" data-toggle="modal">How to add a new Wellness Information?</a></li>
                <!--<li><a href="grid_live.html">Live &nbsp; <span class="label label-important">new</span></a></li>-->
            </ul>
        </li>        
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
        <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div>
</nav>
<div class="wrap">
    <header class="page-header">
    	
        <div class="navbar">
        	<ul class="nav navbar-nav navbar-right pull-right">
                    <!--<li class="visible-phone-landscape">
                        <a href="#" id="search-toggle">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>-->
        		<?php
                    if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
                        $this->load->view($view . '.phtml');
                    else:
                        $this->load->view('structures/patient/dashboard_switch.phtml');
                    endif;
                ?>     
                <li class="divider"></li>
                <li class="dropdown">
                	<a href="#" title="Messages" id="messages" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-comments"></i>
                        <span class="count">8</span>
                    </a>
            		<ul id="messages-menu" class="dropdown-menu messages" role="menu">
                    	<li role="presentation">
                        	<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>public/img/1.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Dr. Edison Quinones</div>
                                    <div class="text">Hey, Jecy! How is it going? ...</div>
                                </div>
                           	</a>
                       	</li>
                        <li role="presentation">
                        	<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>public/img/2.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Belleo Maraon</div>
                                    <div class="text">I am recommending you this doctor...</div>
                                </div>
                            </a>
                      	</li>
                     	<li role="presentation">
                        	<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>public/img/3.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Janessa Velez</div>
                                  	<div class="text">I am doing a follow-up regarding ...</div>
                             	</div>
                      		</a>
                      	</li>
               			<li role="presentation">
                     		<a href="#under-improvement" data-toggle="modal" class="text-align-center see-all">See all messages <i class="fa fa-arrow-right"></i></a>
                        </li>
       				</ul>
         		</li>
                <li class="dropdown">
                	<a href="#" title="Notifications" id="messages" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-globe"></i>
                        <span class="count">8</span>
                    </a>
                    <ul id="messages-menu" class="dropdown-menu messages" role="menu">
						<li role="presentation">
							<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>light-blue/img/1.jpg" alt="">
							<div class="details">
                            	<div class="sender">Belleo Maraon</div>
									<div class="text">added you as a friend ...</div>
                                </div>
                            </a>
                      	</li>
                 		<li role="presentation">
                  			<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>light-blue/img/2.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Belleo Maraon</div>
                                    <div class="text">added you as a friend ...</div>
                              	</div>
                         	</a>
                		</li>
                        <li role="presentation">
                        	<a href="#under-improvement" data-toggle="modal" class="message"><img src="<?php echo base_url(); ?>light-blue/img/3.jpg" alt="">
                            	<div class="details">
                                	<div class="sender">Belleo Maraon</div>
                                    <div class="text">added you as a friend ...</div>
                               	</div>
							</a>
                      	</li>
                        <li role="presentation">
                          <a href="#under-improvement" data-toggle="modal">
                          <strong>3 people viewed your profile</strong><br />
                            <img src="public/img/thumbs/thumb1.png" alt="" />
                            <img src="public/img/thumbs/thumb2.png" alt="" />
                            <img src="public/img/thumbs/thumb3.png" alt="" />
                          </a>
                        </li>
                        <li><a href="#under-improvement" data-toggle="modal"><span class="icon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><span class="icon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><span class="icon-user"></span> <strong>Blood Donors wanted</strong> matched yours <small class="muted"> - 2 days ago</small></a></li>
                        <li role="presentation">
                        	<a href="#under-improvement" data-toggle="modal" class="text-align-center see-all">See all notifications <i class="fa fa-arrow-right"></i></a>
                        </li>
					</ul>
				</li>
                <li class="divider"></li>
                <li class="hidden-xs dropdown">
                	<a href="javascript:void(0);" title="Dashboards" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="fa fa-user"></i><span class="text">Hi, <span class="white"><?=substr(ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['firstname'])),0, 25);?></span></span>
                  	</a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                    	<li role="presentation" class="account-picture">
                        	<img src="<?php echo base_url(); ?>light-blue/img/2.jpg" alt="">
                            <?php
                                $fullNameDisplay = $this->nagkamoritsing->ibalik($this->nambal_session['firstname']).
                                    ' '.@$this->nagkamoritsing->ibalik($this->nambal_session['lastname']);
                                if (strlen($fullNameDisplay) > 20)
                                {
                                    // echo wordwrap($fullNameDisplay);
                                    echo substr($fullNameDisplay, 0, 12).'...';  
                                }
                                else
                                {
                                    echo $fullNameDisplay;
                                }
							?>
                      	</li>
                        <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-user"></i>&nbsp;&nbsp;Profile</a></li>
                        <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-calendar"></i>&nbsp;&nbsp;My Wellness Calendar</a></li>
                        <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-inbox"></i>&nbsp;&nbsp;Inbox</a></li>
                        <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><span class="icon-eye-open"></span> Privacy Settings</a></li>
                        <li role="presentation"><a href="javascript:void(0);" id='myCustomTrigger'>Report Bug</a></li>
                        <li role="presentation" class="hidden-xs"><a title="Log out Nambal.com Account" href="<?php echo base_url().'logout';?>" class="link"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                 	</ul>
         		</li>
                <li class="divider"></li>
                <li class="hidden-xs"><a href="#" id="settings" title="Settings" data-toggle="popover" data-placement="bottom"><i class="fa fa-cog"></i></a></li>
            	<li class="visible-xs"><a href="#" class="btn-navbar" data-toggle="collapse" data-target=".sidebar" title=""><i class="fa fa-bars"></i></a></li>
                    <!--<li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>-->
         	</ul>
                <!--<form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="search-query" placeholder="Search...">
                </form>-->
        </div>
    </header>
    <div class="content container">
        <div class="row">
            <!--<div class="col-md-12">
                <h2 class="page-title">Live Grid <small>Draggable widgets. Touch screen support</small></h2>
            </div>-->
            <span class="visible-lg">&nbsp;<br></span>
		    &nbsp;<br>
		    <span class="visible-xs">&nbsp;<br>
		    &nbsp;<br></span>
        </div>
        <?php
		    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		      $this->load->view($view . '.phtml');
		    else:
		      $this->load->view('home/home.phtml');
		    endif;
		?>        
    </div>
</div>


<script src="<?=base_url();?>public/lib/jquery.slimscroll.js"></script>

<!-- d3, nvd3-->
<script src="<?php echo base_url() ?>public/lib/nvd3/lib/d3.v2.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/nv.d3.custom.js"></script> <!-- added for Blood Pressure Chart -->

<!-- nvd3 models -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/scatter.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/axis.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/legend.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/stackedArea.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/stackedAreaChart.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/line.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/pie.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/pieChartTotal.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/stream_layers.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/lineChart.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/multiBar.js"></script> <!-- added for Blood Pressure Chart -->
<script src="<?php echo base_url() ?>public/lib/nvd3/src/models/multiBarChart.js"></script> <!-- added for Blood Pressure Chart -->

<!--backbone and friends -->
<script src="<?php echo base_url() ?>public/lib/backbone/underscore-min.js"></script>
<script src="<?php echo base_url() ?>public/lib/backbone/backbone-min.js"></script>
<script src="<?php echo base_url() ?>public/lib/backbone/backbone.localStorage-min.js"></script>
<script src="<?php echo base_url() ?>public/lib/backbone/backbone-pageable.js"></script>
<script src="<?php echo base_url() ?>public/lib/backgrid/backgrid.js"></script>
<script src="<?php echo base_url() ?>public/lib/backgrid/backgrid-paginator.js"></script>


<!-- bootstrap default plugins -->
<script src="<?php echo base_url() ?>public/lib/bootstrap/transition.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/collapse.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/alert.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/tooltip.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/popover.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/button.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/dropdown.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/modal.js"></script>
<script src="<?php echo base_url() ?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php echo base_url() ?>public/lib/parsley/parsley.js"> </script> <!-- added for Blood Pressure Chart -->


<!-- basic application js-->
<script src="<?php echo base_url() ?>public/js/app.js"></script>
<script src="<?php echo base_url() ?>public/js/settings.js"></script>

<!-- page specific -->
<script src="<?php echo base_url() ?>public/lib/jquery-ui-1.10.3.custom.js"> </script>
<script src="<?php echo base_url() ?>public/lib/jquery.ui.touch-punch.js"> </script>

<script src="<?php echo base_url() ?>public/js/grid-live.js"> </script>

<!-- page specific -->
<script src="<?php echo base_url() ?>public/js/stats.js"></script> <!-- added for Blood Pressure Chart -->


<?php if (!empty($customJs)): ?>
	<?php foreach ($customJs as $js): ?>
		<script type="text/javascript" src="<?php echo base_url(); ?>public/js/<?=$js;?>.js"></script>
	<?php endforeach; ?>
<?php endif; ?>

<script type="text/template" id="message-template">
	<div class="sender pull-left">
		<div class="icon"><img src="img/2.jpg" class="img-circle" alt=""></div>
		<div class="time">just now</div>
	</div>
    <div class="chat-message-body">
    	<span class="arrow"></span>
    	<div class="sender">Tikhon Laninga</div>
     	<div class="text"><%- text %></div>
 	</div>
</script>

<script type="text/template" id="settings-template">
    <!--//<div class="setting clearfix">
        //<div>Background</div>
        //<div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            //<% dark = background == 'dark'; light = background == 'light';%>
            //<button type="button" data-value="dark" class="btn btn-sm btn-transparent <%= dark? 'active' : '' %>">Dark</button>
            //<button type="button" data-value="light" class="btn btn-sm btn-transparent <%= light? 'active' : '' %>">Light</button>
        //</div>
    //</div>-->
    <div class="setting clearfix">
        <div>Sidebar on the</div>
        <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% onRight = sidebar == 'right'%>
            <button type="button" data-value="left" class="btn btn-sm btn-transparent <%= onRight? '' : 'active' %>">Left</button>
            <button type="button" data-value="right" class="btn btn-sm btn-transparent <%= onRight? 'active' : '' %>">Right</button>
        </div>
    </div>
    <div class="setting clearfix">
        <div>Sidebar</div>
        <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
            <% display = displaySidebar%>
            <button type="button" data-value="true" class="btn btn-sm btn-transparent <%= display? 'active' : '' %>">Show</button>
            <button type="button" data-value="false" class="btn btn-sm btn-transparent <%= display? '' : 'active' %>">Hide</button>
        </div>
    </div>
    <!--//<div class="setting clearfix">
        //<div>White Version</div>
        //<div>
            //<a href="white/" class="btn btn-sm btn-transparent">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
        //</div>
    //</div>-->
</script>

<script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
            <button type="button"
                    data-value="icons"
                    class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button"
            data-value="auto"
            class="btn-auto btn btn-transparent btn-sm">Auto</button>
        <%} else {%>
            <button type="button"
                    data-value="auto"
                    class="btn btn-transparent btn-sm">Auto</button>
        <% } %>
</script>

</body>
</html>