<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/doctor/header.phtml');
		$this->load->view('structures/doctor/logo.phtml');
		$this->load->view('structures/doctor/sidebar_nav.phtml');
	endif;
?>

<div class="wrap">	
	<header class="page-header">
    	<?php
			if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
				$this->load->view($view . '.phtml');
			else:
				$this->load->view('structures/doctor/breadcrumbs.phtml');
			endif;
		?>   
        <div class="navbar">
        	<ul class="nav navbar-nav navbar-right pull-right">
            	<!--<li class="visible-phone-landscape"><a href="#" id="search-toggle"><i class="fa fa-search"></i></a></li>-->
            	<?php
					if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
						$this->load->view($view . '.phtml');
					else:
						$this->load->view('structures/doctor/dashboard_switch.phtml');
						echo '<li class="divider"></li>';
						$this->load->view('structures/doctor/header_messages.phtml');
						$this->load->view('structures/doctor/header_notifications.phtml');
						echo '<li class="divider"></li>';
						$this->load->view('structures/doctor/header_ProfileGreeting.phtml');
					endif;
				?>                     
                    <li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <!--<li class="hidden-xs dropdown">
                        <a href="#" title="Account" id="account"
                           class="dropdown-toggle"
                           data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul id="account-menu" class="dropdown-menu account" role="menu">
                            <li role="presentation" class="account-picture">
                                <img src="img/2.jpg" alt="">
                                Philip Daineka
                            </li>
                            <li role="presentation">
                                <a href="form_account.html" class="link">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="component_calendar.html" class="link">
                                    <i class="fa fa-calendar"></i>
                                    Calendar
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#" class="link">
                                    <i class="fa fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                        </ul>
                    </li>-->
                    <li class="visible-xs">
                        <a href="javascript:void();"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    <!--<li class="hidden-xs"><a href="login.html"><i class="fa fa-sign-out"></i></a></li>-->
                </ul>
                <!--<form id="search-form" class="navbar-form pull-right" role="search">
                    <input type="search" class="search-query" placeholder="Search...">
                </form>-->
                <!--<div class="notifications pull-right">
                    <div class="alert pull-right">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <i class="fa fa-info-circle"></i> Check out Light Blue <a id="notification-link" href="#">settings</a> on the right!
                    </div>
                </div>-->
        </div>
    </header>
    <div class="content container">
    	<div class="row">
		    <span class="visible-lg">&nbsp;<br></span>
		    &nbsp;<br>
		    <span class="visible-xs">&nbsp;<br>
		    &nbsp;<br></span>
		</div>
		<?php
		    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		      $this->load->view($view . '.phtml');
		    else:
		      $this->load->view('home/home.phtml');
		    endif;
		?>
    </div>
</div>
<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/jquery.phtml');
		$this->load->view('structures/footer.phtml');
	endif;
?>