<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/patient/header.phtml');
	endif;
?>

<!--<div class="colorful-line"></div>
<div class="logo"><a href="<?php //echo base_url();?>"><img  src="<?php //echo base_url(); ?>public/img/nambal-logo.png" alt=""/></a></div>-->
  
<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/patient/logo.phtml');
	endif;
?>

<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/patient/sidebar_nav.phtml');
	endif;
?>

<div class="wrap">
	<header class="page-header">
    	<?php
			if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
				$this->load->view($view . '.phtml');
			else:
				$this->load->view('structures/patient/breadcrumbs_MyWellnessProfile.phtml');
			endif;
		?><!--breadcrumbwidget-->
    	<div class="navbar">
        	<ul class="nav navbar-nav navbar-right pull-right">
                
            	<?php
					if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
						$this->load->view($view . '.phtml');
					else:
						$this->load->view('structures/patient/dashboard_switch.phtml');
					endif;
				?>                
                <li class="divider"></li>
                <?php
					if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
						$this->load->view($view . '.phtml');
					else:
						$this->load->view('structures/patient/header_messages.phtml');
					endif;
				?> 
                <?php
					if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
						$this->load->view($view . '.phtml');
					else:
						$this->load->view('structures/patient/header_notifications.phtml');
					endif;
				?> 				
                <li class="divider"></li>
                <?php
					if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
						$this->load->view($view . '.phtml');
					else:
						$this->load->view('structures/patient/header_ProfileGreeting.phtml');
					endif;
				?>
                <!--<li class="hidden-xs"><a title="Log out Nambal.com Account" href="<?php //echo base_url().'logout';?>"><i class="fa fa-sign-out"></i></a></li>-->
         		<li class="hidden-xs">
                        <a href="#" id="settings"
                           title="Settings"
                           data-toggle="popover"
                           data-placement="bottom">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
              	 <li class="visible-xs">
                        <a href="javascript:void();"
                           class="btn-navbar"
                           data-toggle="collapse"
                           data-target=".sidebar"
                           title="">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
            </ul>
            
            <form id="search-form" class="navbar-form pull-right" role="search">
            	<input type="search" class="search-query" placeholder="Search...">
            </form>
            
     	</div>
    </header>
    <div class="content container">
    	<div class="row">
		    <span class="visible-lg">&nbsp;<br></span>
		    &nbsp;<br>
		    <span class="visible-xs">&nbsp;<br>
		    &nbsp;<br></span>
		</div>
		<?php
		    if (!empty($view) and file_exists(APPPATH . '/views/' . $view . '.phtml')):
		      $this->load->view($view . '.phtml');
		    else:
		      $this->load->view('home/home.phtml');
		    endif;
		?>
    </div>
</div>


<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/jquery.phtml');
	endif;
?>




<!-- end jquery by Jecy -->
 




<!-- jquery and friends -->
<!--<script src="<?php //echo base_url();?>public/lib/jquery/jquery-2.0.3.min.js"> </script>

<!-- jquery plugins -->
<!--<script src="<?php //echo base_url();?>public/lib/icheck.js/jquery.icheck.js"></script>
<script src="<?php //echo base_url();?>public/lib/sparkline/jquery.sparkline.js"></script>
<script src="<?php //echo base_url();?>public/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="<?php //echo base_url();?>public/lib/jquery.slimscroll.js"></script>
<script src="<?php //echo base_url();?>public/lib/fullcalendar/fullcalendar.js"></script>

<script src="<?php //echo base_url();?>public/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<script src="<?php //echo base_url(); ?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php //echo base_url();?>public/lib/parsley/parsley.js"> </script>
<script src="<?php //echo base_url();?>public/lib/select2.js"></script>
<script src="<?php //echo base_url();?>public/lib/jquery.dataTables.min.js"></script>

<!-- d3, nvd3-->
<!--<script src="<?php //echo base_url();?>public/lib/nvd3/lib/d3.v2.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<!--<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/scatter.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/axis.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/legend.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/multiBar.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/multiBarChart.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/line.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/src/models/lineChart.js"></script>
<script src="<?php //echo base_url();?>public/lib/nvd3/stream_layers.js"></script>

<!--backbone and friends -->
<!--<script src="<?php //echo base_url();?>public/lib/backbone/underscore-min.js"></script>
<script src="<?php //echo base_url();?>public/lib/backbone/backbone-min.js"></script>
<script src="<?php //echo base_url();?>public/lib/backbone/backbone.localStorage-min.js"></script>
<script src="<?php //echo base_url();?>public/lib/backbone/backbone-pageable.js"></script>
<script src="<?php //echo base_url();?>public/lib/backgrid/backgrid.js"></script>
<script src="<?php //echo base_url();?>public/lib/backgrid/backgrid-paginator.js"></script>

<!-- bootstrap default plugins -->
<!--<script src="<?php //echo base_url();?>public/lib/bootstrap/transition.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/collapse.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/alert.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/tooltip.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/popover.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/button.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/dropdown.js"></script>
<script src="<?php //echo base_url();?>public/lib/bootstrap/modal.js"></script>

<!-- basic application js-->
<!--<script src="<?php //echo base_url();?>public/js/app.js"></script>
<script src="<?php //echo base_url(); ?>public/js/settings.js"></script>

<!-- page specific -->
<!--<script src="<?php //echo base_url(); ?>public/js/index.js"></script>
<script src="<?php //echo base_url(); ?>public/js/chat.js"></script>
<!--<script src="<?php //echo base_url(); ?>public/js/grid-live.js"> </script>-->

<!-- bootstrap custom plugins -->
<!--<script src="<?php //echo base_url(); ?>public/lib/bootstrap-datepicker.js"></script>
<script src="<?php //echo base_url(); ?>public/lib/bootstrap-select/bootstrap-select.js"></script>
<script src="<?php //echo base_url(); ?>public/lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
<script src="<?php //echo base_url(); ?>public/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>


<!-- page-specific js -->
<?php
	if (!empty($view) and file_exists(APPPATH . '/structures/' . $view . '.phtml')):
		$this->load->view($view . '.phtml');
	else:
		$this->load->view('structures/footer.phtml');
	endif;
?>

