<div class="span4 leftmenu hidden-phone hidden-tablet">      
            <ul class="nav nav-tabs nav-stacked">
                <li class="active" style="border-bottom:none;">
                    <a href="#"><h5>Updates</h5></a>
                </li>
                <li class="active" style="border-top:none;">
                    <a href="#Notices" style="width:70px;">
                        <span style="cursor:pointer;color:#3366cc;">
                        Notices</span>()&nbsp;&nbsp;- 
                    </a>
                    <a href="#ActiveReport" id="active-report">
                        <span style="cursor:pointer;color:#3366cc;">Active Report</span>(0)
                    </a>
                </li>
                <li> 
                    <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#">CONNECTIONS</a>
                        </h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a id="aDoc" href="/connection-doctor">
                                <span id="doc"></span>
                                <h5 id="doctor">Doctor</h5>
                            </a>
                            <a id="aPharmacy" href="#Pharmacy">
                                <span id="pharmacy"></span>
                                <h5 id="pharma">Pharmacy</h5>
                            </a>
                            <a id="aLaboratory" href="#Laboratory">
                                <span id="laboratory"></span>
                                <h5 id="lab">Laboratory</h5>
                            </a>
                        </div>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><a href="#">APPS</a></h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a href="#"><span id="look-for-doc"></span>Look for doctors</a><br/>
                            <a href="#"><span id="add-plugin"></span><b>Add another APP/PLUG-INS</b></a>
                        </div>
                    </div>
                </li>
                <li class="active" style="border-bottom:none;"><a><h5>NEWS AND ANNOUNCEMENT</h5></a></li>
                <li class="active" style="border-top:none;">
                    <a>
                        <u>Do you develop electronic health systems?</u>
                    </a>
                    <a>
                        We are currently looking for EMR, EHR developers or e-health applications developer. 
                        It can be individual, group or company who already have the applications or still 
                        developing it and also have vision to improve the healthcare in the philippines.
                    </a>
                </li>
            </ul>
        </div><!--span4-->