<h1>Thanks for signing up for nambal.com account!</h1>
<p>Hi <?php echo $emailData['firstname'].' '.$emailData['lastname'];?>,
</p>
<p>We're excited that you've chosen nambal.com to help you with your Healthy Lifestyle. </p>
<h3>More Information</h3>
<p>We know that you are using your facebook account to login nambal.com but we prepared a username for you to use in case you want to login without using it. This also allows you to change your the facebook account connected to it in the future without sacrificing your account in Nambal.com. You can also add your  other social media accounts soon.</p>
<p>Your username: <font style="text-decoration:underline; font-weight:bold;"><?php echo $emailData['username']; ?></font></p>
<p>You don't like your username? No problem you can change it anytime. You can also set or change your password in the dashboard.</p>
<p>All you have to do is login using your facebook account. Then in the dashboard click the &quot;Hi, <?php echo $emailData['firstname']; ?>&quot; located in the upper right of the user interface. Then select &quot;Account Settings&quot;.</p>
<p>Please explore in your dashboard to know more how you can use this new tool for your healthy living. We will be providing more stuffs for you in the future.</p>
<p>Welcome,  enjoy your healthy lifestyle together with Nambal.com.</p>