<h1>Your Nambal.com Password has been changed</h1>
<p>Hi <?php echo $emailData['firstname'].' '.$emailData['lastname'];?>,</p>

<p>You recently changed your password in Nambal.com account. </p>
<p>Your Nambal.com ID or username is <font style="text-decoration:underline;font-weight: bold;"><?php echo $emailData['username']; ?> </font> </p>
<p><a href="<?php echo base_url(); ?>login" target="_blank">Click here</a> to sign in to your account.</p>
<p>If the link above doesn't work, you can copy and paste the following into
  your browser:<br>
<a href="<?php echo base_url(); ?>login"><?php echo base_url(); ?>login</a></p>
<p>This request was made on <?php echo $emailData['changeRequest']; ?> (GMT +8) or Philippines time.	