<h1>Your doctor welcomes you to nambal!</h1>
<p>Hi <?php echo $emailData['firstname']; ?> <?php echo $emailData['lastname'];?>,
</p>
<p>We're excited that you've chosen nambal.com to help you with your Healthy Lifestyle. </p>
<h3>Login information</h3>
<p>Username: <?=@$emailData['username'];?><br>
Password: This will be set after you validate.
</p>
<h3>Email validation</h3>
<p>Confirming your email address enables your Health profile. Here's your validation code:<br>
  <?php echo $emailData['vcode']; ?>
</p>
<p>or you may click the <a href="<?php echo $emailData['validationUrl']; ?>">link</a> for your convenience.<br></p>
<p>If the link above doesn't work, you can copy and paste the following into your browser:<br>
<a href="<?php echo $emailData['validationUrl']; ?>"><?php echo $emailData['validationUrl']; ?></a></p>