<h1>Appointment approved!</h1>
<p>Hi <?php echo $emailData['firstname']; ?> <?php echo $emailData['lastname'];?>,
</p>
<p>Good news, your appointment request with Dr. <?php echo $emailData['drname']; ?> is approved.
<p>Approved date is:
  <br>
  Date and time from: <?php echo $emailData['timefrom']; ?><br>
  Date and time to: <?php echo $emailData['timeto']; ?>
<p>More info <a href="<?=base_url();?>appointmentsPatient/detailedInformation?IDappointments=<?=@$emailData['IDappointments'];?>">here</a>:<br> 
  <?=base_url();?>appointmentsPatient/detailedInformation?IDappointments=<?=@$emailData['IDappointments'];?>