<h1>Username and Password!</h1>
<p>Hi <?php echo $emailData['firstname']; ?> <?php echo $emailData['lastname'];?>,
</p>
<p>
You recently requested a password reset for your Nambal.com account. To create a new password, click on the link below:. </p>
<p><a href="<?php echo base_url();?>forgotPassword/changepassword?code=<?php echo $emailData['code']; ?>&sessionName=<?php echo $emailData['sessionName']; ?>">Reset my password</a></p>
<p>Your Nambal.com ID or username is <font style="text-decoration:underline; font-weight: bold;"><?php echo $emailData['username']; ?> </font> </p>
<p>If the link above doesn't work, you can copy and paste the following into your browser:<br>
<?php echo base_url();?>forgotPassword/changepassword?code=<?php echo $emailData['code']; ?>&sessionName=<?php echo $emailData['sessionName']; ?></p>
<p>This request was made on <?php echo $emailData['requestDate']; ?> (GMT +8) or Philippines time.</p>
<p>If you did not request a new password, or you have received this notification in error, you may ignore this e-mail and your password will remain unchanged.</p>	  