<h1>Some modification made in your &quot;nambal safe&quot;!</h1>
<p>Hi <?php echo $emailData['firstname']; ?> <?php echo $emailData['lastname'];?>,
</p>
<p>Your health record modified.  You may check your nambal.com account for more details.</p>
<p>
Thank you.
</p>
<p>This modification made on <?php echo  date('F d, Y H:i:s'); ?> (GMT +8) or Philippines time.	