<h1>Your Friend/Colleague needs help.</h1>
<p>Hi!
</p>
<p>Someone sign-up in www.nambal.com and added you as one of the people who can testify that <?php echo (strcasecmp($emailData['gender'], 'male')==0) ? 'he' : 'she';  ?> is a practicing doctor in <?php echo @$emailData['state'].','.$emailData['country']; ?>.  This can help <?php echo (strcasecmp($emailData['gender'], 'male')==0) ? 'him' : 'her';  ?> to have access to <?php echo (strcasecmp($emailData['gender'], 'male')==0) ? 'his' : 'her';  ?> doctor's dashboard.</p>
<p>This is your friend's or Colleague's information:</p>
<p>Dr. <?php echo ucwords(@$emailData['firstname']).'&nbsp;'.ucwords(@$emailData['lastname']); ?>, 
  Using this email address: <?php echo @$emailData['applicantEmail']; ?>
</p>
<h3>You may help Dr. <?php echo ucwords(@$emailData['lastname']); ?> by clicking the link below for your convenience:</h3>
	<p><a href="<?php echo base_url(); ?>registerDoctor/approve?dr=<?=@$emailData['IDemr_user'];?>&from=<?=@$emailData['toEmail'];?>">I testify that Dr. <?php echo ucwords(@$emailData['lastname']); ?> is my colleague</a></p>
	<p>OR If the link above doesn't work, you can copy and paste the following into your browser:</p>
	<p><?php echo base_url(); ?>registerDoctor/approve?dr=<?=@$emailData['IDemr_user'];?>&from=<?=@$emailData['toEmail'];?></p>
	<p>&nbsp;</p>
