<section class="widget large">
    <header>
        <h4>
            <i class="fa fa-users"></i>
            Patients
        </h4>
    </header>
    <div class="body">
        <p>&nbsp;</p>
        <form name="form1" method="post" action="">
          <p>
              <input type="text" name="patient-name" id="patient-name" class="tootipper select-block-level" placeholder="Patient&apos;s name" required value="" title="Patient&apos;s name" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input patient&apos;s name in fullname format.">
          </p>
          <p>
              <input required id="select-calendar-dateresolved" name="dateresolved" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->immuneInfo['dateresolved'])) echo date('m/d/o', strtotime($this->patientReceivables['dateresolved'])); else echo date('m/d/o'); ?>" title="Date resolve" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the date resolved.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
<span class="input-group-btn">
<a href="javascript:void(0)" id="btn-select-calendar-dateresolved" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->datestarted)) echo date('m/d/o', strtotime($this->datestarted)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
<i class="fa fa-calendar"></i>  </a>
</span>
          </p>
          <p>
              <input type="text" name="patient-name" id="patient-name" class="tootipper select-block-level" placeholder="Expected amount, 12345.67" required value="" title="Expected amount" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input expected amount.  Example: 12345.67">
          </p>
          <p>
              <textarea name="notes" id="notes" class="tootipper select-block-level" placeholder="Notes: Put something like a reminder of who is this patient such as procedure, immunization, laboratory, resolution, etc."  required value="" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Put something like a reminder of who is this patient such as procedure, immunization, laboratory, resolution, etc."></textarea>
          </p>
            <div class="form-actions">
                <div class="">
                    <button type="submit" class="btn btn-default">Save Patient</button>
                </div>
            </div>
        </form>
    </div>
</section>