<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Receivables <small>today</small></h2>
    </div>
</div>
<section class="widget">
    <header>
        <h4>
            <i class="fa fa-money"></i>
            Receivables
        </h4>
    </header>
    <div class="body">
        <table class="table table-striped no-margin sources-table">
            <thead>
            <tr>
                <th class="source-col-header">Date Expected</th>
                <th>Date resolved</th>
                <th>Patient name</th>
                <th>Expected amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Nov 1, 2014 </td>
                <td>Nov 1, 2014</td>
                <td>Edison Quinones</td>
                <td>12345.67</td>
            </tr>
             <tr>
                <td>Nov 1, 2014</td>
                <td>Nov 1, 2014</td>
                <td>Edison Quinones</td>
                <td>12345.67</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>