<section class="widget">
    <header>
        <h4>
            <i class="fa fa-users"></i>
            Patients
        </h4>
    </header>
    <div class="body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Expected amount</th>
                <th>Patient&apos;s name</th>
                <th class="hidden-xs">Date Resolved</th>
                <th>Date expected</th>
                <th class="hidden-xs">Notes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>124567.89</td>
                <td>Mark Yu</td>
                <td class="hidden-xs-portrait">Oct 1, 2014</td>
                <td>Nov 1, 2014</td>
                <td class="hidden-xs-portrait">Just some notes</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jacob</td>
                <td class="hidden-xs-portrait">Thornton</td>
                <td><a href="#">fat.thor@example.com</a></td>
                <td class="hidden-xs-portrait"><span class="badge badge-warning">Unconfirmed</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Larry</td>
                <td class="hidden-xs-portrait">the Bird</td>
                <td><a href="#">larry@example.com</a></td>
                <td class="hidden-xs-portrait"><span class="badge badge-success">New</span></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Peter</td>
                <td class="hidden-xs-portrait">Horadnia</td>
                <td><a href="#">peter@example.com</a></td>
                <td class="hidden-xs-portrait"><span class="badge badge-info">Active</span></td>
            </tr>
            </tbody>
        </table>
        <blockquote>
            Trace only what's really important. <code>.table-hover</code> is made for it.
        </blockquote>
    </div>
</section>