<div class="contentinner content-dashboard">
    <div class="row-fluid">
    	<div class="span8">
              <div class="plainwidget">
                  <small>You almost complete in your Health Profile </small>
                  <div class="progress progress-info">
                      <div class="bar" style="width: 20%"></div>
                  </div>
                  <small><strong>38% Complete</strong></small>
              </div>
             <h4 class="widgettitle nomargin shadowed">Doctors Connections</h4>

            <div class="widgetcontent">
                <div class="navbar">
                  <div class="navbar-inner">
                    <a href="#" class="brand">Doctors</a>
                    <ul class="nav">
                      <li class="active"><a href="#">Connected</a></li>
                      <li><a href="#">Pending</a></li>
                      <li ><a href="#">Find more doctors</a></li>  
                    </ul>
                    
                  </div> 
                  <!--navbar-inner-->
                  <div class="widgetcontent bordered shadowed">
                        <h4 class="widgettitle nomargin  shadowed">Dr. Ma.Luisa D. Aquino M.D.</h4>
                        <div class="row-fluid">
                          <div class="span3  hidden-tablet hidden-phone">
                                <img src="img/profilethumb.png" alt="" class="img-polaroid" style="width: 100px; height: 100px;">
                          </div>
                          <div class="span8">
                            <div class="btn-group">
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="iconsweets-record"></i> &nbsp; Doctor is Online <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#"><i class="iconsweets-ichat"></i> &nbsp;Chat</a></li>
                                  <li><a href="#"><i class="icon-calendar"></i> &nbsp;Set Appointment</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#"><i class="iconfa-remove"></i> &nbsp;Disconnect</a></li>
                                </ul>
                            </div><br/>
                            Surgery<br/>
                            <a href=""></a>
                          </div>
                        </div>
                        <h4 class="widgettitle nomargin  shadowed">Dr. Dexter S. Aison M.D.</h4>
                        <div class="row-fluid">
                          <div class="span3 hidden-tablet hidden-phone">
                                <img src="img/profilethumb.png" alt="" class="img-polaroid" style="width: 100px; height: 100px;">
                          </div>
                          <div class="span8">
                           <div class="btn-group">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="iconsweets-record"></i> &nbsp; Doctor is Offline <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#"><i class="icon-envelope"></i> &nbsp;Leave Message</a></li>
                                  <li><a href="#"><i class="icon-calendar"></i> &nbsp;Set Appointment</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#"><i class="iconfa-remove"></i> &nbsp;Disconnect</a></li>
                                </ul>
                            </div><br/>
                            Pediatrics
                          </div>
                        </div>
                        <h4 class="widgettitle nomargin  shadowed">Dr. Jun Gayapa M.D.</h4>
                        <div class="row-fluid">
                          <div class="span3 hidden-tablet hidden-phone">
                                <img src="img/profilethumb.png" alt="" class="img-polaroid" style="width: 100px; height: 100px;">
                          </div>
                          <div class="span8">
                           <div class="btn-group">
                                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><i class="iconsweets-record"></i> &nbsp; Doctor is Offline <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li><a href="#"><i class="icon-envelope"></i> &nbsp;Leave Message</a></li>
                                  <li><a href="#"><i class="icon-calendar"></i> &nbsp;Set Appointment</a></li>
                                  <li class="divider"></li>
                                  <li><a href="#"><i class="iconfa-remove"></i> &nbsp;Disconnect</a></li>
                                </ul>
                            </div><br/>
                            Pediatrics
                          </div>
                        </div>
                        <hr>
                        <center>
                        <div class="pagination pagination-large">
                          <ul>
                            <li class="disabled"><a href="">&#8249;&#8249;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="disabled"><a href="">&#8250;&#8250;</a></li>
                          </ul>
                        </div>
                        </center>

                  </div>
                </div><!--navbar-->
            </div><!--widgetcontent-->

           

        </div><!--span8-->

        <?php echo $this->view('right-panel.phtml'); ?>
    </div><!--row-fluid-->
</div><!--contentinner-->