<div class="contentinner content-dashboard">
    <div class="row-fluid">
    	<div class="span8">
              <div class="plainwidget">
                  <small>You almost complete in your Health Profile </small>
                  <div class="progress progress-info">
                      <div class="bar" style="width: 20%"></div>
                  </div>
                  <small><strong>38% Complete</strong></small>
              </div>
             <h4 class="widgettitle nomargin shadowed">Doctors Connections</h4>

            <div class="widgetcontent">
                <div class="navbar">
                  <div class="navbar-inner">
                    <a href="#" class="brand">Doctors</a>
                    <ul class="nav">
                      <li class="active"><a href="#">Connected</a></li>
                      <li><a href="#">Pending</a></li>
                      <li ><a href="#">Find more doctors</a></li>  
                    </ul>
                    
                  </div> 
                  <!--navbar-inner-->
                  <div class="widgetcontent bordered shadowed">
                     <div class="row-fluid">
                      <div class="span6">
                        <h4 class="widgettitle">Half Column</h4>
                        just a test
                      </div>
                     </div>   
                        <hr>
                        <center>
                        <div class="pagination pagination-large">
                          <ul>
                            <li class="disabled"><a href="">&#8249;&#8249;</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="disabled"><a href="">&#8250;&#8250;</a></li>
                          </ul>
                        </div>
                        </center>

                  </div>
                </div><!--navbar-->
            </div><!--widgetcontent-->

           

        </div><!--span8-->

        <?php echo $this->view('right-panel.phtml'); ?>
    </div><!--row-fluid-->
</div><!--contentinner-->