<section id="introNambal">
    <div class="title">Step 4 of 4</div>
              <div class="clear">&nbsp;</div>
    <div class="tabbable formtab">
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
        <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
        <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
        <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
        <li><a href="/register/createAccountSecond" ><small class="steps">Step two »</small><br />Personal Information</a></li>
        <li><a href="/register/createAccountThird"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
        <li  class="active"><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
    </ul>
    </div>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="row-fluid" id="edit-register">
<form name="" action="register/editInfo" method="post">
		<div class="span6 information-title">
			<h4>Edit Personal Information</h4>
		</div>
		<div class="span6 information-title">
			<h4>Edit Emergency Contact Information</h4>
		</div>
		<div class="span3">
			<label for="firstname">First Name</label>
			<input type="text" name="firstname" id="firstname" class="" placeholder="First Name" required value="<?php echo(!empty($user_profile['firstname']))? $user_profile['firstname'] : '' ;?>">
		  <br/>
			<label for="middlename">Middle Name:</label>
			<input type="text" name="middlename" id="middlename" class="" placeholder="Middle Name"  value="<?php echo(!empty($user_profile['middlename']))? $user_profile['middlename'] : '' ;?>">
		  <br/>
			<label for="lastname">Last Name:</label>
			<input type="text" name="lastname" id="lastname" class="" placeholder="Last Name or Family name" required value="<?php echo(!empty($user_profile['lastname']))? $user_profile['lastname'] : '' ;?>">
		  <br/>
			<label for="email">Email:</label>
			  <input type="email" id="edit-email" class="" placeholder="Email Address" required value="<?php echo(!empty($user_profile['email']))? $user_profile['email'] : '' ;?>">
		  <br/>
			  <label for="country">Country</label>
			  <select name="country" id="country" class="" required> </select>
			  <input type="hidden" id="countrySelected" value="<?php echo(!empty($user_profile['country']))? $user_profile['country'] : '' ; ?>"/>
			 
		  <br/>
			  <label for="state">State</label>
			  <select name="state" id="state" class="" required> </select>
			  <input type="hidden" id="stateSelected" value="<?php echo(!empty($user_profile['state']))? $user_profile['state'] : '' ; ?>"/>
			  <script language="javascript">
				populateCountries("country", "state", "countrySelected", "stateSelected");
			  </script>
		  <br/>
		</div>
		<div class="span3">
			  <label for="street">Street</label>
			  <input name="street" type="text" id="street"   class="input-large" placeholder="street" required value="<?php if (isset($user_profile['street']))  echo $user_profile['street']; ?>">
		  <br/>
			  <label for="city">City</label>
			  <input name="city" type="text" id="city" class="input-large" placeholder="city" required value="<?php if (isset($user_profile['city']))  echo $user_profile['city']; ?>">
		  <br/>
			  <label for="postcode">Post Code</label>
			  <input name="postcode" type="text" id="postcode" class="input-large" placeholder="postal code or zip code" required value="<?php if (isset($user_profile['postcode']))  echo $user_profile['postcode']; ?>">
		  <br/>
			  <?php 
				if(!empty($user_profile['dateofbirth'])): 
					$dob = explode('-',@$user_profile['dateofbirth']);
					$dateOfBirth = $dob[1].'/'.$dob[2].'/'.$dob[0]; 
				else: 
					$dateOfBirth = ''; 
				endif; 
			   ?>
			  <label for="dateofbirth">Date of Birth</label>
			  <input type="text" name="dateofbirth" id="dateofbirth" class="input-large" required value="<?php 
			  if (!empty($user_profile['dateofbirth'])) { echo $dateOfBirth; } else { ?> 01/01/1970 <?php } ?>">
		  <br/>
			  <label for="sex">Gender</label>
			  <select name="sex" id="sex"  class="span3" >
				<option value=""  <?php if (strcmp($user_profile['sex'],"DKY")==0) echo 'selected';  ?> ></option>
				<option value="Male"  <?php if (strcmp($user_profile['sex'],"Male")==0) echo 'selected';  ?> >Male</option>
				<option value="Female"  <?php if (strcmp($user_profile['sex'],"Female")==0) echo 'selected';  ?> >Female</option>
			  </select>
		  <br/>
			  <label for="bloodtype">Blood Type</label>
			  <select id="bloodtype" name="bloodtype"  class="span3" >
				<option value="DKY"  <?php if (strcmp($user_profile['bloodtype'],"DKY")==0) echo 'selected';  ?> >Dont know yet</option>
				<option value="O+" <?php if (strcmp($user_profile['bloodtype'],"O+")==0) echo 'selected';  ?> >O+</option>
				<option value="O-" <?php if (strcmp($user_profile['bloodtype'],"O-")==0) echo 'selected';  ?> >O-</option>
				<option value="O?" <?php if (strcmp($user_profile['bloodtype'],"O?")==0) echo 'selected';  ?> >O?</option>
				<option value="A-" <?php if (strcmp($user_profile['bloodtype'],"A-")==0) echo 'selected';  ?> >A-</option>
				<option value="A+" <?php if (strcmp($user_profile['bloodtype'],"A+")==0) echo 'selected';  ?>>A+</option>
				<option value="A?" <?php if (strcmp($user_profile['bloodtype'],"A?")==0) echo 'selected';  ?>>A?</option>
				<option value="B-" <?php if (strcmp($user_profile['bloodtype'],"B-")==0) echo 'selected';  ?>>B-</option>
				<option value="B+" <?php if (strcmp($user_profile['bloodtype'],"B+")==0) echo 'selected';  ?>>B+</option>
				<option value="B?" <?php if (strcmp($user_profile['bloodtype'],"B?")==0) echo 'selected';  ?>>B?</option>
				<option value="AB-" <?php if (strcmp($user_profile['bloodtype'],"AB-")==0) echo 'selected';  ?>>AB-</option>
				<option value="AB+" <?php if (strcmp($user_profile['bloodtype'],"AB+")==0) echo 'selected';  ?>>AB+</option>
				<option value="AB?" <?php if (strcmp($user_profile['bloodtype'],"AB?")==0) echo 'selected';  ?>>AB?</option>
			</select>
		  <br/>
		</div>
		<div class="span3">
			  <label for="fullname">Full name</label>
			  <input name="emergencyFullname" type="text" id="fullname" class="" placeholder="Fullname of your contact person" required value="<?=@$cardData['fullname'];?>">
		  <br/>
			  <label for="email">Email</label>
			  <input name="emergencyEmail" type="email" id="email" class="" placeholder="Email address of your contact person" required value="<?=@$cardData['contactemail'];?>">
		  <br/>
			<label for="country">Contact Number:</label>
			  <div id="contactNumbers">
				<label for="countryCode" >Country code</label>
				<select name="countryCode" id="countryCode" class="span3" required></select>
				<input type="hidden" id="countryCodeSelected" value="<?php echo(!empty($cardData['countrycode']))? $cardData['countrycode'] : '' ; ?>"/>
				<script language="javascript">
					populateCountryCode("countryCode", "countryCodeSelected");
				</script>
				<label for="areaCode">Area code</label>
				<input name="areaCode" type="text" id="areaCode" class="" placeholder="00" value="<?=@$cardData['areacode'];?>" title="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'.">
				<label for="number">Phone number</label>
				<input name="number" type="text" id="number" class="" placeholder="xxx-xxxx" required value="<?=@$cardData['number'];?>" title="phone without the area code or provider code">
			  </div>
		  <br/>
			  <label for="fullAddress">Full Address</label>
			  <input name="fulladdress" type="text" id="fulladdress"  class="" placeholder="Home or office addresss of your contact person" required  value="<?=@$cardData['fulladdress'];?>" title="Home or office addresss of your contact person">
		  <br/>
		<button type="submit" class="btn btn-medium btn-primary" data-loading-text="Loading...">
			<strong>Save Changes</strong>
		</button>
		<a  href="register/createAccountFourth" class="btn btn-medium btn-warning" data-loading-text="Loading...">
			<strong>Cancel</strong>
		</a>
		</div>
</form>
</div>
</section>