<?php
  echo @$errorMessage;
  echo validation_errors(); 
?>
<?php //echo form_open('form'); ?>
<h1>Please enter important details</h1>
<form name="form1" method="post" action="">
  <p>
    <label for="email">Email:</label>
      <input type="text" name="email" id="email" value="<?=@$email;?>">
    <br>
    <label for="firstname">Firstname:</label>
    <input name="firstname" type="text" id="firstname" value="<?=@$firstname;?>">
    <br>
    <label for="middlename">Middle Name:</label>
    <input name="middlename" type="text" id="middlename" value="<?=@$middlename;?>">
    <br>
    <label for="lastname">Last Name:</label>
    <input name="lastname" type="text" id="lastname" value="<?=@$lastname;?>">
  </p>
<input type="submit" name="submit" id="submit" value="Submit">
</form>