<h1>Step 1</h1>
<form name="form1" method="post" action="">
  <label for="email">email</label>
  <input type="text" name="email" id="email">
  <br>
  <label for="username">username</label>
  <input type="text" name="username" id="username">
  <br/> 
  <label for="password">password</label>
  <input type="text" name="password" id="password">
  <br>
  <label for="re-enter">Re-enter password</label>
  <input type="text" name="re-enter" id="re-enter">
  <br>
  <label for="firstname">Firstname</label>
  <input type="text" name="firstname" id="firstname">
  <br>
  <label for="middlename">Middle name</label>
  <input type="text" name="middlename" id="middlename">
  <br>
  <label for="lastname">Last name</label>
  <input type="text" name="lastname" id="lastname">
  <br>
  <input type="submit" name="submit" id="submit" value="Create Account">   
</form>