<section id="introNambal">
    <div class="title">Step 4 of 4</div>
              <div class="clear">&nbsp;</div>
    <div class="tabbable formtab">
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
        <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
        <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
        <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
        <li><a href="/register/createAccountSecond" ><small class="steps">Step two »</small><br />Personal Information</a></li>
        <li><a href="/register/createAccountThird"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
        <li  class="active"><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
    </ul>
    </div>
	
	<div class="span9">
		<h2 id="congratulations">Congratulations, you have created your nambal</h2>
	</div>
	
<div class="row-fluid" id="qr-card">
  <div class="span6" id="card">
	<div class="span10"  id="card-content">
		<div class=" card-top">
			<!--<div class="">&nbsp;</div>
			<div class="space">&nbsp;</div>-->
			<div class="span7 qr-container">
				<img src="<?php echo base_url(); ?>qr/generateSelf" alt="Your NAMBAL QR code" title="Your NAMBAL QR code" width="150" height="150" class="img-responsive"/>
			</div>
			<!--<div class="space">&nbsp;</div>-->
			<div class="span5 qr-code" id="qr-codes-backup">
<?php if (!empty($textcode)): ?>
  <?php echo $textcode; ?>
<?php else: ?>
  back-up code loading, please wait... (<a href="<?php echo base_url().'register/createAccountFourth'; ?>">Reload</a>)
<?php endif; ?>
			</div>
		</div>
		<div class="" id="card-information" >
			  <div class="span2 name">Name: &nbsp;</div>
			  <div class="info-content fullname span10">
			  <?php
				echo wordwrap($user_profile['fullname'],70,"<br/>\n",true);
			  ?>
			  </div>
			   <?php 
				if(!empty($user_profile['dateofbirth'])): 
					$dob = explode('-',@$user_profile['dateofbirth']);
					switch($dob[1])
					{
						case '01':
							$month = 'January';
						break;
						
						case '02':
							$month = 'February';
						break;
						
						case '03':
							$month = 'March';
						break;
						
						case '04':
							$month = 'April';
						break;
						
						case '05':
							$month = 'May';
						break;
						
						case '06':
							$month = 'June';
						break;
						
						case '07':
							$month = 'July';
						break;
						
						case '08':
							$month = 'August';
						break;
						
						case '09':
							$month = 'September';
						break;
						
						case '10':
							$month = 'Octber';
						break;
						
						case '11':
							$month = 'November';
						break;
						
						case '12':
							$month = 'December';
						break;
						
						default:
							$month = '';
						break;
					}
					$dayofbirth = explode(' ', $dob[2]);
					$dateOfBirth = $month.' '.$dayofbirth[0].', '.$dob[0]; 
				else: 
					$dateOfBirth = ''; 
				endif; 
			   ?>
			<div class="dob span4">Date of Birth: &nbsp;</div> 
			<div class="info-content dob-content span8">
				<?php echo $dateOfBirth; ?>
			</div>
			<div class="span3 gender">Gender: &nbsp;</div> 
			<div class="info-content gender-content span2">
				<?=@$user_profile['sex'];?> 
			</div>
			<div class="span3">Blood type: &nbsp;</div> 
			<div class="info-content blood_type span4">
				<?php echo(strcmp($user_profile['bloodtype'], 'DKY')==0)? "don't know yet" : $user_profile['bloodtype'] ; ?>
			</div>
			<div class="span3">Address: &nbsp;</div>
			<div class="info-content address span9">
			<?php
				$ui_address = "".@$user_profile['street'].", ".@$user_profile['city'].", ".@$user_profile['state'].", ".@$user_profile['country']." ".@$user_profile['postcode'];
				
				echo wordwrap($ui_address,110,"<br/>\n",true);
			?>
			</div>
			<div class="span12 emergency">Emergency contact information:</div>
			<div class="info-content span12">
			<?php 
			
				if(!empty($cardData['areacode']))
				{
					$areaCode = " (".$cardData['areacode'].") ";
				}
				else
				{
					$areaCode = "";
				}
			
				$emergencyCardData = "(".@$cardData['fullname'].") +".@$cardData['countrycode']." ".$areaCode." ".@$cardData['number']." ".@$cardData['contactemail']." ".@$cardData['fulladdress'];
				
				echo wordwrap($emergencyCardData,250,"<br/>\n",true);
			?>
			</div>
		</div>
		
		<div class="span12 card-options">
			<div class="span2 ">
				<a class=" edit btn btn-warning" type="button" href="<?php echo base_url();?>register/editInformation">Edit</a> 
			</div>
			<!--<a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/printit" onclick="window.print();returnfalse">Print</a>-->
			<div class="span2  hidden-phone">
				<a class="btn btn-info" type="button" href="javascript:void(0);" onclick="window.print();returnfalse">Print</a> 
			</div>
			<div class="span4 ">
				<a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/saveit">Save as PDF</a>
			</div>
		</div>
	</div>
	  <img src="<?php echo base_url(); ?>public/img/ruler.jpg" width="100%" height="15" id="ruler"/>
	  <img src="<?php echo base_url(); ?>public/img/nambal-card-fold-cut.jpg" width="705" height="948" id="card-background"/>
	  <img src="<?php echo base_url(); ?>public/img/nambal-card-fold-cut.png" width="705" height="948" class="card-background-web img-responsive hidden-phone visible-tablet"/>
  </div>
  <div class="span2 fold">
	<img src="public/img/fold.png" alt="How to fold your NAMBAL card" title="How to fold your NAMBAL card" width="180" height="180" class="hidden-phone"/>
  </div>
  <div class="span4"> 
	  <div class="embedVideo">
	  <object width="516" height="290"><param name="movie" value="//www.youtube-nocookie.com/v/hAcva6YVUso?version=3&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="//www.youtube-nocookie.com/v/hAcva6YVUso?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="516" height="290" allowscriptaccess="always" allowfullscreen="true"></embed></object>
	  </div>
	  <br/>
	  <p id="intro-NAMBAL">
		Your healthy lifestyle starts here. Keep this card in your wallet. This will help you in time of emergency care, an emergency professionals can access your health information by going to listed webpage or by scanning the QR code.
		<br/><br/>
		Keep the information current and print a new card when you update it. If your card is lost or stolen, you can cancel the QR code and print out a new card with new QR code.
		<br/><br/>
		A doctor who is subscribed to our Health Record for Medical Professsionals can also access your Health Record for their diagnosis. They will be granted access to update your Health Record. Please keep posted for the uses of your Health Card by checking your Nambal Account often.
	  </p>
	  <br/>
	  <a class="btn btn-danger links" type="button" href="<?php echo base_url(); ?>dashboard">
		To my Personal Dashboard
	  </a>
	  <br/><br/>
	  <!--<a href="#" class="links">Skip to Personal Dashboard &raquo;</a>-->
	  <!--<h5>one more step</h5>
	  <a class="btn btn-warning" type="button" href="<?php echo base_url(); ?>profilepic/take">Take a photo</a>
	  <br><br>
	  <a class="btn btn-warning" type="button" href="<?php echo base_url(); ?>profilepic/upload">or Upload photo</a>
	  <br><br>
	  <h5>really... one more step</h5>
	  <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/printit">Print health card</a>
	  <br><br>
	  <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/saveit">or Save digital verison</a>
	  <br><br>
	  <h5>and you are done</h5>
	  -->
	  <br><br>
  </div>
</div>
<!--<h3>Are you a doctor?</h3>
    <a href="<?php echo base_url(); ?>registerDoctor">Please continue here</a>

    <h3>Are you a pharmacist?</h3>
    <a href="<?php echo base_url(); ?>registerPharma">Please continue here</a>

    <h3>Are you a Nurse?</h3>
    <a href="<?php echo base_url(); ?>registerNurse">Please continue here</a>

    <h3>Are you Working in Health care?</h3>
    <a href="<?php echo base_url(); ?>registerMedProf">Please continue here</a>

    <h3>Are you a developer or do you have a system you want to connect?</h3>
    <a href="<?php echo base_url(); ?>registerDeveloper">Please continue here</a>-->
</section>