<section id="introNambal">
<div class="title">We help you save </div>
          <div class="clear">&nbsp;</div>
          <p class="subtitle">your own health information. <br/>
             that will help you take care of yourself<br/><span class="dancing-font-medium">and the people you care for...</span>
          </p>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#tabs1-pane1" data-toggle="tab"><small class="steps">Step 1 »</small><br />Create Account</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li><a class="tab-pinfo" href="javascript:void(0);"><small class="steps">Step 2 »</small><br />Personal Information</a></li>
    <li><a class="tab-emergency" href="javascript:void(0);"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
    <li><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
</ul>
</div>
You may <a href="<?php echo base_url(); ?>login/facebook">Sign-up using facebook</a>(shorter steps) or continue registration below:<br/><br/>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<form name="form1" method="post" action="">
  <p>
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" id="firstname" class="input-xlarge" placeholder="First Name" required value="<?php echo set_value('firstname'); ?>">
  </p>
  <p>
    <label for="middlename">Middle Name:</label>
    <input type="text" name="middlename" id="middlename" class="input-xlarge" placeholder="Middle Name"  value="<?php echo set_value('middlename'); ?>">
  </p>
  <p>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" id="lastname" class="input-xlarge" placeholder="Last Name or Family name" required value="<?php echo set_value('lastname'); ?>">
  </p>
  <p>
    <label for="email">Email:</label>
      <input type="email" name="email" id="email" class="input-xlarge" placeholder="Email Address" required value="<?php echo set_value('email'); ?>">
  </p>
  <p id="agreeTermsLabel">
    <input type="checkbox" name="agreeTerms" id="agreeTerms">
    <label for="agreeTerms" >I Agree Nambal.com <a href="<?php echo base_url().'terms-and-conditions'; ?>">Terms and Conditions</a></label>
  </p>
  <div>
      <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Create Account</strong></button>
    </div><br><br>
      <h4>Or you may sign up with your favorite Social account</h4>
  <!--<a href="#" onclick="facebookLogin();"><img src="http://beta.nambal.com/images/index/icon_facebook.png"></a>-->
  <div class="social-logos">
    <a href="/login/facebook"><img src="public/img/facebook.png"/></a>&nbsp;&nbsp;
    <a href="javascript:alert('Will be available very soon');"><img src="public/img/twitter-disabled.png"></a>&nbsp;&nbsp;
    <a href="javascript:alert('Will be available very soon');"><img src="public/img/googleplus-disabled.png"></a><br>
    <strong>You should agree</strong> in Nambal.com software consultancy <a href="<?php echo base_url().'terms-and-conditions'; ?>">Terms and Conditions</a> before you continue.<br>
    <strong>Upon cliking </strong> your favorite social network login above.  It automatically means that you have <strong>read and agreed</strong> in Nambal.com Software consultancy<a href="<?php echo base_url().'terms-and-conditions'; ?>"> T & C</a>.
  </div>
</form>
</section>