<div id="wrapper-content">
    <div class="spacer-afternav">&nbsp;</div>
	<div class="clearfix"></div>
	<div class="owner-wrap">
		<h1>Owner Registration</h1>
		<div class="row-fluid owner-register">
			<div class="span6 reg-form">
				<form method="post" action="register/owner">
					<div class="form-row">
						<div class="pull-left">
							<label for="first_name">First Name*:</label>
							<input type="text" name="first_name" id="first_name" value="<?= set_value('first_name') ?>" class="input-small input-name">&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
						<div class="span4">
							<label for="last_name">Last Name*:</label>
							<input type="text" name="last_name" id="last_name" value="<?= set_value('last_name') ?>" class="input-small input-name">
						</div>
						<? if (!empty($errors['last_name'])): ?>
							<br /><small>Enter Your First &amp; Last Name</small><br />
						<? endif; ?>						 
					</div>
					<div class="clearfix"></div>
					<div class="form-row">
						<label for="email">Email Address*:</label>
						<input type="text" name="email" id="email" value="<?= set_value('email') ?>" class="input-xlarge">
						<?= !empty($errors['email']) ? '<br /><small>' . $errors['email'] . '</small><br />' : '' ?>
					</div>
					<div class="clearfix"></div>
					<div class="form-row">
						<label for="password">Password*: <small>(must be at least 6 characters long)</small></label>
						<input type="password" name="password" id="password" value="<?= set_value('password') ?>" class="input-xlarge">
						<?= !empty($errors['password']) ? '<br /><small>' . $errors['password'] . '</small><br />' : '' ?>
					</div>
					<div class="clearfix"></div>
					<div class="form-row">
						<label for="confirm">Confirm Password*:</label>
						<input type="password" name="confirm" id="confirm" value="<?= set_value('confirm') ?>" class="input-xlarge">
						<?= !empty($errors['confirm']) ? '<br /><small>' . $errors['confirm'] . '</small><br />' : '' ?>
					</div>
					<div class="clearfix">&nbsp;</div>

					<h4><strong>Official Contact Information</strong></h4>
					<div class="form-row">
						<label for="name_organization">Creditor/Organization*: </label>
						<input type="text" name="name_organization" id="organization_name" value="<?= set_value('name_organization') ?>" class="input-xlarge">
						<?= !empty($errors['name_organization']) ? '<br /><small>' . $errors['name_organization'] . '</small><br />' : '' ?>
					</div>
					<div class="clearfix"></div>
					<div class="form-row">
						<label for="number">Primary Phone Number*: </label>
						<input type="text" name="number" id="phone" placeholder="(XXX) XXX-XXXX" value="<?= set_value('number') ?>" class="input-medium">
						<?= !empty($errors['number']) ? '<br /><small>' . $errors['number'] . '</small>' : '' ?>
					</div> 
					<div class="clearfix">&nbsp;</div>
					<div class="form-row">
						<input class="btn-lmd-100" type="submit" value="Register" />
					</div> 
					<div class="clearfix"></div>
				</form>
			</div>
			<div class="span6 reg-container">
				<h1><strong>As an Owner...</strong></h1>
				<p>
					<strong>An Explaination of the Owner's role and tasks they can do.</strong>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>     
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
	<div class="clearfix">&nbsp;</div>
    <div class="spacer-afternav">&nbsp;</div>
</div>