<section id="introNambal">
<div class="title">Step 1 of Registration. <br>Create Account, Setting password</div>
          <div class="clear">&nbsp;</div>
          <p class="subtitle">Thank you for verifying your email<br/><span class="dancing-font-medium">You are few steps to have fun and safer healthy lifestyle.</span>
          </p>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li ><a class="tab-pinfo" href="javascript:void(0);" data-toggle="tab"><small class="steps">Step two »</small><br />Verify Email</a></li>
    <li><a class="tab-emergency" href="javascript:void(0);"><small class="steps">Step 3 »</small><br />Setup password</a></li>
    <li><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
</ul>
</div>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($error)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $error;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<form name="form1" method="post" action="<?php echo base_url(); ?>register/addPassword">
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"   class="input-xlarge" placeholder="password" required >
    <br>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword"   class="input-xlarge" placeholder="confirm password" required>
    <input type="hidden" name="email" id="email" value="<?=$email;?>" >
  </p>
  <div>
    <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Continue in creating the profile</strong></button>
  </div>
</form>
</section>