<?php
// Firstname
// Lastname
// Middlename
// Gender

// Birthdate
// Birthtime (optional)
// Bloodtype

// Email address:
// Street
// State
// City
// Country
// Post code

// Do you want to be part of patient’s emergency contact?
// Generate nambal card registration?

$user_profile['bloodtype'] = '';
$user_profile['sex'] = '';

?>
<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>


<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script type="text/javascript" src="<?=base_url();?>public/js/custom-nonnambalcreate.js"></script>
<script type="text/javascript" src="<?=base_url();?>public/js/countries.js"></script>
<script language="javascript">
jQuery(document).ready(function()
{
    // jQuery('#hide-when-no-country-yet').hide();
    populateCountries("country", "state", "countrySelected", "stateSelected");
    var addresspreviewtext = "<?=@$this->registrationInfo['street'];?>,<br><?=@$this->registrationInfo['city'];?>, <?=@$this->province;?>, <?=@$this->country;?> <?=@$this->registrationInfo['postcode'];?>";
    $( "#addresspreview" ).html(addresspreviewtext);

    <?php if(!empty($this->registrationInfo['redirectdownloadsessionid'])): ?>
    <?php 
        $redirectdownload = base_url().'healthprofile/saveitfromdoctor?sessionid='.$this->registrationInfo['redirectdownloadsessionid'];
    ?>
    window.location.href = '<?=@$redirectdownload?>';
    <?php endif; ?>
});


</script>
<?php 
    $errorReturn = validation_errors();
?>
<form action="" method="post" name="nonnambalcreate">
<div class="row">
    <div class="col-md-6">
        <section class="widget widget-transparent">
            <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
            <?php if ((strpos(@validation_errors(), 'First name') ==  TRUE ) ||
                    (strpos(@validation_errors(), 'Last name') ==  TRUE ) ||
                    (strpos(@validation_errors(), 'Gender') ==  TRUE ) ||
                    (strpos(@validation_errors(), 'Patient email address') ==  TRUE ) ): ?>
            <div class="alert alert-danger fade in" role="alert">
            <?php
              echo @validation_errors(); 
            ?>
            </div>
            <?php endif; ?>
            <?php endif; ?>
        	<input type="text" name="firstname" id="firstname" placeholder="First or given name" class="select-block-level tootipper" value="<?=@$this->registrationInfo['firstname']?>" title="First or given name" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="First or given name needed for patient information." />
        	<input type="text" name="middlename" id="middlename" placeholder="Middle  or surname" class="select-block-level tootipper" value="<?=@$this->registrationInfo['middlename']?>" title="Middle  or surname" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Middle  or surname is optional but it is best to have it." />
        	<input type="text" name="lastname" id="lastname" placeholder="Last or family name" class="select-block-level  tootipper" value="<?=@$this->registrationInfo['lastname']?>" title="Last or family name" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Last or family name is needed for patient information."  />
            <label for="sex" >Gender: </label>
            <select name="sex" id="sex"  class="input-xlarge chzn-select tootipper"  title="Gender" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Please select the gender in the list."   >
                <option value=""  <?php if (strcmp(@$this->registrationInfo['sex'],"DKY")==0) echo 'selected';  ?> >Gender</option>
                <option value="Male"  <?php if (strcmp(@$this->registrationInfo['sex'],"Male")==0) echo 'selected';  ?> >Male</option>
                <option value="Female"  <?php if (strcmp(@$this->registrationInfo['sex'],"Female")==0) echo 'selected';  ?> >Female</option>
                <option value="Transgender"  <?php if (strcmp(@$this->registrationInfo['sex'],"Transgender")==0) echo 'selected';  ?> >Transgender</option>
            </select>
            
            <?php if ((!empty($errorEmailMessage)) && ($_POST) ): ?>
                <div class="alert alert-danger fade in" role="alert">
                Email already exist, you may add patient's information to existing account<br> or ask patient for another email address.
                </div>
            <?php endif;?>
            
            <input type="text" name="emailaddress" id="emailaddress" placeholder="Email address, optional" class="select-block-level  tootipper" value="<?=@$this->registrationInfo['emailaddress']?>" title="Email address" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Email address is useful for patient to recover their health information online.  This is optional input but useful."  /><br>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget widget-transparent ">
            <div class="row">
                <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
                <?php if (  (strpos(@validation_errors(), 'Birthdate') ==  TRUE ) ||
                            (strpos(@validation_errors(), 'Blood type') ==  TRUE ) ): ?>
                <div class="alert alert-danger fade in" role="alert">
                    <?php
                        echo @validation_errors(); 
                    ?>
                </div>
                <?php endif; ?>
                <?php endif; ?>
                <div class="input-group col-md-6">
                    
                  <label>Birthday:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input  id="select-calendar-datestarted" name="birthdate" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->registrationInfo['birthdate'])) echo date('m/d/o', strtotime($this->registrationInfo['birthdate'])); else echo date('m/d/o'); ?>" title="Birthdate" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
                  <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->registrationInfo['birthdate'])) echo date('m/d/o', strtotime($this->registrationInfo['birthdate'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
                  <i class="fa fa-calendar"></i>  </a></span></label>
                </div>
                <div class="input-group col-md-6">
                <label>Time of birthday (optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
            	   <input type="text" name="birthtime" id="birthtime" placeholder="Birth time, hh:mm, optional"  class="select-block-level mask-time tootipper" value="<?=@$this->registrationInfo['birthtime']?>" title="Birth time (optional)" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Time of birth.  This input is optional." />
                </label></div>
            </div>
            <label for="bloodtype">Bloodtype:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
            <select id="bloodtype" name="bloodtype"  class="input-xlarge  tootipper"  title="Blood type" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Please select the blood type in the list.">
                <option value="DKY"  <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"DKY")==0) echo 'selected';  ?> >Dont know blood type yet</option>
                <option value="O+" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"O+")==0) echo 'selected';  ?> >O+</option>
                <option value="O-" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"O-")==0) echo 'selected';  ?> >O-</option>
                <option value="O?" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"O?")==0) echo 'selected';  ?> >O?</option>
                <option value="A-" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"A-")==0) echo 'selected';  ?> >A-</option>
                <option value="A+" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"A+")==0) echo 'selected';  ?>>A+</option>
                <option value="A?" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"A?")==0) echo 'selected';  ?>>A?</option>
                <option value="B-" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"B-")==0) echo 'selected';  ?>>B-</option>
                <option value="B+" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"B+")==0) echo 'selected';  ?>>B+</option>
                <option value="B?" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"B?")==0) echo 'selected';  ?>>B?</option>
                <option value="AB-" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"AB-")==0) echo 'selected';  ?>>AB-</option>
                <option value="AB+" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"AB+")==0) echo 'selected';  ?>>AB+</option>
                <option value="AB?" <?php if (strcasecmp(@$this->registrationInfo['bloodtype'],"AB?")==0) echo 'selected';  ?>>AB?</option>
            </select>
            </label>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <section class="widget widget-transparent">
            <header>
                <h5>Present address</h5>
            </header>
            <? //Hala kailangan diay ni mo identify unsa iya barangay para sayon ang address ?>
            <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
            <?php if (  (strpos(@validation_errors(), 'Country') ==  TRUE ) ||
                        (strpos(@validation_errors(), 'Street') ==  TRUE ) ||
                        (strpos(@validation_errors(), 'City') ==  TRUE ) ||
                        (strpos(@validation_errors(), 'Postal or zip code') ==  TRUE ) ||
                        (strpos(@validation_errors(), 'State or Province') ==  TRUE ) ): ?>
            <div class="alert alert-danger fade in" role="alert">
            <?php
              echo @validation_errors(); 
            ?>
            </div>
            <?php endif; ?>
            <?php endif; ?>
            
            <?php if (empty($this->barangayLogin)): ?>
            <label for="barangay">Barangay</label>
            <select name="barangay" id="barangay" class="chzn-select select-block-level change-barangay">
                 <option value="">You may select barangay</option>
                <?php foreach ($this->barangayList as $barangayList):    ?>
                    <option id="barangaylist-<?=$barangayList->idbarangaylist?>" value="<?=$barangayList->idbarangaylist?>"><?=$barangayList->barangayName?></option>
                <?php endforeach; ?>
                <option id="barangaylist-empty" value="">Not in the list</option>
            </select>
            <?php else: ?>
                <input type="hidden" name="barangay" id="barangay" value="<?php echo(!empty($this->barangayLogin)) ? @$this->barangayLogin->idbarangaylist : '' ; ?>"/>
            <?php endif; ?>

            <div class="row">
                <div class="col-md-6">
                    <label for="country">Country</label>
                    <select name="country" id="country" class="chzn-select select-block-level change-address">
                    </select>
                    <input type="hidden" id="countrySelected" value="<?php echo(!empty($this->country)) ? $this->country : '' ; ?>" />
                </div>
                <div class="col-md-6" id="state-select-area">
                    <label for="state">State or Province <span id="hide-when-no-country-yet">(Please select country first)</span></label>
                    <select name="state" id="state" class="chzn-select select-block-level change-address">
                    </select>
                    <input type="hidden" id="stateSelected" value="<?php echo(!empty($this->province)) ? $this->province : '' ; ?>" />
                </div>
            </div>
            <input  type="text" name="street" id="street" placeholder="Street address" class="select-block-level tootipper change-address change-address-text" value="<?=@$this->registrationInfo['street']?>" title="Street address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Street address of the patient." /><br>
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="city" id="city" placeholder="City or municipality" class="select-block-level tootipper change-address change-address-text" value="<?=@$this->registrationInfo['city']?>" title="City or municipality" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="City or municipality.  Put city at the end if you are adding city." />
                </div>
                <div class="col-md-6">
                    <input type="text" name="postcode" id="postcode" placeholder="Postcode" class="select-block-level tootipper change-address change-address-text" value="<?=@$this->registrationInfo['postcode']?>" title="Postcode" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Post code." />
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <header>Address preview:</header>
        <p id="addresspreview">
            <?=@$this->registrationInfo['street'];?>
            <?=@$this->province;?>, <?=@$this->country;?> <?=@$this->registrationInfo['postcode'];?>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section class="widget widget-transparent">
            <header><h5>Mother&prime;s name</h5></header>
            <?php if ( (!empty($errorMessage)) || (!empty($this->errorAddmothersName)) || (!empty($errorReturn)) ): ?>
            <div class="alert alert-danger fade in" role="alert">
            <?php if ( (strpos(@validation_errors(), 'Mothers email address') ==  TRUE )  ): ?>
            <?php
              echo @validation_errors(); 
            ?>
            <?php endif; ?>
            <?php if (!empty($this->errorAddmothersName)): ?>
            <?=@$this->errorAddmothersName;?>
            <?php endif;?>
            </div>
            <?php endif; ?>
            <label class="select-block-level"><input id="addmothersname" name="addmothersname" type="checkbox" <?php if(!empty(@$this->registrationInfo['addmothersname'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Add mother&prime;s name?</label>
            <!-- <label class="select-block-level"><input name="motherNambalmember" type="checkbox" <?php if(!empty(@$this->registrationInfo['motherNambalmember'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Mother is a nambal member</label> -->
            <div id="mothersnamecontainer">
            <input type="text" name="motherNambalmemberName" id="motherNambalmemberName" placeholder="Mother&prime;s maiden name" class="select-block-level tootipper" value="<?=@$this->registrationInfo['motherNambalmemberName']?>" title="Mother&prime;s maiden name" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Mother&prime;s maiden name needed for patient information." />
            <label class="select-block-level"><input id="doYouWantToBeContactInfoMother" name="doYouWantToBeContactInfoMother" type="checkbox"  <?php if(!empty(@$this->registrationInfo['doYouWantToBeContactInfoMother'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Do you want to add mother for contact information?</label>
            <div id="doyouwanttobecontactmothercontainer">
            <input type="text" name="mothersemail" id="mothersemail" placeholder="Mother&prime;s email address" class="select-block-level tootipper" value="<?=@$this->registrationInfo['mothersemail']?>" title="Mother&prime;s email address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Mother&prime;s email address needed for patient&prime;s emergency contact information." />
            <label>Contact number<br>
            <select name="countryCodeMother" id="countryCodeMother" class="col-sm-3 tootipper" required="" style=" margin: 5px !important; margin-right: 0px !important;"  data-animation="true" data-placement="top" data-trigger="hover focus" title="Country code" data-content="country code example: 63 for Philippines and 1 for United States. If Philippines mobile phones for example +63915-xxx-xxxx, 63 is still country code">
                <option value="">Select Country Code</option>
            <?php 
                $json = file_get_contents(base_url().'json/countrycodes');
                $obj = json_decode($json);
            ?>
                <?php foreach ($obj as $key => $value):?>
                    <?php if ((strcasecmp($key, 'Philippines')==0) && (empty(@$this->registrationInfo['countryCodeMother']))): ?>
                        <option value="<?=$value;?>"  selected="selected"><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php elseif($value==@$this->registrationInfo['countryCodeMother']): ?>
                        <option value="<?=$value;?>"  selected="selected"><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php else: ?>
                        <option value="<?=$value;?>" ><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php endif;?>
                <?php endforeach; ?>
            </select>
            
            <input name="areaCodeMother" type="text" id="areaCodeMother" class="mask-int-area tootipper col-sm-4" placeholder="(032)"  value="<?=@$this->registrationInfo['areaCodeMother'];?>" title="Area code" data-content="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'."  data-animation="true" data-placement="top" data-trigger="hover focus" >
            <input name="mothersnumber" type="text" id="mothersnumber" class="tootipper mask-int-phone input-small" placeholder="xxx-xxxx"  value="<?=@$this->registrationInfo['mothersnumber'];?>" data-content="Number without the area code or provider code.  If Philippines mobile phones for example +63915-xxx-xxxx, the phone number is the 'xxx-xxxx' that follows the '915." title="Phone"  data-animation="true" data-placement="top" data-trigger="hover focus" >
            </label>
            </div>
            </div>
        </section>
    </div>
    <div class="col-md-6">
        <section class="widget widget-transparent">
            <header><h5>Father&prime;s name</h5></header>
            <?php if ( (!empty($errorMessage)) || (!empty($this->errorAddfathersName)) || (!empty($errorReturn)) ): ?>
            <div class="alert alert-danger fade in" role="alert">
                <?php if ( (strpos(@validation_errors(), 'Fathers email address') ==  TRUE ) ): ?>
                <?php
                  echo @validation_errors(); 
                ?>
                <?php endif; ?>
                <?php if (!empty($this->errorAddfathersName)): ?>
                    <?=@$this->errorAddfathersName;?>
                <?php endif;?>
            </div>
            <?php endif; ?>
            <label class="select-block-level"><input id="addfathersname" name="addfathersname" type="checkbox" <?php if(!empty(@$this->registrationInfo['addfathersname'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Add father&prime;s name?</label>
            <!-- <label class="select-block-level"><input name="fatherNambalmember" type="checkbox"   <?php if(!empty(@$this->registrationInfo['fatherNambalmember'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Father is a nambal member</label> -->
            <div id="fathersnamecontainer">
            <input type="text" name="fatherNambalmemberName" id="fatherNambalmemberName" placeholder="Father's full name" class="select-block-level tootipper" value="<?=@$this->registrationInfo['fatherNambalmemberName']?>" title="Father's first or given name" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Father's first or given name needed for patient information." />
            <label class="select-block-level"><input id="doYouWantToBeContactInfoFather" name="doYouWantToBeContactInfoFather" type="checkbox"  <?php if(!empty(@$this->registrationInfo['doYouWantToBeContactInfoFather'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Do you want to add father for contact information?</label>
            <div id="doyouwanttobecontactfathercontainer">
            <input type="text" name="fathersemail" id="fathersemail" placeholder="Father&prime;s email address" class="select-block-level tootipper" value="<?=@$this->registrationInfo['fathersemail']?>" title="Father&prime;s email address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Father&prime;s email address needed for patient&prime;s emergency contact information." />
            <label>Contact number<br>
            <select name="countryCodeFather" id="countryCodeFather" class="col-sm-3 tootipper"  style=" margin: 5px !important; margin-right: 0px !important;"  data-animation="true" data-placement="top" data-trigger="hover focus" title="Country code" data-content="country code example: 63 for Philippines and 1 for United States. If Philippines mobile phones for example +63915-xxx-xxxx, 63 is still country code">
                <option value="">Select Country Code</option>
            <?php 
                $json = file_get_contents(base_url().'json/countrycodes');
                $obj = json_decode($json);
            ?>
                <?php foreach ($obj as $key => $value):?>
                    <?php if ((strcasecmp($key, 'Philippines')==0) && (empty(@$this->registrationInfo['countryCodeFather']))): ?>
                        <option value="<?=$value;?>"  selected="selected"><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php elseif(@$value==$this->registrationInfo['countryCodeFather']): ?>
                        <option value="<?=$value;?>"  selected="selected"><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php else: ?>
                        <option value="<?=$value;?>" ><?=$key;?> &#40;&#43;<?=$value?>&#41;</option>
                    <?php endif;?>
                <?php endforeach; ?>
            </select>
            
            <input name="areaCodeFather" type="text" id="areaCodeFather" class="mask-int-area tootipper col-sm-4" placeholder="(032)"  value="<?=@$this->registrationInfo['areaCodeFather'];?>" title="Area code" data-content="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'."  data-animation="true" data-placement="top" data-trigger="hover focus" >
            <input name="fathersnumber" type="text" id="fathersnumber" class="tootipper mask-int-phone input-small" placeholder="xxx-xxxx"  value="<?=@$this->registrationInfo['fathersnumber'];?>" data-content="Number without the area code or provider code.  If Philippines mobile phones for example +63915-xxx-xxxx, the phone number is the 'xxx-xxxx' that follows the '915." title="Phone"  data-animation="true" data-placement="top" data-trigger="hover focus" >
            </label>
            </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="widget widget-transparent">
           <!--  <label class="select-block-level"><input name="doYouWantToBeContactInfo" type="checkbox" <?php if(!empty(@$this->registrationInfo['doYouWantToBeContactInfo'])) echo 'checked="checked"'; elseif(!$_POST) echo '';   ?> />
            &nbsp;Do you want to be part of patient’s emergency contact?</label>
            <label class="select-block-level"><input name="generateNambalCard" type="checkbox"  <?php if(!empty(@$this->registrationInfo['generateNambalCard'])) echo 'checked="checked"'; elseif(!$_POST) echo 'checked="checked"';   ?> />
            &nbsp;Generate nambal card for this registration?</label> -->
            <label class="select-block-level"><input name="addanotherpatient" type="checkbox"  <?php if(!empty(@$this->registrationInfo['addanotherpatient'])) echo 'checked="checked"'; elseif(!$_POST) echo '';   ?> />
            &nbsp;Add another patient?</label>
            <br><br>
            <input name="registerPatient" type="submit" value="Register Patient" class="select-block-level btn btn-success" >
        </section>
    </div>
</div>
</form>