 <section id="introNambal">
    <div class="title">Step 4 of 4</div>
              <div class="clear">&nbsp;</div>
    <div class="tabbable formtab">
    <ul class="nav nav-tabs" id="myTab">
        <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
        <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
        <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
        <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
        <li><a href="/register/createAccountSecond" ><small class="steps">Step two »</small><br />Personal Information</a></li>
        <li><a href="/register/createAccountThird"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
        <li  class="active"><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
    </ul>
    </div>
    <h2>Register as Pharmacist</h2>
    <a class="btn btn-danger" type="button" href="<?php echo base_url(); ?>register/createAccountFourth">Back</a>
</section>