<section id="introNambal">
<div class="title">Step 2 of Registration. </div>
          <div class="clear">&nbsp;</div>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li class="active"><a class="tab-pinfo" href="javascript:void(0);" data-toggle="tab"><small class="steps">Step two »</small><br />Personal Information</a></li>
    <li><a class="tab-emergency" href="javascript:void(0);"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
    <li><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
</ul>
</div>
<h3>Hi <?=ucwords(@$user_profile['firstname']); ?>.</h3>
<p>
  This information will be very useful for your <a href="about/healthCard?retUrl=<?php echo urlencode('register/createAccountSecond'); ?>">Health card</a> that we will be generating in the last step.
</p>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<form action="" method="post">
  <label for="fullname">Full name</label>
  <input name="fullname" type="text" class="input-xlarge"  id="fullname" value="<?php
  if (isset($user_profile['fullname']))  echo $user_profile['fullname']; ?>" >
  <br/>
  <label for="country">Country</label>
  <select name="country" id="country" class="input-xlarge" required></select>
  <input type="hidden" id="countrySelected" value="<?php echo(!empty($user_profile['country']))? $user_profile['country'] : '' ; ?>"/>
  <br/>
  <label for="state">State</label>
  <select name="state" id="state" class="input-xlarge" required></select>
  <input type="hidden" id="stateSelected" value="<?php echo(!empty($user_profile['state']))? $user_profile['state'] : '' ; ?>"/>
  <script language="javascript">
	populateCountries("country", "state", "countrySelected", "stateSelected");
 </script>
  <br/>
  <label for="street">Street</label>
  <input name="street" type="text" id="street"   class="input-xlarge" placeholder="street" required value="<?php
  if (isset($user_profile['street']))  echo $user_profile['street']; ?>">
  <br/>
  <label for="city">City</label>
  <input name="city" type="text" id="city" class="input-xlarge" placeholder="city" required value="<?php
  if (isset($user_profile['city']))  echo $user_profile['city']; ?>">
  <br/>
  <label for="postcode">Post Code</label>
  <input name="postcode" type="text" id="postcode" class="input-xlarge" placeholder="postal code or zip code" required value="<?php
  if (isset($user_profile['postcode']))  echo $user_profile['postcode']; ?>">
  <br/>
  <label for="dateofbirth">Date of Birth</label>
  <input name="dateofbirth" id="dateofbirth" class="input-xlarge" required value="<?php 
  if (!empty($user_profile['dateofbirth'])) { echo $user_profile['dateofbirth']; } else { ?> 01/01/1970 <?php } ?>">
  <br/>
  <label for="sex">Gender</label>
  <select name="sex" id="sex"  class="input-xlarge" >
    <option value=""  <?php if (strcmp($user_profile['sex'],"DKY")==0) echo 'selected';  ?> ></option>
    <option value="Male"  <?php if (strcmp($user_profile['sex'],"Male")==0) echo 'selected';  ?> >Male</option>
    <option value="Female"  <?php if (strcmp($user_profile['sex'],"Female")==0) echo 'selected';  ?> >Female</option>
    <option value="Transgender"  <?php if (strcmp($user_profile['sex'],"Transgender")==0) echo 'selected';  ?> >Transgender</option>
  </select>
  <br/>
  <label for="bloodtype">Blood Type</label>
  <select id="bloodtype" name="bloodtype"  class="input-xlarge" >
    <option value="DKY"  <?php if (strcmp($user_profile['bloodtype'],"DKY")==0) echo 'selected';  ?> >Dont know yet</option>
    <option value="O+" <?php if (strcmp($user_profile['bloodtype'],"O+")==0) echo 'selected';  ?> >O+</option>
    <option value="O-" <?php if (strcmp($user_profile['bloodtype'],"O-")==0) echo 'selected';  ?> >O-</option>
    <option value="O?" <?php if (strcmp($user_profile['bloodtype'],"O?")==0) echo 'selected';  ?> >O?</option>
    <option value="A-" <?php if (strcmp($user_profile['bloodtype'],"A-")==0) echo 'selected';  ?> >A-</option>
    <option value="A+" <?php if (strcmp($user_profile['bloodtype'],"A+")==0) echo 'selected';  ?>>A+</option>
    <option value="A?" <?php if (strcmp($user_profile['bloodtype'],"A?")==0) echo 'selected';  ?>>A?</option>
    <option value="B-" <?php if (strcmp($user_profile['bloodtype'],"B-")==0) echo 'selected';  ?>>B-</option>
    <option value="B+" <?php if (strcmp($user_profile['bloodtype'],"B+")==0) echo 'selected';  ?>>B+</option>
    <option value="B?" <?php if (strcmp($user_profile['bloodtype'],"B?")==0) echo 'selected';  ?>>B?</option>
    <option value="AB-" <?php if (strcmp($user_profile['bloodtype'],"AB-")==0) echo 'selected';  ?>>AB-</option>
    <option value="AB+" <?php if (strcmp($user_profile['bloodtype'],"AB+")==0) echo 'selected';  ?>>AB+</option>
    <option value="AB?" <?php if (strcmp($user_profile['bloodtype'],"AB?")==0) echo 'selected';  ?>>AB?</option>
</select>
<br/>
  <div>
    <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Next</strong></button>
  </div>
</form>
</section>