<section id="introNambal">
<div class="title">Step 3 of 4</div>
          <div class="clear">&nbsp;</div>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Create Account</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li><a href="/register/createAccountSecond" ><small class="steps">Step two »</small><br />Personal Information</a></li>
    <li class="active"><a href="javascript:void(0);"><small class="steps">Step 3 »</small><br />Emergency Information</a></li>
    <li><a class="tab-steps" href="javascript:void(0);"><small class="steps">Done</small><br />Success</a></li>
</ul>
</div>
<p class="dancing-font-medium">You are almost there.  We just need you to fill-up more important information.</p>
<p>
  This information will be very useful for your <a href="about/healthCard?retUrl=<?php echo urlencode('register/createAccountThird'); ?>">Health card</a> that we will be generating in the next step.
</p>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<h4>Emergency &ldquo;contact person&rdquo; information</h4>
<form name="form1" method="post" action="">
  <label for="fullname">Full name</label>
  <input name="fullname" type="text" id="fullname" class="input-xlarge" placeholder="Fullname of your contact person" required value="<?=@$safeContact['fullname'];?>">
  <br>
  <label for="email">Email</label>
  <input name="email" type="email" id="email" class="input-xlarge" placeholder="Email address of your contact person" required value="<?=@$safeContact['email'];?>">
  <br><label for="country">Contact Number:</label>
	<div class="contactNumbers">
      <label for="countryCode">Country code</label>
	  <select name="countryCode" id="countryCode" class="input-xlarge" required></select>
	  <input type="hidden" id="countryCodeSelected" value="<?php echo(!empty($safeContact['countrycode']))? $safeContact['countrycode'] : '' ; ?>"/>
	  <script language="javascript">
		populateCountryCode("countryCode", "countryCodeSelected");
	  </script>
	</div>
	<div class="contactNumbers">
		<div class="areaCode">
			<label for="areaCode">Area code</label>
			<input name="areaCode" type="text" class="input-xlarge areaCode" placeholder="00" value="<?=@$safeContact['areacode'];?>" title="area code example: 2 for Manila, 32 for Cebu City and 82 for Davao City.  If Philippines mobile phones example +63915-xxx-xxxx, the area code/provider code is the '915'.">
		</div>
		<div class="number">
			<label for="number">Phone number</label>
			<input name="number" type="text" class="input-xlarge number" placeholder="xxx-xxxx" required value="<?=@$safeContact['number'];?>" title="phone without the area code or provider code">
		</div>
    </div>
  <label for="fullAddress">Full Address</label>
  <input name="fulladdress" type="text" id="fulladdress"  class="input-xlarge" placeholder="Home or office addresss of your contact person" required  value="<?=@$safeContact['fulladdress'];?>" title="Home or office addresss of your contact person">
  <br>
  <div>
    <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Yipee, to the last step</strong></button>
  </div>
</form>
</section>