<section id="introNambal">
<div class="title">Email Verification</div>
          <div class="clear">&nbsp;</div>
          <p class="subtitle">Please check your email.<br/>.
          </p>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Verify Email</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li ><a class="tab-pinfo" href="javascript:void(0);" data-toggle="tab"><small class="steps">Step two »</small><br />Change Password</a></li>
</ul>
</div>
<div class="alert alert-success fade in">
<p>Please check your email to get the verification code and input it here:</p>
</div>
<p>If you don't see it in your inbox please check your spam/junk folder.  If it's not in both inbox and spam folder please wait for few minutes before <a href="<?php echo base_url(); ?>forgotPassword/requestNewVerificationCode">requesting another verification code</a>.<br>You may also contact our <a href="<?php echo base_url()?>support">technical support</a></p>
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<form name="verificationForm" method="get" action="">
  <?php if(empty($email)): ?>
  	<label for="email">Email:</label>
  	<input type="text" name="email" id="email"  class="input-xlarge" placeholder="email" required value="" >
  <?php else: ?>
  	<input type="hidden" name="email" id="email" value="<?=$email;?>" >
  <?php endif; ?>
  <label for="validationCode">Verification Code:</label>
    <input type="text" name="validationCode" id="validationCode"  class="input-xlarge" placeholder="validation code" required value="<?=$validationCode;?>">
  <div>
    <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Verify</strong></button>
  </div>
</form>
<p>Or maybe you already verified your email. <br/>
Please <a href="<?php echo base_url(); ?>login">login</a> or try to retrieve your account in <a href="<?php echo base_url(); ?>forgotPassword/">forgot username or password</a>.</p>
</section>