<section id="introNambal">
<div class="title">Step 2 of Verification, Create Password</div>
          <div class="clear">&nbsp;</div>
          <p class="subtitle">Thank you for verifying your email<br/><span class="dancing-font-medium">&nbsp;</span>
          </p>
<div class="tabbable formtab">
<ul class="nav nav-tabs" id="myTab">
    <li ><a href="javascript:void(0);" ><small class="steps">Step 1 »</small><br />Verify Email</a></li>
    <!-- <li><a href="#tabs1-pane2 data-toggle="tab"">Personal Information</a></li>
    <li><a href="#tabs1-pane3" data-toggle="tab">Emergency Information</a></li>
    <li><a href="#tabs1-pane4" data-toggle="tab">More steps</a></li> -->
    <li   class="active"><a class="tab-pinfo" href="javascript:void(0);" data-toggle="tab"><small class="steps">Step two »</small><br />Create Password</a></li>
</ul>
</div>
<div id="videoNambal">
<div class="alert alert-success fade in">
<p>Please setup your password below:</p>
</div>

	<span class="vSpan1">Few tips to get you started:</span><br />
	<span class="vSpan2">(please press play)</span>
	<div id="embedVideo">
		<iframe width="420" height="315" src="http://www.youtube.com/embed/TKr1ZhS_M5I"></iframe>
	</div>
</div>
<form name="form1" method="post" action="<?php echo base_url(); ?>register/addPassword">
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"   class="input-xlarge" placeholder="password" required >
    <br>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" id="confirmPassword"   class="input-xlarge" placeholder="confirm password" required >
    <input type="hidden" name="email" id="email" value="<?=$email;?>" >
  </p>
  <div>
    <button type="submit" class="btn btn-large btn-primary" data-loading-text="Loading..."><strong>Continue in creating the profile</strong></button>
  </div>
</form>
</section>