<header class="text-center">
<!-- Heading Part Starts -->

	 <div class="logo hidden-xs"> <!-- Logo Hidden in the Extra Small view -->
		<!-- Logo -->
		<h1><a href="#">&nbsp;<!--<i id="logohere"></i> Nambal.com <span>talisay</span></a>--></h1> 
	</div> 
	<h2 class="sub-head animated"><span>Healthcare </span> made easy</h2>
	
		<!-- Header buttons -->
		<div class="head-button">
			<!-- Buttons -->
				
				
		</div>


<!-- Heading Part Ends -->

<!-- Iphone Image Block -->

<div class="head-phone">
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-sm-3">
			<div class="phone-item-left animated">
				<div class="config-one-item">
					<a href="<?=base_url();?>login" class="icon-big"><i class="fa fa-heart-o red"></i></a>
					<h3>Health record</h3>
					<h4 class="br-red">Nambal safe</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="phone-item-up animated">
				<div class="config-one-item">
					<a href="<?=base_url();?>login" class="icon-big"><i class="fa fa-user-md blue"></i></a>
					<h3>Search doctors</h3>
					<h4 class="br-blue">Find my doctor</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="phone-item-right animated">
				<div class="config-one-item">
					<a href="<?=base_url();?>login" class="icon-big"><i class="fa fa-comments pink"></i></a>
					<h3>Online consultation</h3>
					<h4 class="br-pink">Nambal Connect</h4>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3">
			<div class="phone-item-right animated">
				<div class="config-one-item">
					<a href="<?=base_url();?>login" class="icon-big"><i class="fa fa-calendar lblue"></i></a>
					<h3>Set appointments</h3>
					<h4 class="br-lblue">Nambal Connect</h4>
				</div>
			</div>
		</div>						
	</div>
	<div class="row">
		<div class="phone-item-right animated">
				<p>Free health information system for <a href="<?=base_url();?>">patients</a> &amp; <a href="<?=base_url();?>">medical professionals</a>.</p>
				<a href="<?=base_url();?>register" class="btn-red"><i class="fa fa-pencil-square-o"></i> &nbsp;Register now!</a><br><a href="<?=base_url();?>privacy" target="_blank">Privacy</a>&nbsp;&nbsp;&#124;&nbsp;&nbsp;<a href="<?=base_url();?>terms-and-conditions" target="_blank">Terms &amp; Conditions</a>
				<p class="small-p">Note: Mobile web is currently in development. We recommend you to use your desktop or laptop for optimal experience. Mobile APP will also be available soon.</p>
		</div>
	</div>
</div>
</div>
<!-- Iphone Image Block Ends -->
</header>

<!-- Header Ends -->



<!-- Contact-us with Forms and Maps -->
<div class="contact-us block text-center">
<div class="container">
<div class="block-head">
	<h3 class="fwhite">Contact Us</h3>
</div>
	<div class="row">
		
			<div class="map">
                <iframe src="https://maps.google.com.ph/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=University+of+the+Philippines+Cebu&amp;aq=&amp;sll=10.338647,123.911963&amp;sspn=0.00342,0.004554&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=10.322492,123.898714&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.ph/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=University+of+the+Philippines+Cebu&amp;aq=&amp;sll=10.338647,123.911963&amp;sspn=0.00342,0.004554&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=10.322492,123.898714&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</div>		
	</div>
	
	<!-- Contact-bar -->
	
	<div class="contact-bar block text-center fwhite">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="contact-item animated">
					<a href="#"><i class="fa fa-phone br-blue"></i></a>
					<h4>Call Us</h4>
					<!--<p>Mob:+639 234 29 8862</p>
					<p>Mob:+639 233 52 2585</p> -->
					<p>Phone: +63 &#40;32&#41; 513-8606
					<br /></p>
				</div>
			</div>
			<div class="col-md-4 col-sm-46">
				<div class="contact-item animated">
					<a href="#"><i class="fa fa-envelope br-green"></i></a>
					<h4>Mail Us</h4>
					<p>information@nambal.com</p>
					<p>&nbsp;</p>
					<br />
				</div>
			</div>
		  <div class="col-md-4 col-sm-4">
				<div class="contact-item animated">
					<a href="#"><i class="fa fa-home br-pink"></i></a>
					<h4>Address</h4>
					<p>Unit 330, 3rd Floor, <br>
					  Arts and Science Building,<br>
					  University of the Philippines Cebu College Campus, 
                  Gorordo Ave., Lahug, Cebu City, PHILIPPINES</p>
					<br />
				</div>
			</div>
		</div>
	</div>
	
	<!-- Social Sites -->
	
	<div class="social animated">
		<a href="https://www.facebook.com/nambalcebu"><i class="fa fa-facebook br-blue"></i></a>&nbsp;&nbsp;
		<a href="https://twitter.com/nambaldotcom"><i class="fa fa-twitter br-lblue"></i></a>&nbsp;&nbsp;
		<a href="https://plus.google.com/114674172667997034856" rel="publisher"><i class="fa fa-google-plus br-red"></i></a>&nbsp;&nbsp;
		

		<!--<a href="#"><i class="fa fa-google-plus br-red"></i></a>&nbsp;&nbsp;
		<a href="#"><i class="fa fa-skype br-blue"></i></a>&nbsp;&nbsp;-->
	</div>
	<!-- Social  Sites Ends -->
	
</div>
</div>
<!-- Footer