<header class="text-center thank-you-header">
	<!-- Heading Part Starts -->
	
			 <div class="logo hidden-xs"> <!-- Logo Hidden in the Extra Small view -->
				<!-- Logo -->
				<h1><a href="//www.nambal.com">&nbsp;<!--<i id="logohere"></i> Nambal.com <span>talisay</span></a>--></h1> 
			</div> 
			<h2 class="sub-head animated"><span>Thank </span> you!</h2>
			
				<!-- Header buttons -->
				<div class="head-button">
					<!-- Buttons -->
				</div>
		
	
	<!-- Heading Part Ends -->

	<!-- Iphone Image Block -->
	
	<div class="head-phone ">
		<div class="container">
			
			<div class="row">
				<div class="phone-item-right animated">
						<p>We would like to thank GOD, our families and our friends... <br> - the Nambalizers</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Iphone Image Block Ends -->
</header>
			
			<!-- Header Ends -->
			
				
			
			<!-- Contact-us with Forms and Maps -->
			<div class="config block text-center">
				<div class="container">
					<div class="container">
						<!-- Block Head-Common to all Blocks -->
						<div class="block-head">
							<h3>And these amazing people...</h3>
						</div>									
								  <div class="tab-pane" id="profile">
										<div class="container">
											<!-- 2nd Block of tab-content -->
												<div class="row">
													<div class="col-md-4 col-sm-4">
														<div class="config-two-item">
															<h4><i class="fa fa-terminal red"></i><a href="//www.nambal.com">Version 1 developers</a></h4>
															<p>The smart IT Kids: Ruel Luna, Kyle Emmanuel Domingo , Jerick D. Urbiztondo, Rochelle Amen, Sul Romares; User experience developer: Gyle Fernandez. </p>
														</div>
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="config-two-item">
															<h4><i class="fa fa-terminal red"></i><a href="//www.nambal.com">Version 2 developers</a></h4>
															<p>The Nambalizers - Nikko Murro, Belleo Maron, John Sarsaba, Jay Turla
														OJTs- Irish Maglasang,  Karen Kaye, Jerry Loterio, Zen Longroño, Giovanni Campos...</p>
														</div>
													</div>
													<div class="col-md-4 col-sm-4">
														<div class="config-two-item">
															<h4><i class="fa fa-terminal red"></i><a href="//www.nambal.com">Version Talisay</a></h4>
															<p>User interface designer - Jecy Calambro,  Developer -  Belleo Maraon.</p>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6 col-sm-6">
														<div class="config-two-item wide-p">
															<h4><a href="//www.nambal.com"><i class="fa fa-briefcase red"></i>Impressive consultants</a></h4>
															<p >Dr. Jun Gayapa, Joseph "Omoni Nayami" Diaz - videographer, Webbysolve - Mr. and Mrs. Ritchie and Victoria Linao, Project Management - Ms. Alvie Balquin, Accounting and legal papers - Ms. Yvonne Fernandez</p>
														</div>
													</div>
													<div class="col-md-6 col-sm-6">
														<div class="config-two-item wide-p">
															<h4><a href="//www.nambal.com"><i class="fa fa-trophy red"></i>Special thanks</a></h4>
															<p style="width: 100%;">Mr. Ferdinand Piano, Mr. Raymond Tolentino,  Tiger Consulting - Mr. Anthony Gaw, Mr. Dennis Lim, Mr. Edward Go, Mr. Antonio Barrameda; Techtalks.ph - Ms. Tina Amper, webninjamobile.com - Keith Lumanog, Ayala Foundation or  - Dr. Elmer Soriano and Ms. Rose Rontal; Mr. Martin Pascual; Mr. Gerard Moreno; CebuInIT Family - Ms. Pauline Wade, Mr. Jeffrey Montecillos, Ms. Mileni Leyson Torres, Mr. Belly Salinas, Dr. Gretchen Chavez and team; Ideaspace - Earl Martin Valencia, Diane Dugan Eustaquio, Dustin RJ F Masancay and team; AIM (Pitch Black) - Mr. John Faustorilla, Dr. Timothy Montances Ting, Prof. Maoi Arroyo, Mr. Tom Gotuaco, Prof. Richard Cruz, Prof. Titos Ortigas; Microsoft - Alvin Gendrano; fivethirtyfitness - Dan Shand.</p>
														</div>
													</div>
												</div>
										</div>
							
								</div>
					</div>
				</div>
			</div>

			<!-- About Starts -->
			
			<div class="about block text-center">
				<div class="container">
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-cebuinit.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://www.cebuinit.org/">CeBuinIT</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-techtalks-ph.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://techtalks.ph/">TechTalks.ph</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-IdeaSpace.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://ideaspacefoundation.org/">Ideaspace</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-invitamed.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="https://www.invitamed.com/">Invitamed</a></h5>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-bizspark.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://www.microsoft.com/bizspark/">MS bizspark</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-aws-activate.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://aws.amazon.com/activate/">AWS activate</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-fivethirty.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://fivethirtyfitness.com/">Five thirty fitness</a></h5>
								</div>
							</div>
							<div class="col-md-3 col-xs-6">
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-webbysolve.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://www.webbysolve.com/">Webbysolve</a></h5>
								</div>
							</div>
						</div>
						<div class="row">
							<div >
								<div class="about-item animated">
									<img src="<?=base_url();?>public/homepage-pub/img/thanks-tigerconsulting.png" class="img-responsive white-bg img-circle" alt=""/>
									<h5><a href="http://www.tigerconsulting.net/">Tiger consulting</a></h5>
								</div>
							</div>
						</div>
				</div>
			</div>
			
			<!-- About Ends -->