<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Print Health your Record and Card</a></li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Printing dashboard</h1>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
 <h5>Temporary printing options for Nambal.com card:</h5>
      <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/printit">Print health card</a>
      <br><br>
      <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>healthprofile/saveit">or Save digital verison</a>
      <br><br>
</div>
</div>