<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Dashboard</a><span class="divider">/</span></li>
        <li class="active"><a href="/applications">Applications</a><span class="divider">/</span> </li>
        <li class="active"><a href="/messages">Donors network</a>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Messages</h1> 
<span>Your Healthy connections</span>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
  <div class="maincontent">
            <div class="contentinner">
              <img src="/public/img/application-sample.jpg" alt="" />
            </div><!--contentinner-->
  </div><!--maincontent-->
</div>
</div>