<div class="breadcrumbwidget">
	<ul class="breadcrumb">
		<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
		<?php if (!empty($this->breadcrumb)): ?>
		<?php 
			$lastcount = count($this->breadcrumb); 
			$count = 1;
		?>
			<li><a href="/doctorDashboard">Doctor's Dashboard</a></li>
			<?php foreach ($this->breadcrumb as $value): ?>
			<li <?php echo (($count == $lastcount) ? 'class="active"' : '');?>><a href="<?=base_url();?><?=@$value['link']?>"><?=@$value['linkname']?></a></li>
			<?php $count++; ?>
			<?php endforeach; ?>
		<?php else: ?>
			<li class="active"><a href="/doctorDashboard">Doctor's Dashboard</a></li>
		<?php endif; ?>
		</ul>
</div>