<li class="dropdown">
                        <a href="#" title="Dashboards" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-dashboard"></i><span class="text">You are currently on your <span class="white">Doctor's Dashboard</span></span>
                        </a>
                        <ul id="support-menu" class="dropdown-menu support" role="menu">
                            <li role="presentation">
                                <a href="<?php echo base_url(); ?>dashboard" class="support-ticket">
                                    <div class="picture"><span class="label label-important"><i class="fa fa-dashboard"></i></span></div>
                                    <div class="details">Switch to My Patient's Dashboard</div>
                                </a>
                            </li>
                            <li role="presentation">
                                <div style="background-color: #565656; height:1px;"></div>
                            </li>
                            <li role="presentation">
                                <a href="#under-improvement" data-toggle="modal" class="support-ticket">
                                    <div class="picture"><span class="label label-medpro"><i class="fa fa-medkit"></i></span></div>
                                    <div class="details">Add a Medical Professional - Nurse</div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#under-improvement" data-toggle="modal" class="support-ticket">
                                    <div class="picture"><span class="label label-medpro"><i class="fa fa-plus-square"></i></span></div>
                                    <div class="details">Add a Medical Professional - Pharmacist</div>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#under-improvement" data-toggle="modal" class="text-align-center see-all">See all list of Medical Professionals <i class="fa fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </li>