<!DOCTYPE html>
<html class="no-js" lang="en">
<head>	
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta charset="utf-8">
    <base href="<?php echo base_url() ?>">    
    
    <title><?= isset($title) ? $title : 'Home' ?> - Mihealth - on demand healthcare by Micab.co, Micabsystems corp</title>
    
	<!-- <link href="<?php echo base_url(); ?>public/img/nambal-icon.ico" rel="shortcut icon" type="image/x-icon" /> -->
	<link rel="apple-touch-icon" sizes="57x57" href="<?=base_url("public/favicon/apple-icon-57x57.png");?>">
    <link rel="apple-touch-icon" sizes="60x60" href="<?=base_url("public/favicon/apple-icon-60x60.png");?>">
    <link rel="apple-touch-icon" sizes="72x72" href="<?=base_url("public/favicon/apple-icon-72x72.png");?>">
    <link rel="apple-touch-icon" sizes="76x76" href="<?=base_url("public/favicon/apple-icon-76x76.png");?>">
    <link rel="apple-touch-icon" sizes="114x114" href="<?=base_url("public/favicon/apple-icon-114x114.png");?>">
    <link rel="apple-touch-icon" sizes="120x120" href="<?=base_url("public/favicon/apple-icon-120x120.png");?>">
    <link rel="apple-touch-icon" sizes="144x144" href="<?=base_url("public/favicon/apple-icon-144x144.png");?>">
    <link rel="apple-touch-icon" sizes="152x152" href="<?=base_url("public/favicon/apple-icon-152x152.png");?>">
    <link rel="apple-touch-icon" sizes="180x180" href="<?=base_url("public/favicon/apple-icon-180x180.png");?>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<?=base_url("public/favicon/android-icon-192x192.png");?>">
    <link rel="icon" type="image/png" sizes="32x32" href="<?=base_url("public/favicon/favicon-32x32.png");?>">
    <link rel="icon" type="image/png" sizes="96x96" href="<?=base_url("public/favicon/favicon-96x96.png");?>">
    <link rel="icon" type="image/png" sizes="16x16" href="<?=base_url("public/favicon/favicon-16x16.png");?>">
    <link rel="manifest" href="<?=base_url("public/favicon/manifest.json");?>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    
    <link href="<?php echo base_url(); ?>public/css/application.min.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url(); ?>public/css/custom-doctor-dashboard.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>public/css/doctor-dashboard.css" rel="stylesheet">
    <link href="<?php echo base_url(); ?>public/css/preloader.css" rel="stylesheet">
    


	<?php if (!empty($customCss)): ?>
		<?php foreach ($customCss as $css): ?>
			<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>public/css/<?=$css;?>.css"/>
		<?php endforeach; ?>
    <?php endif; ?>
	
	<!-- jquery and friends -->
	<script src="<?php echo base_url();?>public/lib/jquery/jquery-2.0.3.min.js"> </script>
	<script src="https://js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var SESSIONIDSAUSER = '<?=@$this->nambal_session['IDsafe_user'];?>'; var BASEURLL = '<?=@base_url()?>';var pusher = new Pusher('bd6833fdf48eb57ca868');var channel = pusher.subscribe('<?php echo sha1(@$this->nagkamoritsing->ibalik(@$this->nambal_session['IDsafe_user']).'GOD=>gugma=>nambal!23'); ?>');
    </script>
    <script src="<?=base_url()?>public/js/notify-pusher.js" type="text/javascript"></script>
	
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="public/js/excanvas.min.js"></script><![endif]-->
	
	<!-- page-specific js -->
	<?php if (!empty($customJsTop)): ?>
		<?php foreach ($customJsTop as $jsTop): ?>
			<script type="text/javascript" src="<?php echo base_url(); ?>public/js/<?=$jsTop;?>.js"></script>
		<?php endforeach; ?>
	<?php endif; ?>
	<script src="<?=base_url();?>public/js/custom-notification-doctor.js"></script>
	<?php 
        $this->load->helper('googlea');
        if (strcasecmp(googlea(), 'on')==0):
    ?>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-27195127-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<?php endif; ?>
</head>
<body class="doctor-dashboard">

<div class="colorline">&nbsp;</div>