<li class="dropdown">
<a href="javascript:void(0);" title="Dashboards" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-user"></i><span class="text">Hi, <span class="white"><?=substr(ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['firstname'])),0, 25);?></span></span>
</a>
<ul id="account-menu" class="dropdown-menu account" role="menu">
    <li role="presentation" class="account-picture">
        <?php if (strcasecmp(@$this->profilepicInfo->type, "profile-pic-s3")==0): ?>
            <img src="<?php echo s3_url();  ?>profilepic/<?=@$this->profilepicInfo->filename?>" alt="" class="img-circle img-polaroid" style="width: 50px !important; height: 50px !important;" />
        <?php else: ?>
            <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" style="width: 50px !important; height: 50px !important;" />
        <?php endif; ?>
        <?php
            $fullNameDisplay = $this->nagkamoritsing->ibalik(@$this->nambal_session['firstname']).
                ' '.@$this->nagkamoritsing->ibalik(@$this->nambal_session['lastname']);
            if (strlen($fullNameDisplay) > 20)
            {
                // echo wordwrap($fullNameDisplay);
                echo substr($fullNameDisplay, 0, 12).'...';  
            }
            else
            {
                echo $fullNameDisplay;
            }
        ?>
    </li>
    <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-user"></i>&nbsp;&nbsp;Account Settings</a></li>
    <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-calendar"></i>&nbsp;&nbsp;My Wellness Calendar</a></li>
    <li role="presentation"><a href="#under-improvement" data-toggle="modal" class="link"><i class="fa fa-eye"></i>&nbsp;&nbsp;Privacy Settings</a></li>                            
    <li role="presentation"><a href="javascript:void(0);" id='myCustomTrigger'><i class="fa fa-bug"></i>&nbsp;&nbsp;Report Bug</a></li>
    <li role="presentation" ><a title="Log out Nambal.com Account" href="<?php echo base_url().'logout';?>" class="link"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
    <!--<li role="presentation"><a href="#" class="link"><i class="fa fa-gear"></i>&nbsp;&nbsp;Settings</a></li>-->
</ul>
</li>