<div class="logo">
	<h4 class="visible-lg"><a href="<?php echo base_url(); ?>doctorDashboard"><img src="<?php echo base_url(); ?>public/img/mihealth-logo.png" alt="" /></a></h4>
    <h4 class="visible-xs visible-sm visible-md"><a href="<?php echo base_url(); ?>"><img src="<?php echo base_url(); ?>public/img/mihealth-logo-small.png" alt=""></a></h4>
</div>