<?php 
if(empty($this->activeMainMenu))
{
    $this->activeMainMenu = "Dashboard"; 
}

?>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Dashboard")==0) ? 'active' : 'panel';?>">
            <a href="<?php echo base_url(); ?>doctorDashboard"><i class="fa fa-dashboard"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Doctor-options")==0) ? 'active' : 'panel';?>">
<!--             <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#doctor-options"><i class="fa fa-user-md"></i> <span class="name">Practice Settings</span></a> --> 
<a class="accordion-toggle collapsed"  href="<?=base_url()?>practiceSettings"><i class="fa fa-user-md"></i> <span class="name">Practice Settings</span></a> 
          <!--  <ul id="doctor-options" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'doctor options')==0) ) echo 'in'; ?> collapse ">
                <li><a href="<?php echo base_url(); ?>doctorstaff">Staff Administration</a></li> -->
                <!--<li><a href="<?php //echo base_url(); ?>setAsDefaultDashboard?dashboard=doctor">Set as Default Dashboard</a></li>
            </ul>-->
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Appointments")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed"  href="<?=base_url()?>appointments"><i class="fa fa-calendar"></i> <span class="name">Appointments&nbsp;&nbsp;</span></a>
            <!-- <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#messaging-links"><i class="fa fa-envelope"></i> <span class="name">Messaging&nbsp;&nbsp;<span class="label label-important">8</span></span></a> -->
            <ul id="messaging-links" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Appointments')==0) ) echo 'in'; ?> collapse">
                <!--<li><a href="<?php echo base_url(); ?>messagesDoctor/inbox">Inbox&nbsp;&nbsp;<span class="label label-important">4</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/sent">Sent&nbsp;&nbsp;<span class="label label-important">5</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/draft">Draft</a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/deleted">Deleted</a></li>-->
            </ul>
        </li>
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Messages")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed"  href="<?=base_url()?>messagesDoctor"><i class="fa fa-envelope"></i> <span class="name" id="messaging-link">Messaging&nbsp;&nbsp;</span></a>
            <!-- <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#messaging-links"><i class="fa fa-envelope"></i> <span class="name">Messaging&nbsp;&nbsp;<span class="label label-important">8</span></span></a> -->
            <ul id="messaging-links" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Messaging')==0) ) echo 'in'; ?> collapse">
                <!--<li><a href="<?php echo base_url(); ?>messagesDoctor/inbox">Inbox&nbsp;&nbsp;<span class="label label-important">4</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/sent">Sent&nbsp;&nbsp;<span class="label label-important">5</span></a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/draft">Draft</a></li>
                <li><a href="<?php //echo base_url(); ?>messagesDoctor/deleted">Deleted</a></li>-->
            </ul>
        </li>
        <!-- <li class="panel">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#apps-menus"><i class="fa fa-th"></i> <span class="name">My Apps</span></a>
            <ul id="apps-menus" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Applications and Plug-ins')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>applicationsDoctor/appnetwork">App Network</a></li>
                <li><a href="<?php echo base_url(); ?>applicationsDoctor?appName=basicAccounting">Basic Accounting</a></li>
                <li><a href="<?php echo base_url(); ?>profileViewer">QR reader</a></li>
                <li><a href="<?php echo base_url(); ?>donorsNetwork">Donor's network</a></li>
                <li><a href="<?php echo base_url(); ?>nonNambal">Non-nambal Record</a></li>
            </ul>
        </li> -->

        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Patients")==0) ? 'active' : 'panel';?> ">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="<?=base_url();?>profileViewer/search#patient-record"><i class="fa fa-th"></i> <span class="name">Patient Record</span></a>
            <ul id="patient-record" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'Patient records')==0) ) echo 'in'; ?> collapse">
                <li><a href="<?php echo base_url(); ?>profileViewer/doctorViewing">Search patient</a></li>
                <li><a href="<?php echo base_url(); ?>nonNambal/create">Register patient</a></li>
            </ul>
        </li> 
        <li class="<?php echo (strcasecmp($this->activeMainMenu, "Support")==0) ? 'active' : 'panel';?>">
            <a class="accordion-toggle collapsed"  href="<?=base_url()?>support"><i class="fa fa-question"></i> <span class="name">Help</span></a>
           <!--  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#personal-menus"><i class="fa fa-question"></i> <span class="name">Need Help?</span></a> -->
            <ul id="personal-menus" class="panel-collapse <?php if ( (!empty($navOpen))  && (strcasecmp($navOpen, 'help and support')==0) ) echo 'in'; ?> collapse">
                <!-- <li><a href="<?php echo base_url(); ?>#">How to add a new patient?</a></li>
                <li><a href="<?php echo base_url(); ?>#">How to add an appointment?</a></li>
                <li><a href="<?php echo base_url(); ?>#">How to add a new staff?</a></li> -->
              
            </ul>
        </li>
        
       
       
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <!-- <div id="sidebar-settings" class="settings">
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">Icons</button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">Auto</button>
    </div> -->
</nav>