<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<!-- on page styles -->
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important; 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}

.datepicker td.day.disabled{
  color:#ddd;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>
<!-- end on page styles -->

<!-- on page scripts -->
<script>

var $btnCalendarDateStarted = jQuery('#btn-select-calendar-datestarted');
var $btnCalendarBoosterDate = jQuery('#btn-select-calendar-boosterdate');

if($("#select-calendar-datestarted").val() == ''){
  $btnCalendarDateStarted.attr('data-date-viewmode', 'years');
}

if($("#select-calendar-boosterdate").val() == ''){
  $btnCalendarBoosterDate.attr('data-date-viewmode', 'years');
}

$btnCalendarDateStarted.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
    jQuery('#select-calendar-datestarted').val($btnCalendarDateStarted.data('date'));
});

$btnCalendarBoosterDate.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
    jQuery('#select-calendar-boosterdate').val($btnCalendarBoosterDate.data('date'));
});



$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });

jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

  jQuery( "#immunization" ).autocomplete({
    autoFocus: true,
    source: function( request, response ) {
      jQuery.ajax({
        // url: "http://gd.geobytes.com/AutoCompleteCity",
        dataType: "jsonp",
        url: BASEURLL+"immunizations/displayImmunization",
        // dataType: "json",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 3,
    select: function( event, ui ) {
      // log( ui.item ?
      //   "Selected: " + ui.item.label :
      //   "Nothing selected, input was " + this.value);
    },
    open: function() {
      jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });
});
</script>
<!-- end on page scripts -->

<input name="IDsafe_immunization" type="hidden" value="<?=@$this->immuneInfo['IDsafe_immunization'];?>">
<div class="row">
<label for="immunization">Immunization name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
  <input required name="immunization" type="text" id="immunization" class="tootipper col-sm-12" placeholder="Example: shingles vaccine, measles/mumps/rubella (MMR) vaccine"  value="<?=@$this->immuneInfo['immunization'];?>" title="Immunization" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one immunization per entry.  Example: shingles vaccine, measles/mumps/rubella (MMR) vaccine.  For your convenience you can select from the list." />  
</div>
<br>
<div class="row">
  <div class="col-md-8">
    <div class="row">
       <div class="input-group col-md-6">
          <label>
              Date received (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
              <input required id="select-calendar-datestarted" name="datereceived" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->immuneInfo['datereceived'])) echo date('m/d/o', strtotime($this->immuneInfo['datereceived'])); else echo date('m/d/o'); ?>" title="Date immunization received" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn">
                <a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->immuneInfo['datereceived'])) echo date('m/d/o', strtotime($this->immuneInfo['datereceived'])); else echo date('m/d/o');?>">
                    <i class="fa fa-calendar"></i>  
                </a>
              </span>
          </label>
        </div>
        <div class="input-group col-md-6">
          <label>
              Due, Booster date:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-boosterdate" name="boosterdate" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->immuneInfo['boosterdate'])) echo date('m/d/o', strtotime($this->immuneInfo['boosterdate']));?>" title="Booster date immunization" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn">
                <a href="javascript:void(0)" id="btn-select-calendar-boosterdate" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->immuneInfo['boosterdate'])) echo date('m/d/o', strtotime($this->immuneInfo['boosterdate']));?>">
                  <i class="fa fa-calendar"></i>  
                </a>
              </span>
          </label>
        </div>
    </div>
    <div class="row">
    <label class="select-block-level">First note or journal entry: <i class="tootipper fa fa-question-circle"></i>
          <textarea placeholder="Some notes to help you and your attending healthcare professional. Such as how the immunization administered, number in sequence (ex: 1 of 3), adverse effect. Example: Injected booster before going on trip abroad. Experienced mild itching" name="notes" required class="tootipper select-block-level" id="notes"  title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some notes to help you, your staff and other attending healthcare professionals. Such as how the immunization administered, number in sequence (ex: 1 of 3), adverse effect. Example: Injected booster before going on trip abroad.  Experienced mild itching." ><?=@$this->immuneInfo['notes'];?></textarea>
    </label><p>Examples: Booster before going on trip abroad</p>
    </div>
  </div>
   <section class="col-md-4 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->immuneInfo['notes'];?></textarea>
    </label>
  </section> 
</div>