<script src="<?=base_url();?>public/js/custom-dashboard-immunization-profileviewer.js"></script>
<?php 
if (!empty($results)): 

if($this->overdueBoosterdate)
{
    if($this->count_overdueBoosterdate > 1)
    {
         echo '<button class="btn btn-danger" type="button" style="width:100%">There are over due booster shot dates!</button>';
    }
    else
    {
         echo '<button class="btn btn-danger" type="button" style="width:100%">There is an over due booster shot date!</button>';
     }
}

// if (!empty($this->safeImmunization)): 
?>
<table class="table table-bordered table-hover" id="drug-table">
    <thead>
    <tr>
        <th>Immunization</th>
        <th>Date last received</th>
        <th>Next Booster date</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <?php foreach ($results as $safeImmunization): ?>
    <tr>
        <td><?=@$safeImmunization['immunizationName']?></td>
        <td>
           
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  
                    <?php
                        if (!empty($safeImmunization['dateImmuned']))
                            echo date('M j, Y',strtotime(@$safeImmunization['dateImmuned']))
                    ?> 
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Show history</a></li>
                </ul>
            </div>
        </td>
        <td style="text-align:center">
            <?php
                if (!empty($safeImmunization['datebooster']) || $safeImmunization['datebooster'] != NULL)
                    if (date('M j, Y',strtotime(@$safeImmunization['datebooster'])) < date('M j, Y'))
                    {
                        echo '<button class="btn btn-danger" type="button" style="cursor:default">'.date('M j, Y',strtotime(@$safeImmunization['datebooster'])).'</button>';
                    } 
                    else
                    {
                        echo date('M j, Y',strtotime(@$safeImmunization['datebooster']));
                    }
            ?>  
        </td>
        <td>
            <?php if (!empty($safeImmunization['IDemr_user'])): ?>
                <?php if (!empty($this->sessionid)): ?>
                    <?php if ((int)@$safeImmunization['IDemr_user'] == (int)$this->myemrsession->IDemr_user): ?>
                    <div class="btn-group">
                    <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisimmunization" data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                            <li class="divider"></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Taking booster now</a></li>
                        </ul>
                    </div>
                    <?php else: ?>
                     <div class="btn-group">
                        <button class="btn dropdown-toggle btn btn-info" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($safeImmunization['doctor']));?> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a>
                                </li>
                                <li>
                                    <a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a>
                                </li>
                                <li>
                                    <a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Taking booster now</a></li>
                            </ul>
                    </div>
                    <?php endif; ?>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($safeImmunization['doctor']));?> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a>
                            </li>
                            <li>
                                <a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a>
                            </li>
                            <li>
                                <a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Taking booster now</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php else: ?>
                <?php if (!empty($this->sessionid)): ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Patient input <span class="caret"></span></button>

                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisallergy" data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li class="divider"></li>
                             <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Taking booster now</a></li>
                        </ul>
                </div>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#show-modal-change" data-toggle="modal" class="modifythisimmunization" data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                        <li class="divider"></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethisimmunization"  data-IDsafeimmunization="<?=@$safeImmunization['IDsafe_immunization']?>"><i class="icon-eye-open" ></i> &nbsp;Taking booster now</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    
    <?php endforeach; ?>
    </tbody>
</table>
<?php else: ?>
<?php if (!empty($this->sessionid)): ?>
<br><br>
<center>No data here</center>
<br><br>
<?php else: ?>
 <p>Note: Sample data below.  This will be changed if your doctor or you will input some data in it.</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Immunization</th>
        <th>Date received</th>
        <th>Next Booster date</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>Sample Data</td>
        <td><?php echo date('M j, Y');?></td>
        <td><?php echo date('M j, Y');?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Delete info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    <tr>
        <td>Sample Data from doctor</td>
        <td><?php echo date('M j, Y');?></td>
        <td><?php echo date('M j, Y');?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  Your Dr. <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    
    </tbody>
</table>
<?php endif; ?>
<?php endif; ?>
<div id="immunizations-pagination-div-id"><?php echo $links; ?></div>
