<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 1100 !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>
<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
    
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#procedures" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"procedures/displayProcedures",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});
</script>
<input name="IDsafe_procedure" type="hidden" id="IDsafe_procedure" value="<?=@$this->procedureInformation['IDsafe_procedure']?>">
<div class="row">
  <label for="procedures">Procedure or surgery:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="procedures" type="text" required class="tootipper select-block-level" id="procedures" placeholder="Example: appendectomy, dialysis"  title="Procedure or surgery" value="<?=@$this->procedureInformation['procedure']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one procedure per entry.  For your convenience you can select from the list. Example: appendectomy, dialysis" /><br><br>
</div>
<div class="row">
<div class="input-group">
  <label>Date (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-datestarted" name="dateexperienced" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->procedureInformation['dateexperienced'])) echo date('m/d/o', strtotime($this->procedureInformation['dateexperienced'])); else echo date('m/d/o'); ?>" title="Date executed" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
  <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->procedureInformation['dateexperienced'])) echo date('m/d/o', strtotime($this->procedureInformation['dateexperienced'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
  <i class="fa fa-calendar"></i>  </a></span></label>
</div>
</div>

<div class="row">
  <label for="notes"  >First note or journal entry:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
  </label>
  <textarea placeholder="Notes from a doctor's visit, how you feel today, and so on. Some notes to help you and your attending healthcare professional." name="notes" required class="select-block-level tootipper" id="notes" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Notes from a doctor's visit, how you feel today, and so on. Some notes to help you and your attending healthcare professional." ><?=@$this->procedureInformation['notes']?></textarea>
  <p>Notes from a doctor's visit, how you feel today, and so on. </p>
</div>