<script src="<?=base_url();?>public/js/custom-dashboard-procedure.js"></script>
<?php if (!empty($results)): ?>
<table class="table table-bordered table-hover" id="drug-table">
    <thead>
    <tr>
        <th>Procedure Name</th>
        <th>Date executed</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <?php foreach ($results as $procedureInformation): ?>
    <tr>
        <td><?=@$procedureInformation['procedurename']?></td>
        <td><?=date('M j, Y',strtotime(@$procedureInformation['dateexecuted']))?></td>
        <td>    
            <?php if (!empty($procedureInformation['IDemr_user'])): ?>
                <?php if (!empty($this->sessionid)): ?>
                    <?php if ((int)@$procedureInformation['IDemr_user'] == (int)$this->myemrsession->IDemr_user): ?>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;View Journal</a></li>
                                </ul>
                        </div>
                    <?php else: ?>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn btn-info" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($procedureInformation['doctor']));?> <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                                </ul>
                        </div>
                    <?php endif; ?>
                <?php else: ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($procedureInformation['doctor']));?> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                            </ul>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <?php if (!empty($this->sessionid)): ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Patient input <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisprocedure" data-procedureid="<?=@$procedureInformation['IDsafe_procedure']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisprocedure"  data-procedureid="<?=@$procedureInformation['IDsafe_procedure']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Set Journal</a></li>
                            </ul>
                    </div>
                <?php else: ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisprocedure" data-procedureid="<?=@$procedureInformation['IDsafe_procedure']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisprocedure"  data-procedureid="<?=@$procedureInformation['IDsafe_procedure']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                            </ul>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    
    <?php endforeach; ?>
    </tbody>
</table>
<?php else: ?>
<?php if (!empty($this->sessionid)): ?>
<br><br>
<center>No data here</center>
<br><br>
<?php else: ?>
  <p>Note: Sample data below.  This will be changed if your doctor or you will input some data in it.</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Procedure Name</th>
        <th>Date executed</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>Sample Data</td>
        <td><?php echo date('M j, Y');?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Delete info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    <tr>
        <td>Sample Data from doctor</td>
        <td><?php echo date('M j, Y');?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  Your Dr. <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    
    </tbody>
</table>
<?php endif; ?>
<?php endif; ?>
<div id="procedures-pagination-div-id"><?php echo $links; ?></div>