<h4 class="widgettitle nomargin">Emergency Information</h4>
<div id="emergency">
<div class="widgetcontent">
    <div id="tabs">
        <ul>
            <li><a href="#emergency-information">Emergency contact information</a></li>
            <li><a href="#emergency-privacy-settings">Privacy Settings</a></li>
            <?php if (strcmp('doctor', $viewoutput)==0): ?>
            <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
            <?php endif; ?>
        </ul>
        <div id="emergency-information">
             <?=@$this->load->view('emergency-contact-information/display_emergency-information.phtml');?>
        </div>
        <div id="emergency-privacy-settings">
              Still working on it. 
        </div>
        </div><!--#tabs-->
</div><!--widgetcontent-->
</div>

<h4 class="widgettitle nomargin">Wellness Information</h4>
<div id="wellnessInfo">
<div class="widgetcontent">
    <div id="tabs">
        <ul>
            <li><a href="#wellness-information">Wellness informations</a></li>
            <li><a href="#blood-pressure-information">Blood Pressure</a></li>
            <li><a href="#wellness-information-privacy-settings">Privacy Settings</a></li>
            <?php if (strcmp('doctor', $viewoutput)==0): ?>
            <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
            <?php endif; ?>
        </ul>
        <div id="wellness-information">
          <div id="chartplace2" style="height:300px;"></div>
          <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all information</a>
        </div>
        <div id="blood-pressure-information">
          
        </div>
        <div id="wellness-information-privacy-settings">
              Still working on it. 
        </div>
        </div><!--#tabs-->
</div><!--widgetcontent-->
</div>

<h4 class="widgettitle nomargin">Problems</h4>
<div id="problem">
<div class="widgetcontent">
    <div id="tabs">
        <ul>
            <li><a href="#problem-information">Problem History</a></li>
            <li><a href="#problem-privacy-settings">Privacy Settings</a></li>
            <?php if (strcmp('doctor', $viewoutput)==0): ?>
            <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#problemModal">ADD</button>
            <?php endif; ?>
        </ul>
        <div id="problem-information">
            Keep a history of ailments, conditions, or symptoms you've experience (past and present).
            <div class="row-fluid">
            <table class="table table-bordered" id="problem-table">
              <tr>
                <th>
                  Problem list
                </th>
                <th>
                  Date Started
                </th>
                <th>
                  Status
                </th>
                <th>
                  Added by
                </th>
              </tr>
              <tr>
                <td>
                  Diabetes, type 1
                </td>
                <td>
                  Dec 02, 2013
                </td>
                <td>
                  On going
                </td>
                <td>
                  <div class="btn-group">
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Owner <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Diabetic kidney disease
                </td>
                <td>
                  Dec 02, 2013
                </td>
                <td>
                  Treated
                </td>
                <td>
                   <div class="btn-group">
                      <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr. Gayapa <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                        <li><a href="#"><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Adhesions, Gastrointestinal
                </td>
                <td>
                  Dec 02, 2013
                </td>
                <td>
                  Treated
                </td>
                <td>
                   <div class="btn-group">
                      <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr. Gayapa <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                        <li><a href="#"><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  Lower Back Pain
                </td>
                <td>
                  Dec 02, 2011
                </td>
                <td>
                  Treated, 3rd visit
                </td>
                <td>
                   <div class="btn-group">
                      <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Owner <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
            </table>
            Keep a history of ailments, conditions, or symptoms you've experience (past and present).<br>
            <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all problem and diagnostics</a>
            <br><br><br>
            </div>
        </div>
         <div id="problem-privacy-settings">
          Still working on it. 
        </div>
    </div><!--#tabs-->
</div><!--widgetcontent-->
</div><!--problem-->

<h4 class="widgettitle nomargin">Medications</h4>
<div id="med">
  <div class="widgetcontent">
      <div id="tabs">
          <ul>
              <li><a href="#med-information">Medications</a></li>
              <li><a href="#med-privacy-settings">Privacy Settings</a></li>
              <?php if (strcmp('doctor', $viewoutput)==0): ?>
                <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#medModal">ADD</button>
              <?php endif; ?>
          </ul>
          <div id="med-information">
              List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
              <div class="row-fluid">
            <table class="table table-bordered" id="problem-table">
              <tr>
                <th>
                  Medication Name
                </th>
                <th>
                  Date Started
                </th>
                <th>
                  Status
                </th>
                <th>
                  Added by
                </th>
              </tr>
           
            </table>
            List all your prescriptions, supplements, vitamins, and over-the-counter drugs.<br>
            <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all medications</a>
            <br><br><br>
            </div>
          </div>
          <div id="med-privacy-settings">
            Still working on it
          </div>
    </div><!--#tabs-->
  </div><!--widgetcontent-->
</div><!--med-->

 <h4 class="widgettitle nomargin">Allergy Information</h4>
  <div id="allergy">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#allergy-info">Allergy</a></li>
                <li><a href="#allergy-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#allergyModal">ADD</button>
                <?php endif; ?>

            </ul>
            <div id="allergy-info">
                Report the medications, foods, and environmental triggers that cause your allergies.
                <div class="row-fluid">
                <table class="table table-bordered" id="problem-table">
                <tr>
                  <th>
                    Medication Name
                  </th>
                </tr>
                </table>
                Report the medications, foods, and environmental triggers that cause your allergies.<br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all allergy information</a>
                <br><br><br>
                </div>
            </div>
            <div id="allergy-privacy-settings">
              Still working on it. 
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
</div><!--allergy-->

 <h4 class="widgettitle nomargin">Procedures Information</h4>
    <div id="procedures">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#procedure-info">Procedures</a></li>
                <li><a href="#procedure-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#procModal">ADD</button>
                <?php endif; ?>
            </ul>
            <div id="procedure-info">
                Keep a history of any inpatient or outpatient procedures and surgeries.<br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all procedures</a>
            </div>
            <div id="procedure-privacy-settings">
              Still working on it. 
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div><!--procedures-->

     <h4 class="widgettitle nomargin">Immunizations Information</h4>
    <div id="immunizations">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#immunizations-info">Immunizations</a></li>
                <li><a href="#immunizations-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#immunizationsModal">ADD</button>
                <?php endif; ?>
            </ul>
            <div id="immunizations-info">
                Record any vaccinations you've received.<br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all immunizations</a>
            </div>
            <div id="immunizations-privacy-settings">
              Still working on it
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div><!--immunizations-->

     <h4 class="widgettitle nomargin">Insurance Information</h4>
    <div id="insurance">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#insurance-results-info">Insurance</a></li>
                <li><a href="#insurance-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#insuranceModal">ADD</button>
                <?php endif; ?>
            </ul>
            <div id="insurance-results-info">
                Keep a handy list of your medical, dental, and vision insurance.<br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all insurance</a>
            </div>
            <div id="insurance-privacy-settings">
              Still working on it. 
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div><!--insurance-->

    <h4 class="widgettitle nomargin">Test Results Information</h4>
    <div id="testres">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#test-informations">Test Results</a></li>
                <li><a href="#test-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                <?php endif; ?>
            </ul>
            <div id="test-informations">
                Track any test results, diagnostics, screenings, or evaluations from you medical providers.<br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all test results</a>
            </div>
            <div id="test-privacy-settings">
              Still working on it. 
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div><!--test-->

    <h4 class="widgettitle nomargin">Health Files Collections</h4>
    <div id="files">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="#health-files">Test Results</a></li>
                <li><a href="#files-privacy-settings">Privacy Settings</a></li>
                <?php if (strcmp('doctor', $viewoutput)==0): ?>
                  <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                <?php endif; ?>
            </ul>
            <div id="health-files">
                Add any documents or images with health information. <br>
                <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all Health files collections</a>
            </div>
            <div id="files-privacy-settings">
              Still working on it. 
            </div>
      </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div><!--test-->