<h3>Step 1</h3>
<p>Connect your webcam to your computer.<br>Use a web browser that supports our QR code scanner</p>
<p style="text-align: center;">
	<img src="<?=base_url();?>public/img/supported-browsers-qr-scan.png" alt="supported browsers for QR scan" />
</p>
<h3>Step 2</h3>
<p>Click allow camera....<br>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		Firefox (upper left):<br>
		<img src="<?=base_url();?>public/img/how-to-firefox-allow.png" alt="firefox: allow camera" />
	</div>
	<div class="col-xs-12 col-sm-6">
		Chrome (upper right):<br>
		<img src="<?=base_url();?>public/img/how-to-chrome-allow.png" alt="chrome: allow camera" />
	</div>
</div>
</p>
<h3>Step 3</h3>
<p>Scan the QR code using your webcam.<br>
<p>
<img src="<?=base_url();?>public/img/scan-id-w-hand.png" alt="scan holding the id" /><br>
You may scan holding the nambal card (the side with QR code) facing the camera <span style="font-size: 18px !important;">OR</span> you may hold the camera facing the nambal card (the side with the QR code).  Align the QR code to the center.  Make sure the camera is not blurry.  You may adjust camera (if it allows you).  Scanning  works best with sufficient lightning.<br> 
<div class="row">

<img src="<?=base_url();?>public/img/scan-id-w-camera.png" alt="scan holding the camera.  Align the QR code to guide.  Make sure it isn't blurry.  You may adjust camera (if it allows you)." />
<p>
Note:  You may also use any other QR reader for your convenience.
</p>
</div>
</p>
</p>