<div class="maincontent">
</div>
<div class="contentinner content-dashboard">
	<div class="alert alert-warning">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong>You are currently not logged-in.</strong> 
	    <br>To view the whole information you should logged-in. <br>
	    You may create your account <a href="<?php echo base_url(); ?>register">here</a>.
  	</div>
  	<div class="row-fluid">
	    <div class="span8">
	    	<h4 class="widgettitle nomargin">Get health profile</h4>
		        <div class="widgetcontent">
		          <div id="tabs">
		              <ul>
		                  <li><a href="/profileViewer#qr-code">Scan QR Code</a></li>
		                  <li><a href="/profileViewer#back-up-code">Back-up Code</a></li>
		                  <li><a href="/profileViewer#search-profile-here">Search</a></li>
		              </ul>
		              <div id="qr-code" class="center-content">
		                <?=@$this->load->view('profile-viewer/qr-scanner.phtml');?>
		              </div>
		              <div id="back-up-code">
		                Input backup code here interface here
		              </div>
		              <div id="search-profile-here">
		                Search form here
		              </div>
		              </div><!--#tabs-->
		        </div><!--widgetcontent-->

	    	<?php if (!empty($this->nambal_session['fullname'])): ?>
	    		<h4 class="widgettitle nomargin">Personal Information</h4>
	    	<?php else: ?>
	    		<div class="alert alert-success">
				    <button type="button" class="close" data-dismiss="alert">×</button>
				    <strong>No profile previewed.</strong> 
				    <br>Please make sure you are viewing a real profile. 
			  	</div>

	    	<?php endif; ?>
	    </div>
	    <?=@$this->load->view('profile-viewer/right-public.phtml');?>
	</div>
</div>