<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<link href="<?=base_url()?>public/css/custom-profileviewing-doctor.css" rel="stylesheet">
<script  type="text/javascript" >
var IDsafe_user = '<?=@$this->sessionid;?>';
jQuery(document).ready(function()
{

   <?php if(!empty($this->registrationInfo['redirectdownloadsessionid'])): ?>
    <?php 
        $redirectdownload = base_url().'healthprofile/saveitfromdoctor?sessionid='.$this->registrationInfo['redirectdownloadsessionid'];
    ?>
    window.location.href = '<?=@$redirectdownload?>';
    <?php endif; ?>
});
</script>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-profileviewing-doctor.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/grid.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/version.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/detector.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/QRCode.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/databr.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/js/qr.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/camera.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/init.js"></script>


<?php
if (!empty($this->nambal_session))
{
  $birthDate = explode('-', ($this->personalinformation->dateofbirth));
  $age = @(date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
}
?>

<div class="row">
	<h2 class="page-title">Nambal&prime;s Safe</h2>
    <div class="col-md-8 widget-container">
      <?php 
      $errorReturn = validation_errors();
      ?>
      <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <?php
        echo $errorMessage;
        echo validation_errors(); 
      ?>
      </div>
      <?php endif; ?>
    	<section class="widget widget-tabs" style="text-align: center;">
    	<!-- 	<a href="#show-modal-change" data-toggle="modal" class="addjournal btn btn-info btn-sm" data-original-title="" title="">
 	            <i class="fa fa-plus-square biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Journal (SOAP)</span>
       </a> -->
	        <a href="#show-modal-change" data-toggle="modal" class="addprescriptions btn btn-info btn-sm" data-original-title="" title="">
	            <i class="fa fa-stethoscope biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Prescribe</span>
	        </a>
	        <div class="btn-group">
              <button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                   <i class="fa fa-calendar biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Set Appointment&nbsp;
                  <i class="fa fa-caret-down"></i></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="#show-modal-change" data-toggle="modal" class="appointmentfollowup">for follow-up</a></li>
                  <li><a href="#under-improvement" data-toggle="modal">to colleague</a></li>
              </ul>
          </div>
          <a href="javscript:void(0);" class="btn btn-info btn-sm" data-original-title="" title="">
              <i class="fa eicon-clipboard biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Laboratory Request</span>
          </a>
          <div class="btn-group">
              <button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                   <i class="fa fa-medkit biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Add notes&nbsp;
                  <i class="fa fa-caret-down"></i></span>
              </button>
              <ul class="dropdown-menu" style="text-align: left;">
                  <li><a href="#show-modal-change" data-toggle="modal" class="addproblem-profileviewer">Medical History</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addmedication">Medications</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addallergy">Allergies</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addprocedure">Procedures</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addimmunizations">Immunizations</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addtestresult">Laboratory</a></li>
                  <li class="divider"></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addemergency">Add your name as emergency contact</a></li>
                  <li><a href="#show-modal-change" data-toggle="modal" class="addjustthisjournal">Add just journal</a></li>
              </ul>
          </div>
          <a href="#under-improvement" data-toggle="modal" class="btn btn-info btn-sm" data-original-title="" title="">
              <i class="fa fa-cloud-upload biggesticon"></i><br><span class="spaniconarea hidden-xs hidden-sm">Upload health files</span>
          </a>
    	</section>
    	<!-- START OF THE PERSONAL INFORMATION -->
    	<section class="widget widget-transparent">
        	<h3 class="page-title">Personal Information</h3>
            <header></header>
            <div class="body">
            
            	<div class="row information-details">
        			<div class="col-md-4">
            			<div class="profilethumb text-align-center">
                			<?php if (strcasecmp(@$this->profilepicPatient->type, "profile-pic-s3")==0): ?>
                        <img src="<?php echo s3_url();  ?>profilepic/<?=@$this->profilepicPatient->filename?>" alt="" class="img-circle img-polaroid">
                      <?php else: ?>
                        <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                      <?php endif; ?>
                		</div>
            		</div>
            		<div class="col-md-8" id="personal-information">
            			<h3 class="no-margin">
                    <?=character_limiter(ucwords(
                      @$this->nagkamoritsing->ibalik($this->patientInformation->lastname).', '.
                      @$this->nagkamoritsing->ibalik($this->patientInformation->firstname).' '.
                      @$this->nagkamoritsing->ibalik($this->patientInformation->middlename)), 30);
                    ?>
                      <br><button  id="modifypersonalinformation" type="button" class="btn btn-info btn-xs" data-sessionid="<?=@$this->patientInformation->IDsafe_user;?>" data-placement="top" data-toggle="modal" data-target="#show-modal-change" ><i class="fa fa-edit"></i> Modify this detail</button>
                		</h3>
                		<address>
                      <strong>Age: </strong> <?=@$age;?><br />
                      <strong>Sex: </strong> <?=@$this->personalinformation->sex;?><br />
                      <strong>Address: </strong> <?=@$this->personalinformationAddress->street;?>, <?=@$this->personalinformationAddress->state;?>, <?=@$this->personalinformationAddress->state;?> , <?=@$this->personalinformationAddress->country;?>, <?=@$this->personalinformationAddress->postcode;?><br />
                      <strong>Blood type: </strong> <?=@$this->personalinformation->bloodtype;?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a>
                		</address>
            		</div>
        		</div>
            
            </div>
        </section>
        <!-- END OF THE PERSONAL INFORMATION -->
         <section class="widget widget-tabs ">
        	<h3 class="page-title">Medical History </h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="addproblem-profileviewer btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Condition</button>
                <ul class="nav nav-tabs">
                	<li class="active"><a href="#problems-information" data-toggle="tab">Problems History Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="problems-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">                        	
                    		
                    	<div class="row">
                        	Keep a history of ailments, conditions, or symptoms patient experience (past and present).
                    		<div id="problem-table">
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading problem list... please wait. <br>
                          <br><br>
                        <?php //@$this->load->view('problem/display_problem-information.phtml');?>
                        </div>
                       	</div>
                  		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Problems and Diagnostics</button></a>
                                                        
               		</div>    
                                        
               	</div>
             
            </div>
        </section>
        <!-- END OF PROBLEMS HISTORY INFORMATION -->

        <!-- START OF MEDICATIONS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Medications</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
                <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two addmedication" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Medications</button>
                <ul class="nav nav-tabs">
                   	<li class="active"><a href="#medications-information" data-toggle="tab">Medications Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="medications-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">                        	
                    		
                    	<div class="row">
                        	List of all  prescriptions, supplements, vitamins, and over-the-counter drugs.
                          <div id="medication-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading medication... please wait. <br>
                            <br><br>
                        </div>
                       	</div>
                  		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Medications</button></a>
                                                        
               		</div>    
                                        
               	</div>
                            
           		
            </div>
        </section>
        <!-- END OF MEDICATIONS INFORMATION -->

         <!-- START OF PRESCRIPTION INFORMATION -->
        <section class="widget widget-tabs">
          <h3 class="page-title">Prescriptions</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
              <button type="button" class="addprescriptions btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Prescription</button>
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#prescription-results-information" data-toggle="tab">Prescriptions</a></li>
                </ul>
            </header>
            <div class="body tab-content">
              
                <div id="prescription-results-information" class="tab-pane active clearfix">
                    
                  <div class="col-md-12"> 
                        
                    <div class="row">
                        List of prescriptions.<br /><br />
                        <div id="prescriptions-table">
                          <br><br>
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading prescriptions... please wait. <br>
                          <br><br>
                        </div>
                      </div>
                      <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all prescriptions</button></a>
                  </div>
                    
                </div>
                
            </div>
        </section>
        <!-- END OF PRESCRIPTION INFORMATION -->

        <!-- START OF ALLERGY INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Allergies</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two addallergy" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Allergen</button>
                <ul class="nav nav-tabs">
                  	<li class="active"><a href="#allergy-information" data-toggle="tab">Allergens Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="allergy-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">
                    		
                    	<div class="row">
                        	Report the medications, foods, and environmental triggers that cause patient&apos;s allergies.<br /><br />
                          <div id="allergen-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading allergy... please wait. <br>
                            <br><br>
                          </div>	
                      </div>
                    	<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Allergy Information</button></a>
                            
                	</div>
                    
                </div>
                            
           		
            </div>
        </section>
        <!-- END OF ALLERGY INFORMATION -->

        <!-- START OF PROCEDURES INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Procedure</h3>
            <header class="widget-tabs">
               <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two addprocedure" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Procedures</button>
               	<ul class="nav nav-tabs">
                  	<li class="active"><a href="#procedures-information" data-toggle="tab">Procedures Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="procedures-information" class="tab-pane active clearfix">
                    
                    	<div class="col-md-12">
                    		
                            <div class="row">
                            	Keep a history of any inpatient or outpatient procedures and surgeries.<br /><br />
                    			<div id="procedures-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading procedures... please wait. <br>
                            <br><br>
                          </div>
                        	</div>
                            <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Procedures Information</button></a>
                                                        
                      	</div>
                    
                    </div>
                    
                   
            </div>
        </section>
        <!-- END OF PROCEDURES INFORMATION -->

        <!-- START OF IMMUNIZATIONS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Immunizations</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="addimmunizations btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" ><i class="fa fa-plus"></i> Add Immunization</button>
               	<ul class="nav nav-tabs">
                	<li class="active"><a href="#immunizations-information" data-toggle="tab">Immunizations Information</a></li>
               	</ul>
            </header>
            <div class="body tab-content">
                <div id="immunizations-information" class="tab-pane active clearfix">
                	<div class="col-md-12"> 
                    	<div class="row">
                        	Record any vaccinations received.<br /><br />
                          <div id="immunizations-table">
                            <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading procedures... please wait. <br>
                            <br><br>
                          </div>                    		
                        </div>
                   		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Immunizations Information</button></a>
                            
                  	</div>
                    
             	</div>
               
            </div>
        </section>
        <!-- END OF IMMUNIZATIONS INFORMATION --> 

        <!-- START OF TEST RESULTS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Laboratory</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="addtestresult btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Test Results</button>
                <ul class="nav nav-tabs">
                	<li class="active"><a href="#test-results-information" data-toggle="tab">Test Results Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="test-results-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12"> 
                    		
                  	<div class="row">
                      	Track any Test Results, Diagnostics, Screenings, or Evaluations.<br /><br />
                        <div id="tests-table">
                          <br><br>
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading test results... please wait. <br>
                          <br><br>
                        </div>
                  		</div>
                      <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Test Results Information</button></a>
                 	</div>
                    
               	</div>
                
            </div>
        </section>
        <!-- END OF TEST RESULTS INFORMATION -->


        <!-- START OF EMERGENCY CONTACT INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Emergency contact</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="addemergency btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" ><i class="fa fa-plus"></i> Add yourself as contact</button>
               	<ul class="nav nav-tabs">
                	<li class="active"><a href="#emergency-contact-information" data-toggle="tab">Emergency Contact Information</a></li>
              	</ul>
            </header>
            <div class="body tab-content">
            	
                <div id="emergency-contact-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12" id="emergencyContactTable">
                        
                    	<div class="row">
                           <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading allergy... please wait. <br>
                            <br><br>
                      </div>                          
                        
                   	</div>
                    <a href="<?=base_url();?>emergencyContactInformation"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" >View all Emergency Contact Information</button></a>                                              
                    
                </div>
             
            </div>
        </section>
        <!-- END OF EMERGENCY CONTACT INFORMATION -->

         <!-- JOURNAL -->
        <section class="widget widget-tabs">
          <h3 class="page-title">Journal</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
              <button type="button" class="addjustthisjournal btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" ><i class="fa fa-plus"></i> Add Journal</button>
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#journal-information" data-toggle="tab">Journal</a></li>
                </ul>
            </header>
            <div class="body tab-content">
              
                <div id="journal-information" class="tab-pane active clearfix">
                    
                  <div class="col-md-12"> 
                        
                    <div class="row">
                        Collections of journal for this patient.  Only you can view this journal.<br /><br />
                        <div id="journal-table">
                          <br><br>
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading test results... please wait. <br>
                          <br><br>
                        </div>
                      </div>
                      <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Journal</button></a>
                  </div>
                    
                </div>
                
            </div>
        </section>
        <!-- END OF JOURNAL -->

        
         
    </div>
    <div class="col-md-4 widget-container">
    	<h3 class="page-title">Search Patient </h3>
    	<section class="widget widget-transparent row">
        <form method="get" action="<?=base_url();?>profileViewer/search" >
          
          <label for="search-patient-keyword" class="select-block-level">Search:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
            <input name="search-patient-keyword"  type="text" required class="tootipper select-block-level " id="search-patient-keyword" placeholder="Search by firstname, lastname, full name, etc." title="Search patient" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Search by firstname, lastname, full name, or etc." />
          <br><br>
          <center>
            <a href="<?=base_url();?>profileViewer/search?moreoptions=TRUE">More options search</a><br>
            <button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
          </center>
        </form>
    	</section>
    </div>
    <div class="col-md-4 widget-container">
    	<h3 class="page-title">Scan QR or backup code </h3>
    	<section class="widget widget-transparent">
        <form method="POST" action="<?=base_url();?>profileViewer/searchBackupCode">
        <p>
        <p>
        <h4>QR code reader here</h4>
        <a href="#show-modal-change" id="how-to-scan" data-toggle="modal" class="link">How to scan</a><br>
        <div style="text-align: center; background: #000000 url('<?=base_url();?>public/img/how-to-scan.png') center no-repeat;">
        <video  id="camsource" autoplay width="320" height="240">Please &quot;How to scan&quot;.</video>
            <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>  
            </div>
      </p>
        <p style="text-align: center;">     
        <input name="backupcode" type="text" class="masked-backupcode tootipper select-block-level" id="backupcode" placeholder="Back-up code example: a1b2-c3d4-e5f6-g7h8" title="Back-up code" value="<?=@$this->state?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Backup code listed in your patients nambal card. It is below the QR code.  Back-up code example: a1b2-c3d4-e5f6-g7h8" style="text-align: center; " />
        <br>Back-up code<br>
        <a href="#show-modal-change" id="where-to-find-qr" data-toggle="modal" class="link">where to find it?</a>
      </p>
      <center>
            <button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
        </center>
      </form>
    	</section>
    </div>
    <!-- <div class="col-md-4 widget-container">
      <h3 class="page-title">Recent activity </h3>
      <section class="widget widget-transparent">
        <form class="form-horizontal" method="post" action="" >
          test
        </form>
      </section>
    </div> -->
</div>

<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>