<?php
if (!empty($this->nambal_session))
{
  $birthDate = explode('-', $this->nambal_session['dateofbirth']);
  $age = (date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
}
?>

<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Profile Viewer</a> </li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Nambal Safe</h1>
<span>Health Record Profile</span>
</div><!--pagetitle--> 
<?php if (empty($this->nambal_session['fullname'])): ?>
  <?=@$this->load->view('profile-viewer/index-public.phtml');?>
<?php else: ?>
<div class="maincontent">
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="contentinner content-dashboard">
  <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    This is how your <strong>Health profile</strong> will look like.
    <br>You are currently viewing as "Public"
  </div>

  <div class="row-fluid">
    <div class="span8">
      <h4 class="widgettitle nomargin">Get health profile</h4>
        <div class="widgetcontent">
          <div id="tabs">
              <ul>
                  <li><a href="/profileViewer#qr-code">Scan QR Code</a></li>
                  <li><a href="/profileViewer#back-up-code">Back-up Code</a></li>
                  <li><a href="/profileViewer#search-profile-here">Search</a></li>
              </ul>
              <div id="qr-code" class="center-content">
                <?=@$this->load->view('profile-viewer/qr-scanner.phtml');?>
              </div>
              <div id="back-up-code">
                Input backup code here interface here
              </div>
              <div id="search-profile-here">
                Search form here
              </div>
              </div><!--#tabs-->
        </div><!--widgetcontent-->
      <h4 class="widgettitle nomargin">Personal Information</h4>
      <div class="widgetcontent bordered">
        <div class="row-fluid">
          <div class="span4">
            <h5>Your Profile Photo</h5>
            
            <div class="profilethumb">
              <a href="">Change Thumbnail</a>
                <img src="/public/img/profilethumb-120by116.png" alt="" class="img-circle img-polaroid" />
            </div><!--profilethumb-->
          </div>
          <div class="span8">
            <strong>Name:</strong> <?=@$this->nagkamoritsing->ibalik($this->nambal_session['fullname']);?><br>
<strong>Age: </strong> <?=@$age;?> <br>
<strong>Sex: </strong> <?=@$this->nambal_session['sex'];?><br>
<strong>Address: </strong> <?=@$this->nambal_session['street'];?>, <?=@$this->nambal_session['city'];?>, <?=@$this->nambal_session['state'];?>, <?=@$this->nambal_session['country'];?>, <?=@$this->nambal_session['postcode'];?> <br>
<strong>Blood type: </strong> <?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a>
            
          </div>
        </div>
      </div>
      
      <h4 class="widgettitle nomargin">Emergency Information</h4>
      <div id="emergency">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="/profileViewer#emergency-information">Emergency contact information</a></li>
                <li><a href="/profileViewer#emergency-privacy-settings">Privacy Settings</a></li>
                <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
            </ul>
            <div id="emergency-information">
                 <?=@$this->load->view('emergency-contact-information/display_emergency-information.phtml');?>
            </div>
            <div id="emergency-privacy-settings">
                  Still working on it. 
            </div>
            </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div>
    <h4 class="widgettitle nomargin">Wellness Information</h4>
      <div id="wellnessInfo">
    <div class="widgetcontent">
        <div id="tabs">
            <ul>
                <li><a href="/profileViewer#wellness-information">Wellness informations</a></li>
                <li><a href="/profileViewer#blood-pressure-information">Blood Pressure</a></li>
                <li><a href="/profileViewer#wellness-information-privacy-settings">Privacy Settings</a></li>
                <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
            </ul>
            <div id="wellness-information">
              <div id="chartplace2" style="height:300px;"></div>
              <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all information</a>
            </div>
            <div id="blood-pressure-information">
              
            </div>
            <div id="wellness-information-privacy-settings">
                  Still working on it. 
            </div>
            </div><!--#tabs-->
    </div><!--widgetcontent-->
    </div>
        <h4 class="widgettitle nomargin">Problems</h4>
        <div id="problem">
        <div class="widgetcontent">
            <div id="tabs">
                <ul>
                    <li><a href="/profileViewer#problem-information">Problem History</a></li>
                    <li><a href="/profileViewer#problem-privacy-settings">Privacy Settings</a></li>
                    <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#problemModal">ADD</button>
                </ul>
                <div id="problem-information">
                    Keep a history of ailments, conditions, or symptoms you've experience (past and present).
                    <div class="row-fluid">
                    <table class="table table-bordered" id="problem-table">
                      <tr>
                        <th>
                          Problem list
                        </th>
                        <th>
                          Date Started
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Added by
                        </th>
                      </tr>
                      <tr>
                        <td>
                          Diabetes, type 1
                        </td>
                        <td>
                          Dec 02, 2013
                        </td>
                        <td>
                          On going
                        </td>
                        <td>
                          <div class="btn-group">
                              <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Owner <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                                <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                              </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Diabetic kidney disease
                        </td>
                        <td>
                          Dec 02, 2013
                        </td>
                        <td>
                          Treated
                        </td>
                        <td>
                           <div class="btn-group">
                              <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr. Gayapa <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                                <li><a href="#"><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                              </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Adhesions, Gastrointestinal
                        </td>
                        <td>
                          Dec 02, 2013
                        </td>
                        <td>
                          Treated
                        </td>
                        <td>
                           <div class="btn-group">
                              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr. Gayapa <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                                <li><a href="#"><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                              </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Lower Back Pain
                        </td>
                        <td>
                          Dec 02, 2011
                        </td>
                        <td>
                          Treated, 3rd visit
                        </td>
                        <td>
                           <div class="btn-group">
                              <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Owner <span class="caret"></span></button>
                              <ul class="dropdown-menu">
                                <li><a href="#"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                                <li><a href="#"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li><a href="#"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                              </ul>
                          </div>
                        </td>
                      </tr>
                    </table>
                    Keep a history of ailments, conditions, or symptoms you've experience (past and present).<br>
                    <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all problem and diagnostics</a>
                    <br><br><br>
                    </div>
                </div>
                 <div id="problem-privacy-settings">
                  Still working on it. 
                </div>
            </div><!--#tabs-->
        </div><!--widgetcontent-->
        </div><!--problem-->
        <h4 class="widgettitle nomargin">Medications</h4>
        <div id="med">
          <div class="widgetcontent">
              <div id="tabs">
                  <ul>
                      <li><a href="/profileViewer#med-information">Medications</a></li>
                      <li><a href="/profileViewer#med-privacy-settings">Privacy Settings</a></li>
                      <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#medModal">ADD</button>
                  </ul>
                  <div id="med-information">
                      List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
                      <div class="row-fluid">
                    <table class="table table-bordered" id="problem-table">
                      <tr>
                        <th>
                          Medication Name
                        </th>
                        <th>
                          Date Started
                        </th>
                        <th>
                          Status
                        </th>
                        <th>
                          Added by
                        </th>
                      </tr>
                   
                    </table>
                    List all your prescriptions, supplements, vitamins, and over-the-counter drugs.<br>
                    <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all medications</a>
                    <br><br><br>
                    </div>
                  </div>
                  <div id="med-privacy-settings">
                    Still working on it
                  </div>
            </div><!--#tabs-->
          </div><!--widgetcontent-->
        </div><!--med-->
          <h4 class="widgettitle nomargin">Allergy Information</h4>
          <div id="allergy">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#allergy-info">Allergy</a></li>
                        <li><a href="/profileViewer#allergy-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#allergyModal">ADD</button>

                    </ul>
                    <div id="allergy-info">
                        Report the medications, foods, and environmental triggers that cause your allergies.
                        <div class="row-fluid">
                        <table class="table table-bordered" id="problem-table">
                        <tr>
                          <th>
                            Medication Name
                          </th>
                        </tr>
                        </table>
                        Report the medications, foods, and environmental triggers that cause your allergies.<br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all allergy information</a>
                        <br><br><br>
                        </div>
                    </div>
                    <div id="allergy-privacy-settings">
                      Still working on it. 
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
        </div><!--allergy-->
            <h4 class="widgettitle nomargin">Procedures Information</h4>
            <div id="procedures">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#procedure-info">Procedures</a></li>
                        <li><a href="/profileViewer#procedure-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#procModal">ADD</button>
                    </ul>
                    <div id="procedure-info">
                        Keep a history of any inpatient or outpatient procedures and surgeries.<br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all procedures</a>
                    </div>
                    <div id="procedure-privacy-settings">
                      Still working on it. 
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
            </div><!--procedures-->
            <h4 class="widgettitle nomargin">Immunizations Information</h4>
            <div id="immunizations">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#immunizations-info">Immunizations</a></li>
                        <li><a href="/profileViewer#immunizations-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#immunizationsModal">ADD</button>
                    </ul>
                    <div id="immunizations-info">
                        Record any vaccinations you've received.<br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all immunizations</a>
                    </div>
                    <div id="immunizations-privacy-settings">
                      Still working on it
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
            </div><!--immunizations-->


            <h4 class="widgettitle nomargin">Insurance Information</h4>
            <div id="insurance">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#insurance-results-info">Insurance</a></li>
                        <li><a href="/profileViewer#insurance-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#insuranceModal">ADD</button>
                    </ul>
                    <div id="insurance-results-info">
                        Keep a handy list of your medical, dental, and vision insurance.<br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all insurance</a>
                    </div>
                    <div id="insurance-privacy-settings">
                      Still working on it. 
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
            </div><!--insurance-->

            <h4 class="widgettitle nomargin">Test Results Information</h4>
            <div id="testres">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#test-informations">Test Results</a></li>
                        <li><a href="/profileViewer#test-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                    </ul>
                    <div id="test-informations">
                        Track any test results, diagnostics, screenings, or evaluations from you medical providers.<br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all test results</a>
                    </div>
                    <div id="test-privacy-settings">
                      Still working on it. 
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
            </div><!--test-->

            <h4 class="widgettitle nomargin">Health Files Collections</h4>
            <div id="files">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="/profileViewer#health-files">Test Results</a></li>
                        <li><a href="/profileViewer#files-privacy-settings">Privacy Settings</a></li>
                        <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                    </ul>
                    <div id="health-files">
                        Add any documents or images with health information. <br>
                        <a class="btn btn-info" type="button" href="<?php echo base_url(); ?>HealthProfile/saveQr">View all Health files collections</a>
                    </div>
                    <div id="files-privacy-settings">
                      Still working on it. 
                    </div>
              </div><!--#tabs-->
            </div><!--widgetcontent-->
            </div><!--test-->            
            
    </div>
    <?=@$this->load->view('profile-viewer/right.phtml');?>

  </div>
  
</div>
</div>
<?php endif; ?>
<script type="text/javascript">
jQuery(document).ready(function(){

  jQuery('.profilethumb').hover(function(){
    jQuery(this).find('a').fadeIn();
  },function(){
    jQuery(this).find('a').fadeOut();
  });
  
  jQuery('.taglist a').click(function(){
    return false;
  });
  jQuery('.taglist a span').click(function(){
    jQuery(this).parent().remove();
    return false;
  });
  
});
</script>

  <!--Modals--><script type="text/javascript" src="/public/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" >
// dynamic table
jQuery('#problem-table').dataTable({
   "sPaginationType": "full_numbers",
   "aaSortingFixed": [[0,'asc']],
   "fnDrawCallback": function(oSettings) {
      jQuery.uniform.update();
   }
});
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
    // basic chart
        var systolic = [[11, 90], [12, 160], [24,100], [25, 190], [26, 119], [27, 100], [28, 119]];
        var diastolic = [[11, 60], [12, 100], [24,60], [25, 110], [26, 100], [27, 73], [28, 79]];
            
        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5
            }).appendTo("body").fadeIn(200);
        }
    
            
        var plot = jQuery.plot(jQuery("#chartplace2"),
               [ { data: systolic, label: "Systolic", color: "#fb6409"}, { data: diastolic, label: "Diastolic", color: "#096afb"} ], {
                   series: {
                       lines: { show: true, fill: true, fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.15 } ] } },
                       points: { show: true }
                   },
                   legend: { position: 'nw'},
                   grid: { hoverable: true, clickable: true, borderColor: '#ccc', borderWidth: 1, labelMargin: 10 },
                   yaxis: { min: 50, max: 200 },xaxis: { min: 11, max: 28 }
                 });
        
        var previousPoint = null;
        jQuery("#chartplace2").bind("plothover", function (event, pos, item) {
            jQuery("#x").text(pos.x.toFixed(2));
            jQuery("#y").text(pos.y.toFixed(2));
            
            if(item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                        
                    jQuery("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                        
                    showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + x + " = " + y);
                }
            
            } else {
               jQuery("#tooltip").remove();
               previousPoint = null;            
            }
        
        });
        
        jQuery("#chartplace2").bind("plotclick", function (event, pos, item) {
            if (item) {
                jQuery("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                plot.highlight(item.series, item.datapoint);
            }
        });
       // console.log('Calling chart.invalidateSize()');
    // bar graph
    var d2 = [];
    for (var i = 0; i <= 10; i += 1)
      d2.push([i, parseInt(Math.random() * 30)]);
      
    var stack = 0, bars = true, lines = false, steps = false;
    jQuery.plot(jQuery("#bargraph2"), [ d2 ], {
      series: {
        stack: stack,
        lines: { show: lines, fill: true, steps: steps },
        bars: { show: bars, barWidth: 0.6 }
      },
      grid: { hoverable: true, clickable: true, borderColor: '#bbb', borderWidth: 1, labelMargin: 10 },
      colors: ["#06c"]
    });
    
    // calendar
    jQuery('#calendar').datepicker();


});

$(function() {
      $( "#tabs" ).tabs({
        select: function(event, ui) {
          console.debug('Calling chart.invalidateSize()');
          chart.invalidateSize();
        }
      });
    });
</script>