<?php
	if (!empty($this->nambal_session))
	{
		$birthDate = explode('-', $this->nambal_session['dateofbirth']);
		$age = (date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
	}
?>

<div class="pagetitle">
	<h1>Your Nambal Safe Health Record Profile</h1>
</div>

<div class="maincontent">            
	<?php $errorReturn = validation_errors(); ?>
	<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
		<div class="alert alert-block alert-error fade in">
			<?php
                echo $errorMessage;
                echo validation_errors(); 
            ?>
		</div>
	<?php endif; ?>
    
    <div class="alert alert-info">
    	<button type="button" class="close" data-dismiss="alert"><i class="fa fa-times"></i></button>
        This is how your <strong>Health Profile</strong> looks like.<br />
        Your are currently viewing your <strong>Health Profile</strong> as "Public".
    </div>
</div>

<div class="row">
	<div class="col-md-8 widget-container">
    
    	<!-- START OF MY HEALTH PROFILE -->
        <section class="widget">
        	<h3 class="page-title">Get your Health Profile Record</h3>
            <header class="widget-tabs">            	
				<ul class="nav nav-tabs">
                	<li class="active"><a href="#scan-qr-code" data-toggle="tab">Scan QR Code</a></li>
                  	<li><a href="#back-up-code" data-toggle="tab">Back-up Code</a></li>
                    <li><a href="#health-record-profile-search" data-toggle="tab">Search</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	<div id="scan-qr-code" class="tab-pane active clearfix">
                            	
                	<div class="panel-group" id="accordion2">
                    
                    	<div id="qr-code" class="center-content">
                        	<?=@$this->load->view('profile-viewer/qr-scanner.phtml');?>
                        </div>            
                                    
         			</div>                                          
                            
           		</div>
                            
           		<div id="back-up-code" class="tab-pane">                            
                            	
                	<div id="back-up-code">
                		Input backup code here interface here
              		</div>
                                
            	</div>
                
                <div id="health-record-profile-search" class="tab-pane">
                	
                    <div id="search-profile-here">
                		Search form here
              		</div>
                        	
                </div>                
                
            </div>            
        </section>
        <!-- END OF MY HEALTH PROFILE -->
        
        <!-- START OF THE PERSONAL INFORMATION -->
    	<section class="widget">
        	<h3 class="page-title">Personal Information</h3>
            <header></header>
            <div class="body">
            
            	<div class="row information-details">
        			<div class="col-md-4">
            			<div class="profilethumb text-align-center">
                        	<!--<a href="#">Change Thumbnail</a>-->
                			<img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                		</div>
            		</div>
            		<div class="col-md-8">
            			<h3 class="no-margin"><?=ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['fullname']));?>
                			<a href="<?php echo base_url(); ?>profileViewer" data-toggle="modal"><button type="button" class="btn btn-info btn-xs" data-placement="top" data-original-title=".btn .btn-info .btn-xs"><i class="fa fa-eye"></i> View Full Profile Detail</button></a>
                		</h3>
                		<address>
                            <strong>Age: </strong> <?=@$age;?><br />
                            <strong>Sex: </strong> <?=@$this->nambal_session['sex'];?><br />
                            <strong>Address: </strong> <?=@$this->nambal_session['street'];?>, <?=@$this->nambal_session['city'];?>, <?=@$this->nambal_session['town'];?>, <?=@$this->nambal_session['country'];?>, <?=@$this->nambal_session['postcode'];?><br />
                            <strong>Blood type: </strong> <?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a>
                		</address>
            		</div>
        		</div>
            
            </div>
        </section>
        <!-- END OF THE PERSONAL INFORMATION -->
    
    </div>
    <div class="col-md-4 widget-container">
    
    	<!-- START, REQUEST ACCESS -->
        <section class="widget">
        	<h3 class="page-title">Request Access</h3>
            <header></header>
            <div class="body">
            	
                <?php if((strcmp($viewoutput,'doctor')==0) || (strcmp($viewoutput, 'public')==0)): ?>
					<?=@$this->load->view('profile-viewer/health-information.phtml'); ?>
                <?php elseif(strcmp($viewoutput, 'pharmacy')==0): ?>
                	<?=@$this->load->view('profile-viewer/pharmacy-information.phtml'); ?>
                <?php else: ?>
                  	<?=@$this->load->view('profile-viewer/right.phtml');?>
                <?php endif; ?>
                
                
            
            </div>
        </section>
        <!-- END, REQUEST ACCESS -->
    
    </div>
</div>

