<div class="leftpanel">
        <div class="logopanel">
          <h1><a href="/dashboard">Nambal.com</a></h1>
        </div><!--logopanel-->
        
        <div class="datewidget"><?php //Today is Tuesday, Dec 25, 2012 5:30pm ?>Version 1.1</div>
    
      <div class="searchwidget">
          <form action="results.html" method="post">
              <div class="input-append">
                    <input type="text" class="span2 search-query" placeholder="Search here...">
                    <button type="submit" class="btn"><span class="icon-search"></span></button>
            </div>
        </form>
</div><!--searchwidget--> 
        
<div class="leftmenu hidden-phone hidden-tablet" style="margin-top:0">        
    <ul class="nav nav-tabs nav-stacked">
        <li class="nav-header">Main Navigation</li>  
        <li>              
            <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Profile Viewer Option</a></h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="<?php echo base_url(); ?>dashboard"><span class="icon-home"></span>Back to Dashboard</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-refresh animate0 swing"></span> Sync to your system</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-download"></span> Download as...</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-share"></span> Share to</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-pencil"></span> Update record</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-envelope animate0 swing"></span> Send message</a></li>
                </ul>
                <?php if((strcmp($viewoutput,'doctor')==0) || (strcmp($viewoutput, 'public')==0) || (empty($viewoutput)) ): ?>
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Health Information</a></h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true">
                        <b><a href="#wellnessInfo">Wellness</a><br/></b>
                        <b><a href="#emergency">Emergency contact information</a><br/></b>
                        <b><a href="#problem">Problem History</a><br/></b>
                        <b><a href="#med">Medications</a><br/></b>
                        <b><a href="#allergy">Allergy</a><br/></b>
                        <b><a href="#procedures">Procedures</a><br/></b>
                        <b><a href="#immunizations">Immunizations</a><br/></b>
                        <b><a href="#insurance">Insurance</a><br/></b>
                        <b><a href="#testres">Test Results</a><br/></b>
                        <b><a href="#files">Files</a></b>
                    </div>
                    <?php if (!empty($arrayGetDocInfo)): ?>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all no-margin" role="tab" id="ui-accordion-accordion-header-3" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#" id="doctorsdashboardbutton"   data-placement="top" data-content="Congratulations, you have been approved to use the Doctor's dashboard." title="" data-original-title="Doctor's Dashboard">Doctor's Dashboard</a></h3>
                        <ul class="nav nav-tabs nav-stacked">
                            <li><a href="<?php echo base_url(); ?>doctorDashboard" data-toggle="modal"><span class="icon-arrow-right"></span> Go to Doctor's Dashboard</a></li>
                            <li><a href="<?php echo base_url(); ?>profileViewer"><span class="iconfa-user"></span> Profile Viewer</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-calendar"></span> Appointments</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-wrench"></span> Clinic Settings</a></li>
                        </ul>
                        <script type="text/javascript">
                            jQuery(document).ready(function(){
                                    jQuery('#doctorsdashboardbutton').popover('show');
                                   
                                });
                        </script>
                        <?php endif; ?>
                <?php elseif(strcmp($viewoutput, 'pharmacy')==0): ?>
                    <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Prescriptions</a></h3>
                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" style="display: none;" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-0" role="tabpanel" aria-expanded="false" aria-hidden="true">
                        <b><a href="#prescriptions-list">View all prescriptions</a><br/></b>
                    </div>

                <?php else: ?>
                  
                <?php endif; ?>
                 
                
               
            </div>
        </li>
    <ul>

</div>