<style>
  .biggesticon
  {
    font-size: 35px;
  }
  span
  {
    clear: none;
    margin-left: auto !important;
  }
</style>
<?php
if (!empty($this->nambal_session))
{
  $birthDate = explode('-', $this->nambal_session['dateofbirth']);
  $age = @(date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
}
?>

<div class="row">
	<h2 class="page-title">Your clinic record for non-nambal patient only</h2>
    <div class="col-md-8 widget-container">
    	<section class="widget widget-tabs" style="text-align: center;">
    		<a href="javscript:void" class="btn btn-info btn-sm" data-original-title="" title="">
	            <i class="fa fa-plus-square biggesticon"></i><br><span class="hidden-xs hidden-sm">SOAP wizard</span>
	        </a>
	        <a href="javscript:void(0);" class="btn btn-info btn-sm" data-original-title="" title="">
	            <i class="fa fa-stethoscope biggesticon"></i><br><span class="hidden-xs hidden-sm">Prescribe</span>
	        </a>
	        <div class="btn-group">
              <button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                   <i class="fa fa-calendar biggesticon"></i><br><span class="hidden-xs hidden-sm">Set Appointment&nbsp;
                  <i class="fa fa-caret-down"></i></span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="#">for follow-up</a></li>
                  <li><a href="#">to colleague</a></li>
              </ul>
          </div>
          <a href="javscript:void(0);" class="btn btn-info btn-sm" data-original-title="" title="">
              <i class="fa eicon-clipboard biggesticon"></i><br><span class="hidden-xs hidden-sm">Laboratory Request</span>
          </a>
          <div class="btn-group">
              <button class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown">
                   <i class="fa fa-medkit biggesticon"></i><br><span class="hidden-xs hidden-sm">Add notes&nbsp;
                  <i class="fa fa-caret-down"></i></span>
              </button>
              <ul class="dropdown-menu" style="text-align: left;">
                  <li><a href="#">Medical History</a></li>
                  <li><a href="#">Medications</a></li>
                  <li><a href="#">Allergies</a></li>
                  <li><a href="#">Procedures</a></li>
                  <li><a href="#">Immunizations</a></li>
                  <li><a href="#">Laboratory</a></li>
                  <li class="divider"></li>
                  <li><a href="#">JOURNAL &frasl; Progress notes only</a></li>
                  <li><a href="#">Add your name as emergency contact</a></li>
              </ul>
          </div>
          <a href="javscript:void(0);" class="btn btn-info btn-sm" data-original-title="" title="">
              <i class="fa fa-cloud-upload biggesticon"></i><br><span class="hidden-xs hidden-sm">Upload health files</span>
          </a>
    	</section>
    	<!-- START OF THE PERSONAL INFORMATION -->
    	<section class="widget widget-transparent">
        	<h3 class="page-title">Personal Information</h3>
            <header></header>
            <div class="body">
            
            	<div class="row information-details">
        			<div class="col-md-4">
            			<div class="profilethumb text-align-center">
                			<?php if (strcasecmp(@$this->profilepicInfo->type, "profile-pic-s3")==0): ?>
                        <img src="<?php echo s3_url();  ?>profilepic/<?=@$this->profilepicInfo->filename?>" alt="" class="img-circle img-polaroid">
                      <?php else: ?>
                        <img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid" />
                      <?php endif; ?>
                		</div>
            		</div>
            		<div class="col-md-8">
            			<h3 class="no-margin"><?=ucwords(@$this->nagkamoritsing->ibalik($this->nambal_session['fullname']));?>
                			<a href="<?php echo base_url(); ?>profileViewer" data-toggle="modal" class="btn btn-info btn-xs"> <i class="fa fa-edit"></i> Modify this detail</a>
                		</h3>
                		<address>
                            <strong>Age: </strong> <?=@$age;?><br />
                            <strong>Sex: </strong> <?=@$this->nambal_session['sex'];?><br />
                            <strong>Address: </strong> <?=@$this->nambal_session['street'];?>, <?=@$this->nambal_session['city'];?>, <?=@$this->nambal_session['town'];?>, <?=@$this->nambal_session['country'];?>, <?=@$this->nambal_session['postcode'];?><br />
                            <strong>Blood type: </strong> <?=@$this->nambal_session['bloodtype'];?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a>
                		</address>
            		</div>
        		</div>
            
            </div>
        </section>
        <!-- END OF THE PERSONAL INFORMATION -->
         <section class="widget widget-tabs ">
        	<h3 class="page-title">Medical History </h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" id="addproblem" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Condition</button>
                <ul class="nav nav-tabs">
                	<li class="active"><a href="#problems-information" data-toggle="tab">Problems History Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="problems-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">                        	
                    		
                    	<div class="row">
                        	Keep a history of ailments, conditions, or symptoms you've experience (past and present).
                    		<div id="problem-table">
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading problem list... please wait. <br>
                          <br><br>
                        <?php //@$this->load->view('problem/display_problem-information.phtml');?>
                        </div>
                       	</div>
                  		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Problems and Diagnostics</button></a>
                                                        
               		</div>    
                                        
               	</div>
                            
           		
            </div>
        </section>
        <!-- END OF PROBLEMS HISTORY INFORMATION -->

        <!-- START OF MEDICATIONS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Medications</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
                <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" id="addmedication" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i> Add Medications</button>
                <ul class="nav nav-tabs">
                   	<li class="active"><a href="#medications-information" data-toggle="tab">Medications Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="medications-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">                        	
                    		
                    	<div class="row">
                        	List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
                          <div id="medication-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading medication... please wait. <br>
                            <br><br>
                        </div>
                       	</div>
                  		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Medications</button></a>
                                                        
               		</div>    
                                        
               	</div>
                            
           		
            </div>
        </section>
        <!-- END OF MEDICATIONS INFORMATION -->

        <!-- START OF ALLERGY INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Allergies</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addallergy"><i class="fa fa-plus"></i> Add Allergen</button>
                <ul class="nav nav-tabs">
                  	<li class="active"><a href="#allergy-information" data-toggle="tab">Allergens Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="allergy-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12">
                    		
                    	<div class="row">
                        	Report the medications, foods, and environmental triggers that cause your allergies.<br /><br />
                          <div id="allergen-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading allergy... please wait. <br>
                            <br><br>
                          </div>	
                      </div>
                    	<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Allergy Information</button></a>
                            
                	</div>
                    
                </div>
                            
           		
            </div>
        </section>
        <!-- END OF ALLERGY INFORMATION -->

        <!-- START OF PROCEDURES INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Procedure</h3>
            <header class="widget-tabs">
               <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addprocedure"><i class="fa fa-plus"></i> Add Procedures</button>
               	<ul class="nav nav-tabs">
                  	<li class="active"><a href="#procedures-information" data-toggle="tab">Procedures Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="procedures-information" class="tab-pane active clearfix">
                    
                    	<div class="col-md-12">
                    		
                            <div class="row">
                            	Keep a history of any inpatient or outpatient procedures and surgeries.<br /><br />
                    			<div id="procedures-table">
                             <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading procedures... please wait. <br>
                            <br><br>
                          </div>
                        	</div>
                            <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Procedures Information</button></a>
                                                        
                      	</div>
                    
                    </div>
                    
                    
            </div>
        </section>
        <!-- END OF PROCEDURES INFORMATION -->

        <!-- START OF IMMUNIZATIONS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Immunizations</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addimmunizations"><i class="fa fa-plus"></i> Add Immunization</button>
               	<ul class="nav nav-tabs">
                	<li class="active"><a href="#immunizations-information" data-toggle="tab">Immunizations Information</a></li>
               	</ul>
            </header>
            <div class="body tab-content">
            	
                <div id="immunizations-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12"> 
                    		
                    	<div class="row">
                        	Record any vaccinations you've received.
                          <div id="immunizations-table">
                            <br><br>
                            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading procedures... please wait. <br>
                            <br><br>
                          </div>                    		
                        </div>
                   		<a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Immunizations Information</button></a>
                            
                  	</div>
                    
             	</div>
              
            </div>
        </section>
        <!-- END OF IMMUNIZATIONS INFORMATION --> 

        <!-- START OF TEST RESULTS INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Laboratory</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addtestresult"><i class="fa fa-plus"></i> Add Test Results</button>
                <ul class="nav nav-tabs">
                	<li class="active"><a href="#test-results-information" data-toggle="tab">Test Results Information</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	
                <div id="test-results-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12"> 
                    		
                  	<div class="row">
                      	Track any Test Results, Diagnostics, Screenings, or Evaluations from your Medical Providers.<br /><br />
                        <div id="tests-table">
                          <br><br>
                          <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading test results... please wait. <br>
                          <br><br>
                        </div>
                  		</div>
                      <a href="#"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">View all Test Results Information</button></a>
                 	</div>
                    
               	</div>
                
            </div>
        </section>
        <!-- END OF TEST RESULTS INFORMATION -->

        <!-- START OF EMERGENCY CONTACT INFORMATION -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Emergency contact</h3>
            <header class="widget-tabs">
              <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two reloadAllAreaList" >&nbsp;<i class="fa fa-refresh"></i>&nbsp;</button>
            	<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addemergency"><i class="fa fa-plus"></i> Add Contact</button>
               	<ul class="nav nav-tabs">
                	<li class="active"><a href="#emergency-contact-information" data-toggle="tab">Emergency Contact Information</a></li>
              	</ul>
            </header>
            <div class="body tab-content">
            	
                <div id="emergency-contact-information" class="tab-pane active clearfix">
                    
                	<div class="col-md-12" id="emergencyContactTable">
                        
                    	<div class="row"><?=@$this->load->view('emergency-contact-information/display_emergency-information.phtml');?></div>                          
                        
                   	</div>
                    <a href="<?=base_url();?>emergencyContactInformation"><button type="button" class="btn btn-info btn-xs pull-right margin-top-five" >View all Emergency Contact Information</button></a>                                              
                    
                </div>
                            
           		
            </div>
        </section>
        <!-- END OF EMERGENCY CONTACT INFORMATION -->
         
    </div>
    <div class="col-md-4 widget-container">
    	<h3 class="page-title">Search Patient </h3>
    	<section class="widget widget-transparent">
    	</section>
    </div>

    <div class="col-md-4 widget-container">
      <h3 class="page-title">Storage information </h3>
      <section class="widget widget-transparent">
      </section>
    </div>

</div>