<?php
if (!empty($this->nambal_session))
{
  $birthDate = explode('-', ($this->personalinformation->dateofbirth));
  $age = @(date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
}
?>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-dashboard-profileviewer-updateviewer.js"> </script>
<div class="col-md-8" id="personal-information">
	<h3 class="no-margin">
    <?php echo character_limiter(ucwords(
      @$this->nagkamoritsing->ibalik($this->patientInformation->lastname).', '.
      @$this->nagkamoritsing->ibalik($this->patientInformation->firstname).' '.
      @$this->nagkamoritsing->ibalik($this->patientInformation->middlename)), 30);
    ?>
      <br><button  id="modifypersonalinformation" type="button" class="btn btn-info btn-xs" data-sessionid="<?=@$this->patientInformation->IDsafe_user;?>" data-placement="top" data-toggle="modal" data-target="#show-modal-change" ><i class="fa fa-edit"></i> Modify this detail</button>
		</h3>
		<address>
      <strong>Age: </strong> <?=@$age;?><br />
      <strong>Sex: </strong> <?=@$this->personalinformation->sex;?><br />
      <strong>Address: </strong> <?=@$this->personalinformationAddress->street;?>, <?=@$this->personalinformationAddress->state;?>, <?=@$this->personalinformationAddress->state;?> , <?=@$this->personalinformationAddress->country;?>, <?=@$this->personalinformationAddress->postcode;?><br />
      <strong>Blood type: </strong> <?=@$this->personalinformation->bloodtype;?> <a href="#under-improvement" data-toggle="modal">(not yet verified)</a>
		</address>
</div>