<h4 class="widgettitle nomargin">Prescriptions</h4>
<div id="prescriptions-list">
<div class="widgetcontent">
    <div id="tabs">
        <ul>
            <li><a href="#prescriptions-active">Active Prescriptions</a></li>
            <li><a href="#prescriptions-old">Old Prescriptions</a></li>
        </ul>
        <div id="prescriptions-active">
            Active prescriptions
        </div>
        <div id="prescriptions-old">
            Old prescriptions
        </div>
        </div><!--#tabs-->
</div><!--widgetcontent-->
</div>