<?php 
if (empty($viewoutput))
{
  $viewoutput = 'Public';
}
?>
<section class="tab-content">

	<p>You have limited access because the owner of this profile did not give you authority to view.  The Owner of this profile will be notified that you viewed his/her profile.</p>
  	<p>You are currently viewing as "<?=ucwords(@$viewoutput);?>"</p>
    <h4 class="widgettitle nomargin">VIEW AS...</h4>
  <div class="widgetcontent bordered">
    <div class="btn-group">
      <button class="btn"><?php if (!empty($viewoutput)) echo ucwords(@$viewoutput); else echo 'Public' ?></button>
      <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="<?php echo base_url(); ?>profileViewer?view=public">Public</a></li>
        <li><a href="<?php echo base_url(); ?>profileViewer?view=doctor">Doctor</a></li>
        <li><a href="<?php echo base_url(); ?>profileViewer?view=pharmacy">Pharmacy</a></li>
        <li><a href="<?php echo base_url(); ?>profileViewer?view=laboratory">Laboratory</a></li>
        <li class="divider"></li>
        <li><a href="#under-improvement" data-toggle="modal">Custom...</a></li>
      </ul>
    </div>
  </div>

</section>
  


<!--

<div class="span4">
  <div class="widgetcontent bordered">
  <p>You have limited access because the owner of this profile did not give you authority to view.  The Owner of this profile will be notified that you viewed his/her profile.</p>
  <p>You are currently viewing as "<?=ucwords(@$viewoutput);?>"</p>
  </div>
  <h4 class="widgettitle nomargin">VIEW AS...</h4>
  <div class="widgetcontent bordered">
    <div class="btn-group">
      <button class="btn"><?php //if (!empty($viewoutput)) echo ucwords(@$viewoutput); else echo 'Public' ?></button>
      <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="<?php //echo base_url(); ?>profileViewer?view=public">Public</a></li>
        <li><a href="<?php //echo base_url(); ?>profileViewer?view=doctor">Doctor</a></li>
        <li><a href="<?php //echo base_url(); ?>profileViewer?view=pharmacy">Pharmacy</a></li>
        <li><a href="<?php //echo base_url(); ?>profileViewer?view=laboratory">Laboratory</a></li>
        <li class="divider"></li>
        <li><a href="#under-improvement" data-toggle="modal">Custom...</a></li>
      </ul>
    </div>
  </div>
  
</div>-->