<div class="span4">
  <h4 class="widgettitle nomargin">REQUEST ACCESS</h4>
  <div class="widgetcontent bordered">
  <p>You have limited access because the owner of this profile did not give you authority to view.  The Owner of this profile will be notified that you viewed his/her profile.</p>
  <p>You are currently viewing as "Public"</p>
  </div>
  <h4 class="widgettitle nomargin">LOG IN or REGISTER</h4>
  <div class="widgetcontent bordered">
    <div >
      <h5 class="signin-header">Sign with email or username</h5>
      <form action="login" method="post">
        <div class="">
          <input type="text" name="username" class="input-large" placeholder="Email or username" required="" id="username">
        </div>

        <div class="">
          <input type="password" name="password" class="input-large" id="inputPassword" placeholder="Password" required="">
        </div>
        <a href="forgotPassword">Forgot Password</a>
        <div>
          <button type="submit" class="btn btn-small btn-primary pull-left" data-loading-text="Loading..."><strong>Login</strong></button>
        </div>
        
      </form>
      <div class="clearfix">&nbsp;</div>
    </div>
  </div>
  <h4 class="widgettitle nomargin">LOG IN USING YOUR SOCIAL ACCOUNT</h4>
  <div class="widgetcontent bordered">
    <div class="signin-social" id="socialNetworkLogin">
      <a href="login/facebook" class="zocial facebook pull-left"><small>Sign in with Facebook</small></a><br><br>
      <a href="javascript:alert('Will be available very soon');" class="zocial twitter pull-left social-tw"><small>Sign in with Twitter</small></a><br><br>
      <a href="javascript:alert('Will be available very soon');" class="zocial googleplus pull-left social-gplus"><small>Sign in with Google</small></a>
    </div>
    <br>
    <br>
  </div>
</div>