<?php
	$withBorder = $listLink = '';
	$disablePrevious = $disableNext = 'disabled';
	$previousLink = $nextLink = 'javascript:void(0);';
	$currentPaginationCount =  ceil($data['totalSearchCount']  / $data['resultsPerPage']);

	if($data['currentPage'] > 1)
	{
		$disablePrevious = '';
		if($data['moreoptions'])
		{	
			$previousLink = $data['baseLink'].'search?moreoptions=1&page='.($data['currentPage'] - 1).'&firstname='.urlencode($data['firstname']).'&middlename='.urlencode($data['middlename']).'&lastname='.urlencode($data['lastname']).'&dateofbirth='.urlencode($data['dateofbirth']).'&emailaddress='.urlencode($data['emailaddress']).'&gender='.urlencode($data['gender']).'&bloodtype='.urlencode($data['bloodtype']).'&country='.urlencode($data['country']).'&state='.urlencode($data['state']).'&city='.urlencode($data['city']).'&postal='.urlencode($data['postal']).'&streetaddress='.urlencode($data['streetaddress']);
		}
		else
		{
			$previousLink = $data['baseLink'].'search?page='.($data['currentPage'] - 1).'&search-patient-keyword='.urlencode($data['onlyKeyword']);
		}
	}
	
	if($data['currentPage'] < $currentPaginationCount)
	{
		$disableNext = '';
		if($data['moreoptions'])
		{
			$nextLink = $data['baseLink'].'search?moreoptions=1&page='.($data['currentPage'] + 1).'&firstname='.urlencode($data['firstname']).'&middlename='.urlencode($data['middlename']).'&lastname='.urlencode($data['lastname']).'&dateofbirth='.urlencode($data['dateofbirth']).'&emailaddress='.urlencode($data['emailaddress']).'&gender='.urlencode($data['gender']).'&bloodtype='.urlencode($data['bloodtype']).'&country='.urlencode($data['country']).'&state='.urlencode($data['state']).'&city='.urlencode($data['city']).'&postal='.urlencode($data['postal']).'&streetaddress='.urlencode($data['streetaddress']);
		}
		else
		{
			$nextLink = $data['baseLink'].'search?page='.($data['currentPage'] + 1).'&search-patient-keyword='.urlencode($data['onlyKeyword']);
		}
	}

	// echo $data['country'].'</br>';
	// echo in_array($data['country'], $data['countries']).'</br>';
	// echo '<pre>';
	// echo var_dump($data['searchedPatients']);
	// echo '</pre>';
?>

<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-qr-scan.js"> </script>

<script type="text/javascript" src="<?=base_url()?>public/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/grid.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/version.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/detector.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/QRCode.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/databr.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/js/qr.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/camera.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/init.js"></script>
 
<script type="text/javascript" src="<?=base_url()?>public/js/custom-search-patient-doctor.js"> </script>

<?php $errorReturn = validation_errors(); ?>
<?php if ( (!empty($this->errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<?php
  echo $this->errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>

<div class="row">
<?php if($data['changeUI']): ?>
	<div class="row col-md-6">
		<div class="col-md-12">
			<h3 class="page-title">Search Result</h3>
		</div>
		<section class="widget">
			<div class="body no-margin">
				<?php if (!empty($data['searchedPatients'])):?>
					<ul class="patient-list">
							<li class="search-result-count">
								<?php echo  $data['outOfTotalSearchCount'].' of '.$data['totalSearchCount'];?>
							</li>
						<?php foreach ($data['searchedPatients'] as $spKey => $spValue): ?>
								<li class="result-list">
								   <a href="<?php echo $data['baseLink'].'doctorViewing?sessionid='.$this->nagkamoritsing->bungkag($spValue['patient_id']); ?>">
										<?php if (strcasecmp($spValue['patient_profilepic_type'], "profile-pic-s3")==0): ?>
											<img src="<?php echo s3_url();  ?>profilepic/<?=@$spValue['patient_profilepic_filename']?>" alt="" class="pull-left img-circle img-polaroid" height="145px" width="145px">
										<?php else: ?>
											<img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="pull-left img-circle img-polaroid" height="145px" width="145px"/>
										<?php endif; ?>
										<div class="patient-info">
											<div class="name"><?=$this->nagkamoritsing->ibalik($spValue['patient_fullname'])?></div>
											<div class="email"><?=$this->nagkamoritsing->ibalik($spValue['patient_emailAddress'])?></div>
											<div class="birthdate">Birthdate: <?=date('F d, Y', strtotime($spValue['patient_dateofbirth']))?></div>
											<div class="gender">Gender: <?=$spValue['patient_sex']?></div>
											<div class="bloodtype">Bloodtype: 	<?=$spValue['patient_bloodtype']?></div>
										</div>
									</a>
								</li>
						<?php endforeach; ?>
					</ul>
				<?php else: ?>
					No results found...
				<?php endif; ?>
			</div>
			<?php if(($data['totalSearchCount'] / $data['resultsPerPage']) > 1): ?>
			<div class="text-align-center">
				<ul class="pagination">
					<li class="<?php echo $disablePrevious;?>">
						<a href="<?php echo $previousLink; ?>">
							Prev
						</a>
					</li>
					<?php for((int)$i = 1; $i <= $data['maxPaginationCount']; $i++): ?>
						<?php 
							$paginationCounter = $i + ($data['maxPaginationCount'] * (ceil($data['currentPage'] / $data['maxPaginationCount']) - 1)); 
							if($paginationCounter > $currentPaginationCount){ break; } # break the  pagination loop if pagination counter exceeds the current pagination count  
							if($data['moreoptions'])
							{
								$listLink = $data['baseLink'].'search?moreoptions=1&page='.$paginationCounter.'&firstname='.urlencode($data['firstname']).'&middlename='.urlencode($data['middlename']).'&lastname='.urlencode($data['lastname']).'&dateofbirth='.urlencode($data['dateofbirth']).'&emailaddress='.urlencode($data['emailaddress']).'&gender='.urlencode($data['gender']).'&bloodtype='.urlencode($data['bloodtype']).'&country='.urlencode($data['country']).'&state='.urlencode($data['state']).'&city='.urlencode($data['city']).'&postal='.urlencode($data['postal']).'&streetaddress='.urlencode($data['streetaddress']);
							}
							else
							{
								$listLink = $data['baseLink'].'search?page='.$paginationCounter.'&search-patient-keyword='.urlencode($data['onlyKeyword']);
							}
						?>
								<li class="<?php echo ($i == $data['currentPage'] )? 'active' : ''; ?>">
									<a href="<?php echo $listLink; ?>">
										<?php echo $paginationCounter; ?>
									</a>
								</li>
					<?php endfor; ?>
					<li class="<?php echo $disableNext; ?>">
						<a href="<?php echo $nextLink; ?>">
							Next
						</a>
					</li>
				</ul>
			</div>
			<?php endif; ?>
		</section>
	</div>
<?php endif; ?>
<?php if(!$data['changeUI']): ?>
<div class="row col-md-12">
	<h3 class="page-title">Search patient</h3>
</div>
<?php endif; ?>
<div class="row col-md-6">
<?php if($data['changeUI']): ?>
<div class="col-md-12">
	<h3 class="page-title">Search patient</h3>
</div>
<?php endif; ?>
	<section class="widget">
		<div class="body no-margin">
			<?php if (!$data['moreoptions']): ?>
			<form method="get" action="<?=base_url();?>searchpatient/index" >
					<div class="row">
						<div class="col-md-10 ">
							<label class="select-block-level" for="search-patient-keyword">Keyword:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
								<div class="input-group">
									<input name="search-patient-keyword"  type="text"  class="form-control tootipper select-block-level " id="search-patient-keyword" placeholder="Search by firstname, email, lastname, full name, etc." title="Search patient" value="<?php echo (empty($data['onlyKeyword']))? '' : $data['onlyKeyword'] ?>" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Search by firstname, lastname, email, full name, or etc.">
									<span class="input-group-btn">
										<button class="btn btn-primary">
											Search
										</button>
									</span>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<center>
								</br>
								<a href="<?=base_url();?>profileViewer/search?moreoptions=1">Search with more options</a>
							</center>
						</div>
					</div>
			<?php endif; ?>
			<?php if ($data['moreoptions']): ?>
			<form method="get" action="<?=base_url();?>profileViewer/search" id="search-patient-with-options-form"/>
				<input type="hidden" name="moreoptions" value="<?php echo $data['moreoptions']; ?>">
				<div class="row">
					<div class="col-md-offset-1" style="margin-left: 3%; margin-right: auto; ">
						<a href="<?=base_url();?>profileViewer/search">&lt;&lt; Search with keywords</a>
						</br></br>
					</div>
					<div class="col-md-4">
						<label class="select-block-level" for="firstname">First name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="firstname" type="text" class="tootipper select-block-level" id="firstname" placeholder="firstname of the patient" title="first name" value="<?php echo (!empty($data['firstname']))? $data['firstname'] : '' ?>"   data-animation="true" data-placement="top" data-trigger="hover focus" data-content="firstname of the patient." />
					</div>
					<div class="col-md-4">
						<label class="select-block-level" for="middlename">Middle name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="middlename" type="text" class="tootipper select-block-level" id="middlename" placeholder="middle name of the patient" title="middle name" value="<?php echo (!empty($data['middlename']))? $data['middlename'] : '' ?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="middle name of the patient." />
					</div>
					<div class="col-md-4">
						<label class="select-block-level" for="lastname">Last name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="lastname" type="text" class="tootipper select-block-level" id="lastname" placeholder="last name of the patient" title="last name" value="<?php echo (!empty($data['lastname']))? $data['lastname'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="last name of the patient." />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 ">
						<br>
						<label class="select-block-level" for="Date of birth">Date of birth:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="dateofbirth" type="text" class="tootipper select-block-level" id="dateofbirth" placeholder="Date of birth of your patient" title="Date of birth" value="<?php echo (!empty($data['dateofbirth']))? $data['dateofbirth'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Date of birth of your patient." />
					</div>
					<div class="col-xs-12 col-sm-6">
						<br>
						<label class="select-block-level" for="emailaddress">Email address:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="emailaddress" type="text" class="tootipper select-block-level" id="emailaddress" placeholder="Email address of the patient" title="Email address" value="<?php echo (!empty($data['emailaddress']))? $data['emailaddress'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Email address of the patient." />
						<span class="error-search" id="error-search-email"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 ">
						<br>
						<label class="select-block-level" for="Gender">Gender:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<select input name="gender" type="text" class="tootipper select-block-level input-doctor-select" id="gender" placeholder="Gender of your patient" title="Gender" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Gender of your patient.">
						    <option value="" <?php echo (!$data['validateGender'])? 'selected' : ''  ?> >
						    	Select gender
						    </option>
						    <?php foreach($data['genders'] as $g): ?>
						    	<option value="<?php echo $g; ?>" <?php echo (strcmp(strtolower($data['gender']), strtolower($g)) == 0 && !empty($data['gender']))? 'selected' : '' ?> >
						    		<?php echo $g; ?>
						    	</option>
						    <?php endforeach; ?>
						</select>
					</div>	
					<div class="col-xs-12 col-sm-6 ">
					<br>
						<label class="select-block-level" for="Blood type">Blood type:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						 <select input name="bloodtype" type="text" class="tootipper select-block-level input-doctor-select" id="bloodtype" placeholder="Blood type of your patient" title="Blood type" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="bloodtype of your patient.">
						    <option value="" <?php echo (!$data['validateBloodtype'])? 'selected' : ''  ?> >
						    	Select blood type
						   	</option>
						    <?php foreach($data['bloodtypes'] as $bt): ?>
						    	<option value="<?php echo $bt; ?>" <?php echo (strcmp(strtolower($data['bloodtype']), strtolower($bt)) == 0 && !empty($data['bloodtype']))? 'selected' : '' ?> >
						    		<?php echo (strcmp(strtolower($bt), "dky") == 0)? "Don't know yet" : $bt ?>
						    	</option>
						    <?php endforeach; ?>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 ">
						<br>
						<label class="select-block-level" for="Country">Country:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<select input name="country" type="text" class="tootipper select-block-level input-doctor-select" id="country" placeholder="Country of your patient" title="Country" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Country of your patient." ></select>
  						<input type="hidden" id="countrySelected" value="<?php echo (!empty($data['country']))? $data['country'] : '' ?>"/>
					</div>
					<div class="col-xs-12 col-sm-6 ">
						<br>
						<label class="select-block-level" for="state">State or Province:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<select name="state" type="text" class="tootipper select-block-level input-doctor-select" id="state" placeholder="state of your patient" title="State" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="State of your patient." ></select>
 						<input type="hidden" id="stateSelected" value="<?php echo (!empty($data['state']))? $data['state'] : '' ?>"/>
					</div>
					<script language="javascript">
						populateCountries("country", "state", "countrySelected", "stateSelected");
				 	</script>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 ">
						<br>
						<label class="select-block-level" for="city">City:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="city" type="text" class="tootipper select-block-level" id="city" placeholder="City of your patient" title="City" value="<?php echo (!empty($data['city']))? $data['city'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="City of your patient." />
					</div>
					<div class="col-xs-12 col-sm-6 ">
					<br>
						<label class="select-block-level" for="postal">Postal or Zip code:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
						<input name="postal" type="text" class="tootipper select-block-level" id="postal" placeholder="postal or zip code of your patient" title="Postal or zip code" value="<?php echo (!empty($data['postal']))? $data['postal'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="postal or zip code of your patient." />
					</div>
				</div>
				<div class="col-md-offset-1" style="margin-left: auto; margin-right: auto; ">
					</br>
					<label class="select-block-level" for="streetaddress">Street address:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
					<input name="streetaddress" type="text" class="tootipper select-block-level" id="streetaddress" placeholder="Street address of your patient" title="Street address" value="<?php echo (!empty($data['streetaddress']))? $data['streetaddress'] : '' ?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Street address of your patient." />
				</div>
				<div style="margin-top: 25px; text-align: center;">
					<input type="checkbox" name="search-my-patient-only" id="search-my-patient-only" <?php echo (!empty($data['searchmMyPatientOnly']) && strcmp($data['searchmMyPatientOnly'], 'on') == 0)? 'checked' : '' ?> >
					<label for="search-my-patient-only">Search my patient only.</label>
				</div>
				<center>
					<br>
					<button type="submit" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
				</center>
				<!-- end of more options -->
			<?php endif; ?>
			</form>
		</div>
	</section>
<?php if(!$data['changeUI']): ?>
</div>
<div class="row col-md-6" >
<?php endif; ?>
	<section class="widget widget-transparent">
		<form method="POST" action="<?=base_url();?>profileViewer/searchBackupCode">
			<h4>QR code reader here</h4>
			<a href="#show-modal-change" id="how-to-scan" data-toggle="modal" class="link">How to scan</a>
			<br>
			<div style="text-align: center; background: #000000 url('<?=base_url();?>public/img/how-to-scan.png') center no-repeat;">
				<video  id="camsource" autoplay width="320" height="240">		Please &quot;How to scan&quot;.
				</video>
				<canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>  
			</div>
			<p style="text-align: center;">     
				<input name="backupcode" type="text" class="masked-backupcode tootipper select-block-level" id="backupcode" placeholder="Back-up code example: a1b2-c3d4-e5f6-g7h8" title="Back-up code" value="<?=@$this->state?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Backup code listed in your patients nambal card. It is below the QR code.  Back-up code example: a1b2-c3d4-e5f6-g7h8" style="text-align: center; " />
				<br>Back-up code<br>
				<a href="#show-modal-change" id="where-to-find-qr" data-toggle="modal" class="link">where to find it?</a>
			</p>
			<center>
				<button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >
					Search Patient
				</button>
			</center>
		</form>
	</section>
</div>
</div>

<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>