<?php
	$moreoptions = filter_var($this->input->get('moreoptions'), FILTER_SANITIZE_STRING);
	// $moreoptions = preg_replace('#[^a-z0-9_]#', '', $moreoptions);
?>
<link rel="stylesheet" href="<?=base_url();?>public/css/custom-search-patient-doctor.css">
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-qr-scan.js"> </script>


<script type="text/javascript" src="<?=base_url()?>public/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/grid.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/version.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/detector.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/QRCode.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/databr.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/js/qr.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/camera.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/init.js"></script>

<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($this->errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<?php
  // echo $this->errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>

<div class="row">
<div class="row col-md-6">
	<section class="widget padding-increased">
	<?php if (strcasecmp($moreoptions, 'TRUE')==0): ?>
	<form method="get" action="<?=base_url();?>profileViewer/search?moreoptions=TRUE"  />
	<?php else: ?>
	<form method="get" action="<?=base_url();?>profileViewer/search" >
	<?php endif; ?>
    <header>
        <h4>
            Search Results
        </h4>
        <hr/>
    </header>
    <div class="body no-margin">
    	<?php if (count($this->searchResult) < 1):	?>
    		No user found
    	<?php else: ?>
	    	<?php foreach ($this->searchResult as $result): ?>
	    	<a href="<?=base_url().'profileViewer/doctorViewing?sessionid='.$this->nagkamoritsing->bungkag($result->IDsafe_user);?>">
	        <section class="search-result">
	        	
	            <h4><?=ucwords($this->nagkamoritsing->ibalik($result->firstname));?> <?=ucwords($this->nagkamoritsing->ibalik($result->lastname));?></h4>
	            <p class="text-success"><small><?=$this->nagkamoritsing->ibalik($result->emailAddress)?></small></p>
	            <p>Birthdate:&nbsp;&nbsp;<?=date('M j, Y',strtotime(@$result->dateofbirth))?><br>
	            	Gender:&nbsp;&nbsp;<?=$result->sex?><br>
	            	Bloodtype:&nbsp;&nbsp;<?=$result->bloodtype?><br>
	            </p>
	        </section></a>
	    	<?php endforeach; ?>
    	<?php endif; ?>
    </div>
	</form>
	</section>
</div>
	<div class="row col-md-6" >
		<h3 class="page-title">Search patient</h3>

		<section class="widget">
			<div class="col-md-offset-1" style="margin-left: auto; margin-right: auto; text-align: center;">
				<label class="select-block-level" for="search-patient-keyword">Keyword:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
	            <input name="search-patient-keyword"  type="text"  class="tootipper select-block-level " id="search-patient-keyword" placeholder="Search by firstname, email, lastname, full name, etc." title="Search patient" value="" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Search by firstname, lastname, email, full name, or etc." />
				<br><br>
			<?php if ((empty($moreoptions)) && (strcasecmp($moreoptions, 'TRUE')!=0)): ?>
	          <center>
	            <a href="<?=base_url();?>profileViewer/search?moreoptions=TRUE">More options search</a><br>
	          </center>
	        <?php endif; ?>
			</div>
			
		<center>
			<br>
	        <button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
	    </center>

		</section>
		<section class="widget" >
			<form method="POST" action="<?=base_url();?>profileViewer/searchBackupCode">
        <h4>QR code reader here</h4>
        <a href="#show-modal-change" id="how-to-scan" data-toggle="modal" class="link">How to scan</a><br>
        <div style="text-align: center; background: #000000 url('<?=base_url();?>public/img/how-to-scan.png') center no-repeat;">
        <video  id="camsource" autoplay width="320" height="240">Please &quot;How to scan&quot;.</video>
            <canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>  
            </div>
      </p>
        <p style="text-align: center;">     
        <input name="backupcode" type="text" class="masked-backupcode tootipper select-block-level" id="backupcode" placeholder="Back-up code example: a1b2-c3d4-e5f6-g7h8" title="Back-up code" value="<?=@$this->state?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Backup code listed in your patients nambal card. It is below the QR code.  Back-up code example: a1b2-c3d4-e5f6-g7h8" style="text-align: center; " />
        <br>Back-up code<br>
        <a href="#show-modal-change" id="where-to-find-qr" data-toggle="modal" class="link">where to find it?</a>
      </p>
      <center>
            <button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
        </center>
      </form>
		</section>

	</div>
</div>
<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>