<header class="text-center thank-you-header">
				<!-- Heading Part Starts -->
				
						 <div class="logo hidden-xs"> <!-- Logo Hidden in the Extra Small view -->
							<!-- Logo -->
							<h1><a href="//www.nambal.com">&nbsp;<!--<i id="logohere"></i> Nambal.com <span>talisay</span></a>--></h1> 
						</div> 
						<h2 class="sub-head animated"><span>Opps </span> We apologize!</h2>
						
							<!-- Header buttons -->
							<div class="head-button">
								<!-- Buttons -->
									
									
							</div>
					
				
				<!-- Heading Part Ends -->

				<!-- Iphone Image Block -->
				
				<div class="head-phone ">
					<div class="container">
						
						<div class="row">
							<div class="phone-item-right animated">
							    <p>We are currently improving your Nambal.com Experience. Thank you for bearing with us. In the meantime, Please like our <a href="https://www.facebook.com/nambalcebu?fref=ts" target="_blank">Facebook Page</a> and <a href="https://plus.google.com/108383635855344577794" rel="publisher" wrc_done="true">Find us on Google+</a></p>
							</div>
						</div>
					</div>
				</div>
				<!-- Iphone Image Block Ends -->
			</header>
			
			<!-- Header Ends -->
			
				
			
			
			<!-- About Starts -->
<div class="contact-us block text-center">
<div class="container">
<div class="block-head">
	<h3 class="fwhite">Please visit our social pages for updates.</h3>
</div>

	
	
	<!-- Social Sites -->
	
	<div class="social">
		<a href="https://www.facebook.com/nambalcebu"><i class="fa fa-facebook br-blue"></i></a>&nbsp;&nbsp;
		<a href="https://twitter.com/nambaldotcom"><i class="fa fa-twitter br-lblue"></i></a>&nbsp;&nbsp;
		<a href="https://plus.google.com/114674172667997034856" rel="publisher"><i class="fa fa-google-plus br-red"></i></a>&nbsp;&nbsp;
		

		<!--<a href="#"><i class="fa fa-google-plus br-red"></i></a>&nbsp;&nbsp;
		<a href="#"><i class="fa fa-skype br-blue"></i></a>&nbsp;&nbsp;-->
	</div>
	<!-- Social  Sites Ends -->
	
</div>
</div>