<h1>Privacy</h1>
<p>This Privacy Policy  governs the manner in which Nambal.com software consultancy collects, uses,  maintains and discloses information collected from users (each, a  &quot;User&quot;) of the&nbsp;<a href="http://www.generateprivacypolicy.com/account/policies/edit/www.nambal.com">www.nambal.com</a>&nbsp;website (&quot;Site&quot;). This privacy policy applies to the  Site and all products and services offered by Nambal.com software consultancy.<br>
  <br>
  <strong>Personal identification information</strong><br>
  <br>
  We may collect personal identification information from Users in a variety of  ways, including, but not limited to, when Users visit our site, register on the  site, place an order, subscribe to the newsletter, fill out a form, and in connection  with other activities, services, features or resources we make available on our  Site. Users may be asked for, as appropriate, name, email address, mailing  address, phone number, social security number. Users may, however, visit our  Site anonymously. We will collect personal identification information from  Users only if they voluntarily submit such information to us. Users can always  refuse to supply personally identification information, except that it may  prevent them from engaging in certain Site related activities.<br>
  <br>
  <strong>Non-personal identification information</strong><br>
  <br>
  We may collect non-personal identification information about Users whenever  they interact with our Site. Non-personal identification information may  include the browser name, the type of computer and technical information about  Users means of connection to our Site, such as the operating system and the  Internet service providers utilized and other similar information.<br>
  <br>
  <strong>Web browser cookies</strong><br>
  <br>
  Our Site may use &quot;cookies&quot; to enhance User experience. User's web  browser places cookies on their hard drive for record-keeping purposes and  sometimes to track information about them. User may choose to set their web  browser to refuse cookies, or to alert you when cookies are being sent. If they  do so, note that some parts of the Site may not function properly.<br>
  <br>
  <strong>How we use collected information</strong><br>
  <br>
  Nambal.com software consultancy may collect and use Users personal information  for the following purposes: </p>
<ul type="disc">
  <li><em>To improve customer service</em><br>
    Information you provide helps us respond to your customer service requests       and support needs more efficiently.</li>
  <li><em>To personalize user experience</em><br>
    We may use information in the aggregate to understand how our Users as a       group use the services and resources provided on our Site.</li>
  <li><em>To improve our Site</em><br>
    We may use feedback you provide to improve our products and services.</li>
  <li><em>To process payments</em><br>
    We may use the information Users provide about themselves when placing an       order only to provide service to that order. We do not share this       information with outside parties except to the extent necessary to provide       the service.</li>
  <li><em>To run a promotion, contest, survey or other Site       feature</em><br>
    To send Users information they agreed to receive about topics we think       will be of interest to them.</li>
  <li><em>To send periodic emails</em><br>
    We may use the email address to send User information and updates       pertaining to their order. It may also be used to respond to their       inquiries, questions, and/or other requests. If User decides to opt-in to       our mailing list, they will receive emails that may include company news,       updates, related product or service information, etc. If at any time the       User would like to unsubscribe from receiving future emails, we include       detailed unsubscribe instructions at the bottom of each email or User may       contact us via our Site.</li>
</ul>
<p><strong>How we protect your  information</strong><br>
  <br>
  We adopt appropriate data collection, storage and processing practices and  security measures to protect against unauthorized access, alteration,  disclosure or destruction of your personal information, username, password,  transaction information and data stored on our Site.<br>
  <br>
  Sensitive and private data exchange between the Site and its Users happens over  a SSL secured communication channel and is encrypted and protected with digital  signatures. Our Site is also in compliance with PCI vulnerability standards in  order to create as secure of an environment as possible for Users.<br>
  <br>
  <strong>Sharing your personal information</strong><br>
  <br>
  We do not sell, trade, or rent Users personal identification information to  others. We may share generic aggregated demographic information not linked to  any personal identification information regarding visitors and users with our  business partners, trusted affiliates and advertisers for the purposes outlined  above.We may use third party service providers to help us operate our business  and the Site or administer activities on our behalf, such as sending out  newsletters or surveys. We may share your information with these third parties  for those limited purposes provided that you have given us your permission.<br>
  <br>
  <strong>Third party websites</strong><br>
  <br>
  Users may find advertising or other content on our Site that link to the sites  and services of our partners, suppliers, advertisers, sponsors, licensors and  other third parties. We do not control the content or links that appear on  these sites and are not responsible for the practices employed by websites  linked to or from our Site. In addition, these sites or services, including  their content and links, may be constantly changing. These sites and services  may have their own privacy policies and customer service policies. Browsing and  interaction on any other website, including websites which have a link to our  Site, is subject to that website's own terms and policies.<br>
  <br>
  <strong>Advertising</strong><br>
  <br>
  Ads appearing on our site may be delivered to Users by advertising partners,  who may set cookies. These cookies allow the ad server to recognize your  computer each time they send you an online advertisement to compile non  personal identification information about you or others who use your computer.  This information allows ad networks to, among other things, deliver targeted  advertisements that they believe will be of most interest to you. This privacy  policy does not cover the use of cookies by any advertisers.<br>
  <br>
  <strong>Google Adsense</strong><br>
  <br>
  Some of the ads may be served by Google. Google's use of the DART cookie  enables it to serve ads to Users based on their visit to our Site and other  sites on the Internet. DART uses &quot;non personally identifiable  information&quot; and does NOT track personal information about you, such as  your name, email address, physical address, etc. You may opt out of the use of  the DART cookie by visiting the Google ad and content network privacy policy at&nbsp;<a href="http://www.google.com/privacy_ads.html">http://www.google.com/privacy_ads.html</a><br>
  <br>
  <strong>Changes to this privacy policy</strong><br>
  <br>
  Nambal.com software consultancy has the discretion to update this privacy  policy at any time. When we do, we will post a notification on the main page of  our Site, revise the updated date at the bottom of this page and send you an  email. We encourage Users to frequently check this page for any changes to stay  informed about how we are helping to protect the personal information we  collect. You acknowledge and agree that it is your responsibility to review  this privacy policy periodically and become aware of modifications.<br>
  <br>
  <strong>Your acceptance of these terms</strong><br>
  <br>
  By using this Site, you signify your acceptance of this policy and&nbsp;<a href="<?php echo base_url(); ?>terms">terms of service</a>. If you do not agree to this policy, please do not use our Site.  Your continued use of the Site following the posting of changes to this policy  will be deemed your acceptance of those changes.<br>
  <br>
  <strong>Contacting us</strong><br>
  <br>
  If you have any questions about this Privacy Policy, the practices of this  site, or your dealings with this site, please contact us at:<br>
  <a href="http://www.generateprivacypolicy.com/account/policies/edit/www.nambal.com">Nambal.com software consultancy</a><br>
  <a href="http://www.generateprivacypolicy.com/account/policies/edit/www.nambal.com">www.nambal.com</a><br>
  Unit 330, 3rd Floor, Arts and Science Building, University of the Philippines  Cebu College Campus, Gorordo Ave., Lahug, Cebu City, PHILIPPINES<br>
  information@nambal.com<br>
  <br>
  This document was last updated on October 21, 2013<br>
  <br>
  Privacy policy created by&nbsp;<a href="http://www.generateprivacypolicy.com/" target="_blank">Generate Privacy Policy</a></p>