<form method="get" action="">
  	<label>Search Product:</label> <input name="keyword" type="text" required placeholder="Example: Pennicilin, Wheelchair">&nbsp;&nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
    <div class="ui-widget">
    	<label>Country:</label>
        <select name="country" id="country">
        	<option>Please select</option>
            <option value="Canada" <?php if (strcasecmp($country, 'Canada')==0) echo 'selected=selected'; ?>>Canada</option>
            <option value="Philippines" <?php if (strcasecmp($country, 'Philippines')==0) echo 'selected=selected'; ?>>Philippines</option>
            <option value="United States" <?php if (strcasecmp($country, 'United States')==0) echo 'selected=selected'; ?>>United States</option>
      	</select>&nbsp;&nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
   	</div>
  	<div class="ui-widget">
    	<label>Province/State:</label>
        <select name="province" id="province">
        	<option value="">Please select a province</option>
            <?php if (!empty($province)): ?>
               	<option value="<?=@$province?>" selected=selected><?=@$province;?></option>
        	<?php endif; ?>
       	</select>&nbsp;&nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
    </div>
    <!--<div class="container-sliders" >
    	<h6>Price range Slider</h6>
        <p class="pull-right">Price Range: <strong><span id="amount2" class="color333">$75 - $207</span></strong></p>
        <div id="slider3" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
        	<div class="ui-slider-range ui-widget-header" style="left: 15%; width: 26.4%;"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 15%;"></a>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 41.4%;"></a>
        </div>        
    </div>
    <div class="clear"></div>-->
    <div class="sbmt-btn"><button type="submit" name="search-product" value="Search" type="submit" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" href="#under-improvement" data-toggle="modal">Search</button></div>
    <!--<input name="search-doctor" type="submit" class="btn btn-info" value="Search" disabled><br /><br />-->
    <!--<div class="container-sliders" >
    	<h6>Price range Slider</h6>
        <p class="pull-right">Price Range: <strong><span id="amount2" class="color333">$75 - $207</span></strong></p>
    	<div id="slider3" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
        	<div class="ui-slider-range ui-widget-header" style="left: 15%; width: 26.4%;"></div>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 15%;"></a>
            <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 41.4%;"></a>
        </div>
	</div><br />-->
</form>