<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-qr-scan.js"> </script>

<script type="text/javascript" src="<?=base_url()?>public/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/grid.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/version.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/detector.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/formatinf.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/errorlevel.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bitmat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datablock.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/bmparser.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/datamask.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/rsdecoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256poly.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/gf256.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/decoder.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/QRCode.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/findpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/alignpat.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/lib/jsqrcode/databr.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/js/qr.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/camera.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/js/init.js"></script>
 
<script type="text/javascript" src="<?=base_url()?>public/js/custom-search-patient-doctor.js"> </script>

<?php $errorReturn = validation_errors(); ?>
<?php if ( (!empty($this->errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<?php
  echo $this->errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>

<div class="row">
	<div class="row col-md-6">
		<div class="col-md-12">
			<h3 class="page-title">Search Result</h3>
		</div>
		<section class="widget">
			<div class="body no-margin">
				<?php if ($data['totalSearchCount'] > 0):?>
				<ul class="patient-list">
					<li class="search-result-count">
						<?php echo  $data['resultsBeforeAndCurrent'].' of '.$data['totalSearchCount'];?>
					</li>
					<?php foreach ($data['results'] as $patientResultKey => $patientResultValue): ?>
					<li class="result-list">
						<a href="<?php echo base_url(); ?>profileViewer/doctorViewing?sessionid=<?=$this->nagkamoritsing->bungkag($patientResultValue['IDsafe_user']); ?>">
							<img src="<?php echo base_url(); ?>public/img/profilethumb.png" alt="" class="pull-left img-circle img-polaroid" height="145px" width="145px"/>
							<div class="patient-info">
								<div class="patient-info">
									<div class="name"><?=@$patientResultValue['firstname']?>&nbsp;<?=@$patientResultValue['lastname']?></div>
									<div class="email"><?=@$patientResultValue['username'];?></div>
									<div class="birthdate">Birthdate: <?=date('F d, Y', strtotime(@$patientResultValue['dateofbirth']))?></div>
									<div class="gender">Gender: <?=$patientResultValue['sex']?></div>
									<div class="bloodtype">Bloodtype: 	<?=$patientResultValue['bloodtype']?></div>
								</div>
							</div>
						</a>
					</li>
					<?php endforeach; ?>
				</ul>
				<?php else: ?>
					No results found...
				<?php endif; ?>
			</div>
			<div id="allergen-pagination-div-id"><?php echo $data['links']; ?></div>
		</section>
	</div>
	<div class="col-md-6">
		<h3 class="page-title">Search patient</h3>
		<form method="get" action="<?=base_url();?>searchpatient" >
		<section class="widget">
			<label class="select-block-level" for="search-patient-keyword">Keyword:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
			<div class="row">
				<div class="col-md-12">
						<div class="input-group">
							<input name="search-patient-keyword"  type="text"  class="form-control tootipper select-block-level " id="search-patient-keyword" placeholder="Search by firstname, email, lastname, full name, etc." title="Search patient" value="<?php echo (empty($data['onlyKeyword']))? '' : $data['onlyKeyword'] ?>" data-animation="true" data-placement="bottom" data-trigger="hover focus" data-content="Search by firstname, lastname, email, full name, or etc.">
							<span class="input-group-btn">
								<button class="btn btn-primary">
									Search
								</button>
							</span>
						</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<center>
						</br>
						<a href="<?=base_url();?>profileViewer/search?moreoptions=1">Search with more options</a>
					</center>
				</div>
			</div>
		</section>
		</form>
		<section class="widget widget-transparent">
			<form method="POST" action="<?=base_url();?>profileViewer/searchBackupCode">
				<h4>QR code reader here</h4>
				<a href="#show-modal-change" id="how-to-scan" data-toggle="modal" class="link">How to scan</a>
				<br>
				<div style="text-align: center; background: #000000 url('<?=base_url();?>public/img/how-to-scan.png') center no-repeat;">
					<video  id="camsource" autoplay width="320" height="240">		Please &quot;How to scan&quot;.
					</video>
					<canvas id="qr-canvas" width="320" height="240" style="display:none"></canvas>  
				</div>
				<p style="text-align: center;">     
					<input name="backupcode" type="text" class="masked-backupcode tootipper select-block-level" id="backupcode" placeholder="Back-up code example: a1b2-c3d4-e5f6-g7h8" title="Back-up code" value="<?=@$this->state?>"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Backup code listed in your patients nambal card. It is below the QR code.  Back-up code example: a1b2-c3d4-e5f6-g7h8" style="text-align: center; " />
					<br>Back-up code<br>
					<a href="#show-modal-change" id="where-to-find-qr" data-toggle="modal" class="link">where to find it?</a>
				</p>
				<center>
					<button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >
						Search Patient
					</button>
				</center>
			</form>
		</section>
	</div>
</div>
<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>