<div class="contentinner content-dashboard">
    <div class="row-fluid">
    	<div class="span8">
            <div class="plainwidget">
                  <small>You almost complete in your Health Profile </small>
                  <div class="progress progress-info">
                      <div class="bar" style="width: 20%"></div>
                  </div>
                  <small><strong>38% Complete</strong></small>
              </div>
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Profile</a></li>
                    </ul>
                    <div id="tabs-1">
                        <p><strong>NAME:</strong> EDISON POLANCOS QUINONES</p>
                        <p><strong>AGE:</strong> 28</p>
                        <p><strong>SEX:</strong> MALE</p>
                        <p><strong>RACE:</strong> TURIAN</p>
                        <p><strong>ADDRESS:</strong> KIMBA,TALISAY, SAN ROQUE, PHILIPPINES 6045</p>
                        <p><strong>BLOOD TYPE:</strong> O+</p>
                    </div>
                </div><!--#tabs-->
            </div><!--widgetcontent-->

            <div id="wellness">
			    <div class="widgetcontent">
                    <div id="tabs">                      
                        <ul>
                            <li><a href="#tabs-2">Wellness</a></li>
                            <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#wellnessModal">Manage</button>
                        </ul>

                        <div id="tabs-2">
							<input type="radio" id="wellness1" name="Blood pressure" value="Blood pressure"/> 
                            <strong>Blood Plessure</strong> (0)</br>
							<div class="widgetcontent"><div id="chartplace2"></div></div><!--widgetcontent-->
							<input type="radio" id="wellness2" name="Blood pressure" value="Blood pressure"/> 
                            <strong>Hours Slept</strong> (0)</br>
							<input type="radio" id="wellness3" name="Blood pressure" value="Blood pressure"/> 
                            <strong>Steps Taken</strong> (0)</br>
							<input type="radio" id="wellness4" name="Blood pressure" value="Blood pressure"/> 
                            <strong>Weight(with BMI)</strong> (0)</br>
    					</div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--wellness-->

            <div id="emergency">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-2">Emergency contact information</a></li>
                            <button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
                        </ul>
                        <div id="tabs-2">
                            <table class="table table-condensed">
                                <tr>
                                    <td>Name:<td>
                                    <td>His M. Other<td>
                                </tr>
                                <tr>
                                    <td>Address:<td>
                                    <td>5561 Rabaya Street, San Roque, Talisay City, Cebu<td>
                                </tr>
                                <tr>
                                    <td>Phone Number:<td>
                                    <td>(63)032-5056416<td>
                                </tr>
                            </table>
                            <br />
                            <table class="table table-condensed">
                                <tr>
                                    <td>Name:<td>
                                    <td>His M. Other<td>
                                </tr>
                                <tr>
                                    <td>Address:<td>
                                    <td>5561 Rabaya Street, San Roque, Talisay City, Cebu<td>
                                </tr>
                                <tr>
                                    <td>Phone Number:<td>
                                    <td>(63)032-5056416<td>
                                </tr>
                            </table>                
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--emergency-->

            <div id="problem">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-3">Problem History</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#problemModal">ADD</button>
                        </ul>
                        <div id="tabs-3">
                            Keep a history of ailments, conditions, or symptoms you've experience (past and present).
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--problem-->

            <div id="med">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-3">Medications</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#medModal">ADD</button>
                        </ul>
                        <div id="tabs-3">
                            List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--med-->

            <div id="allergy">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-4">Allergy</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#allergyModal">ADD</button>
                        </ul>
                        <div id="tabs-4">
                            Report the medications, foods, and environmental triggers that cause your allergies.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--allergy-->

            <div id="testres">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-5">Test Results</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                        </ul>
                        <div id="tabs-5">
                            Track any test results, diagnostics, screenings, or evaluations from you medical providers.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--test-->

            <div id="procedures">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-6">Procedures</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#procModal">ADD</button>
                        </ul>
                        <div id="tabs-6">
                            Keep a history of any inpatient or outpatient procedures and surgeries.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--procedures-->

            <div id="immunizations">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-7">Immunizations</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" data-toggle="modal" data-target="#immunizationsModal">ADD</button>
                        </ul>
                        <div id="tabs-7">
                            Record any vaccinations you've received.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--immunizations-->

            <div id="insurance">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-8">Insurance</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" data-toggle="modal" data-target="#insuranceModal">ADD</button>
                        </ul>
                        <div id="tabs-8">
                            Keep a handy list of your medical, dental, and vision insurance.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--insurance-->

            <div id="files">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-9">Files</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" data-toggle="modal" data-target="#filesModal">ADD</button>
                        </ul>
                        <div id="tabs-9">
                            Add any documents or images with health information.
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--files-->

        </div><!--span8-->

        <?php echo $this->view('right-panel.phtml'); ?>
    </div><!--row-fluid-->
</div><!--contentinner-->