 <div class="contentinner content-dashboard">
                
                <div class="row-fluid">
                	<div class="span8">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1">Profile</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <p><strong>NAME:</strong> EDISON POLANCOS QUINONES</p>
                                    <strong>AGE:</strong> 28</p>
                                    <strong>SEX:</strong> MALE</p>
                                    <strong>RACE:</strong> TURIAN</p>
                                    <strong>ADDRESS:</strong> KIMBA,TALISAY, SAN ROQUE, PHILIPPINES 6045</p>
                                    <strong>BLOOD TYPE:</strong> O+</p>
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->

                        <div id="wellness">
						<div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-2">Wellness</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#wellnessModal">ADD</button>
                                </ul>
                                <div id="tabs-2">
										<input type="checkbox" id="wellnessradio1" name="wellness" value="Blood pressure" onClick="showGraph();"/> <strong>Blood Plessure</strong> (0)</br>
										<button class="btn btn-info" type="button" data-toggle="modal" data-target="#viewWellnessModal" id="wellness-bottom-btn" onClick="chart()">View</button>
										<button class="btn btn-info" type="button" data-toggle="modal" data-target="" id="wellness-bottom-btn">Add Data</button>
										<div class="clearfix"><hr style="width:auto;border-style:dashed;"></div>
										<input type="checkbox" id="wellness2" name="wellness" value="Blood pressure"/> <strong>Hours Slept</strong> (0)</br>
										<div class="clearfix"><hr style="width:auto;border-style:dashed;"></div>
										<input type="checkbox" id="wellness3" name="wellness" value="Blood pressure"/> <strong>Steps Taken</strong> (0)</br>
										<div class="clearfix"><hr style="width:auto;border-style:dashed;"></div>
										<input type="checkbox" id="wellness4" name="wellness" value="Blood pressure"/> <strong>Weight(with BMI)</strong> (0)</br>
										<div class="clearfix"><hr style="width:auto;border-style:dashed;"></div>
										<div class="tabs-2-bottom">
										<ul>
												<li><button class="btn btn-info" type="button" data-toggle="modal" data-target="#wellnessModal" id="wellness-bottom-btn">Remove</button></li>
												<li><button class="btn btn-info" type="button" data-toggle="modal" data-target="#wellnessModal" id="wellness-bottom-btn">Remove All</button></li>
										<ul>
										</div>
										
								</div>
                             </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--wellness-->

                        <div id="emergency">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-2">Emergency contact information</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#emergencyModal">ADD</button>
                                </ul>
                                <div id="tabs-2">
                                    <table class="table table-condensed">
                                        <tr>
                                            <td>Name:<td>
                                            <td>His M. Other<td>
                                        </tr>
                                        <tr>
                                            <td>Address:<td>
                                            <td>5561 Rabaya Street, San Roque, Talisay City, Cebu<td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number:<td>
                                            <td>(63)032-5056416<td>
                                        </tr>
                                    </table>
                                    <br />
                                    <table class="table table-condensed">
                                        <tr>
                                            <td>Name:<td>
                                            <td>His M. Other<td>
                                        </tr>
                                        <tr>
                                            <td>Address:<td>
                                            <td>5561 Rabaya Street, San Roque, Talisay City, Cebu<td>
                                        </tr>
                                        <tr>
                                            <td>Phone Number:<td>
                                            <td>(63)032-5056416<td>
                                        </tr>
                                    </table>                
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--emergency-->

                        <div id="problem">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-3">Problem History</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#problemModal">ADD</button>
                                </ul>
                                <div id="tabs-3">
                                    Keep a history of ailments, conditions, or symptoms you've experience (past and present).
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--problem-->

                        <div id="med">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-3">Medications</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#medModal">ADD</button>
                                </ul>
                                <div id="tabs-3">
                                    List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--med-->

                        <div id="allergy">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-4">Allergy</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#allergyModal">ADD</button>
                                </ul>
                                <div id="tabs-4">
                                    Report the medications, foods, and environmental triggers that cause your allergies.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--allergy-->

                        <div id="test">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-5">Test Results</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#testModal">ADD</button>
                                </ul>
                                <div id="tabs-5">
                                    Track any test results, diagnostics, screenings, or evaluations from you medical providers.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--test-->

                        <div id="procedures">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-6">Procedures</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" type="button" data-toggle="modal" data-target="#procModal">ADD</button>
                                </ul>
                                <div id="tabs-6">
                                    Keep a history of any inpatient or outpatient procedures and surgeries.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--procedures-->

                        <div class="immunizations">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-7">Immunizations</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#immunizationsModal">ADD</button>
                                </ul>
                                <div id="tabs-7">
                                    Record any vaccinations you've received.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--immunizations-->

                        
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-8">Insurance</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#insuranceModal">ADD</button>
                                </ul>
                                <div id="tabs-8">
                                    Keep a handy list of your medical, dental, and vision insurance.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->

                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-9">Files</a></li><button class="btn btn-info" style="float:right;margin-right: 3px; margin-top:2px;" data-toggle="modal" data-target="#filesModal">ADD</button>
                                </ul>
                                <div id="tabs-9">
                                    Add any documents or images with health information.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->

                        <div class="widgetcontent visible-phone visible-tablet">
                                <h4 class="widgettitle nomargin">YOU ARE VIEWING THIS PROFILE AS:</h4>
                                <div class="widgetcontent bordered">
                                 Dr. Jun Gayapa <br />

                                <p><strong>Note:</strong> Some of the information will not be shown to you. Only the patient allowed information and the transaction history you have together will be shown to you.</p>
 
                                <p>The owner of this profile will be notified of all actions you do to his/her profile.</p>

                                <ul class="nav nav-tabs nav-stacked">
                                    <li class="active"><a href="#"><h3>View as</h3></a></li>
                                    <li><a href="#"> Doctor</a></li>
                                    <li><a href="#"> Pharmacy</a></li>
                                    <li><a href="#"> Laboratory</a></li>
                                </ul>
                                </div>
                        </div><!--widgetcontent-->
                                                
                    </div><!--span8-->
                    <div class="span4 leftmenu hidden-phone hidden-tablet">
                    	<h4 class="widgettitle nomargin">YOU ARE VIEWING THIS PROFILE AS:</h4>
                        <div class="widgetcontent bordered">
                        	Dr. Jun Gayapa <br />

                            <p><strong>Note:</strong> Some of the information will not be shown to you. Only the patient allowed information and the transaction history you have together will be shown to you.</p>
 
                            <p>The owner of this profile will be notified of all actions you do to his/her profile.</p>
                        </div><!--widgetcontent-->
       
						<ul class="nav nav-tabs nav-stacked">
							<li class="active"><a href="#"><h3>View as</h3></a></li>
							<li><a href="#"> Doctor</a></li>
							<li><a href="#"> Pharmacy</a></li>
							<li><a href="#"> Laboratory</a></li>
						</ul>
                </div><!--row-fluid-->
            </div><!--contentinner-->
	</div>

<!--Modals-->

    <div id="wellnessModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
            <h3 id="myModalLabel">Manage Wellness</h3>
        </div>
        <div class="modal-body">
            Add Wellness tracker <br />
            <a>Blood glucose</a><br />
            <a>Blood pressure</a><br />
            <a>Body temperature</a><br />
            <a>Breathing</a><br />
            <a>Calories burned</a><br />
            <a>Calories consumed</a><br />
            <a>Cycling</a><br />
            <a>Exercise minutes</a><br />
            <a>Height</a><br />
            <a>Heart rate</a><br />
            <a>Hours slept</a><br />
            <a>Peak flow</a><br />
            <a>Running</a><br />
            <a>Steps taken</a><br />
            <a>Swimming</a><br />
            <a>Vegetable servings</a><br />
            <a>Walking</a><br />
            <a>Weight (with BM)</a><br />
        </div>
        <div class="modal-footer">
           <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
           <button class="btn btn-primary">Create your own tracker >></button>
        </div>
    </div>

    <div id="emergencyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Emergency Contact Information</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
    </div>

    <div id="problemModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Add a Problem</h3>
        </div>
        <div class="modal-body">
           <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="symptom">What is the condition or symptom?</label>
                    <div class="controls">
                        <input type="text" id="symptom" placeholder="Example: diabetes, back pain.">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="prob">Problem Description</label>
                    <div class="controls">
                        <input type="text" id="prob">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="datestarted">Date Started</label>
                    <div class="controls">
                        <input type="text" id="datestarted">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="datended">Date Ended</label>
                    <div class="controls">
                        <input type="text" id="datended">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="notes">Notes</label>
                    <div class="controls">
                        <input type="text" id="notes">
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
      </form>
</div>
    </div>

    <div id="medModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Add Medications</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="meds">Medication Name:</label>
                    <div class="controls">
                        <input type="text" id="meds">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="take">Are you taking this medicine now? :</label>
                    <div class="controls">
                        <label> <input type="radio" value="yes">Yes </label>
                        <label> <input type="radio" value="no">No </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="datestarted">Date Started:</label>
                    <div class="controls">
                        <input type="text" id="datestarted">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="datended">Date Ended:</label>
                    <div class="controls">
                        <input type="text" id="datended">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="route">Route:</label>
                    <div class="controls">
                        <select name="route" id="route">
                            <option>Via mouth</option>
                            <option>Via spoon</option>
                            <option>Via injection</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="strength">Strength:</label>
                    <div class="controls">
                        <input type="text" id="strength">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="quantity">How many:</label>
                    <div class="controls">
                        <select name="quantity" id="quantity">
                            <option>Select</option>
                            <option value="1/4">1/4</option>
                            <option value="1/2">1/2</option>
                            <option value="1">1</option>
                            <option value="1 1/2">1 1/2</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="quantity">How often:</label>
                    <div class="controls">
                        <select name="rate" id="rate">
                            <option>Often</option>
                            <option>Once a day</option>
                            <option>Once a week</option>    
                        </select>
                    </div>
                </div>
                <a id="showMedFormAdvanced">Show advanced fields</a>
                    <div id="medFormAdvanced" style="display: none;">
                        <p><label>Rx ID :</label><input type="text" name="rxid" id="rxid"></p>
                        <p><label>Written on :</label><input type="text" name="dateWritten" id="dateWritten" class="hasDatepicker"></p>
                        <p><label>Doctor :</label><input type="text" name="doctor" id="doctor"></p>
                        <p><label>Dispensed on :</label><input type="text" name="dateDispensed" id="dateDispensed" class="hasDatepicker"></p>
                        <p><label>Qty :</label><input type="text" name="qty" id="qty"></p>
                        <p><label>Refills :</label><input type="text" name="refills" id="refills"></p>
                    </div>
                <div class="control-group">
                    <label class="control-label" for="notes">Notes:</label>
                <div class="controls">
                    <textarea id="notes"></textarea>
                    <p>Example: Always take it before food.</p>
                </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
            </form>
</div>
        </div>

    <div id="allergyModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Add Allergy Information</h3>
    </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="allergic">What are you allergic to?</label>
                <div class="controls">
                    <input type="text" id="allergic">
                    <p>Example: penicillins, peanuts, cat dander</p>
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="does">Does this allergy affect you now? </label>
                <div class="controls">
                    <label>
                    <input type="radio" value="yes">Yes, I currently have this allergy 
                    </label>
                    <label>
                    <input type="radio" value="no">No, I no longer have this allergy
                    </label>
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="dstarted">Date it started (Best guess)</label>
                <div class="controls">
                    <input type="text" id="dstarted">
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="dended">Date it ended (optional)</label>
                <div class="controls">
                    <input type="text" id="dended">
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="severe">How severe is this allergy? </label>
                <div class="controls">
                    <label>
                    <input type="radio" value="mild">Mild - Requires little or no medical treatment.
                    </label>
                    <label>
                    <input type="radio" value="severe">Severe - May require immediate medical treatment.
                    </label>
                </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="firstnote">First note or journal entry</label>
                <div class="controls">
                   <textarea id="firstnote"></textarea>
                   <p>Add note from a doctor visit, record how you feel today, and so on.</p>
                </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </form>
</div>
        </div>

    <div id="testModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Add Laboratory Test Information</h3>
    </div>
        <div class="modal-body">
            <form class="form-horizontal">
            <div class="control-group">
                    <label class="control-label" for="test">Test name:</label>
                <div class="controls">
                    <input type="text" id="test">
                    <p>Examples: LDL cholesterol, Hemoglobin - Blood, HbA1c</p>
                </div>
              </div>
            <div class="control-group">
                    <label class="control-label" for="result">Result:</label>
                <div class="controls">
                    <input type="text" id="result">
                </div>
              </div>
             <div class="control-group">
                    <label class="control-label" for="units">Units:</label>
                <div class="controls">

                    <input type="text" id="units">
                </div>
              </div>
            <div class="control-group">
                    <label class="control-label" for="dtest">Date of Test:</label>
                <div class="controls">
                    <input type="text" id="dtest">
                </div>
              </div>
            <div class="control-group">
                    <label class="control-label" for="goal">Goal:</label>
                <div class="controls">
                    <input type="text" id="goal">
                </div>
              </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
            </form>
</div>
        </div>

    <div id="procModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Procedures</h3>
    </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
</div>

    <div id="immunizationsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Immunizations</h3>
    </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
</div>

    <div id="insuranceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Insurance</h3>
    </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
</div>

    <div id="filesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><p>X</p></button>
            <h3 id="myModalLabel">Files</h3>
    </div>
        <div class="modal-body">
            <p>One fine body…</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
        </div>
</div>

        <!--end of Modals-->