<div class="contentinner content-dashboard">
    <div class="row-fluid">
    	<div class="span8">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Doctors</a></li>
                        <li><a href="#tabs-2">Pending Connection</a></li>
                    </ul>
                    <div id="tabs-1">
                        <div class="form-horizontal" style="margin: 10px auto;">
                            <div class="control-group">
                                <label class="control-label" for="inputSpecialization">Specialization</label>
                                <div class="controls">
                                    <select class="span3" name="specialization" style="width:250px;">
                                        <option value="">All</option>
                                        <option value="1">Anaesthetics</option>
                                        <option value="3">Cardiology</option>
                                        <option value="4">Neurology</option>
                                        <option value="5">Paediatrics</option>
                                        <option value="2">Pathology</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputCountry">Country</label>
                                <div class="controls">
                                    <select class="span3" name="country" style="width:250px;">
                                        <option value="">All</option>
                                        <option value="Afganistan">Afghanistan</option>
                                        <option value="Albania">Albania</option>
                                        <option value="Algeria">Algeria</option>
                                        <option value="American Samoa">American Samoa</option>
                                        <option value="Andorra">Andorra</option>
                                        <option value="Angola">Angola</option>
                                        <option value="Anguilla">Anguilla</option>
                                        <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                                        <option value="Argentina">Argentina</option>
                                        <option value="Armenia">Armenia</option>
                                        <option value="Aruba">Aruba</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Austria">Austria</option>
                                        <option value="Azerbaijan">Azerbaijan</option>
                                        <option value="Bahamas">Bahamas</option>
                                        <option value="Bahrain">Bahrain</option>
                                        <option value="Bangladesh">Bangladesh</option>
                                        <option value="Barbados">Barbados</option>
                                        <option value="Belarus">Belarus</option>
                                        <option value="Belgium">Belgium</option>
                                        <option value="Belize">Belize</option>
                                        <option value="Benin">Benin</option>
                                        <option value="Bermuda">Bermuda</option>
                                        <option value="Bhutan">Bhutan</option>
                                        <option value="Bolivia">Bolivia</option>
                                        <option value="Bonaire">Bonaire</option>
                                        <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
                                        <option value="Botswana">Botswana</option>
                                        <option value="Brazil">Brazil</option>
                                        <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                        <option value="Brunei">Brunei</option>
                                        <option value="Bulgaria">Bulgaria</option>
                                        <option value="Burkina Faso">Burkina Faso</option>
                                        <option value="Burundi">Burundi</option>
                                        <option value="Cambodia">Cambodia</option>
                                        <option value="Cameroon">Cameroon</option>
                                        <option value="Canada">Canada</option>
                                        <option value="Canary Islands">Canary Islands</option>
                                        <option value="Cape Verde">Cape Verde</option>
                                        <option value="Cayman Islands">Cayman Islands</option>
                                        <option value="Central African Republic">Central African Republic</option>
                                        <option value="Chad">Chad</option>
                                        <option value="Channel Islands">Channel Islands</option>
                                        <option value="Chile">Chile</option>
                                        <option value="China">China</option>
                                        <option value="Christmas Island">Christmas Island</option>
                                        <option value="Cocos Island">Cocos Island</option>
                                        <option value="Colombia">Colombia</option>
                                        <option value="Comoros">Comoros</option>
                                        <option value="Congo">Congo</option>
                                        <option value="Cook Islands">Cook Islands</option>
                                        <option value="Costa Rica">Costa Rica</option>
                                        <option value="Cote DIvoire">Cote D'Ivoire</option>
                                        <option value="Croatia">Croatia</option>
                                        <option value="Cuba">Cuba</option>
                                        <option value="Curaco">Curacao</option>
                                        <option value="Cyprus">Cyprus</option>
                                        <option value="Czech Republic">Czech Republic</option>
                                        <option value="Denmark">Denmark</option>
                                        <option value="Djibouti">Djibouti</option>
                                        <option value="Dominica">Dominica</option>
                                        <option value="Dominican Republic">Dominican Republic</option>
                                        <option value="East Timor">East Timor</option>
                                        <option value="Ecuador">Ecuador</option>
                                        <option value="Egypt">Egypt</option>
                                        <option value="El Salvador">El Salvador</option>
                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                        <option value="Eritrea">Eritrea</option>
                                        <option value="Estonia">Estonia</option>
                                        <option value="Ethiopia">Ethiopia</option>
                                        <option value="Falkland Islands">Falkland Islands</option>
                                        <option value="Faroe Islands">Faroe Islands</option>
                                        <option value="Fiji">Fiji</option>
                                        <option value="Finland">Finland</option>
                                        <option value="France">France</option>
                                        <option value="French Guiana">French Guiana</option>
                                        <option value="French Polynesia">French Polynesia</option>
                                        <option value="French Southern Ter">French Southern Ter</option>
                                        <option value="Gabon">Gabon</option>
                                        <option value="Gambia">Gambia</option>
                                        <option value="Georgia">Georgia</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Ghana">Ghana</option>
                                        <option value="Gibraltar">Gibraltar</option>
                                        <option value="Great Britain">Great Britain</option>
                                        <option value="Greece">Greece</option>
                                        <option value="Greenland">Greenland</option>
                                        <option value="Grenada">Grenada</option>
                                        <option value="Guadeloupe">Guadeloupe</option>
                                        <option value="Guam">Guam</option>
                                        <option value="Guatemala">Guatemala</option>
                                        <option value="Guinea">Guinea</option>
                                        <option value="Guyana">Guyana</option>
                                        <option value="Haiti">Haiti</option>
                                        <option value="Hawaii">Hawaii</option>
                                        <option value="Honduras">Honduras</option>
                                        <option value="Hong Kong">Hong Kong</option>
                                        <option value="Hungary">Hungary</option>
                                        <option value="Iceland">Iceland</option>
                                        <option value="India">India</option>
                                        <option value="Indonesia">Indonesia</option>
                                        <option value="Iran">Iran</option>
                                        <option value="Iraq">Iraq</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="Isle of Man">Isle of Man</option>
                                        <option value="Israel">Israel</option>
                                        <option value="Italy">Italy</option>
                                        <option value="Jamaica">Jamaica</option>
                                        <option value="Japan">Japan</option>
                                        <option value="Jordan">Jordan</option>
                                        <option value="Kazakhstan">Kazakhstan</option>
                                        <option value="Kenya">Kenya</option>
                                        <option value="Kiribati">Kiribati</option>
                                        <option value="Korea North">Korea North</option>
                                        <option value="Korea Sout">Korea South</option>
                                        <option value="Kuwait">Kuwait</option>
                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                        <option value="Laos">Laos</option>
                                        <option value="Latvia">Latvia</option>
                                        <option value="Lebanon">Lebanon</option>
                                        <option value="Lesotho">Lesotho</option>
                                        <option value="Liberia">Liberia</option>
                                        <option value="Libya">Libya</option>
                                        <option value="Liechtenstein">Liechtenstein</option>
                                        <option value="Lithuania">Lithuania</option>
                                        <option value="Luxembourg">Luxembourg</option>
                                        <option value="Macau">Macau</option>
                                        <option value="Macedonia">Macedonia</option>
                                        <option value="Madagascar">Madagascar</option>
                                        <option value="Malaysia">Malaysia</option>
                                        <option value="Malawi">Malawi</option>
                                        <option value="Maldives">Maldives</option>
                                        <option value="Mali">Mali</option>
                                        <option value="Malta">Malta</option>
                                        <option value="Marshall Islands">Marshall Islands</option>
                                        <option value="Martinique">Martinique</option>
                                        <option value="Mauritania">Mauritania</option>
                                        <option value="Mauritius">Mauritius</option>
                                        <option value="Mayotte">Mayotte</option>
                                        <option value="Mexico">Mexico</option>
                                        <option value="Midway Islands">Midway Islands</option>
                                        <option value="Moldova">Moldova</option>
                                        <option value="Monaco">Monaco</option>
                                        <option value="Mongolia">Mongolia</option>
                                        <option value="Montserrat">Montserrat</option>
                                        <option value="Morocco">Morocco</option>
                                        <option value="Mozambique">Mozambique</option>
                                        <option value="Myanmar">Myanmar</option>
                                        <option value="Nambia">Nambia</option>
                                        <option value="Nauru">Nauru</option>
                                        <option value="Nepal">Nepal</option>
                                        <option value="Netherland Antilles">Netherland Antilles</option>
                                        <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                        <option value="Nevis">Nevis</option>
                                        <option value="New Caledonia">New Caledonia</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Nicaragua">Nicaragua</option>
                                        <option value="Niger">Niger</option>
                                        <option value="Nigeria">Nigeria</option>
                                        <option value="Niue">Niue</option>
                                        <option value="Norfolk Island">Norfolk Island</option>
                                        <option value="Norway">Norway</option>
                                        <option value="Oman">Oman</option>
                                        <option value="Pakistan">Pakistan</option>
                                        <option value="Palau Island">Palau Island</option>
                                        <option value="Palestine">Palestine</option>
                                        <option value="Panama">Panama</option>
                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                        <option value="Paraguay">Paraguay</option>
                                        <option value="Peru">Peru</option>
                                        <option value="Phillipines">Philippines</option>
                                        <option value="Pitcairn Island">Pitcairn Island</option>
                                        <option value="Poland">Poland</option>
                                        <option value="Portugal">Portugal</option>
                                        <option value="Puerto Rico">Puerto Rico</option>
                                        <option value="Qatar">Qatar</option>
                                        <option value="Republic of Montenegro">Republic of Montenegro</option>
                                        <option value="Republic of Serbia">Republic of Serbia</option>
                                        <option value="Reunion">Reunion</option>
                                        <option value="Romania">Romania</option>
                                        <option value="Russia">Russia</option>
                                        <option value="Rwanda">Rwanda</option>
                                        <option value="St Barthelemy">St Barthelemy</option>
                                        <option value="St Eustatius">St Eustatius</option>
                                        <option value="St Helena">St Helena</option>
                                        <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                        <option value="St Lucia">St Lucia</option>
                                        <option value="St Maarten">St Maarten</option>
                                        <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                        <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
                                        <option value="Saipan">Saipan</option>
                                        <option value="Samoa">Samoa</option>
                                        <option value="Samoa American">Samoa American</option>
                                        <option value="San Marino">San Marino</option>
                                        <option value="Sao Tome & Principe">Sao Tome &amp; Principe</option>
                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                        <option value="Senegal">Senegal</option>
                                        <option value="Seychelles">Seychelles</option>
                                        <option value="Sierra Leone">Sierra Leone</option>
                                        <option value="Singapore">Singapore</option>
                                        <option value="Slovakia">Slovakia</option>
                                        <option value="Slovenia">Slovenia</option>
                                        <option value="Solomon Islands">Solomon Islands</option>
                                        <option value="Somalia">Somalia</option>
                                        <option value="South Africa">South Africa</option>
                                        <option value="Spain">Spain</option>
                                        <option value="Sri Lanka">Sri Lanka</option>
                                        <option value="Sudan">Sudan</option>
                                        <option value="Suriname">Suriname</option>
                                        <option value="Swaziland">Swaziland</option>
                                        <option value="Sweden">Sweden</option>
                                        <option value="Switzerland">Switzerland</option>
                                        <option value="Syria">Syria</option>
                                        <option value="Tahiti">Tahiti</option>
                                        <option value="Taiwan">Taiwan</option>
                                        <option value="Tajikistan">Tajikistan</option>
                                        <option value="Tanzania">Tanzania</option>
                                        <option value="Thailand">Thailand</option>
                                        <option value="Togo">Togo</option>
                                        <option value="Tokelau">Tokelau</option>
                                        <option value="Tonga">Tonga</option>
                                        <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                                        <option value="Tunisia">Tunisia</option>
                                        <option value="Turkey">Turkey</option>
                                        <option value="Turkmenistan">Turkmenistan</option>
                                        <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                                        <option value="Tuvalu">Tuvalu</option>
                                        <option value="Uganda">Uganda</option>
                                        <option value="Ukraine">Ukraine</option>
                                        <option value="United Arab Erimates">United Arab Emirates</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States of America">United States of America</option>
                                        <option value="Uraguay">Uruguay</option>
                                        <option value="Uzbekistan">Uzbekistan</option>
                                        <option value="Vanuatu">Vanuatu</option>
                                        <option value="Vatican City State">Vatican City State</option>
                                        <option value="Venezuela">Venezuela</option>
                                        <option value="Vietnam">Vietnam</option>
                                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                        <option value="Wake Island">Wake Island</option>
                                        <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                                        <option value="Yemen">Yemen</option>
                                        <option value="Zaire">Zaire</option>
                                        <option value="Zambia">Zambia</option>
                                        <option value="Zimbabwe">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputProvince">Province</label>
                                <div class="controls">
                                    <select class="span3" name="province" style="width:250px;">
                                        <option value="">All</option>
                                        <option value="27">Abra</option>
                                        <option value="47">Agusan del Norte</option>
                                        <option value="63">Agusan del Sur</option>
                                        <option value="40">Aklan</option>
                                        <option value="18">Albay</option>
                                        <option value="57">Antique</option>
                                        <option value="54">Apayao</option>
                                        <option value="41">Aurora</option>
                                        <option value="72">Basilan</option>
                                        <option value="8">Bataan</option>
                                        <option value="6">Batanes</option>
                                        <option value="9">Batangas</option>
                                        <option value="2">Benguet</option>
                                        <option value="33">Biliran</option>
                                        <option value="26">Bohol</option>
                                        <option value="45">Bukidnon</option>
                                        <option value="4">Bulacan</option>
                                        <option value="16">Cagayan</option>
                                        <option value="62">Camarines Norte</option>
                                        <option value="25">Camarines Sur</option>
                                        <option value="37">Camiguin</option>
                                        <option value="49">Capiz</option>
                                        <option value="69">Catanduanes</option>
                                        <option value="5">Cavite</option>
                                        <option value="14">Cebu</option>
                                        <option value="44">Davao del Norte</option>
                                        <option value="28">Davao del Sur</option>
                                        <option value="65">Davao Oriental</option>
                                        <option value="59">Eastern Samar</option>
                                        <option value="50">Guimaras</option>
                                        <option value="68">Ifugao</option>
                                        <option value="13">Ilocos Norte</option>
                                        <option value="24">Ilocos Sur</option>
                                        <option value="19">Isabela</option>
                                        <option value="67">Kalinga</option>
                                        <option value="10">La Union</option>
                                        <option value="7">Laguna</option>
                                        <option value="34">Lanao del Norte</option>
                                        <option value="71">Lanao del Sur</option>
                                        <option value="43">Leyte</option>
                                        <option value="74">Maguindanao</option>
                                        <option value="32">Marinduque</option>
                                        <option value="66">Masbate</option>
                                        <option value="1">Metro Manila</option>
                                        <option value="30">Misamis Occidental</option>
                                        <option value="17">Misamis Oriental</option>
                                        <option value="51">Mountain Province</option>
                                        <option value="52">Negros Occidental</option>
                                        <option value="55">North Cotabato</option>
                                        <option value="56">Northern Samar</option>
                                        <option value="23">Nueva Ecija</option>
                                        <option value="20">Nueva Viscaya</option>
                                        <option value="60">Occidental Mindoro</option>
                                        <option value="39">Oriental Mindoro</option>
                                        <option value="58">Palawan</option>
                                        <option value="11">Pampanga</option>
                                        <option value="22">Pangasinan</option>
                                        <option value="36">Quezon</option>
                                        <option value="35">Quirino</option>
                                        <option value="3">Rizal</option>
                                        <option value="48">Romblon</option>
                                        <option value="70">Sarangani</option>
                                        <option value="53">Siquijor</option>
                                        <option value="21">Sorsogon</option>
                                        <option value="29">South Cotabato</option>
                                        <option value="42">Southern Leyte</option>
                                        <option value="46">Sultan Kudarat</option>
                                        <option value="73">Sulu</option>
                                        <option value="38">Surigao del Norte</option>
                                        <option value="31">Tarlac</option>
                                        <option value="75">Tawi-Tawi</option>
                                        <option value="61">Western Samar</option>
                                        <option value="15">Zambales</option>
                                        <option value="64">Zamboanga del Norte</option>\s
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">&nbsp;</label>
                                <div class="controls">
                                    <a href="" class="btn btn-rounded"><i class="iconsweets-magnifying"></i> &nbsp; Find Doctors</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tabs-2">
                        Pending Connections
                    </div>
                </div><!--#tabs-->
            </div>
            <div class="widgetcontent visible-phone visible-tablet">
                <h4 class="widgettitle nomargin">YOU ARE VIEWING THIS PROFILE AS:</h4>
                <div class="widgetcontent bordered">
                    Dr. Jun Gayapa <br />

                    <p><strong>Note:</strong> Some of the information will not be shown to you. Only the patient allowed information and the transaction history you have together will be shown to you.</p>

                    <p>The owner of this profile will be notified of all actions you do to his/her profile.</p>
                </div>
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#">
                            <h3>View as</h3>
                        </a>
                    </li>
                    <li>
                        <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                <a href="#">CONNECTIONS</a>
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                <a href="#Doctor">
                                    <div id="doc-p"></div>
                                    <h5 id="doctor">Doctor</h5>
                                </a>
                                <a href="#Pharmacy">
                                    <div id="pharmacy-p"></div>
                                    <h5 id="pharma">Pharmacy</h5>
                                </a>
                                <a href="#Laboratory">
                                    <div id="laboratory-p"></div>
                                    <h5 id="lab">Laboratory</h5>
                                </a>
                            </div>
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                                <div class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></div>
                                <div class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></div>
                                <a href="#">APPS</a>
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                <a href="#">
                                    <div id="look-for-doc-p"></div>
                                    <span style="margin-left:10px;">Look for doctors</span>
                                </a><br/>
                                <a href="#">
                                    <div id="add-plugin-p"></div>
                                    <span style="margin-left:10px;"><b>Add another APP/PLUG-INS</b></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="active" style="border-bottom:none;"><a><h5>NEWS AND ANNOUNCEMENT</h5></a></li>
                    <li class="active" style="border-top:none;">
                        <a>
                            <u>Do you develop electronic health systems?</u>
                        </a>
                        <a>
                            We are currently looking for EMR, EHR developers or e-health applications developer. 
                            It can be individual, group or company who already have the applications or still 
                            developing it and also have vision to improve the healthcare in the philippines.
                        </a>
                    </li>
                </ul>
            </div><!--widgetcontent-->
        </div><!--span8-->

        <div class="span4 leftmenu hidden-phone hidden-tablet">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active" style="border-bottom:none;">
                    <a href="#">
                        <h5>Updates</h5>
                    </a>
                </li>
                <li class="active" style="border-top:none;">
                    <a href="#Notices" style="width:70px;">
                        <span style="cursor:pointer;color:#3366cc;">
                        Notices</span>()&nbsp;&nbsp;- 
                    </a>
                    <a href="#ActiveReport" id="active-report">
                        <span style="cursor:pointer;color:#3366cc;">Active Report</span>(0)
                    </a>
                </li>
                <li> 
                    <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#">CONNECTIONS</a>
                        </h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a id="aDoc" href="#Doctor">
                                <span id="doc"></span>
                                <h5 id="doctor">Doctor</h5>
                            </a>
                            <a id="aPharmacy" href="#Pharmacy">
                                <span id="pharmacy"></span>
                                <h5 id="pharma">Pharmacy</h5>
                            </a>
                            <a id="aLaboratory" href="#Laboratory">
                                <span id="laboratory"></span>
                                <h5 id="lab">Laboratory</h5>
                            </a>
                        </div>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#">APPS</a>
                        </h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a href="#">
                                <span id="look-for-doc"></span>
                                Look for doctors
                            </a><br/>
                            <a href="#">
                                <span id="add-plugin"></span>
                                <b>Add another APP/PLUG-INS</b>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="active" style="border-bottom:none;"><a><h5>NEWS AND ANNOUNCEMENT</h5></a></li>
                <li class="active" style="border-top:none;">
                    <a>
                        <u>Do you develop electronic health systems?</u>
                    </a>
                    <a>
                        We are currently looking for EMR, EHR developers or e-health applications developer. 
                        It can be individual, group or company who already have the applications or still 
                        developing it and also have vision to improve the healthcare in the philippines.
                    </a>
                </li>
            </ul>
        </div><!--span4-->
    </div><!--row-fluid-->
</div><!--contentinner-->