<div class="contentinner content-dashboard">
                
                <div class="row-fluid">
                	<div class="span8">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1">Profile</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <p><strong>NAME:</strong> EDISON POLANCOS QUINONES</p>
                                    <strong>AGE:</strong> 28</p>
                                    <strong>SEX:</strong> MALE</p>
                                    <strong>RACE:</strong> TURIAN</p>
                                    <strong>ADDRESS:</strong> KIMBA,TALISAY, SAN ROQUE, PHILIPPINES 6045</p>
                                    <strong>BLOOD TYPE:</strong> O+</p>
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->

                        <div id="wellness">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-2">Wellness</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#wellnessModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-2">
                                    Add Entity
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--wellness-->

                        <div id="emergency">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-2">Emergency contact information</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#emergencyModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-2">
                                    <p>Name: His M. Other
                                    <p>Address:    5561 Rabaya Street, San Roque, Talisay City, Cebu</p>
                                    <p>Phone Number:   (63)032-5056416</p>
                                    <p>Name:   Nikko M. Belleo
                                    <p>Address:    3rd Stree, Happy Valley, Gaudalupe, Cebu City</p>
                                    <p>Phone Number:   (63)032-2722398</p>
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--emergency-->

                        <div id="problem">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-3">Problem History</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#problemModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-3">
                                    Keep a history of ailments, conditions, or symptoms you've experience (past and present).
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--problem-->

                        <div id="med">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-3">Medications</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#medModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-3">
                                    List all your prescriptions, supplements, vitamins, and over-the-counter drugs.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--med-->

                        <div id="allergy">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-4">Allergy</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#allergyModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-4">
                                    Report the medications, foods, and environmental triggers that cause your allergies.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--allergy-->

                        <div id="test">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-5">Test Results</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#testModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-5">
                                    Track any test results, diagnostics, screenings, or evaluations from you medical providers.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--test-->

                        <div id="procedures">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-6">Procedures</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#procModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-6">
                                    Keep a history of any inpatient or outpatient procedures and surgeries.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--procedures-->

                        <div class="immunizations">
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-7">Immunizations</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#immunizationsModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-7">
                                    Record any vaccinations you've received.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                        </div><!--immunizations-->

                        
                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-8">Insurance</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#insuranceModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-8">
                                    Keep a handy list of your medical, dental, and vision insurance.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->

                        <div class="widgetcontent">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-9">Files</a></li><button class="btn btn-info" id="addbuttonstyle" type="button" data-toggle="modal" data-target="#filesModal">Manage Privacy Settings</button>
                                </ul>
                                <div id="tabs-9">
                                    Add any documents or images with health information.
                                </div>
                                </div><!--#tabs-->
                        </div><!--widgetcontent-->
                                                
                    </div><!--span8-->
                    <div class="span4">
                    	<h4 class="widgettitle nomargin">REQUEST ACCESS:</h4>
                        <div class="widgetcontent bordered">
                        	<p>You have limited access because the owner of this profile did not give you authority to view.</p>
 
                            <p>The Owner of this profile will be notified that you viewed his/her profile.</p>
                        </div><!--widgetcontent-->

                        <div class="leftmenu">        
                            <ul class="nav nav-tabs nav-stacked">
                                <li class="active"><a href="#"><h3>View as</h3></a></li>
                                <li><a href="#"> Doctor</a></li>
                                <li><a href="#"> Pharmacy</a></li>
                                <li><a href="#"> Laboratory</a></li>
                            </ul>
                        </div>

                        
                        <div class="widgetcontent">
                        	<div id="bargraph2" style="height:200px;"></div>
                        </div><!--widgetcontent-->
                    </div><!--span4-->
                </div><!--row-fluid-->
            </div>