<div class="contentinner content-dashboard">
    <div class="row-fluid">
    	<div class="span8">
            <div class="widgetcontent">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Profile</a></li>
                    </ul>
                    <div id="tabs-1">
                        <p><strong>NAME:</strong> EDISON POLANCOS QUINONES</p>
                        <p><strong>AGE:</strong> 28</p>
                        <p><strong>SEX:</strong> MALE</p>
                        <p><strong>RACE:</strong> TURIAN</p>
                        <p><strong>ADDRESS:</strong> KIMBA,TALISAY, SAN ROQUE, PHILIPPINES 6045</p>
                        <p><strong>BLOOD TYPE:</strong> O+</p>
                    </div>
                </div><!--#tabs-->
            </div><!--widgetcontent-->

            <div id="order">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-4">Search Nearest Drugstore</a></li>
                            <li><a href="#tabs-5">Delivery</a></li>
                            <li><a href="#tabs-6">Pre-Order</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button">ADD</button>
                        </ul>
                        <div id="tabs-4">
                            <form action="#results" method="post">
                                <div class="input-append">
                                    <input type="text" class="span2 search-query" style="width:200px;height:36px;" placeholder="Search here...">
                                    <button type="submit" class="btn"><span class="icon-search"></span></button>
                                </div>
                            </form>
                            <!-- <h4><span style="margin-top:2px;" class=" icon-search"></span> All Results</h4> -->
                            <hr/>
                        </div>
                        <div id="tabs-5">
                            Delivery
                        </div>
                        <div id="tabs-6">
                            Drive Thru
                        </div>
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--order-->

            <div id="prescription">
                <div class="widgetcontent">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-2">Latest Prescription</a></li>
                            <li><a href="#tabs-3">See All Description</a></li>
                            <button class="btn btn-info" id="addbuttonstyle" type="button">ADD</button>
                        </ul>
                        <div id="tabs-2">
                            His Latest Prescription
                            <img src="public/img/prescription.jpg" alt="prescription" width="70%" height="70%">

                        </div>
                        <div id="tabs-3">
                            <img src="public/img/prescription.jpg" alt="prescription" width="70%" height="70%">
                        </div>
                        
                    </div><!--#tabs-->
                </div><!--widgetcontent-->
            </div><!--prescription-->

            <div class="widgetcontent visible-phone visible-tablet">
                <h4 class="widgettitle nomargin">YOU ARE VIEWING THIS PROFILE AS:</h4>
                <div class="widgetcontent bordered">
                    Dr. Jun Gayapa <br />

                    <p><strong>Note:</strong> Some of the information will not be shown to you. Only the patient allowed information and the transaction history you have together will be shown to you.</p>

                    <p>The owner of this profile will be notified of all actions you do to his/her profile.</p>
                </div>
                <ul class="nav nav-tabs nav-stacked">
                    <li class="active">
                        <a href="#">
                            <h3>View as</h3>
                        </a>
                    </li>
                    <li>
                        <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                <a href="#">CONNECTIONS</a>
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                <a href="#Doctor">
                                    <div id="doc-p"></div>
                                    <h5 id="doctor">Doctor</h5>
                                </a>
                                <a href="#Pharmacy">
                                    <div id="pharmacy-p"></div>
                                    <h5 id="pharma">Pharmacy</h5>
                                </a>
                                <a href="#Laboratory">
                                    <div id="laboratory-p"></div>
                                    <h5 id="lab">Laboratory</h5>
                                </a>
                            </div>
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                                <div class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></div>
                                <div class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></div>
                                <a href="#">APPS</a>
                            </h3>
                            <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                                <a href="#">
                                    <div id="look-for-doc-p"></div>
                                    <span style="margin-left:10px;">Look for doctors</span>
                                </a><br/>
                                <a href="#">
                                    <div id="add-plugin-p"></div>
                                    <span style="margin-left:10px;"><b>Add another APP/PLUG-INS</b></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="active" style="border-bottom:none;"><a><h5>NEWS AND ANNOUNCEMENT</h5></a></li>
                    <li class="active" style="border-top:none;">
                        <a>
                            <u>Do you develop electronic health systems?</u>
                        </a>
                        <a>
                            We are currently looking for EMR, EHR developers or e-health applications developer. 
                            It can be individual, group or company who already have the applications or still 
                            developing it and also have vision to improve the healthcare in the philippines.
                        </a>
                    </li>
                </ul>
            </div><!--widgetcontent-->
        </div><!--span8-->
        
        <div class="span4 leftmenu hidden-phone hidden-tablet">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active" style="border-bottom:none;"><a href="#"><h5>Updates</h5></a></li>
                <li class="active" style="border-top:none;">
                    <a href="#Notices" style="width:70px;"><span style="cursor:pointer;color:#3366cc;">
                        Notices</span>()&nbsp;&nbsp;- 
                    </a>
                    <a href="#ActiveReport" id="active-report">
                        <span style="cursor:pointer;color:#3366cc;">Active Report</span>(0)
                    </a>
                </li>
                <li> 
                    <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#">CONNECTIONS</a>
                        </h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a id="aDoc" href="#Doctor">
                                <span id="doc"></span>
                                <h5 id="doctor">Doctor</h5>
                            </a>
                            <a id="aPharmacy" href="#Pharmacy">
                                <span id="pharmacy"></span>
                                <h5 id="pharma">Pharmacy</h5>
                            </a>
                            <a id="aLaboratory" href="#Laboratory">
                                <span id="laboratory"></span>
                                <h5 id="lab">Laboratory</h5>
                            </a>
                        </div>
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top ui-corner-all" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1">
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                            <a href="#">APPS</a>
                        </h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="display: none;" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">
                            <a href="#">
                                <span id="look-for-doc"></span>
                                Look for doctors
                            </a><br/>
                            <a href="#">
                                <span id="add-plugin"></span>
                                <b>Add another APP/PLUG-INS</b>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="active" style="border-bottom:none;"><a><h5>NEWS AND ANNOUNCEMENT</h5></a></li>
                <li class="active" style="border-top:none;">
                    <a>
                        <u>Do you develop electronic health systems?</u>
                    </a>
                    <a>
                        We are currently looking for EMR, EHR developers or e-health applications developer. 
                        It can be individual, group or company who already have the applications or still 
                        developing it and also have vision to improve the healthcare in the philippines.
                    </a>
                </li>
            </ul>
        </div><!--span4-->
    </div><!--row-fluid-->
</div><!--contentinner-->