<div class="row tallheight">  
  <div class="widget-container">
    <section class="widget widget-tabs">
    <h3 class="page-title">Add appointment</h3>
    <div class="body tab-content">
      <form name="form1" method="post" action="">
        <p>
          <input type="text" name="safe_user_IDsafe_user" id="safe_user_IDsafe_user" placeholder="safe_user_IDsafe_user">
        <br><input name="timefrom" type="text" id="timefrom" placeholder="timefrom"><br>
        <input name="timeto" type="text" id="timeto" placeholder="timeto">
        <br>
        <input name="allday" type="text" id="allday" placeholder="allday">
        <br>
        <input name="active" type="text" id="active" placeholder="active">
        <br>
        <input name="note" type="text" id="note" placeholder="note">
        <br>
        <input name="IDlocation_info" type="text" id="IDlocation_info" placeholder="IDlocation_info">
        <br>
        <input name="appointment_type_IDappointment_type" type="text" id="appointment_type_IDappointment_type" placeholder="appointment_type_IDappointment_type">
        </p>
          <input name="" type="submit">
      </form>
      </div>
    </section>
  </div>
</div>