<div class="row tallheight">  
    <div class="widget-container col-md-8 ">
        
        <!-- the left-->
        <section class="widget widget-tabs">
            <h3 class="page-title">Appointments, Events and Schedules</h3>
            <header>
                <!--<h4>
                    <i class="fa fa-calendar"></i>
                    &nbsp;&nbsp;Appointments and events
                    <small>
                    All schedules 
                    </small>
                </h4>-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#schedule-calendar" data-toggle="tab">Calendar</a>
                    </li>
                    <li>
                        <a href="#schedule-table" data-toggle="tab">In Table format</a>
                    </li>
                   <!--  <li>
                        <a href="#schedule-search" data-toggle="tab">Advance Search</a>
                    </li> -->
                </ul>
            </header>
    
            <div class="body tab-content">
                <div id="schedule-calendar" class="tab-pane active clearfix">
                <!-- calendar -->
                    <header>
                        <div class="actions">
                            <button id="today" type="button" class="btn btn-sm btn-warning">
                                Today
                            </button>
                            <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-success active" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="month"> Month
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaWeek"> Week
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaDay"> Day
                                </label>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        <div id="calendar" class="calendar"> </div>
                    </div>
    
                <!-- end of calendar -->
                </div>
                <div id="schedule-table" class="tab-pane">
                    <!-- appointment in table  -->
                    <table id="datatable-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Patient's Name</th>
                            <th class="hidden-phone-landscape">Date</th>
                            <th>Time</th>
                            <th class="hidden-phone-landscape">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->userDoctorAppointment as $key): ?>
                        <tr>
                            <?php
                                $notes = @$key->note;
                                $locationInformation = ''; 
                                if ($key->forced == true)
                                {
                                    $notes .= '<br>This is a force request appointment.';
                                }
                                $dateExplodetimefrom = explode(' ', $key->timefrom);
                                $dateExplodetimeto = explode(' ', $key->timeto);

                                if ($dateExplodetimeto[0] == $dateExplodetimefrom[0])
                                {
                                    $sameDay = TRUE;
                                    $timeFrom = date('h:i A', strtotime($dateExplodetimefrom[1]));
                                    $timeTo = date('h:i A', strtotime($dateExplodetimeto[1]));
                                }
                                else
                                {
                                    $sameDay = FALSE;
                                    $timeFrom = $key->timefrom;
                                    $timeTo = $key->timeto;
                                }

                                if (empty($key->location_info_IDlocation_info))
                                {
                                    if (!empty($this->locationsArray))
                                    {
                                        foreach ($this->locationsArray as $array) 
                                        {
                                            $locationInformation .= $array->street.', '.$array->state.', '. $array->city.', '.$array->country;
                                            $locationInformation .= '<br>';
                                        }
                                    }
                                    else
                                    {
                                        $locationInformation = 'No clinic address yet';
                                    }
                                }
                                else
                                {
                                    $locationInformation = $key->location_info_IDlocation_info;

                                    foreach ($this->locationsArray as $return => $value) 
                                    {
                                        // $locationInformation = 'please';
                                        
                                       if ($value->IDlocation_info === $locationInformation) 
                                       {
                                            $locationInformation = $value->locationname.'<BR>';
                                            $locationInformation .= $value->street.', '.$value->state.', '.$value->city.', '.$value->country;
                                            break;  
                                       }
                                       else
                                       {
                                            $locationInformation = 'No clinic address yet';
                                       }
                                    }
                                }
                            

                            ?>
                            <td><a href="javascript:void(0);"  data-locationInformation="<?=$locationInformation?>" data-dateonly="<?=date('D, F d, o',strtotime(@$dateExplodetimeto[0]))?>" data-timefrom="<?=@$timeFrom?>" data-allday="<?=@$key->allday?>" data-sameday="<?=@$sameDay?>" data-timeto="<?=@$timeTo?>" data-fullname="<?=ucwords($this->nagkamoritsing->ibalik(@$key->firstname))?> <?=ucwords($this->nagkamoritsing->ibalik(@$key->lastname))?>" data-appid="<?=@$key->IDappointments?>" data-notes="<?=@$notes?>" data-appointment="<?=$this->nagkamoritsing->bungkag(@$key->IDappointments)?>" class="appointment-link"><strong><?=ucwords($this->nagkamoritsing->ibalik(@$key->firstname))?> <?=ucwords($this->nagkamoritsing->ibalik(@$key->lastname))?></strong></a></td>
                            <?php
                            # tanwon kung kailangan ba i display ang date sa timeto
                            # display ang timeto date kung dili pareho sa time from
                            $timefrom = explode(' ', $key->timefrom);
                            $timeto = explode(' ', $key->timeto);

                            if ($timefrom[0] == $timeto[0])
                            {
                                echo '<td class="hidden-phone-landscape">'.@date('D, M d, o',strtotime(@$key->timefrom)).'</td>';
                            }
                            else
                            {
                                echo '<td class="hidden-phone-landscape">'.@date('D, M d, o',strtotime(@$key->timefrom)).' to '.@date('D, M d, o',strtotime(@$key->timeto)).'</td>';
                            }
                            if ($key->allday)
                            {
                                echo '<td>all day</td>';
                            }
                            else
                            {
                                echo '<td>'.date('h:i A',strtotime($timefrom[1])).' to '.date('h:i A',strtotime($timeto[1])).'</td>';
                            }
                            ?>
                            <td class="hidden-phone-landscape" id="approval-area-<?=@$key->IDappointments?>">
                                <?php 
                                if ($key->approved == FALSE)
                                {
                                    echo 'Pending approval';
                                }
                                else
                                {
                                    echo 'Approved';
                                }
                                ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>

                        </tbody>
                    </table>
                    <!-- end of appointment in table -->
                </div>
                <div id="schedule-search" class="tab-pane">
                    <form name="form1" method="post" action="">
                        <center>
                            <label>Patient's Name: <input type="text" name="Keywords" id="Keywords" class="form-control input-transparent ">  </label><br>
                            <label>Date:<input id="in-place-date" class="input-transparent form-control date-picker" type="text" name="in-place-date" value="" placeholder="mm/dd/yyyy"></label><br>
                            <label >Status:<br>
                                <select name="status" data-placeholder="Can select multiple status" class="chzn-select select-block-level"  multiple>
                                    <option value="approved">Approved</option>
                                    <option value="pending approval">Pending Approval</option>
                                    <option value="not set">Not Set</option>
                                </select>
                            </label>
                            <div class="btn-toolbar ">
                                <button type="button" class="btn btn-sm btn-danger">Search</button>
                                <button type="button" class="btn btn-sm btn-default">Clear</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div class="widget-container col-md-4 ">

        <!-- Queues -->
        <section class="widget widget-tabs">
            <h3 class="page-title">Clinic Queues</h3>
            <header class="widget-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#find-my-doc" data-toggle="tab">On-queue</a></li>
                    <li><a href="#laboratory-procedure" data-toggle="tab">Pending</a></li>
                </ul>
            </header>
            <div class="body tab-content">
                <div id="find-my-doc" class="tab-pane active clearfix">
                    &nbsp;
                <div id="pharmacy-store" class="tab-pane clearfix">
                    &nbsp;
                </div>
                <div id="laboratory-procedure" class="tab-pane clearfix">
                    &nbsp;
                </div>            
            </div>
        </section>
        <!-- END OF QUEUES -->
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add appointment</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="event-name" class="control-label">Event name</label>
                    <div class="controls">
                        <input type="text" id="event-name" name="name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="loader animated fadeIn">
                    Please wait loading...<br>
                <span class="spinner">
                    <i class="fa fa-spinner fa-spin"></i>
                </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->