<table id="datatable-table" class="table table-striped">
    <thead>
    <tr>
        <th>Patient's Name</th>
        <th class="no-sort hidden-phone-landscape">Date</th>
        <th>Time</th>
        <th class="hidden-phone-landscape">Status</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->userDoctorAppointment as $key): ?>
    <tr>
        <td><strong><?=@$key->firstname?></strong></td>
        <td class="hidden-phone-landscape"><strong>Wed,</strong> January 1, 2014</td>
        <td>all day</td>
        <td class="hidden-phone-landscape">Approved</td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>