<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script src="<?=base_url()?>public/lib/bootstrap/alert.js"></script>
<script src="<?=base_url()?>public/lib/bootstrap/tooltip.js"></script>
<script src="<?=base_url()?>public/lib/bootstrap/popover.js"></script>

<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style type="text/css">
.body p
{
  color: #ffffff !important;
  text-shadow: 1px 1px 1px rgb(93, 81, 81);
  font-weight: bolder; 
}
.body p strong 
{
  margin-right: 25px;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 99999999 !important;
}
.mask-time
{
  width: 50px;
}
</style>
<script>
/* datepicker */
$(document).ready(function() {

jQuery(".masked-date").mask("99/99/9999");
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-appointment');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-appointment').val($btnCalendar.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });

/* tooltip */
jQuery('.tootipper').popover();
$(".mask-time").mask("99:99");
});
</script>
<form id="form1" name="form1" method="post" action="">
<div class="row tallheight">  
    <h3 class="page-title">Modify appointment</h3>
    <div class="body tab-content">
      <div class="row">
        <div class="col-md-8">
           <section class="widget">
              <header>
                <h4>Appointment information</h4>
              </header>
              <div class="body">
                <p>
                  <strong>Patient's Name:</strong>  <?=ucwords(@$this->nagkamoritsing->ibalik($appointmentInformation->firstname))?> 
                  <?=ucwords(@$this->nagkamoritsing->ibalik($appointmentInformation->middlename))?> 
                  <?=ucwords(@$this->nagkamoritsing->ibalik($appointmentInformation->lastname))?> <br>
                  <strong>Requested time and date:  </strong><br>
                  <?=date('l, F d, o', strtotime($appointmentInformation->timefrom));?>, <br> 
                  <?=date('H:i A', strtotime($appointmentInformation->timefrom));?> to
                  <?=date('H:i A', strtotime($appointmentInformation->timeto));?> 
                </p>
                  <hr>
                <p>
                  <strong>Clinic location:</strong>
                </p>
              </div>            
              <div class="input-group">
              <label>On date&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
                <input required id="select-calendar-appointment" name="dateappointment" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($appointmentInformation->timefrom)) echo date('m/d/o', strtotime($appointmentInformation->timefrom)); else echo date('m/d/o'); ?>" title="Date for appointment" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the right format.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-appointment" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($appointmentInformation->timefrom)) echo date('m/d/o', strtotime($appointmentInformation->timefrom)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label><br>
              <label>From: &nbsp;&nbsp;&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input id="appointment-from" name="appointment-from" type="text" class="mask-time tootipper" value="<?php if (!empty($appointmentInformation->timefrom)) echo date('G:i', strtotime($appointmentInformation->timefrom)); else echo date('G:i');  ?>" title="Start time" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm."></label>
              <br>
              <label>To: &nbsp;&nbsp;&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input id="appointment-to" name="appointment-to" type="text" class="mask-time tootipper" value="<?php if (!empty($appointmentInformation->timeto)) echo date('G:i', strtotime($appointmentInformation->timeto)); else echo date('G:i');  ?>" title="End time" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm or you may click the calendar button on the right for easier selection"></label>
            </div>
           </section>
        </div>
        <div class="col-md-3">
          <section class="widget ">

              <input type="submit" name="button" id="button" class="btn btn-lg btn-success btn-block" value="Modify and Approve" />
              <a href="<?=base_url('appointments');?>" class="btn btn-lg btn-inverse btn-block" data-original-title="" title="">
                  Cancel
              </a>              

           </section>
        </div>
      </div>
    </div>
</div>
</form>