<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to your doctor</a></li>
        <li class="active">Set Appointment</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="pagetitle">
<h1>Set Appointment</h1>
</div><!--pagetitle--> 
<div class="maincontent">
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <p>&nbsp;</p>
            <p>Your appointment is now scheduled.</p>
            <p>
                Please wait for doctor's approval.  Please check your email regularly.
            </p>
           	    <a href="<?=base_url();?>appointmentsPatient/setAppointmentFromPatient?to=<?=$this->to;?>" class="btn btn-success btn-sm">Back to Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->lastname)); ?>
                        calendar</a>
        </div>
        	<div class="col-md-4">
                <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-user-md">&nbsp;</i>
                            Doctor Information
                        </h5>
                    </header>
                    <div class="body">
                    <?php foreach ($this->doctorInfo as $key): ?>
                        <h3>Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$key->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->lastname)); ?>
                        , MD</h3>
                    <?php endforeach; ?>
                    <h5>Specialty:</h5>
                    <?php if (!empty($this->doctorSpecialty)): ?>
                        <ul>
                            <?php foreach ($this->doctorSpecialty as $key): ?>
                                <li><a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$key->specialty_id;?>" class="doc-specialty"><?php echo $key->specialtyName; ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-envelope">&nbsp;</i>Send message to this doctor</a>
                   <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-check">&nbsp;</i>
                        Recommend this doctor</a>
                    </div>
                </section>
                <?php endif; ?>

               <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-calendar-o">&nbsp;</i>
                            Schedule Information
                        </h5>
                    </header>
                    <div class="body">
                    <p><strong>Type of schedule:  <?=ucwords(@$this->scheduleAppointable['appointments_settings']->typeName)?> </strong><br>
                        Average time per patient: <?=@$this->scheduleAppointable['appointments_settings']->averagetimeperpatient_min?> minutes<br>
                    </p>
                    </div>
                </section>
                <?php endif; ?>
        </div>
    </div>
</div>
</div>