<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to your doctor</a></li>
        <li class="active">Set Appointment</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="pagetitle">
<h1>Set Appointment</h1>
</div><!--pagetitle--> 
<div class="maincontent">
<div class="content container">
        <div class="row">
        	<div class="col-md-8">
                    <div class="row">
                        <div class="body no-margin">
                            <?php if ($this->patientAvail == TRUE): ?>
                                <p>&nbsp;</p>
                                <h3>Your schedule is full</h3>
                                <p>You are no longer available for this schedule.</p>
                            <?php else: ?>
                            <form action="" method="post" name="test" target="_self">
                            <p>&nbsp;</p>
                            <p>Type of appointment:
                                <br>
                            <select name="appointment-type-selected">
                            <?php foreach ($this->allAppointmentType as $key): ?>
                                <option value="<?=@$key->IDappointment_type;?>"><?=@$key->typeName;?></option>
                            <?php endforeach; ?>
                            </select>
                            </p>
                            <p>
                                <?php if (!empty($this->dateTo) && (!empty($this->date))): ?>
                                <?php 
                                    $theDateFrom = explode(' ', $this->timefrom);
                                    $theDateTo = explode(' ', $this->timeto);
                                ?>
                                    <?php if ($theDateFrom[0] == $theDateTo[0]): ?>
                                    <?php if (($theDateFrom[1]=='00:00:00') && ($theDateTo[1]=='00:00:00')): ?>
                                        Date: <?php echo date("F d, Y",strtotime($theDateFrom[0])); ?>
                                    <?php else: ?>
                                        Start time: <?php echo date("h:m A",strtotime($theDateFrom[1])); ?><br>
                                        End time: <?php echo date("h:m A",strtotime($theDateTo[1])); ?><br>
                                    <?php endif; ?>
                                    <?php else: ?>
                                        Start date: <?php echo date("h:m A",strtotime($theDateFrom[1])); ?><br>
                                        End date: <?php echo date("h:m A",strtotime($theDateTo[1])); ?><br>
                                    <?php endif; ?>
                                <?php else: ?>

                                <?php endif; ?>
                            </p>
                            <p>
                                Note: Your doctor will still need to approve this appointment.  The schedule may be changed by your doctor.
                            </p>
                            <p>
                                <input type="hidden" name="timefrom" value="<?=@$this->timefrom;?>" />
                                <input type="hidden" name="timeto" value="<?=@$this->timeto;?>" />
                                <input type="submit" name="continue-appointment" value="Continue" class="btn btn-danger btn-lg"/>
                               <a href="<?=base_url();?>appointmentsPatient/setAppointmentFromPatient?to=<?=$this->to;?>" class="btn btn-success btn-sm">Back to Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->firstname));?> 
                                <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->middlename), 0, 1)); ?>.
                                <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->lastname)); ?>
                                calendar</a>
                            </p>

                            </form>
                            <?php endif; ?>
                        </div>
           
                    </div>
                
        	</div>
        	<div class="col-md-4">
                <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-user-md">&nbsp;</i>
                            Doctor Information
                        </h5>
                    </header>
                    <div class="body">
                    <?php foreach ($this->doctorInfo as $key): ?>
                        <h3>Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$key->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->lastname)); ?>
                        , MD</h3>
                    <?php endforeach; ?>
                    <h5>Specialty:</h5>
                    <?php if (!empty($this->doctorSpecialty)): ?>
                        <ul>
                            <?php foreach ($this->doctorSpecialty as $key): ?>
                                <li><a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$key->specialty_id;?>" class="doc-specialty"><?php echo $key->specialtyName; ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-envelope">&nbsp;</i>Send message to this doctor</a>
                    <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-check">&nbsp;</i>
                        Recommend this doctor</a>
                    </div>
                </section>
                <?php endif; ?>    
            </div>
        </div>
</div>
</div>