<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to your doctor</a></li>
        <li class="active">Set Appointment</li>
  </ul>
</div><!--breadcrumbwidget-->
<script language="javascript" type="text/javascript">
jQuery('#external-events').find('div.external-event').each(function() {

        // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
        // it doesn't need to have a start or end
        var eventObject = {
            title: jQuery.trim(jQuery(this).text()) // use the element's text as the event title
        };

        // store the Event Object in the DOM element so we can get to it later
        jQuery(this).data('eventObject', eventObject);

        // make the event draggable using jQuery UI
        jQuery(this).draggable({
            zIndex: 999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });
jQuery(function(){
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        <?php 
        if (!empty($this->appointmentSlot))
        {
            echo 'var appointmentSlot = true;';
        }
        else
        {
            echo 'var appointmentSlot = false;';
        }
        ?>

        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        // var n = month[date.getMonth()];


        var calendar = jQuery('#calendar').fullCalendar({
        header: {

            left: 'prev',
            center: 'title',
            right: 'next'
        },

        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay) {
            if (appointmentSlot == false) {
                window.location.href = BASEURLL+"appointmentsPatient/setAppointmentFromPatientExact?to=<?php echo $this->to; ?>&datecal="+start+"&datecalto="+end;
            }

            
        },
        editable: true,
        droppable:true,

        drop: function(date, allDay) { // this function is called when something is dropped

            // retrieve the dropped element's stored Event Object
            var originalEventObject = jQuery(this).data('eventObject');

            // we need to copy it, so that multiple events don't have a reference to the same object
            var copiedEventObject = jQuery.extend({}, originalEventObject);

            // assign it the date that was reported
            copiedEventObject.start = date;
            copiedEventObject.allDay = allDay;

            // render the event on the calendar
            // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
            jQuery('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

            jQuery(this).remove();

        },
        // US Holidays
        events: [
            
            <?php 
            function eventColor($eventID, $avail = false)
            {
                if ($eventID == 1)
                {
                    if ($avail == true)
                    return "'rgba(255,0,0,.3)'";
                    else
                    return "'rgba(255,0,0,.1)'";
                }
                elseif($eventID == 2)
                {
                    if ($avail == true)
                    return "'rgba(0,255,0,.2)'";    
                    else
                    return "'rgba(0,255,0,.1)'";
                }
                elseif($eventID == 3)
                {
                    if ($avail == true)
                    return "'rgba(255, 182, 0, .3)'";
                    else
                    return "'rgba(255, 182, 0, .1)'";
                }
                elseif($eventID == 5)
                {
                    if ($avail == true)
                    return "'rgba(255, 0, 255, .3)'";
                    else
                    return "'rgba(255, 0, 255, .1)'";
                }
                else
                {
                    if ($avail == true)
                    return "'rgba(0,0,255,.5)'";
                    else
                    return "'rgba(0,0,255,.1)'";
                }
            }
            $countLoop = count($this->getDoctorAppointments);
            $count = 0;
            foreach ($this->getDoctorAppointments as $app) 
            {
                $allDay = false;
                if ($app->approved == true)
                {
                    $timefrom = explode(' ', $app->timefrom);
                    $timefromDate = explode('-', $timefrom[0]);
                    $timefromTime = explode(':', $timefrom[1]);
                    $timeto = explode(' ', $app->timeto);
                    $timetoDate = explode('-', $timeto[0]);
                    $timetoTime = explode(':', $timeto[1]);
                    $monthFrom = $timefromDate[1]-1;
                    $monthTo = $timetoDate[1]-1;
                    $allDay = $app->allday;

                    echo "{
                    title: 'Doctor Not Available',
                    color: ".eventColor($app->appointment_type_IDappointment_type).",
                    start: new Date(".$timefromDate[0].", ".$monthFrom.", ".$timefromDate[2].",".$timefromTime[0].",".$timefromTime[1]."),
                    end: new Date(".$timetoDate[0].", ".$monthTo.", ".$timetoDate[2].",".$timetoTime[0].",".$timetoTime[1]."),
                    allDay: ".$allDay.",
                    editable: false
                    }"; 

                    if ((++$count != $countLoop) || (!empty($this->appointmentSlot)) )
                    {
                        echo ',';
                    }
                }
            }
            $count = 0;
            if (!empty($this->appointmentSlot))
            {
                $currentDate = date('Y-m-d');
                $date = new DateTime($currentDate);
                while ($count < 365)
                {
                    # get day of the week
                    $slot = $this->appointmentsmodel->searchSlotDay($this->appointmentSlot, $date->format('l'));
                    if (!empty($slot))
                    {
                        foreach ($slot as $key) 
                        {
                            $timeFrom = explode(':', $key->timefrom);
                            $timeTo = explode(':', $key->timeto);
                            echo "{
                            title: ' to ".$timeTo[0].':'.$timeTo[1].'\n every '.$date->format('l')."',
                            start: new Date(y, m, d+".$count.",".$timeFrom[0].",".$timeFrom[1]."),
                            end: new Date(y, m, d+".$count.",".$timeTo[0].",".$timeTo[1]."),
                            color: ".eventColor($key->IDappointment_type, true).",
                            allDay: false,
                            editable: false
                            }";

                            if ($count <= 364) 
                            {
                                echo ',';
                            }
                        }
                    }
                    $date->add(new DateInterval('P1D'));
                    $count++;
                }
            }
            ?>
           
        ],

        eventClick: function(event) {
            // opens events in a popup window
            if (event.url){
                window.open(event.url, 'gcalevent', 'width=700,height=600');
                return false
            } else {
                var $modal = jQuery("#myModal"),
                    $modalLabel = jQuery("#myModalLabel");
                $modalLabel.html(event.title);
                $modal.find(".modal-body p").html(function(){
                    if (event.allDay){
                        return "All day event"
                    } else {
                        if (event.title == "Doctor Not Available") {
                            return 'This slot is already taken'+"<br>Start date: "+event.start.getFullYear()+"-"+month[event.start.getMonth()]+"-"+event.start.getDate()+"@ "+ event.start.getHours() + ":" + (event.start.getMinutes() == 0 ? "00" : event.start.getMinutes()) + "</strong></br>End at: "+event.start.getFullYear()+"-"+month[event.start.getMonth()]+"-"+event.start.getDate()+"@ "+event.end.getHours()+":"+event.end.getMinutes()
                        }
                        else {
                        return "Start Date: "+event.start.getFullYear()+"-"+month[event.start.getMonth()]+"-"+event.start.getDate()+" "+ event.start.getHours() + ":" + (event.start.getMinutes() == 0 ? "00" : event.start.getMinutes()) + "</strong></br>"
                            + (event.end == null ? "" : "End At: <strong>" +event.start.getFullYear()+"-"+month[event.start.getMonth()]+"-"+event.start.getDate()+" "+ event.end.getHours() + ":" + (event.end.getMinutes() == 0 ? "00" : event.end.getMinutes()) + "</strong>")+"<br><br><br><a class='btn btn-primary' href='<?php echo base_url().'appointmentsPatient/setAppointmentFromPatientExact?to='.$this->to.'&date=';?>"+event.start.getFullYear()+"-"+(event.start.getMonth()+1)+"-"+event.start.getDate()+"-"+event.start.getHours()+":"+event.start.getMinutes()+"'>I'm interested to set an appointment on this office hours slot.</a>"
                        }
                    }
                }());
                $modal.modal('show');
            }
        }

    });
jQuery("#calendar-switcher").find("label").click(function(){
        calendar.fullCalendar( 'changeView', jQuery(this).find('input').val() )
    });
    jQuery("#today").click(function(){
        calendar.fullCalendar('today');
    });
});
</script>
<div class="pagetitle">
<h1>Set Appointment</h1>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="content container">
        <div class="row">
            <div class="col-md-8">
                <section class="widget">
                    <header>
                        <h4>
                            
                            &nbsp;
                        </h4>
                        <div class="actions">
                            <button id="today" type="button" class="btn btn-sm btn-warning">
                                Today
                            </button>
                            <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-success active" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="month"> Month
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaWeek"> Week
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaDay"> Day
                                </label>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        <div id="calendar" class="calendar"> </div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-user-md">&nbsp;</i>
                            Doctor Information
                        </h5>
                    </header>
                    <div class="body">
                    <?php foreach ($this->doctorInfo as $key): ?>
                        <h3>Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$key->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->lastname)); ?>
                        , MD</h3>
                    <?php endforeach; ?>
                    <h5>Specialty:</h5>
                    <?php if (!empty($this->doctorSpecialty)): ?>
                        <ul>
                            <?php foreach ($this->doctorSpecialty as $key): ?>
                                <li><a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$key->specialty_id;?>" class="doc-specialty"><?php echo $key->specialtyName; ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-envelope">&nbsp;</i>Send message to this doctor</a>
                    <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-check">&nbsp;</i>
                        Recommend this doctor</a>
                    </div>
                </section>
                <?php endif; ?>
                <?php if (!empty($this->appointmentTypes)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-calendar">&nbsp;</i>
                            Type of appointment accepted
                        </h5>
                    </header>
                    <div class="body">
                        <table  width="100%">
                            <thead>
                                <td>Color</td>
                                <td>Type Name</td>
                            </thead>
                        <?php foreach ($this->appointmentTypes as $key): ?>
                            <tr>
                                <?php if ($key->IDappointment_type == 1): ?>
                                <td><i class="cal-square red-square"</td>
                                <?php elseif ($key->IDappointment_type == 2): ?>
                                <td><i class="cal-square green-square"</td>
                                <?php elseif ($key->IDappointment_type == 3): ?>
                                <td><i class="cal-square orange-square"</td>
                                <?php elseif ($key->IDappointment_type == 5): ?>
                                <td><i class="cal-square purple-square"</td>
                                <?php else: ?>
                                <td><i class="cal-square blue-square"</td>
                                <?php endif; ?>
                                <td><?php echo ucwords($key->typeName); ?></td>

                            </tr>
                        <?php endforeach; ?>
                        </table>
                        <p>Note: Please click the colorful slots on the calendar to choose.</p>
                    </div>
                </section>
                <?php endif; ?>
                <?php if (!empty($this->clinicInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-medkit">&nbsp;</i>
                            Clinic information
                        </h5>
                    </header>
                    <div class="body">                        
                    <?php foreach ($this->clinicInfo as $key): ?>
                        <?php if (!empty($key['locationname'])): ?>
                            <h4><?php echo $key['locationname']; ?></h4>
                            <?php echo ((!empty($key['street'])) ?  ucwords($key['street']) : ''); ?>
                            <?php echo ((!empty($key['city'])) ? ', '.ucwords($key['city']).' city'  : ''); ?>
                            <?php echo ((!empty($key['state']))  ? ', <br>'.ucwords($key['state']) : ''); ?>
                            <?php echo ((!empty($key['country']))  ? ', '.ucwords($key['country']) : ''); ?>
                            <?php echo ((!empty($key['postcode']))  ? ', '.ucwords($key['postcode']) : ''); ?>
                            <br><br>
                        <?php else: ?>
                            <?php echo ((!empty($key['street'])) ?  ucwords($key['street']) : ''); ?>
                            <?php echo ((!empty($key['city'])) ? ', '.ucwords($key['city']).' city'  : ''); ?>
                            <?php echo ((!empty($key['state']))  ? ', <br>'.ucwords($key['state']) : ''); ?>
                            <?php echo ((!empty($key['country']))  ? ', '.ucwords($key['country']) : ''); ?>
                            <?php echo ((!empty($key['postcode']))  ? ', '.ucwords($key['postcode']) : ''); ?>
                            <br><br>
                        <?php endif; ?>    
                    <?php endforeach; ?>
                    </div>
                </section>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Set Appointment?</h4>
            </div>
            <div class="modal-body">
                <legend class="section">
                    Slot information:
                </legend>
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php if (empty($this->appointmentSlot)): ?>
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Set Appointment?</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-error fade in" style="color: black;">
                    The doctor was not able to set recommended appointment hours.  Yet, you may still set appointment to this doctors but doctors may set a different time they may feel comfortable.
                </div>
                <div class="control-group">
                    <label for="event-name" class="control-label">Event name</label>
                    <div class="controls">
                        <p>&nbsp;</p>
                        <input type="text" id="event-name" name="name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<?php endif; ?>