<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to your doctor</a></li>
        <li class="active">Set Appointment</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="pagetitle">
<h1>Set Appointment</h1>
</div><!--pagetitle--> 
<div class="maincontent">
<div class="content container">
        <div class="row">
        	<div class="col-md-8">

                    <div class="row">
                        <legend class="section">
                    Please select schedule that fits you.
                        </legend>
                        <div class="body no-margin">
                            <?php if ($this->patientAvail == TRUE): ?>
                                <h3>Your schedule seems full</h3>
                                <p>You may not be able to commit the schedule because you already set schedule on this date.</p>
                                <p>&nbsp;</p>
                            <?php endif; ?>
                            <?php 
                                $errorReturn = validation_errors();
                            ?>
                            <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
                            <div class="alert alert-block alert-error fade in">
                            <?php
                              echo $errorMessage;
                              echo validation_errors(); 
                            ?>
                            </div>
                            <?php endif; ?>
                            <?php  if (!empty($this->temporarySchedule)): ?>
                                <?php foreach ($this->temporarySchedule as $key): ?>
                                    <section class="search-result" style="cursor: default;">
                                        <?php 
                                            $timeFromText = explode(' ',$key['timefrom']);
                                            $timeFromText = date('h:i A', strtotime($timeFromText[1]));
                                            $timeToText = explode(' ', $key['timeto']);
                                            $timeToText = date('h:i A', strtotime($timeToText[1]));
                                        ?>
                                        <h4><?=@$timeFromText;?> to <?=@$timeToText;?></h4>
                                        <form action="" method="post" name="test" target="_self">
                                            <input type="hidden" name="timefrom" value="<?=@$key['timefrom'];?>" />
                                            <input type="hidden" name="timeto" value="<?=@$key['timeto'];?>" />
                                        <div class="controls form-group">
                                    <?php
                                        $countClinic = count($this->clinicInfoExactSchedule); 
                                    ?>
                                    <?php if($countClinic == 1): ?>
                                        <input name="location-name" id="location-name" value="<?=@$this->clinicInfoExactSchedule[0]->IDlocation_info ?>_<?=@$this->clinicInfoExactSchedule[0]->IDemr_addresses?>" type="hidden" />
                                    <?php else: ?>
                                        <label for="location-name">
                                            Please select location:
                                        </label><br>
                                        <select name="location-name" id="location-name" class="selectpicker" data-style="btn-primary btn-lg">                                        
                                        <?php foreach ($this->clinicInfoExactSchedule as $clinic): ?>
                                            <option value="<?=@$clinic->IDlocation_info ?>_<?=@$clinic->IDemr_addresses?>"><?php echo $clinic->locationname; ?></option>
                                        <?php endforeach; ?>
                                        </select>
                                    <?php endif; ?>
                                        </div>
                                        <input type="submit" name="submit-schedule" value="Select this schedule" class="btn-danger btn-sm" />
                                        </form>
                                    </section>
                                <?php endforeach; ?>                                
                            <?php endif; ?>
                            

                        </div>
           
                    </div>
                <a href="<?=base_url();?>appointmentsPatient/setAppointmentFromPatient?to=<?=$this->to;?>" class="btn btn-success btn-sm">Back to Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->lastname)); ?>
                        calendar</a>
        	</div>
        	<div class="col-md-4">
                <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-user-md">&nbsp;</i>
                            Doctor Information
                        </h5>
                    </header>
                    <div class="body">
                    <?php foreach ($this->doctorInfo as $key): ?>
                        <h3>Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$key->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->lastname)); ?>
                        , MD</h3>
                    <?php endforeach; ?>
                    <h5>Specialty:</h5>
                    <?php if (!empty($this->doctorSpecialty)): ?>
                        <ul>
                            <?php foreach ($this->doctorSpecialty as $key): ?>
                                <li><a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$key->specialty_id;?>" class="doc-specialty"><?php echo $key->specialtyName; ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-envelope">&nbsp;</i>Send message to this doctor</a>
                    <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$this->to;?>" class="btn btn-block btn-info"><i class="fa fa-check">&nbsp;</i>
                        Recommend this doctor</a>
                    </div>
                </section>
                <?php endif; ?>

               <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-calendar-o">&nbsp;</i>
                            Schedule Information
                        </h5>
                    </header>
                    <div class="body">
                    <p><strong>Type of schedule:  <?=ucwords(@$this->scheduleAppointable['appointments_settings']->typeName)?> </strong><br>
                        Average time per patient: <?=@$this->scheduleAppointable['appointments_settings']->averagetimeperpatient_min?> minutes<br>
                    </p>
                    </div>
                </section>
                <?php endif; ?>

                
                <?php if (!empty($this->clinicInfoExactSchedule)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-medkit">&nbsp;</i>
                            Clinic information for this schedule
                        </h5>
                    </header>
                    <div class="body">                        
                    <?php foreach ($this->clinicInfoExactSchedule as $key): ?>
                        <?php if (!empty($key->locationname)): ?>
                            <h4 style="text-decoration: underline;"><?php echo ucwords($key->locationname); ?></h4>
                            <?php echo ((!empty($key->street)) ?  ucwords($key->street) : ''); ?>
                            <?php echo ((!empty($key->city)) ? ', '.ucwords($key->city).' city'  : ''); ?>
                            <?php echo ((!empty($key->state))  ? ', '.ucwords($key->state) : ''); ?>
                            <?php echo ((!empty($key->country))  ? ', '.ucwords($key->country) : ''); ?>
                            <?php echo ((!empty($key->postcode))  ? ', '.ucwords($key->postcode) : ''); ?>
                            <br>
                            <?php echo ((!empty($key->website))  ? '<a href="">'.$key->website.'</a>' : ''); ?>
                            <br><button type="button" class="btn btn-info btn-sm" data-placement="top" data-original-title=".btn .btn-primary .btn-sm">
                                        View clinic information
                                    </button>
                            <br><br>
                        <?php else: ?>
                            <?php echo ((!empty($key->street)) ?  ucwords($key->street) : ''); ?>
                            <?php echo ((!empty($key->city)) ? ', '.ucwords($key->city).' city'  : ''); ?>
                            <?php echo ((!empty($key->state))  ? ', <br>'.ucwords($key->state) : ''); ?>
                            <?php echo ((!empty($key->country))  ? ', '.ucwords($key->country) : ''); ?>
                            <?php echo ((!empty($key->postcode))  ? ', '.ucwords($key->postcode) : ''); ?>
                            <br><br>
                        <?php endif; ?>    
                    <?php endforeach; ?>
                    </div>
                </section>
                <?php endif; ?>
            </div>
        </div>
</div>
</div>