<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 99999999 !important;
}
ul.ui-autocomplete {
    z-index: 99999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* reaction and treatment */
jQuery("#addmoreaction").click(function(e)
{
  var countreaction = parseInt(jQuery("#countreaction").val()) + 1;
  var DOMreaction = countreaction-1;
  jQuery('#reaction'+DOMreaction).after('<input name="reaction'+countreaction+'" placeholder="Reaction '+countreaction+'. Example: Difficulty breathing, Nosebleed, back pain" id="reaction'+countreaction+'" type="text" value="" class="select-block-level conditionOrSymptom">');
  jQuery("#countreaction").val(countreaction);
  jQuery( ".conditionOrSymptom" ).autocomplete({
    autoFocus: true,
    source: function( request, response ) {
      jQuery.ajax({
        // url: "http://gd.geobytes.com/AutoCompleteCity",
        dataType: "jsonp",
        url: BASEURLL+"problem/displayProblems",
        // dataType: "json",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 3,
    select: function( event, ui ) {
      // log( ui.item ?
      //   "Selected: " + ui.item.label :
      //   "Nothing selected, input was " + this.value);
    },
    open: function() {
      jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

}); 
jQuery("#addmoretreatment").click(function(e)
{
  var counttreatment = parseInt(jQuery("#counttreatment").val()) + 1;
  var DOMreaction = counttreatment-1;
  jQuery('#medication'+DOMreaction).after('<input name="medication'+counttreatment+'" placeholder="Treatment '+counttreatment+'. Example: Aspirin, Glyburide, Multivitamin" id="medication'+counttreatment+'" type="text" value="" class="select-block-level meds">');
  jQuery("#counttreatment").val(counttreatment);
  jQuery( ".meds" ).autocomplete({
    autoFocus: true,
    source: function( request, response ) {
      jQuery.ajax({
        // url: "http://gd.geobytes.com/AutoCompleteCity",
        dataType: "jsonp",
        url: BASEURLL+"medication/displayMedication",
        // dataType: "json",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 3,
    select: function( event, ui ) {
      // log( ui.item ?
      //   "Selected: " + ui.item.label :
      //   "Nothing selected, input was " + this.value);
    },
    open: function() {
      jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

}); 

/* datepicker */
jQuery(".masked-date").mask("99/99/9999");
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-dateexperienced');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateexperienced').val($btnCalendar.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });

/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#allergens" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"allergy/displayList",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

jQuery( ".conditionOrSymptom" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"problem/displayProblems",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

jQuery( ".meds" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"medication/displayMedication",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});
</script>
<div id="medFormAdvanced" class="row" style="width: 100%;" >
  <div class="row col-md-8 row" >
    <div class="col-md-6" >
		<div class="input-group">
          Appointment date: <br>
      <label> (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
        <input required id="select-calendar-dateexperienced" name="dateexperienced" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->allergenInfo['dateexperienced'])) echo date('m/d/o', strtotime($this->allergenInfo['dateexperienced'])); else echo date('m/d/o'); ?>" title="Date problem started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
      <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-dateexperienced" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->datestarted)) echo date('m/d/o', strtotime($this->datestarted)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
      <i class="fa fa-calendar"></i>  </a></span></label>
    </div>
		</div>
    <div class"col-md-6" >
      <div class="input-group">
            <label>Time of appointment:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timestarted" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->problemInformation['dateStart'])) echo date('H:i', strtotime($this->problemInformation['dateStart'])); else echo date('H:i'); ?>" title="Time started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
      </div>
      <div class="input-group">
            <label>Type of appointment:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timestarted" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->problemInformation['dateStart'])) echo date('H:i', strtotime($this->problemInformation['dateStart'])); else echo date('H:i'); ?>" title="Time started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
      </div>
    </div><br><br>
    <div class="row " style="width: 90%;">
      <label class="select-block-level">Notes for patient: <i class="tootipper fa fa-question-circle"></i>
          <textarea placeholder="Notes" name="notes" required class="tootipper select-block-level" id="notes"  title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some notes to help you, your staff and other attending healthcare professionals" ><?=@$this->problemInformation['notes'];?></textarea>
    </label>
    <div class="miscs">Example: Add notes from a doctor&#39;s visit, record how you feel today, and so on.</div>
    </div>
	</div>
	<section class="col-md-4 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->allergenInfo['doctor-notes'];?></textarea>
    </label>
  </section> 
</div>