<section style="margin-top: 35px; background: rgba(255,255,255,.4); padding: 5px;" id="section-schedule-<?=@$this->countSchedule?>">
<script type="text/javascript">
jQuery('#remove-schedule<?=@$this->countSchedule?>').on("click", function()
{
  var countSchedule = jQuery('#count-schedule').val();
  jQuery('.additional-section<?=@$this->countSchedule?>').remove();
  countSchedule--;
  jQuery('#count-schedule').val(countSchedule);
});
jQuery(".mask-time").mask("99:99");
jQuery('.tootipper').popover();
</script>
    <button type="button" data-countschedule="<?=@$this->countSchedule?>" class="close" data-dismiss="modal" aria-hidden="true" id="remove-schedule<?=@$this->countSchedule?>" >X&nbsp;&nbsp;</button>
    <label for="dayoftheweek" class="col-md-2">Day of the week*:</label>
      <select name="dayoftheweek[]" id="dayoftheweek" class="tootipper"  placeholder="Day of the week"  data-trigger="hover" title="Day of the week" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Day of the week" >
        <option>sunday</option>
        <option>monday</option>
        <option>tuesday</option>
        <option>wednesday</option>
        <option>thursday</option>
        <option>friday</option>
        <option>saturday</option>
      </select>
    
    <br><br>
    <label for="appointmenttype" class="col-md-2">Appointment type*:</label>
     <select name="appointmenttype[]" class="appointmenttypesclass tootipper"  placeholder="Appointment type"  data-trigger="hover" title="Appointment type" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Appointment type">
      <?php foreach ($this->specificAppointmentType as $appSettings): ?>
        <option value="<?=@$appSettings->type_IDappointment_type?>"><?=ucwords(@$appSettings->typeName);?></option>
      <?php endforeach; ?>
      </select>

    <br><br>

     <label for="timefrom" class="col-md-2">Time from *:</label>
      <input type="text" name="timefrom[]" id="timefrom"  class='col-sm-3 mask-time tootipper' placeholder="hh:mm" title="Time from" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Time from format hh:mm in military time. Example: 13:00 is 1:00 P.M." required >
    <br><br>
    <label for="timeto" class="col-md-2">Time to *:</label>
      <input type="text" name="timeto[]" id="timeto" class='col-sm-3 mask-time tootipper' placeholder="hh:mm" title="Time to" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Time to format hh:mm in military time. Example: 17:00 is 5:00 P.M." required >
    <br><br>
    <label for="appointmentdescription" class="col-md-2">Description:<br></label>
      <input type="text" name="appointmentdescription[]"  id="appointmentdescription" class='col-sm-3 tootipper' placeholder="Description" title="Description" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Just some short description for this schedule." >
    <br><br>
</section>