<script src="<?=base_url();?>public/js/jquery-ui-1.10.4.custom.min.js"></script>


<style>
.widget
{
    background-color: rgba(255,255,255,0.3);
}

section
{
    color: #000000 !important;
}

.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  display: 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 1100 !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}
legend
{
  font-size: 15px;
  color: #000000;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
select
{
  font-size: 200%;
}
</style>

<script type="text/javascript">
jQuery("#locationType").ready(function() 
{

  jQuery( "#locationType" ).change(function () 
  {
    var str = "";
    jQuery( "#locationType option:selected" ).each(function() 
    {
      var locationtypes = $( "#locationType option:selected" ).val();
      if (locationtypes == 0)
      {
        jQuery('#locationtypelabel').html('Location Type:<br><input type="text" name="locationType" id="locationType"  placeholder="location type" class="select-block-level"> ');
      }
    });   
  }).change();
});
jQuery(document).ready(function() 
{
jQuery('.add-another-clinic-location-schedule').on( "click", function()
{
  var countSchedule = jQuery('#count-schedule').val();
  <?php if (!empty($this->IDappointments_settings)): ?>
  var appointmentsettings = <?=$this->IDappointments_settings?>;
  <?php else: ?>
  var appointmentsettings = jQuery( "#appointment-settings option:selected" ).val();
  <?php endif;?>
  countSchedule++;
  jQuery('#count-schedule').val(countSchedule);
  jQuery('.add-another-clinic-location-schedule').before('<div class="additional-section'+countSchedule+'">&nbsp;</div>');
  jQuery('.additional-section'+countSchedule).html('<i class="fa fa-spinner fa-spin fa-large"></i>&nbsp;&nbsp; Loading content...');
  jQuery('.additional-section'+countSchedule).load(BASEURLL+'appointments/displayClinicLocationInput?IDappointments_settings='+appointmentsettings+'&additional-section='+countSchedule); 
});

  /* add another buttons */
jQuery('#addanotheremail').on( "click", function()
{
  jQuery('#addanotheremail').before('<hr><label for="emailaddress" class="select-block-level">Email address</label>    <input type="text" name="emailaddress[]"  class="select-block-level tootipper integer" placeholder="email address" title="Email address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Email address, example: email@email.com." >  <br>  <label for="emaildescription" class="select-block-level">Contact person</label>    <input type="text" name="emaildescription[]"   class="select-block-level tootipper integer" placeholder="contact person" title="Contact person" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Name of contact person of the email above.">');
});

jQuery('#addanothernumber').on( "click", function()
{
  jQuery('#addanothernumber').before('<hr><label for="countryCode" class="select-block-level">Country Code:</label>      <input type="text" name="countryCode[]"  class="select-block-level tootipper integer"  placeholder="Country code"  data-trigger="hover" title="Country code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Country code. Example: +63">    <br>   <label for="areaCode" class="select-block-level">Area code:</label>      <input type="text" name="areaCode[]"  class="select-block-level tootipper integer"  placeholder="Area code"  data-trigger="hover" title="Area code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Area code. Example: (032)">    <br>    <label for="phoneNumber" class="select-block-level">Phone number:</label>      <input type="text" name="phoneNumber[]" id="phoneNumber"  class=select-block-level tootipper integer"  placeholder="Phone number"  data-trigger="hover" title="Phone number" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Phone number. Example: 123-4567">');
  jQuery(".integer").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) || 
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
});

<?php if (empty($this->IDappointments_settings)): ?>
$( "#appointment-settings" ).change(function () {
    var str = "";
    $( "#appointment-settings option:selected" ).each(function() 
    {
      var appointmentsettings = $( "#appointment-settings option:selected" ).val();
      jQuery('.appointmenttypesclass').load(BASEURLL+'appointments/displayAppointmentType?IDappointments_settings='+appointmentsettings);
    });   
  }).change();
<?php endif; ?>
  jQuery(".integer").keydown(function (e) {
      // Allow: backspace, delete, tab, escape, enter and .
      if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
           // Allow: Ctrl+A
          (e.keyCode == 65 && e.ctrlKey === true) || 
           // Allow: home, end, left, right
          (e.keyCode >= 35 && e.keyCode <= 39)) {
               // let it happen, don't do anything
               return;
      }
      // Ensure that it is a number and stop the keypress
      if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
          e.preventDefault();
      }
  });
  jQuery(".mask-time").mask("99:99");
  jQuery('.tootipper').popover();
});
</script>
<?php if (!empty($this->IDappointments_settings)): ?>
  <h3>Step 3 of 3, Clinic Settings</h3>
<?php endif;?>
<section class="widget"><!-- clinic information widget -->
<form action="" method="post" enctype="multipart/form-data" name="appointment-settings" target="_self">
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
      <input class="btn btn-success btn-sm pull-right margin-top-two" type="submit" name="done-top" id="done-top" value="Done">
      <?php if (!empty($this->IDappointments_settings)): ?>
      <a href="<?=base_url();?>appointments/settingsAppointmentType?IDappointments_settings=<?=@$this->IDappointments_settings?>" type="button" class="btn btn-danger btn-sm pull-right margin-top-two" ><i class="fa fa-step-backward"></i>&nbsp;&nbsp;Previous</a>
      <?php endif; ?>
    <ul id="myTabright" class="nav nav-tabs">
          <li class="active"><a href="#clinic-information" data-toggle="tab">Location settings</a></li>
    </ul>
    </header>
    <div id="myTabContentright" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="clinic-information">
          <!-- tab pane clinic information -->
          <div class="content container">
  <div class="row">
    <?php if (!empty($this->errorMessage)): ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <?=@$this->errorMessage;?><br>
      <strong>Note: </strong>&#42; is a required field.
    </div>
    <?php endif; ?>
    <?php if (!$_POST): ?>
    <legend>
      Note: These settings will help you and your patient.  Please mind the required fields (&#42;).
    </legend>
    <?php endif;?>

  <div class="col-xs-6">
     <label for="appointment-settings" class="select-block-level">Appointment settings *:</label>
       <?php if (empty($this->IDappointments_settings)): ?>
       <select name="appointment-settings" id="appointment-settings" class="select-block-level">
          <?php foreach ($this->appointmentSettings as $appSettings): ?>
            <option value="<?=@$appSettings->IDappointments_settings?>" <?php echo (($appSettings->IDappointments_settings == $this->IDappointments_settings) ? 'selected="selected"' : ''); ?>><?=@$appSettings->settingsname;?></option>
          <?php endforeach; ?>
       </select>
      <?php else: ?>
        <?=@$this->appointmentSettingsDetail->settingsname;?>
        <input type="hidden" name="appointment-settings" id="apointment-settings" value="<?=@$this->IDappointments_settings;?>" />
      <?php endif ?>
    <br><br>
    <label for="location-name" class="select-block-level">Location Name *:</label>
      <input type="text" name="location-name" id="location-name" class='select-block-level tootipper' placeholder="Location name" title="Location name" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some short name to describe your location.  Example: Talisay City, Cebu office"  value="<?=@$this->locationname;?>" required >
    <br><br>
    <label for="website" class="select-block-level">Website (you can use your twitter, fb or any online profile):</label>
      <input type="text" name="website" id="website" class='select-block-level tootipper' placeholder="http://www.your-website.com" title="Clinic website" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Website url or link but optional. Example: http://www.your-website.com.  With or without http:// accepted."  value="<?=@$this->website?>" >
    <br><br>
    <div class="row">
    <label for="numberOfDoctors" class="col-md-4">Number of Doctors *:<br>
      <input type="text" name="numberOfDoctors" id="numberOfDoctors" class="select-block-level tootipper integer" placeholder="# of doctors" title="Number of doctors" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Number of doctors. Example: 4 doctors."  value="<?=@$this->numberOfDoctors;?>" required ></label>
    <label for="locationType" class="col-md-8" id="locationtypelabel">Location Type *:<br>
    <?php if (!empty($this->locationTypes)): ?>
      <input type="text" name="locationType" id="locationType" class="select-block-level tootipper integer" placeholder="Location type" title="Location type" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Location type.  Example: Clinic, Hospital or etc"  value="<?=@$this->locationTypes; ?>" required  >
    <?php else: ?>
    <select name="locationType" id="locationType" class="select-block-level  tootipper" placeholder="Location type, Example: Clinic" title="Location type" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Location type.  Example: Clinic, Hospital or etc"    >
        <?php foreach ($this->locationType as $locationtype): ?>
         <option <?php echo (($locationtype->locationtype == $this->IDappointments_settings) ? 'selected="selected"' : ''); ?>><?=@$locationtype->locationtype;?></option>
         <?php endforeach; ?>
         <option value="0">Not on the list</option>
      </select>
    <?php endif; ?>
    </label>
    </div>
    <br>
<div class="row">
<div class="col-md-8">
  <?php if (!empty($this->emailaddress)): ?>
    <?php $countloop = 0; ?>
    <?php foreach ($this->emailaddress as $value): ?>
      <?php if (!empty($value) || $countloop==0): ?>
      <label for="emailaddress" class="select-block-level">Email address</label>
        <input type="text" name="emailaddress[]"  class="select-block-level tootipper " placeholder="email address" title="Email address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Email address, example: email@email.com." value="<?=@$value?>">
      <br>
      <label for="emaildescription" class="select-block-level">Contact person</label>
        <input type="text" name="emaildescription[]"   class="select-block-level tootipper " placeholder="contact person" title="Contact person" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Name of contact person of the email above." value="<?=@$this->emaildescription[$countloop];?>">
      <?php endif; ?>
      <?php $countloop++; ?>
    <?php endforeach; ?>
  <?php else: ?>
  <label for="emailaddress" class="select-block-level">Email address</label>
    <input type="text" name="emailaddress[]"  class="select-block-level tootipper " placeholder="email address" title="Email address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Email address, example: email@email.com." >
  <br>
  <label for="emaildescription" class="select-block-level">Contact person</label>
    <input type="text" name="emaildescription[]"   class="select-block-level tootipper " placeholder="contact person" title="Contact person" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Name of contact person of the email above.">
  <?php endif; ?>

  <center><a href="javascript:void(0);" id="addanotheremail" class="btn btn-primary btn-sm tootipper" data-trigger="hover" title="Add another email address." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another email.">Add another email</a>&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover" title="Add another email address." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another email."></i></center>
  
</div>
<div class="col-md-4 row">
    <?php if(!empty($this->phoneNumber)) : ?>
    <?php $countloop = 0; ?>
    <?php foreach ($this->phoneNumber as $phoneval): ?>
      <?php if (!empty($phoneval) || $countloop==0): ?>
    <label for="countryCode" class="select-block-level">Country Code:</label>
      <input type="text" name="countryCode[]" class="select-block-level tootipper integer"  placeholder="+63"  data-trigger="hover" title="Country code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Country code. Example: +63" value="<?=@$this->countryCode[$countloop]?>">
    <br>
    <label for="areaCode" class="select-block-level">Area code:</label>
      <input type="text" name="areaCode[]" class="select-block-level tootipper integer"  placeholder="(032)"  data-trigger="hover" title="Area code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Area code. Example: (032)" value="<?=@$this->areaCode[$countloop]?>">
    <br>
    <label for="phoneNumber" class="select-block-level">Phone number:</label>
      <input type="text" name="phoneNumber[]"  class="select-block-level tootipper integer"  placeholder="12345678"  data-trigger="hover" title="Phone number" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Phone number. Example: 123-4567"value="<?=@$phoneval?>">
      <?php endif; ?>
      <?php $countloop++; ?>
    <?php endforeach; ?>
    <?php else: ?>
     <label for="countryCode" class="select-block-level">Country Code:</label>
      <input type="text" name="countryCode[]" class="select-block-level tootipper integer"  placeholder="+63"  data-trigger="hover" title="Country code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Country code. Example: +63" value="<?=@$this->countryCode[$countloop]?>">
    <br>
    <label for="areaCode" class="select-block-level">Area code:</label>
      <input type="text" name="areaCode[]" class="select-block-level tootipper integer"  placeholder="(032)"  data-trigger="hover" title="Area code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Area code. Example: (032)" value="<?=@$this->areaCode[$countloop]?>">
    <br>
    <label for="phoneNumber" class="select-block-level">Phone number:</label>
      <input type="text" name="phoneNumber[]"  class="select-block-level tootipper integer"  placeholder="12345678"  data-trigger="hover" title="Phone number" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Phone number. Example: 123-4567"value="<?=@$phoneval?>">
    <?php endif; ?>
    <center><a href="javascript:void(0);" id="addanothernumber" class="btn btn-primary btn-sm tootipper" data-trigger="hover" title="Add another contact number." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another contact number.">Add number</a>&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover" title="Add another contact number." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another contact number."></i></center>
</div>
</div>
  </div>
  <div class="col-xs-6">
    <label for="street" class="select-block-level">Street *:</label>
      <input type="text" name="street" id="street" class="select-block-level tootipper"  placeholder="Street address"  data-trigger="hover" title="Street address" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Street address" value="<?=@$this->street;?>" required>
    <br><br>
    <label for="city" class="select-block-level">City or Municipality *:</label>
      <input type="text" name="city" id="city"  class="select-block-level tootipper"  placeholder="City or municipality"  data-trigger="hover" title="City or municipality" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="City or municipality." value="<?=@$this->city;?>" required>
    <br><br>
    <label for="state" class="select-block-level">State or Province *:</label>
      <input type="text" name="state" id="state"  class="select-block-level tootipper"  placeholder="State or Province"  data-trigger="hover" title="State or Province" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="State or Province" value="<?=@$this->state;?>" required>
    <br><br>
    <label for="country" class="select-block-level">Country *:</label>
      <input type="text" name="country" id="country"  class="select-block-level  tootipper"  placeholder="Country"  data-trigger="hover" title="Country" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Country" value="<?=@$this->country;?>" required>
    <br><br>
    <label for="postalcode" class="select-block-level">Postal or Zip Code *:</label>
      <input type="text" name="postalcode" id="postalcode"  class="select-block-level  tootipper"  placeholder="Postal or Zip Code"  data-trigger="hover" title="Postal or Zip Code" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Postal or Zip Code" value="<?=@$this->postalcode?>" required>
    <br><br>
</div>
</div>
  <h3>Appointment Schedule</h3>
  <?php if (!empty($this->extraError)): ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <?=@$this->extraError;?><br>
      <strong>Note: </strong>&#42; is a required field.
    </div>
    <?php endif; ?>
  <?php 
    if (empty($this->countschedule))
    {
      $this->countschedule = 1;
    }
  ?>
  <?php for($x=0; $x<=($this->countschedule-1); $x++): ?>
<div class="additional-section<?=(@$x+1)?>">
  <section style="margin-top: 35px; background: rgba(255,255,255,.4); padding: 5px;" id="section-schedule-<?=(@$x+1)?>">
  <?php if ($x!=0): ?>
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="remove-schedule<?=(@$x+1)?>" >X&nbsp;&nbsp;</button>
<script type="text/javascript">
jQuery('#remove-schedule<?=(@$x+1)?>').on("click", function()
{
  // jQuery('#section-schedule-<?=(@$x+1)?>').remove();
  var countSchedule = jQuery('#count-schedule').val();
  jQuery('.additional-section<?=(@$x+1)?>').remove();
  countSchedule--;
  jQuery('#count-schedule').val(countSchedule);
});
</script>
  <?php endif; ?>
    <label for="dayoftheweek" class="col-md-2">Day of the week *:</label>
      <select name="dayoftheweek[]" id="dayoftheweek" class="tootipper"  placeholder="Day of the week"  data-trigger="hover" title="Day of the week" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Day of the week" >
        <option <?php echo ((strcasecmp('sunday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>sunday</option>
        <option <?php echo ((strcasecmp('monday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>monday</option>
        <option <?php echo ((strcasecmp('tuesday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>tuesday</option>
        <option <?php echo ((strcasecmp('wednesday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>wednesday</option>
        <option <?php echo ((strcasecmp('thursday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>thursday</option>
        <option <?php echo ((strcasecmp('friday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>friday</option>
        <option <?php echo ((strcasecmp('saturday', @$this->dayoftheweek[$x])==0) ? 'selected="selected"' : ''); ?>>saturday</option>
      </select>
    
    <br><br>
    <label for="appointmenttype" class="col-md-2">Appointment type *:</label>
     <select name="appointmenttype[]" class="appointmenttypesclass tootipper"  placeholder="Appointment type"  data-trigger="hover" title="Appointment type" data-animation="true" data-appointmenttypename="<?=$this->appointmentType[$x];?>" data-placement="top" data-trigger="hover focus" data-content="Appointment type">
      <?php foreach ($this->specificAppointmentType as $appSettings): ?>
        <option value="<?=@$appSettings->type_IDappointment_type?>" <?php echo ((strcasecmp($appSettings->type_IDappointment_type, @$this->appointmentType[$x])==0) ? 'selected="selected"' : ''); ?>><?=ucwords(@$appSettings->typeName);?> </option>
      <?php endforeach; ?>
      </select>
    <br><br>
    <label for="timefrom" class="col-md-2">Time from  *:</label>
      <input type="text" name="timefrom[]" id="timefrom"  class='col-sm-3 mask-time tootipper' placeholder="hh:mm" title="Time from" value="<?=@$this->timefrom[$x]?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Time from format hh:mm in military time. Example: 13:00 is 1:00 P.M." required >
    <br><br>
    <label for="timeto" class="col-md-2">Time to *:</label>
      <input type="text" name="timeto[]" id="timeto" class='col-sm-3 mask-time tootipper' placeholder="hh:mm" title="Time to" value="<?=@$this->timeto[$x]?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Time to format hh:mm in military time. Example: 17:00 is 5:00 P.M." required >
    <br><br>
    <label for="appointmentdescription" class="col-md-2">Description:<br></label>
      <input type="text" name="appointmentdescription[]"  id="appointmentdescription" class='col-sm-3 tootipper' placeholder="Description" title="Description" value="<?=@$this->appointmentdescription[$x]?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Just some short description for this schedule." >
    <br><br>
  </section>
</div>
  <?php endfor; ?>

  <a href="javascript:void(0);"  class="btn btn-primary btn-sm tootipper add-another-clinic-location-schedule" data-trigger="hover" title="Add another clinic location schedule." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another clinic location schedule.">Add another clinic location schedule</a>&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover" title="Add another clinic location schedule." data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Clicking this button will allow you to add another clinic location schedule."></i>
  <input type="hidden" name="count-schedule" id="count-schedule" value="<?=@$this->countschedule?>" />
<br>

</form><input class="btn btn-success btn-block" type="submit" name="done" id="done" value="Done">
            
          </div>
      <!-- end tab pane clinic information -->
    </div>
  </div>
</div>
</form>
</section>