<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.tootipper').popover();
});
</script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  display: 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 1100 !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>
<label for="meds">Type name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="typename" type="text" required class="tootipper select-block-level" id="meds" placeholder="Example: Patient's home"  title="Appointment type name" value="<?=@$this->medicationInfo['medicationName']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input appointment type name. Example: Patient's home" /><br><br>
<input name="IDsafe_drug" type="hidden" value="<?=@$this->medicationInfo['IDsafe_drug']?>">
<div class="control-group">
  <label for="meds">Description:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="typedescription" type="text" required class="tootipper select-block-level" id="meds" placeholder="Example: This appointment type is..."  title="Medications" value="<?=@$this->medicationInfo['medicationName']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input description for you appointment type." /><br><br>
</div>