<style>
.widget
{
    background-color: rgba(255,255,255,0.3);
}
section
{
    color: #000000 !important;
}
</style>
<script type="text/javascript">
jQuery(document).ready(function() 
{
  jQuery('#addmoreappointment-type').on( "click", function()
  {
    jQuery('#show-modal-change .modal-body').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
    jQuery('#show-modal-change #myModalLabel').html('<h3 id="myModalLabel"><span>Add </span> appointment type</h3>');
    jQuery('#show-modal-change .modal-body').load(BASEURLL+'appointments/addAppointmentType');
    jQuery('#show-modal-change .modal-footer').html('<a href="javascript:void(0);" id="insertthisappointmenttypenow" class="btn btn-primary" data-loading-text="Loading...">Save Changes</a><button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>');
    jQuery("#insertthisappointmenttypenow" ).on( "click", function() 
    {
      var formData = jQuery('.form-horizontal').serialize();
      jQuery.ajax({
      url: BASEURLL+"appointments/addAppointmentType?ajax=true",
      type: "POST",
      data: formData,
      dataType: "JSON",
      success: function (data) {
        if (data.errorStatus == false)
        {
          jQuery('#show-modal-change').modal('hide');
          jQuery('#appointment-type-list').prepend('<li id="appointmentid'+data.IDappointment_type+'">'+data.typename+'&nbsp;&nbsp;<a href="javascript:void(0);" class="idappointmenttypes" data-idappointmenttype="'+data.IDappointment_type+'">remove</a><input name="appointmenttype[]" type="hidden" value="'+data.IDappointment_type+'"></li>');
          // jQuery('#medication-table').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
          // jQuery('#medication-table').load(BASEURLL+'medication/dashboardDisplay');
          jQuery('.idappointmenttypes').on("click", function ()
          {
            var idappointmenttype = jQuery(this).attr('data-idappointmenttype');
            jQuery('#appointmentid'+idappointmenttype).remove();
          });
        }
        else
        {
          jQuery('.alert').alert('close');
          jQuery('#show-modal-change .modal-body').prepend('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+data.errorMessage+'</div>');
          jQuery('.alert').fadeOut(5000);
        }
      }
      });
     
    });
    
  });
  jQuery('.idappointmenttypes').on("click", function ()
  {
    var idappointmenttype = jQuery(this).attr('data-idappointmenttype');
    jQuery('#appointmentid'+idappointmenttype).remove();
  });
});
</script>
<?php if (!empty($this->IDappointments_settings)): ?>
  <h3>Step 2 of 3, Appointment types</h3>
<?php endif;?>
<section class="widget"><!-- clinic information widget -->
<form action="" method="post" enctype="multipart/form-data" name="appointment-settings" target="_self">
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
      <input class="btn btn-success btn-sm pull-right margin-top-two" type="submit" name="next" id="next" value="Next">
     <!--  <a href="<?=base_url();?>appointments/settings" type="button" class="btn btn-danger btn-sm pull-right margin-top-two" ><i class="fa fa-step-backward"></i>&nbsp;&nbsp;Previous</a> -->
    <ul id="myTabright" class="nav nav-tabs">
          <li class="active"><a href="#clinic-information" data-toggle="tab">Appointment types</a></li>
    </ul>
    </header>
    <div id="myTabContentright" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="clinic-information">
          <!-- tab pane clinic information -->
          <div class="content container">
                <p>Please add, modify or delete appointment types below.</p>
                <ol id="appointment-type-list" style="list-style-type: lower-alpha; margin-left: 15px;">
                  <?php foreach ($this->appointmentType as $type): ?>
                    <li id="appointmentid<?=@$type->IDappointment_type?>"><?=@$type->typeName;?>&nbsp;&nbsp;<a class="idappointmenttypes" href="javascript:void(0);" data-idappointmenttype="<?=@$type->IDappointment_type?>">remove</a><input name="appointmenttype[]" type="hidden" value="<?=@$type->IDappointment_type?>"></li>
                  <?php endforeach; ?>
                  <li><button type="button" class="btn btn-inverse btn-sm"  data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addmoreappointment-type" >Add more appointment type</button></li>
                  <!-- <li><a href="" class="btn btn-inverse btn-sm">Use my existing appointment type setup.</a></li> -->
                </ol>
            <input class="btn btn-success btn-block" type="submit" name="next" id="next" value="Next">
          </div>
      <!-- end tab pane clinic information -->
    </div>
  </div>
</div>
</form>
</section>


<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>