<style>
.widget
{
    background-color: rgba(255,255,255,0.3);
}

section
{
    color: #000000 !important;
}
</style>

<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery(".integer").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) || 
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
    jQuery('.tootipper').popover();
});
</script>
<h3>Step 1 of 3, Appointment Settings</h3>
<section class="widget"><!-- clinic information widget -->
<form action="" method="post" enctype="multipart/form-data" name="appointment-settings" target="_self">
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
      <input class="btn btn-success btn-sm pull-right margin-top-two" type="submit" name="next" id="next" value="Next">
      <a href="<?=base_url();?>practiceSettings" class="btn btn-danger btn-sm pull-right margin-top-two" ><i class="fa fa-step-backward"></i>&nbsp;&nbsp;Previous</a>
    <ul id="myTabright" class="nav nav-tabs">
          <li class="active"><a href="#clinic-information" data-toggle="tab">Appointment settings</a></li>
    </ul>
    </header>
    <div id="myTabContentright" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="clinic-information">
          <!-- tab pane clinic information -->
          <div class="content container">
            <?php if (!empty($this->errorMessage)): ?>
              <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><?=@$this->errorMessage?></div>
            <?php endif; ?>
              <p>
              <label for="settingsname" class="col-md-4">Settings name:</label>
                 <input type="text" name="settingsname" id="settingsname" class="col-md-4 tootipper"  title="Settings name" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input settings name.  Example: One patient per doctor - home clinic" placeholder="settings name" value="<?=@$this->settingsname?>">
            <br><br>
              <label for="averageTimePerPatient" class="col-md-4">Average time per patient: (in minutes)</label>
                  <input type="text" name="averageTimePerPatient" id="averageTimePerPatient" class="integer col-md-4 tootipper"  title="Average time in minutes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input average time per patient (best guess).  Example: 30 minutes" placeholder="example: 30 minutes" value="<?=@$this->averageTimePerPatient?>">
              <br><br>
              <label for="appointmentLimit" class="col-md-4">Appointment limit per day:</label>
               <input type="text" name="appointmentLimit" id="appointmentLimit" class="integer col-md-4 tootipper"  title="Number of appointment per day" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input appointment limit per day (best guess).  Example: 20 appointments per day" placeholder="example: 20 appointments per day" value="<?=@$this->appointmentLimit?>">
              <br><br>
              <label for="queueLimit" class="col-md-4">Queue limit per day:</label>
                <input type="text" name="queueLimit" id="queueLimit" class="col-md-4 integer tootipper"  title="Number of queue limit per day" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input queue limit per day (best guess).  Example: 20 queue per day" placeholder="example: 20 queues per day" value="<?=@$this->queueLimit?>">
              <br><br>
              <label for="allow-overlap" class="col-md-2">Allow overlapping?</label>
                <input type="checkbox" name="allow-overlap" id="allow-overlap" <?php echo ((!empty($this->allowOverlap)) ? 'checked="checked"' : ''); ?> >  
              </p>
              <?php if (!empty($this->modifyonly) && (strcasecmp($this->modifyonly, "TRUE")==0) ): ?>
                <input class="btn btn-success btn-block" type="submit" name="next" id="next" value="Update">
              <?php else: ?>
                <input class="btn btn-success btn-block" type="submit" name="next" id="next" value="Next">
              <?php endif; ?>
            
          </div>
      <!-- end tab pane clinic information -->
    </div>
  </div>
</div>
</form>
</section>