<!-- start jquery by Jecy -->
<script src="<?php echo base_url();?>public/lib/jquery/jquery-2.0.3.min.js"> </script>
<script src="<?php echo base_url();?>public/lib/jquery-ui-1.10.3.custom.js"> </script>
<script src="<?php echo base_url();?>public/lib/jquery.ui.touch-punch.js"> </script>


<script src="<?php echo base_url();?>public/js/preloader.js"></script>
<script src="<?php echo base_url();?>public/lib/icheck.js/jquery.icheck.js"></script>
<script src="<?php echo base_url();?>public/lib/sparkline/jquery.sparkline.js"></script>
<script src="<?php echo base_url();?>public/lib/jquery.slimscroll.js"></script>
<script src="<?php echo base_url();?>public/lib/fullcalendar/fullcalendar.js"></script>
<!--<script src="lib/zepto/zepto.min.js"> </script>-->
<script src="<?php echo base_url();?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php echo base_url();?>public/lib/parsley/parsley.js"> </script>
<script src="<?php echo base_url();?>public/lib/jquery-maskedinput/jquery.maskedinput.js"></script>
<!--<script src="<?php echo base_url();?>public/lib/select2.js"></script>-->
<script src="<?php echo base_url();?>public/lib/jquery.dataTables.min.js"></script> 
    
<!-- d3, nvd3-->
<script src="<?php echo base_url();?>public/lib/nvd3/lib/d3.v2.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/nv.d3.custom.js"></script>

<!-- nvd3 models -->
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/scatter.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/axis.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/legend.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/multiBar.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/multiBarChart.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/stackedArea.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/stackedAreaChart.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/line.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/pie.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/pieChartTotal.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/stream_layers.js"></script>
<script src="<?php echo base_url();?>public/lib/nvd3/src/models/lineChart.js"></script>

<!--backbone and friends -->
<script src="<?php echo base_url();?>public/lib/backbone/underscore-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone.localStorage-min.js"></script>
<script src="<?php echo base_url();?>public/lib/backbone/backbone-pageable.js"></script>
<script src="<?php echo base_url();?>public/lib/backgrid/backgrid.js"></script>
<script src="<?php echo base_url();?>public/lib/backgrid/backgrid-paginator.js"></script>

<!-- bootstrap default plugins -->
<script src="<?php echo base_url();?>public/lib/bootstrap/transition.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/collapse.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/alert.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/tooltip.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/popover.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/button.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/tab.js"> </script>
<script src="<?php echo base_url();?>public/lib/bootstrap/dropdown.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/carousel.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap/modal.js"></script>


<!-- bootstrap custom plugins -->
<script src="<?php echo base_url();?>public/lib/bootstrap-datepicker.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap-select/bootstrap-select.js"></script>
<!--<script src="<?php echo base_url();?>public/lib/wysihtml5/wysihtml5-0.3.0_rc2.js"></script>
<script src="<?php echo base_url();?>public/lib/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>-->


<!-- basic application js-->
<script src="<?php echo base_url();?>public/js/app.js"></script>
<script src="<?php echo base_url();?>public/js/settings.js"></script>

<!-- page specific -->
<script src="<?php echo base_url();?>public/js/stats.js"></script>
<script src="<?php echo base_url();?>public/js/ui-dialogs.js"></script>
<!-- <script src="<?php echo base_url();?>public/js/grid-live.js"> </script>-->
<script src="<?php echo base_url();?>public/lib/jquery.nestable.js"> </script>
<!--<script src="<?php echo base_url();?>public/js/list-groups.js"> </script>-->

<!--<script src="<?php echo base_url(); ?>public/js/index.js"></script>-->