<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-writtenon');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-writtenon').val($btnCalendar.data('date'));
});
var $btnCalendarEnd = jQuery('#btn-select-calendar-expirydate');
$btnCalendarEnd.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-expirydate').val($btnCalendarEnd.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });


jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#conditionOrSymptom" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"problem/displayProblems",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});
});
</script>

<div id="medFormAdvanced" class="row" >
  <div class="row col-md-6">
    <div class="col-md-6">
      <div class="input-group">
        <label>Written on:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-writtenon" name="writtenon" class="tootipper col-sm-7 masked-date"  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->prescriptionInfo['writtenon'])) echo date('m/d/o', strtotime($this->prescriptionInfo['writtenon'])); else echo date('m/d/o'); ?>" title="Date of Prescription" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
          <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-writtenon" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->prescriptionInfo['writtenon'])) echo date('m/d/o', strtotime($this->prescriptionInfo['writtenon'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
          <i class="fa fa-calendar"></i>  </a></span></label>
        </div>
        
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <?php
          $date = new DateTime();
          $date->add(new DateInterval('P15D'));
          $expirydate = $date->format('m/d/Y');
        ?>
        <label>Expiry:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-expirydate" name="expirydate" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->prescriptionInfo['expirydate'])) echo date('m/d/o', strtotime($this->prescriptionInfo['expirydate'])); else echo date('m/d/o', strtotime($expirydate)); ?>" title="Expiry date of prescription" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
          <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-expirydate" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->prescriptionInfo['expirydate'])) echo date('m/d/o', strtotime($this->prescriptionInfo['expirydate'])); else echo date('m/d/o', strtotime($expirydate)); ?>"  data-date-viewmode="years">
          <i class="fa fa-calendar"></i>  </a></span></label>
        </div>
    </div>
  </div>
  <div class="row col-md-6">
    <label>
    <input type="checkbox" name="includeAddress" id="includeAddress" checked>
    Include address of the patient</label>
    <br>
    <label>
    <input type="checkbox" name="includeAge" id="includeAge" checked>
    Include the age of the patient</label>
    <br>
    <label>
    <input type="checkbox" name="includeGender" id="includeGender" checked>
    Include the gender of the patient</label>
    <br>
    <label>
    <input type="checkbox" name="includeDob" id="includeDob" checked>
    Include the birthday of the patient</label>
    <br>
    <label>
    <input type="checkbox" name="includeExpiry" id="includeExpiry" checked>
    Include expiry date</label>
  </div>
</div>