<script src="<?=base_url();?>public/js/custom-dashboard-prescription.js"></script>
<?php if (!empty($results)): ?>
<table class="table table-bordered table-hover" id="drug-table">
    <thead>
    <tr>
        <th>Date Prescribed</th>
        <th>Doctor</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <?php foreach ($results as $prescription): ?>
    <tr>
        <td>
            <?php
            if (!empty($prescription->prescriptiondate))
                echo date('M j, Y',strtotime(@$prescription->prescriptiondate));
            ?>
        </td>
        <td>
            <?php
            if (!empty($prescription->lastname))
                echo ucwords('Dr. '.$this->nagkamoritsing->ibalik($prescription->lastname));
            else
                echo ucwords(@$prescription->dr_name);
            ?>
        </td>
        <td>
            <?php if (!empty($prescription->IDemr_user)): ?>
                <?php if (!empty($this->sessionid)): ?>
                    <?php if ((int)$prescription->IDemr_user == (int)$this->myemrsession->IDemr_user): ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;View Journal</a></li>
                        </ul>
                    </div>
                    <?php else: ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-info" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($prescription->lastname));?> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View Presription</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                        </ul>
                    </div>
                    <?php endif; ?>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($prescription->lastname));?> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View Presription</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php else: ?>
                <?php if (!empty($this->sessionid)): ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Patient input <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#show-modal-change" data-toggle="modal" class="modifythisdrug" data-drugid="<?=@$drug['IDsafe_drug']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethismedication"  data-medicationid="<?=@$drug['IDsafe_drug']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                        </ul>
                </div>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#show-modal-change" data-toggle="modal" class="modifythisdrug" data-drugid="<?=@$drug['IDsafe_drug']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethismedication"  data-medicationid="<?=@$drug['IDsafe_drug']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    <?php endforeach; ?>
</tbody>
</table>
<?php else: ?>
<?php if (!empty($this->sessionid)): ?>
<br><br>
<center>No data here</center>
<br><br>
<?php else: ?>
<script src="<?=base_url();?>public/js/custom-dashboard-medication.js"></script>
<p>Note: Sample data below.  This will be changed if your doctor or you will input some data in it.</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Date Prescribed</th>
        <th>Doctor</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td><?php echo date('M j, Y');?></td>
        <td>Doctor name</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Delete info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    <tr>
        <td><?php echo date('M j, Y');?></td>
        <td>Doctor name</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  Your Dr. <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    
    </tbody>
</table>
<?php endif; ?>
<?php endif; ?>
<div id="prescription-pagination-div-id"><?php echo $links; ?></div>