<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Dashboard</a><span class="divider">/</span></li>
        <li class="active"><a href="/dashboard">Wellness Calendar</a> </li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Wellness Calendar</h1> 
<span>Your Healthy lifestyle schedules</span>
</div><!--pagetitle--> 
<div class="maincontent">
            
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="widgetcontent bordered">
  <div class="maincontent">
            <div class="contentinner">
                <div id='calendar'></div>
              </div><!--contentinner-->
  </div><!--maincontent-->
</div>
</div>

<script type='text/javascript'>

  jQuery(document).ready(function() {
  
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    
    var calendar = jQuery('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        prev: '&laquo;',
        next: '&raquo;',
        prevYear: '&nbsp;&lt;&lt;&nbsp;',
        nextYear: '&nbsp;&gt;&gt;&nbsp;',
        today: 'today',
        month: 'month',
        week: 'week',
        day: 'day'
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        var title = prompt('Event Title:');
        if (title) {
          calendar.fullCalendar('renderEvent',
            {
              title: title,
              start: start,
              end: end,
              allDay: allDay
            },
            true // make the event "stick"
          );
        }
        calendar.fullCalendar('unselect');
      },
      editable: true,
      events: [
        {
          title: 'Visit to doctor',
          start: new Date(y, m, 1)
        },
        {
          title: 'Jogging',
          start: new Date(y, m, d-5),
          end: new Date(y, m, d-2)
        },
        {
          title: 'Happy Calories day',
          start: new Date(y, m, d, 10, 30),
          allDay: false
        },
        {
          title: 'no calories Lunch',
          start: new Date(y, m, d, 12, 0),
          end: new Date(y, m, d, 14, 0),
          allDay: false
        },
        {
          title: 'Visit to Dentist',
          start: new Date(y, m, d+1, 19, 0),
          end: new Date(y, m, d+1, 22, 30),
          allDay: false
        },
        {
          title: 'Visit to Nurse',
          start: new Date(y, m, 28),
          end: new Date(y, m, 29),
          url: 'http://google.com/'
        }
      ]
    });
    
  });

</script>