<script src="<?=base_url();?>public/lib/select2.js"></script>
<script src="<?=base_url();?>public/lib/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript">
$( document ).ready(function() 
{ 
	jQuery(".chzn-select").each(function(){
        jQuery(this).select2(jQuery(this).data());
    });
});
</script>
  <label for="specialty">Specialty: </label>
  <select name="specialty[]" size="1" multiple="multiple" class="chzn-select select-block-level">
<?php foreach ($this->allEmrSpecialty as $special) : ?>
    <option value="<?=@$special->specialty_id;?>" <?php if (!empty($specialty)) {echo (in_array($special->specialty_id, $specialty, true)) ? 'selected' : '' ; }?> ><?=@$special->specialtyName;?></option>
  <?php endforeach; ?>
  </select>