<script type="text/javascript">
jQuery( document ).ready(function() 
{
    jQuery("#license-information-area").load("<?=base_url();?>practiceSettings/displayLicenseSettings");
});
</script>
<style>
.widget
{
    background-color: rgba(255,255,255,0.3);
}
section
{
    color: #000000 !important;
}
</style>
<div class="pagetitle">
	<h1>Practice Information &amp; Details</h1>
</div><!--pagetitle--> 
<section class="widget"><!-- clinic information widget -->
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
        <div id="top-left-button">
          <button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" id="modify-license-number"><i class="fa fa-edit"></i>&nbsp;&nbsp;Modify</button>
        </div>
    <ul id="myTabright-license" class="nav nav-tabs">
	        <li class="active"><a href="#clinic-information" data-toggle="tab">License and practice information</a></li>
    </ul>
    </header>
    <div id="myTabContentright-license" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="license-information-area">
        	<!-- tab pane clinic information -->
        	<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings
			<!-- end tab pane clinic information -->
		</div>
	</div>
</div>
</section>
<section class="widget"><!-- clinic information widget -->
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
       <a class="btn btn-primary btn-sm pull-right margin-top-two" href="<?=base_url();?>appointments/settings"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add appointment settings</a>
       
    <ul id="myTabright-appoinment-settings" class="nav nav-tabs">
            <li class="active"><a href="#clinic-information" data-toggle="tab">Appointment Settings</a></li>
    </ul>
    </header>
    <div id="appointment-settings-tab" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="appointment-settings">
            <!-- tab pane clinic information -->
            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings
            <!-- end tab pane clinic information -->
        </div>
    </div>
</div>
</section>
<?php if (!empty($this->allLocations)): ?>
<section class="widget"><!-- clinic information widget -->
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
        <button id="addclinicorlocation" class="btn btn-primary btn-sm pull-right margin-top-two" href="#show-modal-change"  data-placement="top" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add clinic or location</button>
   <ul id="myTabright-locations" class="nav nav-tabs">
            <li class="active"><a href="#clinic-information" data-toggle="tab">Practice locations</a></li>
    </ul>
    </header>
    <div id="myTabContentright-practice-locations" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="practice-locations" >
            <!-- tab pane clinic information -->
            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings
            <!-- end tab pane clinic information -->
        </div>
    </div>
</div>
</section>
<?php endif; ?>
<?php if (!empty($this->getDoctorActualSchedule)): ?>
<?php 
/* hide for now, need to finish the nambal safe first
<section class="widget"><!-- clinic information widget -->
<div class="tabbable tabs-right"><!-- tabbable -->
    <header class="widget-tabs">
        <button id="addappointmentschedules" class="btn btn-primary btn-sm pull-right margin-top-two" href="#show-modal-change"  data-placement="top" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add appointment schedules</button>
    <ul id="myTabright-schedules" class="nav nav-tabs">
            <li class="active"><a href="#clinic-information" data-toggle="tab">Appointment schedules</a></li>
    </ul>
    </header>
    <div id="appointment-settings-tab" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="appointment-schedules">
            <!-- tab pane clinic information -->
            <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings
            <!-- end tab pane clinic information -->
        </div>
    </div>
</div>
</section>
*/ ?>
<?php endif; ?>
<div id="show-modal-change" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
  <div class="modal-dialog">
      <div class="modal-content">
        
          <form class="form-horizontal" method="post" action="" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="myModalLabel"><span></span>This page is not yet Available.</h3>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>-->
                    <button class="btn btn-primary" data-loading-text="Loading...">Save changes</button>
                </div>
            </form>
            
        </div>
    </div>
</div>