<div class="pagetitle">
	<h1>Clinic Information &amp; Details</h1>
</div><!--pagetitle--> 
<section class="widget"><!-- clinic information widget -->
<div class="tabbable tabs-right"><!-- tabbable -->
    <ul id="myTabright" class="nav nav-tabs">
        <li class="active"><a href="#clinic-information" data-toggle="tab">Clinic Information</a></li>
        <li ><a href="#add-clinic-information" data-toggle="tab">Add Clinic Information</a></li>
    </ul>
    <div id="myTabContentright" class="tab-content" ><!-- tab content -->
        <div class="tab-pane fade in active" id="clinic-information">
        	<!-- tab pane clinic information -->
			<!-- end tab pane clinic information -->
		</div>
        <div class="tab-pane fade" id="add-clinic-information"><!-- tab pane add clinic information-->
			<div class="content container"><!-- content container -->
					
				<!-- form wizard -->
                <div id="wizard" class="form-wizard">
                    <ul class="wizard-navigation nav-justified">
                        <li><a href="#tab1" data-toggle="tab" >Clinic Information</a></li>
                        <li><a href="#tab2" data-toggle="tab">Clinic Hours</a></li>	
                    </ul>
                    <div id="bar" class="progress progress-small">
                        <div class="progress-bar progress-bar-inverse"></div>
                    </div>
					<div class="alert alert-danger" id="message"><!-- error message -->
						<strong><i class="fa fa-ban"></i>&nbsp; Error : </strong>
						<span id="message-content"></span>
					</div><!-- end error mesage -->
					<form id="create-clinic-information" class="form-horizontal " novalidate="novalidate"  method="post"d ata-validate="parsley" action="practiceSettings/createClinic">
					<!-- tab content -->
                    <div class="tab-content">
						<!-- tab1 -->
                        <div class="tab-pane" id="tab1">
								<div class="col-md-12">	<!-- add clinic information -->
										<div class="body"><!-- add clinic information body -->
												<div class="clearfix">&nbsp;</div>
													<div class="control-group">
														<label for="clinic-name" class="control-label ">
															Clinic Name: <span class="required">*</span>
														</label>
														<div class="controls form-group" id="clinic-name-form-group">
															<div class="col-xs-11 col-sm-5">	
																<input id="clinic-name" placeholder="Clinic Name" class="form-control" required="required" type="text" name="clinic-name" value="">
															</div>
															<div>
																&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Name of the clinic"></i>
															</div>
															<div class="col-xs-12 col-sm-9 required-message">
																<div class="col-xs-12 col-sm-5">
																	<small>
																		This is a required Field
																	</small>
																</div>
															</div>
														</div>
													</div>
													<div class="control-group">
														<label for="email-address" class="control-label ">
															Email Address:
														</label>
														<div class="controls form-group" id="email-address-form-group">
															<div class="col-xs-11 col-sm-5">
																<input id="email-address" placeholder="Email Address" class="form-control" type="email" name="email-address" value="" >
															</div>
															<div >
																&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Email address of the clinic"></i>
															</div>
														</div>
													</div>
													<div class="control-group" id="clinic-role">
														<label for="role" class="control-label">
															Me, in this clinic: <span class="required">*</span>
														</label>
														<div class="controls form-group">
															<div class="col-xs-11 col-sm-5">
																<div class="col-xs-12 col-sm-5">
																	<label class="checkbox">
																		<input type="checkbox" id="clinic-number-of-doctors" class="iCheck" name="role[]" checked="checked" value="owner">
																		Owner
																	</label>
																</div>
																<div class="col-xs-12 col-sm-5">
																	<label class="checkbox">
																		<input type="checkbox" id="clinic-position" class="iCheck" name="role[]" value="staff">
																		Staff
																	</label>
																</div>
															</div>
															<div >
																&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Relation to the clinic"></i>
															</div>
														</div>
													</div>
													<div class="control-group" id="clinic-number-of-doctors-container">
														<label for="number-of-doctors" class="control-label">
															No. of Doctors: <span class="required">*</span>
														</label>
														<div class="controls form-group">
															<div class="col-xs-11 col-sm-5">
																<input id="number-of-doctors" placeholder="Number of Doctors" class="form-control" type="text" name="number-of-doctors" value="">
															</div>
															<div >
																&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Number of doctors in the clinic"></i>
															</div>
															<div class="col-xs-12 col-sm-9">
																<div class="col-xs-12 col-sm-5">
																	<small>
																		* Including yourself
																	</small>
																</div>
															</div>
														</div>
													</div>
													<div class="control-group" id="clinic-position-container">
														<label for="number-of-doctors" class="control-label">
															Position: <span class="required">*</span>
														</label>
														<div class="controls form-group">
															<div class="col-xs-11 col-sm-5">
																<input id="position" placeholder="Position" class="form-control" type="text" name="position" value="">
															</div>
															<div >
																&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your position in the clinic"></i>
															</div>
															<div class="col-xs-12 col-sm-9">
																<div class="col-xs-12 col-sm-5">
																	<small>
																		* If you have more than one position, please seperate it with a comma
																	</small>
																</div>
															</div>
														</div>
													</div>
													<fieldset>
													 <legend class="section">
														Address
													</legend>
														<div class="control-group">
															<label for="clinic-address-country" class="control-label">
																Country: <span class="required">*</span>
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	<select name="country" id="country" class="chzn-select col-xs-12 col-sm-12" required="required"></select>
																	<input type="hidden" id="countrySelected" value="<?php echo(!empty($user_profile['country']))? $user_profile['country'] : '' ; ?>"/>
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Country Address of the clinic"></i>
																</div>
															</div>
														</div>
														<div class="control-group">
															<label for="clinic-address-state" class="control-label">
																State: <span class="required">*</span>
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	 <select name="state" id="state" class="chzn-select col-xs-12 col-sm-12" required="required"></select>
																	  <input type="hidden" id="stateSelected" value="<?php echo(!empty($user_profile['state']))? $user_profile['state'] : '' ; ?>"/>
																</div>
																<div>
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="State Address of the clinic"></i>
																</div>
																<div class="col-xs-12 col-sm-9">
																	<div class="col-xs-12 col-sm-5">
																		<small>
																			* Select a country in able to select a state
																		</small>
																	</div>
																</div>
															</div>
														</div>
														<div class="control-group">
															<label for="clinic-address-street" class="control-label">
																Street: <span class="required">*</span>
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	<input name="street" type="text" id="street"   class="form-control" placeholder="Street" required="required" value="<?php if (isset($user_profile['street']))  echo $user_profile['street']; ?>">
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Street Address of the clinic"></i>
																</div>
															</div>
														</div>
														<div class="control-group">
															<label for="clinic-address-city" class="control-label">
																City: <span class="required">*</span>
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	<input name="city" type="text" id="city" class="form-control" placeholder="City" required="required" value="<?php if (isset($user_profile['city']))  echo $user_profile['city']; ?>">
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="City Address of the clinic"></i>
																</div>
															</div>
														</div>
														<div class="control-group">
															<label for="clinic-address-postcode" class="control-label">
																Postcode: <span class="required">*</span>
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	<input name="postcode" type="text" id="postcode" class="form-control" placeholder="Postal Code or Zip Code" required="required" value="<?php
															  if (isset($user_profile['postcode']))  echo $user_profile['postcode']; ?>">
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Postal Code or Zip Code of theaddress of the clinic"></i>
																</div>
															</div>
														</div>
													</fieldset>
													<fieldset id="contact-number-fieldset">
														<legend class="section">
															Contact Number
															 <button type="button" class="btn btn-primary btn-xs pull-right" id="add-contact-number">
																<i class="fa fa-plus"></i>
																Add Contact Number
															</button>
														</legend>
														<div class="control-group">
															<label for="clinic-contact-number-countryCode" class="control-label">
																Country Code: 
															</label>
															<div class="controls form-group">
																<div class="col-xs-11 col-sm-5">
																	<select name="countryCode[]" id="countryCode" class="chzn-select col-xs-12 col-sm-12"></select>
																	<input type="hidden" id="countryCodeSelected" value="<?php echo(!empty($safeContact['countrycode']))? $safeContact['countrycode'] : '' ; ?>"/>
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Country code of the clinic contact number"></i>
																</div>
																<script language="javascript">
																	populateCountryCode("countryCode", "countryCodeSelected");
																</script>
															</div>
														</div>
														<div class="control-group">
															<label for="clinic-contact-number-areaCode-phoneNumber" class="control-label ">
																Area Code - Phone Number 
															</label>
															<div class="controls form-group">
																<div class="col-xs-4 col-sm-2">
																	<input type="text" name="areaCode[]" placeholder="Area Code" class="areaCode form-control" value="<?=@$safeContact['areacode'];?>"/>
																</div>
																<div class="col-xs-7 col-sm-3">
																	<input type="text" name="number[]" placeholder="Phone Number" class="number form-control" value="<?=@$safeContact['number'];?>"/>
																</div>
																<div >
																	&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Area code and Phone number of the clinic contact number"></i>
																</div>
															</div>
														</div>
														<br/>
													</fieldset>
												<div class="clearfix">&nbsp;</div>
										</div><!-- end add clinic information body -->
								</div><!-- end add clinic information -->
                        </div> <!-- end tab1-->
						<div class="tab-pane" id="tab2"><!-- tab2 -->
							<div id="clinicHours" class="col-md-12"><!-- clinic hours -->
								<div class="body"><!-- clinic hours body -->
										<fieldset>
											<div class="control-group" id="control-group">
												<label for="clinic-hour" class=" control-label">&nbsp; </label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														Time Start
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; 
													</div>
													<div class="col-xs-12 col-sm-4">
														Time End
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;
													</div>
												</div>
											</div> <!-- /control group time start and end -->
											<div class="control-group" id="control-group-monday">
												<label for="clinic-hour-monday" class=" control-label">Monday </label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Monday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Monday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Monday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1 hidden-phone">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Monday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Monday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Monday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Mondays"></i>
													</div>
												</div>
											</div> <!-- /control group monday -->
											<div class="control-group" id="control-group-description-monday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Mondays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Mondays"></i>
														</div>
													</div>
													<div id="clinic-time-1" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description monday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												 <div class="control-group" id="control-group-tuesday">
												<label for="clinic-hour-tuesday" class=" control-label">Tuesday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Tuesday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Tuesday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Tuesday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Tuesday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Tuesday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Tuesday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Tuesdays"></i>
													</div>
												</div>
											</div> <!-- /control group tuesday -->
											<div class="control-group" id="control-group-description-tuesday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Tuesdays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Tuesdays"></i>
														</div>
													</div>
													<div id="clinic-time-2" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description tuesday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												<div class="control-group" id="control-group-wednesday">
												<label for="clinic-hour-wednesday" class=" control-label">Wednesday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Wednesday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Wednesday""></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Wednesday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Wednesday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Wednesday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Wednesday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Wednesdays"></i>
													</div>
												</div>
											</div> <!-- /control group wednesday -->
											<div class="control-group" id="control-group-description-wednesday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Wednesdays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Wednesdays"></i>
														</div>
													</div>
													<div id="clinic-time-3" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description wednesday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												<div class="control-group" id="control-group-thursday">
												<label for="clinic-hour-thursday" class=" control-label">Thursday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Thursday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Thursday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Thursday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Thursday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Thursday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Thursday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Thursdays"></i>
													</div>
												</div>
											</div> <!-- /control group thursday -->
											<div class="control-group" id="control-group-description-thursday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Thursdays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Thursdays"></i>
														</div>
													</div>
													<div id="clinic-time-4" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description thursday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												<div class="control-group" id="control-group-friday">
												<label for="clinic-hour-friday" class=" control-label">Friday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Friday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Friday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Friday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Friday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Friday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Friday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Fridays"></i>
													</div>
												</div>
											</div> <!-- /control group friday -->
											<div class="control-group" id="control-group-description-friday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Fridays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Fridays"></i>
														</div>
													</div>
													<div id="clinic-time-5" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description friday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												<div class="control-group" id="control-group-saturday">
												<label for="clinic-hour-saturday" class=" control-label">Saturday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Saturday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Saturday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Saturday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Saturday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Saturday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Saturday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Saturdays"></i>
													</div>
												</div>
											</div> <!-- /control group saturday -->
											<div class="control-group" id="control-group-description-saturday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Saturdays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Saturdays"></i>
														</div>
													</div>
													<div id="clinic-time-6" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description saturday --> 
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
												<div class="control-group" id="control-group-sunday">
												<label for="clinic-hour-sunday" class=" control-label">Sunday</label>
												<div class="controls form-group">
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="fromHour[]" id="fromHour-Sunday"></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="fromMinute[]" id="fromMinute-Sunday"></select>
														<select class="meridian chzn-select col-xs-3" name="meridianFrom[]" id="meridianFrom-Sunday">
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-1">
														&nbsp; -
													</div>
													<div class="col-xs-12 col-sm-4">
														<select class="hours chzn-select col-xs-3" name="toHour[]" id="toHour-Sunday" ></select>
														<div class="col-xs-1 col-sm-1 colon">
														: 
														</div>
														<select class="minutes chzn-select col-xs-3" name="toMinute[]" id="toMinute-Sunday" ></select>
														<select class="meridian chzn-select col-xs-3" name="meridianTo[]" id="meridianTo-Sunday" >
															<option value="am">a.m</option>
															<option value="pm">p.m</option>
														</select>
													</div>
													<div class="col-xs-1 col-sm-1">
														&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hours on Sundays"></i>
													</div>
												</div>
											</div> <!-- /control group sunday -->
											<div class="control-group" id="control-group-description-sunday">
												<label for="clinic-hour-description" class="control-label">Description:</label> 
												<div class="controls form-group">
														<div class="col-xs-11 col-sm-9">
															<textarea class="clinic-hour-description" placeholder="Your clinic hour schedule description on Sundays" value="" name="description[]"></textarea>
														</div>
														<div class="col-xs-1 col-sm-1">
															&nbsp;&nbsp;<i class="fa fa-question-circle inline" title="Your clinic hour schedule description on Sundays"></i>
														</div>
													</div>
													<div id="clinic-time-7" class="col-sx-12 col-sm-10 errorTime">
														<small><span></span></small>
													</div>
												</div><!-- /control group description sunday -->
												<div class="clearfix">
														&nbsp;
												</div><!-- / space -->
										</fieldset>
								<script type="text/javascript">
									generateTime('hours','minutes');
								</script>
								</div><!-- end clinic hours body -->
							</div><!-- end clinic hours -->
						</div><!-- end tab2 -->
				</div><!-- end tab content -->
				<input type="submit" value="" class="btn btn-primary saveCreateClinicInformation"/>
				</form>
				<div class="description">
				<ul class="pager wizard">
						<li class="previous">
							<button class="btn btn-primary pull-left"><i class="fa fa-caret-left"></i> Previous</button>
						</li>
						<li class="next">
							<button class="btn btn-primary pull-right" >Next <i class="fa fa-caret-right"></i></button>
						</li>
						<li class="finish" style="display: none">
							<button class="btn btn-success pull-right createClinicInformation" >Save <i class="fa fa-check"></i></button>
						</li>
				</ul>
				</div><!-- // form wizard bottom navigation -->
			</div><!-- end form wizard -->	
			</div> <!-- end content container -->
		</div><!-- end tab pane add clinic information-->
	</div><!-- end tab content -->
</div><!-- end tabbable -->
</section><!-- end widget -->
<div id="createClinicInformationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			</div>
			<div class="modal-body">
				<div class="col-md-12">
					<div class="alert alert-warning"  id="warning-message">
						<span id="modal-message">
							<strong id="message-logo"><i class="fa fa-bell-o">&nbsp;</i> Warning : </strong>
						</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="dismissModalBtn" class="btn" data-dismiss="modal"></button>
				<button type="button" id="yesModalBtn" class="btn"></button>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<script language="javascript">
	populateCountries("country", "state", "countrySelected", "stateSelected");
</script>