<?php 
  if (!empty($this->licenseInfo->licensenumber))
  {
    $licensenumber = $this->licenseInfo->licensenumber;
  }
  else
  {
    $licensenumber = $this->doctorInfo->licenseNumber;
  }

  if (!empty($this->licenseInfo->dateregistered))
  {
    $dateregistered = date('m/d/o', strtotime($this->licenseInfo->dateregistered));
  }

  if (!empty($this->licenseInfo->dateexpire))
  {
    $dateexpire = date('m/d/o', strtotime($this->licenseInfo->dateexpire));
  }
?>
<link rel="stylesheet" href="<?=base_url();?>public/css/themes/smoothness/jquery-ui.css" />
<script src="<?=base_url();?>public/js/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  display: 
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 1100 !important;
}
ul.ui-autocomplete {
    z-index: 1100;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>
<script>
$( document ).ready(function() 
{ 
	jQuery('#top-left-button').html('<button type="button" class="btn btn-primary btn-sm pull-right margin-top-two" id="modify-license-number"><i class="fa fa-edit"></i>&nbsp;&nbsp;Modify</button>');
	jQuery("#modify-license-number").on( "click", function() 
	{
    jQuery('#span-licensenumber').html('<input type="text" name="licensenumber" id="licensenumber" value="<?=@$licensenumber?>" class="tootipper"  title="License number" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the license number.">');
    jQuery('#span-dateregistered').html('<input type="text" class="masked-date tootipper" placeholder="mm/dd/yyyy" name="dateregistered" id="dateregistered" value="<?=@$dateregistered?>"  title="Date registered" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection">');
    jQuery('#span-dateexpire').html('<input type="text" class="masked-date tootipper" placeholder="mm/dd/yyyy" name="dateexpire" id="dateexpire" value="<?=@$dateexpire?>"   title="Date expired" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection">')
    jQuery('#top-left-button').html('<button type="button" class="btn btn-success btn-sm pull-right margin-top-two" id="save-license-number"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button><button type="button" class="btn btn-danger btn-sm pull-right margin-top-two" id="cancel-save-license"><i class="fa eicon-cancel"></i>&nbsp;Cancel</button>');
    jQuery('.specialtylink').show();
    jQuery('#specialtylist').append('<li><br><button type="button" class="btn btn-primary btn-sm" data-placement="top" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" id="addspecialty"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add another specialty</button></li>');
    jQuery('.specialtylink').on("click", function ()
    {
      var specialtyid = jQuery(this).attr('data-specialty');
      jQuery('#show-modal-change #myModalLabel').html('<h3 id="myModalLabel"><span>Delete</span> specialty?</h3>');
      jQuery('#show-modal-change .modal-body').html('<p>Are you sure you want to delete this contact?</p>');
      jQuery('#show-modal-change .modal-footer').html('<a href="javascript:void(0);" id="deletethisyes" class="btn btn-primary" data-loading-text="Loading...">Yes</a><button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button>');
      jQuery("#deletethisyes" ).on( "click", function() 
      {
        jQuery('#license-information-area').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
        jQuery('#show-modal-change').modal('hide');
        jQuery.ajax({
        url: BASEURLL+"practiceSettings/deleteSpecialty?ajax=true",
        type: "POST",
        data: {
            specialtyid: specialtyid,
        },
        dataType: "JSON",
        success: function (data) {
            if (data.errorStatus == false)
            {       
            jQuery("#license-information-area").load("<?=base_url();?>practiceSettings/displayLicenseSettings");
          }
        }
        });
      });
    });
    jQuery('#addspecialty').on("click", function()
    {
      jQuery('#show-modal-change .modal-body').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
      jQuery('#show-modal-change #myModalLabel').html('<h3 id="myModalLabel"><span>Add another</span> specialty</h3>');
      jQuery('#show-modal-change .modal-body').load(BASEURLL+'practiceSettings/addAnotherSpecialty');
      jQuery('#show-modal-change .modal-footer').html('<a href="javascript:void(0);" id="insertthisspecialtynow" class="btn btn-primary" data-loading-text="Loading...">Save Changes</a><button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>');
      jQuery("#insertthisspecialtynow" ).on( "click", function() 
      {
        var formData = jQuery('.form-horizontal').serialize();
        jQuery.ajax({
        url: BASEURLL+"practiceSettings/addAnotherSpecialty?ajax=true",
        type: "POST",
        data: formData,
        dataType: "JSON",
        success: function (data) {
            if (data.errorStatus == false)
            {
              jQuery('#show-modal-change').modal('hide');
              jQuery('#license-information-area').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
              jQuery("#license-information-area").load("<?=base_url();?>practiceSettings/displayLicenseSettings");
              jQuery('#show-modal-change .modal-footer').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Saving please wait...');
          }
          else
          {
            jQuery('.alert').alert('close');
            jQuery('#show-modal-change .modal-body').prepend('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+data.errorMessage+'</div>');
            jQuery('.alert').fadeOut(5000);
          }
        }
        });
      });
    });
    jQuery("#save-license-number").on( "click", function() 
		{
        var licensenumberandpractice = jQuery('#licensenumberandpractice').serialize();
        jQuery('#save-license-number').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Save');
      
    //    console.log(licensenumberandpractice);
        jQuery.ajax({
        url: BASEURLL+"practiceSettings/saveLicenseSettings?ajax=true",
        type: "POST",
        data: licensenumberandpractice,
        dataType: "JSON",
        success: function (data) {
          if (data.errorStatus == false)
          {
            jQuery('#license-information-area').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings');
            jQuery("#license-information-area").load("<?=base_url();?>practiceSettings/displayLicenseSettings");
          }
          else
          {
            jQuery('.alert').alert('close');
            jQuery('#save-license-number').html('<i class="fa fa-save"></i>&nbsp;&nbsp;Save');
            jQuery('#license-information-area').prepend('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>'+data.errorMessage+'</div>');
            jQuery('.alert').fadeOut(5000);
          }
        }
        });

		});
    jQuery("#cancel-save-license").on( "click", function() 
    {
      jQuery('#license-information-area').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Please wait, loading settings');
      jQuery("#license-information-area").load("<?=base_url();?>practiceSettings/displayLicenseSettings");
    });

    jQuery(".masked-date").mask("99/99/9999");
    jQuery('.tootipper').popover();
  });  
});
</script>
<div class="content container row">
<form name="licensenumberandpractice" method="post" action="" id="licensenumberandpractice">
  <label for="licensenumber" class="col-md-3">License Number:</label>
    <span id="span-licensenumber"><?=@$licensenumber;?></span>
  <br><br>
  <label for="dateregistered" class="col-md-3">Date registered (optional): </label>
    <span id="span-dateregistered">
      <?php
        if (!empty($this->licenseInfo->dateregistered))
        echo date('F j, o',strtotime(@$this->licenseInfo->dateregistered));
      ?>
    </span>
  <br><br>
  <label for="dateexpire" class="col-md-3">Renewal Date (optional): </label>
    <span id="span-dateexpire">
      <?php 
        if (!empty($this->licenseInfo->dateexpire))
        echo date('F j, o',strtotime(@$this->licenseInfo->dateexpire));
      ?>
    </span>
  <br>
</form>
<hr>
<h4>Specialty(ies)</h4>
<ol id="specialtylist">
    <?php foreach ($this->specialty as $specialty): ?>
      <li><?=$specialty->specialtyName?>&nbsp;&nbsp;<button type="button" data-specialty="<?=$specialty->specialty_id?>" class="specialtylink btn btn-default btn-sm"  data-placement="top" style="display: none;" data-original-title=".btn .btn-primary .btn-sm" data-toggle="modal" data-target="#show-modal-change" >Delete</button></li>
    <?php endforeach; ?>
</ol>

</div>