<h3>Please select appointment settings: </h3>
<ul>
	<?php foreach ($this->appointmentSettings as $value): ?>
	<li><a href="<?=base_url();?>appointments/settingsLocation?IDappointments_settings=<?=@$value->IDappointments_settings?>"><?=$value->settingsname;?></a></li>
	<?php endforeach; ?>
</ul>