<script type="text/javascript">
jQuery( document ).ready(function() 
{
    jQuery( ".deletethisappointmentsettings" ).on( "click", function()
    {
        var IDappointments_settings = jQuery(this).attr('data-appsettings');
        jQuery('#show-modal-change #myModalLabel').html('<h3 id="myModalLabel"><span>Delete</span> Appointment Settings?</h3>');
        jQuery('#show-modal-change .modal-body').html('<p>Are you sure you want to delete this settings?<br>This will also delete connected locations, schedule and types with it.</p>');
        jQuery('#show-modal-change .modal-footer').html('<a href="javascript:void(0);" id="deletethisappointmentsettingsyes" class="btn btn-primary" data-loading-text="Loading...">Yes</a><button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button>');
        jQuery("#deletethisappointmentsettingsyes" ).on( "click", function() 
        {
            jQuery('#appointment-settings').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
            jQuery('#show-modal-change').modal('hide');
            jQuery.ajax({
            url: BASEURLL+"appointments/deleteSettings?ajax=true",
            type: "POST",
            data: {
                IDappointments_settings: IDappointments_settings
            },
            dataType: "JSON",
            success: function (data) {
                // if (data.errorStatus == false)
                // {                
                    jQuery('#appointment-settings').load(BASEURLL+'practiceSettings/appointmentSettingsDisplay');
                    jQuery('#practice-locations').load(BASEURLL+'practiceSettings/displayPracticeLocations');
                    jQuery('#appointment-schedules').load(BASEURLL+'practiceSettings/displayAppointmentSchedulesSettings');
                // }
            }
            });
        });
    });
});
</script>
<?php if (!empty($this->appointmentSettings)): ?>
<table class="table table-bordered table-hover table-striped table-condensed">
    <tr>
        <th>Settings name</th>
        <th>Average time per patient</th>
        <th>Appointment limit</th>
        <th>Queue limit </th>
        <th>Allow overlap</th>
        <th>Options</th>
    </tr>
<?php foreach ($this->appointmentSettings as $value): ?>
    <tr>
        <td><?=@$value->settingsname?></td>
        <td><?=@$value->averagetimeperpatient_min?></td>
        <td><?=@$value->appointment_limit?></td>
        <td><?=@$value->queue_limit?></td>
        <td>
            <?php echo (((boolean)$value->allowoverlap == TRUE) ? 'yes' : '<strong>no</strong>'); ?>
        </td>
        <td>
            <?php
                $appointmentLocations = $this->clinicsettings->getLocationsFromAppointment($value->IDappointments_settings);
                if (!empty($appointmentLocations)): 
            ?>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-default" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Options <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="<?=base_url();?>appointments/settings?IDappointments_settings=<?=@$value->IDappointments_settings?>&modifyonly=TRUE"  ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify settings</a></li>
                    <li><a href="<?=base_url();?>appointments/settingsAppointmentType?IDappointments_settings=<?=@$value->IDappointments_settings?>&modifyonly=TRUE"  ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify appointment types</a></li>
                </ul>
            </div>
            <?php else: ?>
            <div class="btn-group">
            <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; No locations <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a a href="<?=base_url();?>appointments/settingsLocation?IDappointments_settings=<?=@$value->IDappointments_settings?>"  ><i class="icon-question-sign"></i>Connect to locations</a></li>
                    <li class="divider"></li>
                    <li><a href="<?=base_url();?>appointments/settings?IDappointments_settings=<?=@$value->IDappointments_settings?>&modifyonly=TRUE"  ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify settings</a></li>
                    <li><a href="<?=base_url();?>appointments/settingsAppointmentType?IDappointments_settings=<?=@$value->IDappointments_settings?>&modifyonly=TRUE"  ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify appointment types</a></li>
                    <li><a href="#show-modal-change" type="button"  class="deletethisappointmentsettings"   data-placement="top" data-appsettings="<?=@$value->IDappointments_settings?>"  data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-times"></i>&nbsp;&nbsp;Delete</a></li>
                </ul>
            </div>
            <?php endif; ?>
        </td>
    </tr>
<?php endforeach; ?>
</table>
<?php else: ?>
<p>Appointment settings not yet set.  Please click the button &quot;Add appointment settings&quot;.</p>
<?php endif; ?>