<table class="table table-bordered table-hover table-striped table-condensed">
<thead>
<tr>
    <th>Settings name</th>
    <th>Location type</th>
    <th>Number of doctors</th>
    <th>Website</th>
    <th>Settings name</th>
</tr>
</thead>
    <tbody>
    <?php foreach ($this->getDoctorActualSchedule as $value): ?>
    <tr>
        <td><?=@$value->settingsname?></td>
        <td><?=date('h:i A',strtotime(@$value->timefrom))?></td>
        <td><?=@$value->timefrom?></td>
        <td><?=@$value->timefrom?></td>
        <td>
             <div class="btn-group">
                <button class="btn dropdown-toggle btn-default" data-toggle="dropdown"><?=@$value->settingsname?> &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="fa fa-times"></i>&nbsp;&nbsp;Delete</a></li>
                </ul>
            </div>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>