<h3>Please select location: </h3>
<ul>
	<?php foreach ($this->allLocations as $value): ?>
	<li><a href="<?=base_url();?>appointments/settingsLocation?IDlocation_info=<?=@$value->IDlocation_info?>"><?=$value->locationname;?></a></li>
	<?php endforeach; ?>
</ul>