<script type="text/javascript">
jQuery( document ).ready(function() 
{
    jQuery( ".deletepracticelocations" ).on( "click", function()
    {
        var IDlocation_info = jQuery(this).attr('data-locationinfo');
        jQuery('#show-modal-change #myModalLabel').html('<h3 id="myModalLabel"><span>Delete</span> Practice Locations?</h3>');
        jQuery('#show-modal-change .modal-body').html('<p>Are you sure you want to delete this location?<br>This may also delete connected settings with it.</p>');
        jQuery('#show-modal-change .modal-footer').html('<a href="javascript:void(0);" id="deletepracticelocationsyes" class="btn btn-primary" data-loading-text="Loading...">Yes</a><button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">No</button>');
        jQuery("#deletepracticelocationsyes" ).on( "click", function() 
        {
            jQuery('#appointment-settings').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Loading... please wait');
            jQuery('#show-modal-change').modal('hide');
            jQuery.ajax({
            url: BASEURLL+"practiceSettings/deleteLocation?ajax=true",
            type: "POST",
            data: {
                IDlocation_info: IDlocation_info
            },
            dataType: "JSON",
            success: function (data) {
                // if (data.errorStatus == false)
                // {                
                    jQuery('#appointment-settings').load(BASEURLL+'practiceSettings/appointmentSettingsDisplay');
                    jQuery('#practice-locations').load(BASEURLL+'practiceSettings/displayPracticeLocations');
                    jQuery('#appointment-schedules').load(BASEURLL+'practiceSettings/displayAppointmentSchedulesSettings');
                // }
            }
            });
        });
    });
});
</script>
<table class="table table-bordered table-hover table-striped table-condensed" >
<thead>
<tr>
    <th>Location name</th>
    <th>Location type</th>
    <th>Number of doctors</th>
    <th>Website</th>
    <th>Appointment setting</th>
</tr>
</thead>
    <tbody>
    <?php foreach ($this->allLocations as $value): ?>
    <tr>
        <td><?=@$value->locationname?></td>
        <td><?=@$value->locationtype?></td>
        <td><?=@$value->numberofdoctors?></td>
        <td><?=@$value->website?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-default" data-toggle="dropdown"><?=@$value->settingsname?> &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="<?=base_url();?>appointments/settingsLocation?IDlocation_info=<?=@$value->IDlocation_info?>" data-toggle="modal" ><i class="fa fa-pencil"></i>&nbsp;&nbsp;Modify settings</a></li>
<!--                     <li><a href="#show-modal-change" data-locationinfo="<?=@$value->IDlocation_info?>" class="margin-top-two deletepracticelocations" href="#show-modal-change"  data-placement="top" data-toggle="modal" data-target="#show-modal-change"><i class="fa fa-times"></i>&nbsp;&nbsp;Delete</a></li>
 -->                </ul>
            </div>
        </td>
    </tr>
    <?php endforeach; ?>
    </tbody>
</table>