<script src="<?=base_url();?>public/js/custom-dashboard-allergy-profileviewer.js"></script>
<?php if (!empty($results)): ?>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Allergen</th>
        <th>Date last experienced</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <?php foreach ($results as $allergy): ?>
    <tr>
        <td><?=@$allergy['allergenName']?></td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; <?=date('M j, Y',strtotime(@$allergy['dateexperienced']))?> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                </ul>
            </div>
        </td>
        <td>    
            <?php if (!empty($allergy['IDemr_user'])): ?>
                <?php if (!empty($this->sessionid)): ?>
                    <?php if ((int)@$allergy['IDemr_user'] == (int)$this->myemrsession->IDemr_user): ?>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#show-modal-change" data-toggle="modal" class="modifythisallergy" data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                                <li><a href="#show-modal-change" data-toggle="modal" class="deletethisallergy"  data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                                <li class="divider"></li>
                                <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                            </ul>
                        </div>
                    <?php else: ?>
                        <div class="btn-group">
                            <button class="btn dropdown-toggle btn btn-info" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($allergy['lastname']));?> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                                <li class="divider"></li>
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                                <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                                <li class="divider"></li>
                                <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                            </ul>
                        </div>
                    <?php endif; ?>
                <?php else: ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($allergy['lastname']));?> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                            <li class="divider"></li>
                            <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                        </ul>
                    </div>
                <?php endif; ?>
            <?php else: ?>
                <?php if (!empty($this->sessionid)): ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Patient input <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisallergy" data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li class="divider"></li>
                            <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                        </ul>
                    </div>
                <?php else: ?>
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" data-toggle="modal" class="modifythisallergy" data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                            <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                            <li><a href="#show-modal-change" data-toggle="modal" class="deletethisallergy"  data-allergyid="<?=@$allergy['IDsafe_allergen']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                            <li class="divider"></li>
                            <li><a href="#show-modal-change" class="experienceitnow" data-allergyid="<?=@$allergy['IDsafe_allergen']?>" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Experiencing it now</a></li>
                        </ul>
                    </div>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    <?php endforeach; ?>
</tbody>
</table>
<?php else: ?>
<?php if (!empty($this->sessionid)): ?>
<br><br>
<center>No data here</center>
<br><br>
<?php else: ?>
<p>Note: Sample data below.  This will be changed if your doctor or you will input some data in it.</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Allergen</th>
        <th>Date last experienced</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>Sample Data</td>
        <td><?php echo date('M j, Y');?></td>
        <td>On going</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Delete info</a></li>
                </ul>
                </div>
        </td>
    </tr>
    <tr>
        <td>Sample Data from doctor</td>
        <td><?php echo date('M j, Y');?></td>
        <td>Treated</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  Your Dr. <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    
    </tbody>
</table>
<?php endif; ?>
<?php endif; ?>
<div id="allergen-pagination-div-id"><?php echo $links; ?></div>