<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 99999999 !important;
}
ul.ui-autocomplete {
    z-index: 99999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* reaction and treatment */
jQuery("#addmoreaction").click(function(e)
{
  var countreaction = parseInt(jQuery("#countreaction").val()) + 1;
  var DOMreaction = countreaction-1;
  jQuery('#reaction'+DOMreaction).after('<input name="reaction'+countreaction+'" placeholder="Reaction '+countreaction+'. Example: Difficulty breathing, Nosebleed, back pain" id="reaction'+countreaction+'" type="text" value="" class="select-block-level conditionOrSymptom">');
  jQuery("#countreaction").val(countreaction);
  jQuery( ".conditionOrSymptom" ).autocomplete({
    autoFocus: true,
    source: function( request, response ) {
      jQuery.ajax({
        // url: "http://gd.geobytes.com/AutoCompleteCity",
        dataType: "jsonp",
        url: BASEURLL+"problem/displayProblems",
        // dataType: "json",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 3,
    select: function( event, ui ) {
      // log( ui.item ?
      //   "Selected: " + ui.item.label :
      //   "Nothing selected, input was " + this.value);
    },
    open: function() {
      jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

}); 
jQuery("#addmoretreatment").click(function(e)
{
  var counttreatment = parseInt(jQuery("#counttreatment").val()) + 1;
  var DOMreaction = counttreatment-1;
  jQuery('#medication'+DOMreaction).after('<input name="medication'+counttreatment+'" placeholder="Treatment '+counttreatment+'. Example: Aspirin, Glyburide, Multivitamin" id="medication'+counttreatment+'" type="text" value="" class="select-block-level meds">');
  jQuery("#counttreatment").val(counttreatment);
  jQuery( ".meds" ).autocomplete({
    autoFocus: true,
    source: function( request, response ) {
      jQuery.ajax({
        // url: "http://gd.geobytes.com/AutoCompleteCity",
        dataType: "jsonp",
        url: BASEURLL+"medication/displayMedication",
        // dataType: "json",
        data: {
          q: request.term
        },
        success: function( data ) {
          response( data );
        }
      });
    },
    minLength: 3,
    select: function( event, ui ) {
      // log( ui.item ?
      //   "Selected: " + ui.item.label :
      //   "Nothing selected, input was " + this.value);
    },
    open: function() {
      jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
    },
    close: function() {
      jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
    }
  });

}); 

/* datepicker */
jQuery(".masked-date").mask("99/99/9999");
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-dateexperienced');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateexperienced').val($btnCalendar.data('date'));
});
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });

/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
 

jQuery( "#allergens" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"allergy/displayList",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

jQuery( ".conditionOrSymptom" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"problem/displayProblems",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

jQuery( ".meds" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"medication/displayMedication",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});
</script>
<input name="IDsafe_allergen" type="hidden" value="<?=@$this->allergenInfo['IDsafe_allergen'];?>">
<div class="control-group">
  <label for="allergens">What are you allergic to?&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="allergen" type="text" required class="tootipper select-block-level" id="allergens" placeholder="Example: penicillins, peanuts, cat dander"  title="Allergens" value="<?=@$this->allergenInfo['allergenName']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one allergy per entry.  For your convenience you can select from the list. Example: penicillins, peanuts, cat dander" /><br><br>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
          <div class="col-md-6" >
            <div class="input-group">
              Onset<br>
              <label> (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br>
                <input required id="select-calendar-dateexperienced" name="dateexperienced" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->allergenInfo['dateexperienced'])) echo date('m/d/o', strtotime($this->allergenInfo['dateexperienced'])); else echo date('m/d/o'); ?>" title="Date problem started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-dateexperienced" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->datestarted)) echo date('m/d/o', strtotime($this->datestarted)); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label>
            </div>
            </div>
            <div class="col-md-6">
                  <label class="select-block-level">How severe is this allergy? </label>
            <label><input name="severity" type="radio" required value="1" <?php echo ((@$this->allergenInfo['severity'] == 1) ? 'checked' : ''); ?> >&nbsp;&nbsp;Mild - Requires little or no medical treatment.</label><br>
            <label><input name="severity" type="radio" required value="5" <?php echo ((@$this->allergenInfo['severity'] == 5) ? 'checked' : ''); ?> >&nbsp;&nbsp;Severe - May require immediate medical treatment.</label>
    <br><br>
            </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <?php 
          $ihapreaction = 1;
          $ihaptreatment = 1;
        ?>
        <?php if (!empty($this->allergenInfo['reactions'])):?>
          <?php foreach ($this->allergenInfo['reactions'] as $react): ?>
            <?php if ($ihapreaction == 1): ?>
              <label class="select-block-level">Known reaction:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
              <input  name="reaction1" type="text" id="reaction1" class="tootipper conditionOrSymptom col-sm-12" placeholder="Example: Difficulty breathing, Nosebleed, back pain"  value="<?=@$react;?>" title="Known allergic reaction" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one reaction per entry.  For your convenience you can select from the list. Example: Difficulty breathing, Nosebleed, back pain.  For your convenience you can select from the list." /> 
            </label>
            <?php else: ?>
              <input name="reaction<?=$ihapreaction?>" placeholder="Reaction <?=$ihapreaction?>. Example: Difficulty breathing, Nosebleed, back pain" id="reaction<?=$ihapreaction?>" type="text" value="<?=$react?>" class="select-block-level conditionOrSymptom">
            <?php endif; ?>
            <?php $ihapreaction++; ?>
          <?php endforeach; ?>
        <?php else: ?>
          <label class="select-block-level">Known reaction:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
          <input  name="reaction1" type="text" id="reaction1" class="tootipper conditionOrSymptom col-sm-12" placeholder="Example: Difficulty breathing, Nosebleed, back pain"  value="<?=@$this->allergenInfo['reaction1'];?>" title="Known allergic reaction" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one reaction per entry.  For your convenience you can select from the list. Example: Difficulty breathing, Nosebleed, back pain.  For your convenience you can select from the list." /> 
          </label>
        <?php endif; ?>
        <a href="javascript:void(0);" id="addmoreaction" >Add more reaction.</a>
      </div>
      <div class="col-md-6">
        <?php if (!empty($this->allergenInfo['treatments'])):?>
        <?php foreach ($this->allergenInfo['treatments'] as $treat): ?>
            <?php if ($ihaptreatment == 1): ?>
              <label for="meds">Known Treatment:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
                <input name="medication1" id="medication1" type="text"  class="tootipper select-block-level meds" id="meds" placeholder="Example: Aspirin, Glyburide, Multivitamin"  title="Known Treatment" value="<?=@$treat;?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one treatment per entry.  For your convenience you can select from the list. Example: Aspirin, Glyburide, Multivitamin" />
            <?php else: ?>
            <input name="medication<?=$ihaptreatment?>" placeholder="Treatment <?=$ihaptreatment?>. Example: Aspirin, Glyburide, Multivitamin" id="medication<?=$ihaptreatment?>" type="text" value="<?=@$treat;?>" class="select-block-level meds">
            <?php endif; ?>
            <?php $ihaptreatment++; ?>
          <?php endforeach; ?>
        <?php else: ?>
          <label for="meds">Known Treatment:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
          <input name="medication1" id="medication1" type="text"  class="tootipper select-block-level meds" id="meds" placeholder="Example: Aspirin, Glyburide, Multivitamin"  title="Known Treatment" value="<?=@$this->allergenInfo['medication1']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one treatment per entry.  For your convenience you can select from the list. Example: Aspirin, Glyburide, Multivitamin" />
        <?php endif; ?>
         <a href="javascript:void(0);" id="addmoretreatment">Add more treatment.</a><br>
         <input name="countreaction" type="hidden" id="countreaction" value="<?php if (!empty($this->allergenInfo['countreaction'])) echo $this->allergenInfo['countreaction']; else echo 1;?>"><input name="counttreatment" type="hidden" id="counttreatment" value="<?php if (!empty($this->allergenInfo['counttreatment'])) echo $this->allergenInfo['counttreatment']; else echo 1;?>">
         <br>
      </div>
    </div>
    <label class="select-block-level">First note or journal entry: <i class="tootipper fa fa-question-circle"></i>
          <textarea placeholder="Notes" name="notes"  class="tootipper select-block-level" id="notes"  title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Some notes to help you, your staff and other attending healthcare professionals." ><?=@$this->allergenInfo['notes'];?></textarea>
    </label>
    <p>Example: Add note from a doctor visit, record how you feel today, and so on.</p>
    </div>
    <input name="IDemr_journal" type="hidden" value="<?=@$this->allergenInfo['IDemr_journal'];?>">
    <section class="col-md-4 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->allergenInfo['doctor-notes'];?></textarea>
    </label>
  </section> 
</div>