<script type="text/javascript">
$(function()
{
  // Variable to store your files
  var files;

  // Add events
  $('input[type=file]').on('change', prepareUpload);
  $('#upload-form-area').on('submit', uploadFiles);

  // Grab the files and set them to our variable
  function prepareUpload(event)
  {
    files = event.target.files;
  }

  // Catch the form submit and upload the files
  function uploadFiles(event)
  {
    event.stopPropagation(); // Stop stuff happening
    event.preventDefault(); // Totally stop stuff happening

    // START A LOADING SPINNER HERE
    if (files)
    {
      $('#error-area').html('<i class="fa fa-spinner fa-spin"></i>&nbsp;Please wait loading');
    }
    else
    {
      $('#error-area').html('<p class="alert alert-danger">No file selected</p>');
    }

    // Create a formdata object and add the files
    var data = new FormData();
    $.each(files, function(key, value)
    {
      data.append("file_upload", value);
    });
        
        $.ajax({
            url: BASEURLL+'profilepic/upload?ajax=TRUE',
            type: 'POST',
            data: data,
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function(data, textStatus, jqXHR)
            {
              if(typeof data.error === 'undefined')
              {
                // Success so call function to process the form
                // submitForm(event, data);
                if (data.uploaded == false)
                {
                  $('#error-area').html('<div class="alert alert-danger">'+data.formData.error+'</div>');
                }
                else
                {
                  var script = document.createElement( 'script' );
                  script.type = 'text/javascript';
                  script.src = BASEURLL+'public/js/custom-cropping.js';
                  // console.log(data.formData.upload_data);
                  if (data.formData.upload_data.image_width < 600)
                  {
                    $('#upload-area').html('<div id="img-area"><img src="'+BASEURLL+'public/uploads/'+data.formData.upload_data.file_name+'" alt=""  id="cropbox"  ><form action="'+BASEURLL+'profilepic/cropimg" method="post" onsubmit="return checkCoords();" id="cropform">  <input type="hidden" id="x" name="x" /><input type="hidden" id="y" name="y" />   <input type="hidden" id="w" name="w" />   <input type="hidden" id="h" name="h" />   <input type="submit" value="Crop Image" class="btn btn-large btn-inverse" /></form>  </div>');
                    $("#upload-area").append( script );
                    // $('#upload-area').html('<div id="img-area"><img src="'+BASEURLL+'public/uploads/'+data.formData.upload_data.file_name+'" alt="" ></div>');
                  }
                  else
                  {
                    $('#con-upload-area').html('<div id="img-area"><img src="'+BASEURLL+'public/uploads/'+data.formData.upload_data.file_name+'" alt=""  id="cropbox"  ><form action="'+BASEURLL+'profilepic/cropimg" method="post" onsubmit="return checkCoords();" id="cropform">  <input type="hidden" id="x" name="x" /><input type="hidden" id="y" name="y" />   <input type="hidden" id="w" name="w" />   <input type="hidden" id="h" name="h" />   <input type="submit" value="Crop Image" class="btn btn-large btn-inverse" />  </form></div>');
                    $("#con-upload-area").append( script );
                  }
                }
                
              }
              else
              {
                // Handle errors here
                $('#error-area').html('<div class="alert alert-danger">'+data.formData.error+'</div>');
              }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
              // Handle errors here
              // console.log('ERRORS: ' + textStatus);
              // STOP LOADING SPINNER
            }
        });
    }


  function submitForm(event, data)
  {
    // Create a jQuery object from the form
    $form = $(event.target);
    
    // Serialize the form data
    var formData = $form.serialize();
    
    // You should sterilise the file names
    $.each(data.files, function(key, value)
    {
      formData = formData + '&filenames[]=' + value;
    });

    $.ajax({
      url: BASEURLL+'profilepic/upload?ajax=TRUE',
            type: 'POST',
            data: formData,
            cache: false,
            dataType: 'json',
            success: function(data, textStatus, jqXHR)
            {
              if(typeof data.error === 'undefined')
              {
                // Success so call function to process the form
               // console.log('SUCCESS: ' + data.success);
              }
              else
              {
                // Handle errors here
             //   console.log('ERRORS: ' + data.error);
              }
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
              // Handle errors here
            //  console.log('ERRORS: ' + textStatus);
            },
            complete: function()
            {
              // STOP LOADING SPINNER
            }
    });
  }
 
});
</script>
<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Health profile</a><span class="divider"></span></li>
        <li class="active">Change profile pic</li><span class="divider"></span></li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="maincontent">            
<div class="contentinner content-dashboard">
<div class="row tallheight" id="con-upload-area" style="padding-top: 100px;">
            <header>
                <h4>Change profile pic</h4>
            </header>
  <div class="col-md-5 widget-container " >
    <center>
    <?php if (strcasecmp(@$this->profilepicInfo->type, "profile-pic-s3")==0): ?>
      <img src="<?php echo s3_url();  ?>profilepic/<?=@$this->profilepicInfo->filename?>" alt="" class="img-circle img-polaroid">
    <?php else: ?>
      <img src="<?=base_url();?>public/img/profilethumb.png" alt="" class="img-circle img-polaroid">
    <?php endif; ?>
    </center>
<legend class="section">
    Recommended:  Only <?=@$this->uploadInfo['allowed_types']?> type is allowed.  Picture size is not greater than <?=@$this->uploadInfo['max_size']?> KB.  Picture width should not be wider and taller than <?=@$this->uploadInfo['max_width']?>px.  Thank you.
</legend>
</div>
  <div class="col-md-5 widget-container " id="upload-area">
    <?php if (@strcasecmp($this->profilepicInfo->type, "profile-pic-ec2")==0): ?>
      <div id="img-area">
        <img src="<?=base_url();?>public/uploads/<?=$this->profilepicInfo->filename?>" id="cropbox" />
        <script src="<?=base_url();?>public/js/custom-cropping.js"></script>
        <form action="<?=base_url();?>profilepic/cropimg" method="post" onsubmit="return checkCoords();" id="cropform">  
          <input type="hidden" id="x" name="x" />
          <input type="hidden" id="y" name="y" />   
          <input type="hidden" id="w" name="w" />   
          <input type="hidden" id="h" name="h" />   
          <input type="submit" value="Crop Image" class="btn btn-large btn-inverse" />  
        </form>
      </div>
    <?php else: ?>
      <?=$this->load->view('profilepic/upload-area.phtml');?>
    <?php endif; ?>
  </div>
</div>
<div class="row tallheight">
  <div class="col-md-10 widget-container tallheight">
   
  </div>



	<!-- This is the form that our event handler fills -->
	
</div>
</div>
</div>