<section class="widget">
  <!-- <input type="file" name="userfile" size="20" /> <input type="submit" value="upload" /> -->
  <div id="error-area">
    <?php //print_r(@$this->error);?>
    <?php //print_r(@$this->data);?>
  </div>
  <p >
    Upload picture from your computer.
  </p>
  <form action="<?=base_url();?>profilepic/upload" name="form" method="post" accept-charset="utf-8" enctype="multipart/form-data" id='upload-form-area'>  
        <input type="file" name="file_upload" id="file_upload" class="form-control input-transparent">
        <div style="text-align: center; width: 100%;">
        <input  type="submit" name="submit" value="Upload" class="btn btn-info btn-lg">
      </div>
  </form>
</section>