<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to my doctor</a></li>
        <li class="active">Clinic Information</li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Doctor's Address</h1>
</div><!--pagetitle--> 
<div class="maincontent">
	<div class="content container">
	  	<div class="row">
			<div class="col-md-8">
				
				<?php if (!empty($this->clinicInfo)): ?>
					<?php foreach ($this->clinicInfo as $key): ?>
						<?php echo $key['street']; ?>
					<?php endforeach; ?>
				<?php else: ?>
					test
				<?php endif; ?>
			</div>
			<div class="col-md-4">
				testing
			</div>
		</div>
	</div>
</div>