<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to your doctor</a></li>
        <li class="active">Recommend</li>
  </ul>
</div><!--breadcrumbwidget-->
<div class="pagetitle">
<h1>Dr. <?=ucwords($this->nagkamoritsing->ibalik(@$this->doctorInfo[0]->lastname)) ?> recommendations</h1>
</div><!--pagetitle--> 
<div class="maincontent">
	<div class="content container">
  		<div class="row">
			<div class="col-md-8">
                <legend class="section">
                    Note: Not all recommendation are shown.  All recommendations are subject to your doctor's approval.
                </legend>
                <div class="body no-margin">
                    <div>&nbsp;</div>
                <?php if (!empty($this->recommends)): ?>
                    <?php foreach ($this->recommends as $key): ?>
                        <section class="search-result">
                            <p><?=@$key->notes?></p>
                            <p class="text-success"><small><?=ucwords($this->nagkamoritsing->ibalik(@$key->firstname).' '.$this->nagkamoritsing->ibalik(@$key->lastname));?></small></p>
                        </section>
                    <?php endforeach; ?>
                <?php else: ?>
                    <section class="search-result">
                        <h4>No Recommendation yet, be the first one or the recommendation message not shown.</h4>
                    </section>
                <?php endif; ?>
                </div>
                <div>
                   <?php 
                    $errorReturn = validation_errors();
                    ?>
                    <?php if ( (!empty($this->errorMessage)) || (!empty($errorReturn)) ): ?>
                    <div class="alert alert-block alert-error fade in">
                    <?php
                      echo $this->errorMessage;
                      echo validation_errors(); 
                    ?>
                    </div>
                    <?php endif; ?>
                    <form action="" method="post" enctype="multipart/form-data" target="_self" name="recommend-doctor">
                    <div class="control-group">
                        <div class="controls form-group">
                            <textarea rows="3" class="autogrow form-control" id="recommendationNotes" name="recommendationNotes"
                                      placeholder="You may also add comments and suggestions to boost your doctor's search ranking."></textarea>
                        </div>
                    </div>
                    <?php if (!$_POST): ?>
                    <button type="button" class="btn btn-danger" onclick="goBack();" >Back to find my doc</button>
                    <?php endif; ?>
                    <input type="submit" name="recommend-doctor" class="btn btn-success" id="recommend-doctor" value="Recommend this Doctor" />
                    </form>
                </div>
			</div>
      <div class="col-md-4">
                <?php if(!empty($this->doctorInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-user-md">&nbsp;</i>
                            Doctor Information
                        </h5>
                    </header>
                    <div class="body">
                    <?php foreach ($this->doctorInfo as $key): ?>
                        <h3>Dr. <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->firstname));?> 
                        <?php echo ucwords(substr($this->nagkamoritsing->ibalik(@$key->middlename), 0, 1)); ?>.
                        <?php echo ucwords($this->nagkamoritsing->ibalik(@$key->lastname)); ?>
                        , MD</h3>
                    <?php endforeach; ?>
                    <h5>Specialty:</h5>
                    <?php if (!empty($this->doctorSpecialty)): ?>
                        <ul>
                            <?php foreach ($this->doctorSpecialty as $key): ?>
                                <li><a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$key->specialty_id;?>" class="doc-specialty"><?php echo $key->specialtyName; ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    <?php endif; ?>
                    <a href="<?=base_url();?>messages?to=<?=@$this->dr;?>" class="btn btn-block btn-info"><i class="fa fa-envelope">&nbsp;</i>
                        Send message to this doctor</a>
                    <a  class="btn btn-block btn-info" href="<?=@base_url()?>appointmentsPatient/setAppointmentFromPatient?to=<?=@$this->dr?>"><i class="fa fa-calendar">&nbsp;</i>Set Appointment to this doctor</a>
                        
                    </div>
                </section>
                <?php endif; ?>
                <?php if (!empty($this->clinicInfo)): ?>
                <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-medkit">&nbsp;</i>
                            Clinic information
                        </h5>
                    </header>
                    <div class="body">                        
                    <?php foreach ($this->clinicInfo as $key): ?>
                        <?php if (!empty($key['locationname'])): ?>
                            <h4><?php echo $key['locationname']; ?></h4>
                            <?php echo ((!empty($key['street'])) ?  ucwords($key['street']) : ''); ?>
                            <?php echo ((!empty($key['city'])) ? ', '.ucwords($key['city']).' city'  : ''); ?>
                            <?php echo ((!empty($key['state']))  ? ', <br>'.ucwords($key['state']) : ''); ?>
                            <?php echo ((!empty($key['country']))  ? ', '.ucwords($key['country']) : ''); ?>
                            <?php echo ((!empty($key['postcode']))  ? ', '.ucwords($key['postcode']) : ''); ?>
                        <?php else: ?>
                            <?php echo ((!empty($key['street'])) ?  ucwords($key['street']) : ''); ?>
                            <?php echo ((!empty($key['city'])) ? ', '.ucwords($key['city']).' city'  : ''); ?>
                            <?php echo ((!empty($key['state']))  ? ', <br>'.ucwords($key['state']) : ''); ?>
                            <?php echo ((!empty($key['country']))  ? ', '.ucwords($key['country']) : ''); ?>
                            <?php echo ((!empty($key['postcode']))  ? ', '.ucwords($key['postcode']) : ''); ?>
                        <?php endif; ?>    
                    <?php endforeach; ?>
                    </div>
                </section>
                <?php endif; ?>
            </div>
		</div>
	</div>
</div>

