<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="/dashboard">Dashboard</a> <span class="divider"></span></li>
        <li class="active"><a href="/connectDoctor/search">Connect to my doctor</a></li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Find my doctor</h1>
</div><!--pagetitle--> 
<div class="maincontent">
  <div class="content container">
  <div class="row">
<div class="col-md-8">
<?php 
# 50 to 54 characters per row
?>
<?php if (!empty($searchResult)): ?>
    <hr>
    <?php foreach ($searchResult as $key): ?>
    <div class="row-fluid search-boxes">
      <div class="span4">
        <?php 
         $profilepic = $this->profilepic->getprofilepicinfo(@$this->nagkamoritsing->ibalik($key['IDsafe_user']));
        ?>
         <?php if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0): ?>
          <img class="img-circle img-polaroid" src="<?php echo s3_url();  ?>profilepic/<?=@$profilepic->filename?>" alt="" width="170px " />
        <?php else: ?>
            <?php if (($key['online']) == TRUE): ?>
              <img class="img-circle img-polaroid" src="<?php echo base_url(); ?>public/img/profile-pic/profile-doc.png" alt="" width="170px " />
            <?php else: ?>
              <img class="img-circle img-polaroid" src="<?php echo base_url(); ?>public/img/profile-pic/profile-doc-bw.png" alt="" width="170px " />
            <?php endif; ?>
        <?php endif; ?>
      </div>
      <div class="span8 justifythis">
        <h5><?=@$key['name'];?>, MD</h5>
        <div class="master-specialty">
      <?php foreach ($key['specialty'] as $master): ?>
        <a href="<?=base_url();?>connectDoctor/search?specialty%5B%5D=<?=@$master->specialty_id;?><?php echo (!empty($country) ? '&country='.$country : '');?><?php echo (!empty($province) ? '&state='.$province : '');?>" class="doc-specialty"><?=@$master->specialtyName;?> &#44;</a>
      <?php endforeach; ?>
      </div>  
        <?php 
        if (!empty($key['address']))
        {
          if (strlen($key['address']) > 54) 
          {
              // truncate string
              $stringCut = substr($key['address'], 0, 54);
              // make sure it ends in a word so assassinate doesn't become ass...
              $string = substr($stringCut, 0, strrpos($stringCut, ' '))."... ";
              echo $string;
          }
          else
          {
            echo $key['address'];
          }
        }
        ?>
        <?php if ($key['clinicCount'] > 1): ?>
        <br>
        <a href="<?=base_url();?>connectDoctor/doctorInfo?dr=<?=@$key['IDsafe_user'];?>">and <?=$key['clinicCount']-1?> more clinic(s), more info here</a>
        <?php elseif ($key['clinicCount'] == 1): ?>
        <br><a href="<?=base_url();?>connectDoctor/doctorInfo?dr=<?=@$key['IDsafe_user'];?>">More info about the clinic</a>
        <?php else: ?>
        Clinic address not yet listed.
        <br><a href="<?=base_url();?>messages?to=<?=@$key['IDsafe_user'];?>">You may ask your doctor here.</a>
        <?php endif; ?>
        <?php if (($key['online']) == TRUE): ?>
            <!-- <img src="<?php echo base_url(); ?>public/img/online_icon.png" alt="" style="height:15px; display: inline-block;"/>
            Doctor is online -->
        <?php else: ?>
          <!-- <strong>Doctor is offline</strong> -->
      <?php endif; ?><br>
      <?php if ((!empty($key['recommendation'])) && ($key['recommendation'] == 1)): ?>
       <br><i class="fa fa-star"></i>&nbsp; <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$key['IDsafe_user'];?>"><?=@$key['recommendation'];?> recommendation</a>
      <?php elseif (($key['recommendation'] < 1)): ?>
       <br><i class="fa fa-check-square-o"></i>&nbsp; <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$key['IDsafe_user'];?>">no recommendation yet, be the first</a>
      <?php else: ?>
       <br><i class="fa fa-star"></i>&nbsp; <a href="<?=base_url();?>connectDoctor/recommend?dr=<?=@$key['IDsafe_user'];?>"><?=@$key['recommendation'];?> recommendations</a>
      <?php endif; ?>
      
      <br>
      <div class="btn-group" style=" display: inherit;">
            <button class="btn btn-danger dropdown-toggle btn-block" data-toggle="dropdown" data-original-title="" title="">
                <i class="fa fa-user-md"></i>&nbsp; Connect to this Doctor &nbsp;
                <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="<?=base_url();?>messages?to=<?=@$key['IDsafe_user'];?>"><i class="fa fa-envelope"></i>&nbsp; Send Messages</a></li>
                <li><a href="<?=base_url();?>appointmentsPatient/setAppointmentFromPatient?to=<?=@$key['IDsafe_user'];?>"><i class="fa fa-calendar"></i>&nbsp; Set Appointment</a></li>
       <!--          <li class="divider"></li>
                <li><a href="<?=base_url();?>connectDoctor/doctorInfo?dr=<?=@$key['IDsafe_user'];?>">Check Profile</a></li> -->
                
            </ul>
        </div>
      </div>
    </div>
    <?php endforeach; ?>
<?php elseif(($_GET) && (empty($searchResult))): ?>
<div class="alert alert-block alert-error fade in" style="margin-top: 25px;">
  I'm sorry but we don't have doctors or specialists in that area.  
</div>


<?php else: ?>
  <div class="alert alert-block alert-error fade in" style="margin-top: 25px;">
  You have not connected to any doctors in your account yet.  <br>Please play the video below on how to connect with doctors near you.
</div>
<iframe width="420" height="315" src="//www.youtube.com/embed/KcH7Xvv8VJQ" frameborder="0" allowfullscreen></iframe>
<?php endif; ?>
</div>
<div class="row">
      <div class="col-md-4 widget-container" >
        <?php 
        $errorReturn = validation_errors();
        ?>
        <?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
        <div class="alert alert-block alert-error fade in">
        <?php
          echo $errorMessage;
          echo validation_errors(); 
        ?>
        </div>
        <?php endif; ?>
        <section class="widget">
          <div class="widgetcontent bordered" id="search-panel">
            <form name="search-doctor" method="GET" action="">
                        <div class="ui-widget" style="text-align: left;">
                          <h4>Filter doctor display</h4>
                        <label>Specialty: </label><br>
                        <select data-placeholder="Search Specialties" name="specialty[]" class="chzn-select select-block-level" tabindex="-1" multiple="multiple" size="1">
                        <?php foreach ($allEmrSpecialty as $special) : ?>
                        <option value="<?=@$special->specialty_id;?>" <?php if (!empty($specialty)) {echo (in_array($special->specialty_id, $specialty, true)) ? 'selected' : '' ; }?> ><?=@$special->specialtyName;?></option>
                        <?php endforeach; ?>
                        </select>

                        </div>

            <div class="ui-widget">
                        <label for="country">Country</label>
                        <select name="country" id="country" class="chzn-select select-block-level">
                        <input type="hidden" id="countrySelected" value="<?php echo(!empty($country)) ? $country : '' ; ?>"/>
                        </select>
                        <br/>
                        <label for="state">State</label>
                        <select name="state" id="state" class="chzn-select select-block-level">
                        <input type="hidden" id="stateSelected" value="<?php echo(!empty($province)) ? $province : '' ; ?>"/>
                        </select>
                        </div>
                        <!-- <a href="#under-improvement" data-toggle="modal">Detect my location for me. </a> -->
                        
                        <input name="sortRecommendation" type="checkbox" id="sortRecommendation" value="true" <?php if (@$this->sortRecommendation == true) echo "checked"; ?> /><label for="sortRecommendation">&nbsp;&nbsp;Show doctors with recommendations
                        </label><br>
                        <input name="sortPopularChat" type="checkbox" id="sortPopularChat" value="true" <?php if (@$this->sortPopularChat==true) echo "checked"; ?> /><label for="sortPopularChat">&nbsp;&nbsp;Show doctors who are active in chat
                        </label><br>
                        <input name="sortPopularAppointment" type="checkbox" id="sortPopularAppointment" value="true" <?php if (@$this->sortPopularAppointment==true) echo "checked"; ?> /><label for="sortPopularAppointment">&nbsp;&nbsp;Show doctors who actively accept appointments
                        </label>
            <br><br>  
                        <input name="search-doctor" type="submit" class="btn btn-success btn-lg" value="find my doctor">
          </form>
          </div>
        </section>
        <section>
          <h3 class="page-title">Are you a doctor?</h3>
          <div class="body widgetcontent">
            <a href="<?=base_url();?>registerDoctor" class="btn btn-info btn-sm">Register now</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>            
</div>