<form action="<?php echo base_url(); ?>connectDoctor/search" method="get" enctype="multipart/form-data" target="_self" name="search-doctor">
	<div class="widgetcontent">
		<div class="ui-widget">
	  		<label>Specialty: </label>
			<select data-placeholder="Search Specialties" name="specialty[]" class="chzn-select select-block-level" tabindex="-1" multiple="multiple" size="1">
				<?php foreach ($allEmrSpecialty as $special) : ?>
					<option value="<?=@$special->specialty_id;?>" <?php if (!empty($specialty)) {echo (in_array($special->specialty_id, $specialty, true)) ? 'selected' : '' ; }?> ><?=@$special->specialtyName;?></option>
				<?php endforeach; ?>
			</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="tootipper" href="javascript:void(0);" data-toggle="popover" data-placement="top" title="Doctor specialty" data-content="type or select, one or more specialty to search.  Please click 'find my doc' to search. "><i class="fa fa-question-circle"></i></a>
	</div>
<!-- 	<div class="ui-widget">
        <label>Country:</label>
        <select name="country" id="country" class="chzn-select select-block-level" required>
  <input type="hidden" id="countrySelected" value="<?php echo(!empty($country)) ? $country : '' ; ?>"/>
  </select>&nbsp;&nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
    </div>
	<div class="ui-widget">
        <label>Province/State:</label>
        <select name="state" class="chzn-select select-block-level" id="province" required>
          <option value="">Please select a province</option>
          <?php if (!empty($province)): ?>
          <option value="<?=@$province?>" selected=selected><?=@$province;?></option>
          <?php endif; ?>
        </select>&nbsp;&nbsp;<a href="#"><i class="fa fa-question-circle"></i></a>
    </div>
 -->   <!--  <div class="detect"><a href="#under-improvement" data-toggle="modal">Detect my location for me. </a></div> -->
    <div class="sbmt-btn"><button type="submit" name="search-doctor" value="find my doctor" type="submit" class="btn btn-primary btn-sm pull-right margin-top-two" data-placement="top" data-original-title=".btn .btn-primary .btn-sm">Find My Doctor</button></div>
    <!--<input name="search-doctor" type="submit" class="btn btn-info" value="find my doctor">-->
</div>
</form>