<?php if (!empty($this->errorMessage)): ?>
<h3><?=@$this->errorMessage?></h3>
<?php endif;?>
<form name="form1" method="post" action="">
  <label>username
    <input type="text" name="username" id="username" value="<?=@$this->username;?>">
    <br>
    Password:
    <input type="password" name="password" id="password">
  </label>
  <br>
  <input type="submit" name="login" id="login" value="login">
</form>