<table width="100%" border="1">
  <tr>
    <th scope="col">IDsafe_user</th>
    <th scope="col">username</th>
    <th scope="col">firstname</th>
    <th scope="col">lastname</th>
    <th scope="col">Verified ?</th>
    <th scope="col">email</th>
    <th scope="col">Options</th>
  </tr>
  <?php foreach ($this->allusers as $value):?>
    <tr>
      <td><?=@$value->IDsafe_user?></td>
      <td>
        <?php 
          $profilepic = $this->profilepic->getprofilepicinfo(@$value->IDsafe_user);
        
        if (strcasecmp(@$profilepic->type, "profile-pic-s3")==0)
            $profilepic = s3_url().'profilepic/'.$profilepic->filename;
        else
            $profilepic = base_url().'public/img/profile-pic-4x4.gif';
        ?>
        <img src="<?=$profilepic?>" alt="" width="50" height="50" />
        <?=@$this->nagkamoritsing->ibalik($value->username)?>
      </td>
      <td><?=@$this->nagkamoritsing->ibalik($value->firstname)?></td>
      <td><?=@$this->nagkamoritsing->ibalik($value->lastname)?></td>
      <td>
        <?php echo (((boolean)$value->verified == TRUE) ? 'yes' : '<strong>no</strong>'); ?>
      </td>
      <td>
        <img src="<?=base_url()?>texttoimage/writeToImage?text=<?=@$this->nagkamoritsing->ibalik($value->emailAddress)?>" alt="<?=@$this->nagkamoritsing->ibalik($value->emailAddress)?>" title="<?=@$this->nagkamoritsing->ibalik($value->emailAddress)?>"/>
      </td>
      <td><a href="<?=base_url();?>messages?to=<?=@$this->nagkamoritsing->bungkag($value->IDsafe_user)?>">Send message</a>&nbsp;&nbsp;
        <?php echo '<a href="'.base_url().'paraatora/'.(((boolean)$value->active == TRUE) ? 'disableuser?IDsafe_user='.$value->IDsafe_user.'">disable user' : 'activateuser?IDsafe_user='.$value->IDsafe_user.'">Activate user'); ?></a>
      </td>
    </tr>
  <?php endforeach; ?>

</table>