<table width="100%" border="1">
  <tr>
    <th scope="col">IDemr_user</th>
    <th scope="col">IDsafe_user</th>
    <th scope="col">License number and rxID</th>
    <th scope="col">username</th>
    <th scope="col">firstname</th>
    <th scope="col">lastname</th>
    <th scope="col">firsttime?</th>
    <th scope="col">Option</th>
  </tr>
<?php foreach ($this->alldoctors as $value):?>
  <tr>
    <td><?=@$value->IDemr_user?></td>
    <td><?=@$value->IDsafe_user?></td>
    <td><?=@$value->licenseNumber?></td>
    <td>
        <img src="<?=base_url()?>texttoimage/writeToImage?text=<?=@$this->nagkamoritsing->ibalik($value->username)?>" alt="<?=@$this->nagkamoritsing->ibalik($value->username)?>" title="<?=@$this->nagkamoritsing->ibalik($value->username)?>"/>
    </td>
    <td><?=@$this->nagkamoritsing->ibalik($value->firstname)?></td>
    <td><?=@$this->nagkamoritsing->ibalik($value->lastname)?></td>
    <td>
        <?php echo (((boolean)$value->firsttime == TRUE) ? 'yes' : '<strong>no</strong>'); ?>
    </td>
    <td><a href="<?=base_url();?>messages?to=<?=@$this->nagkamoritsing->bungkag($value->IDsafe_user)?>">Send message</a>&nbsp;&nbsp;
        <?php echo '<a href="'.base_url().'paraatora/'.(((boolean)$value->approve == TRUE) ? 'disabledoctor?IDemr_user='.$value->IDemr_user.'">disable' : 'activatedoctor?IDemr_user='.$value->IDemr_user.'">approve'); ?></a></td>
  </tr>
<?php endforeach; ?>
</table>