<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Welcome to your Nambal Safe Doctor’s Dashboard</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 widget-container">
        <?php
        # this is where to place the progress report 
        # for users to know what they need to do.
        
        // <section class="widget widget-tabs">
        //     this is for progress of settings
        // </section>
        ?>
    	
    	<!-- the left-->

        <!-- <section class="widget widget-tabs">
            <h3 class="page-title">Doctors Overview</h3>
            <header></header>
            <div class="body tab-content">
                <div class="doctors-overview">
                    <ul class="overall-stats">
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Total Nambal Patients</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">7 541</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Total Non-Nambal Patients EMR</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">2 876</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Appointments for Today</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">4</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Accounts Receivable due this week</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">18</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Other Activities for the week</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">88</span>
                                    </div>
                                </li>
                            </ul>                
                </div>
            </div>
        </section> -->

    	<section class="widget widget-tabs">
    		<h3 class="page-title">Appointments, Events and Schedules</h3>
        	<header>
                <!--<h4>
                    <i class="fa fa-calendar"></i>
                    &nbsp;&nbsp;Appointments and events
                    <small>
                    All schedules 
                    </small>
                </h4>-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#schedule-calendar" data-toggle="tab">Calendar</a>
                    </li>
                    <li>
                        <a href="#schedule-table" data-toggle="tab">In Table format</a>
                    </li>
                    <li>
                        <a href="#schedule-search" data-toggle="tab">Advance Search</a>
                    </li>
                </ul>
            </header>
    
            <div class="body tab-content">
                <div id="schedule-calendar" class="tab-pane active clearfix">
                <!-- calendar -->
                    <header>
                        <div class="actions">
                            <button id="today" type="button" class="btn btn-sm btn-warning">
                                Today
                            </button>
                            <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-success active" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="month"> Month
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaWeek"> Week
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaDay"> Day
                                </label>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        <div id="calendar" class="calendar"> </div>
                    </div>
    
                <!-- end of calendar -->
                </div>
                <div id="schedule-table" class="tab-pane">
                    <!-- appointment in table  -->
                    <table id="datatable-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Patient's Name</th>
                            <th class="hidden-phone-landscape">Date</th>
                            <th>Time</th>
                            <th class="hidden-phone-landscape">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->userDoctorAppointment as $key): ?>
                        <tr>
                            <?php
                                $notes = @$key->note;
                                $locationInformation = ''; 
                                if ($key->forced == true)
                                {
                                    $notes .= '<br>This is a force request appointment.';
                                }
                                $dateExplodetimefrom = explode(' ', $key->timefrom);
                                $dateExplodetimeto = explode(' ', $key->timeto);

                                if ($dateExplodetimeto[0] == $dateExplodetimefrom[0])
                                {
                                    $sameDay = TRUE;
                                    $timeFrom = date('h:i A', strtotime($dateExplodetimefrom[1]));
                                    $timeTo = date('h:i A', strtotime($dateExplodetimeto[1]));
                                }
                                else
                                {
                                    $sameDay = FALSE;
                                    $timeFrom = $key->timefrom;
                                    $timeTo = $key->timeto;
                                }

                                if (empty($key->location_info_IDlocation_info))
                                {
                                    if (!empty($this->locationsArray))
                                    {
                                        foreach ($this->locationsArray as $array) 
                                        {
                                            $locationInformation .= $array->street.', '.$array->state.', '. $array->city.', '.$array->country;
                                            $locationInformation .= '<br>';
                                        }
                                    }
                                    else
                                    {
                                        $locationInformation = 'No clinic address yet';
                                    }
                                }
                                else
                                {
                                    $locationInformation = $key->location_info_IDlocation_info;

                                    foreach ($this->locationsArray as $return => $value) 
                                    {
                                        // $locationInformation = 'please';
                                        
                                       if ($value->IDlocation_info === $locationInformation) 
                                       {
                                            $locationInformation = $value->locationname.'<BR>';
                                            $locationInformation .= $value->street.', '.$value->state.', '.$value->city.', '.$value->country;
                                            break;  
                                       }
                                       else
                                       {
                                            $locationInformation = 'No clinic address yet';
                                       }
                                    }
                                }
                            

                            ?>
                            <td><a href="javascript:void(0);"  data-locationInformation="<?=$locationInformation?>" data-dateonly="<?=date('D, F d, o',strtotime(@$dateExplodetimeto[0]))?>" data-timefrom="<?=@$timeFrom?>" data-allday="<?=@$key->allday?>" data-sameday="<?=@$sameDay?>" data-timeto="<?=@$timeTo?>" data-fullname="<?=ucwords($this->nagkamoritsing->ibalik(@$key->firstname))?> <?=ucwords($this->nagkamoritsing->ibalik(@$key->lastname))?>" data-appid="<?=@$key->IDappointments?>" data-notes="<?=@$notes?>" data-appointment="<?=$this->nagkamoritsing->bungkag(@$key->IDappointments)?>" class="appointment-link"><strong><?=ucwords($this->nagkamoritsing->ibalik(@$key->firstname))?> <?=ucwords($this->nagkamoritsing->ibalik(@$key->lastname))?></strong></a></td>
                            <?php
                            # tanwon kung kailangan ba i display ang date sa timeto
                            # display ang timeto date kung dili pareho sa time from
                            $timefrom = explode(' ', $key->timefrom);
                            $timeto = explode(' ', $key->timeto);

                            if ($timefrom[0] == $timeto[0])
                            {
                                echo '<td class="hidden-phone-landscape">'.@date('D, M d, o',strtotime(@$key->timefrom)).'</td>';
                            }
                            else
                            {
                                echo '<td class="hidden-phone-landscape">'.@date('D, M d, o',strtotime(@$key->timefrom)).' to '.@date('D, M d, o',strtotime(@$key->timeto)).'</td>';
                            }
                            if ($key->allday)
                            {
                                echo '<td>all day</td>';
                            }
                            else
                            {
                                echo '<td>'.date('h:i A',strtotime($timefrom[1])).' to '.date('h:i A',strtotime($timeto[1])).'</td>';
                            }
                            ?>
                            <td class="hidden-phone-landscape" id="approval-area-<?=@$key->IDappointments?>">
                                <?php 
                                if ($key->approved == FALSE)
                                {
                                    echo 'Pending approval';
                                }
                                else
                                {
                                    echo 'Approved';
                                }
                                ?>
                            </td>
                        </tr>
                        <?php endforeach; ?>

                        </tbody>
                    </table>
                    <!-- end of appointment in table -->
                </div>
                <div id="schedule-search" class="tab-pane">
                    <form name="form1" method="post" action="">
                        <center>
                            <label>Patient's Name: <input type="text" name="Keywords" id="Keywords" class="form-control input-transparent ">  </label><br>
                            <label>Date:<input id="in-place-date" class="input-transparent form-control date-picker" type="text" name="in-place-date" value="" placeholder="mm/dd/yyyy"></label><br>
                            <label >Status:<br>
                                <select name="status" data-placeholder="Can select multiple status" class="chzn-select select-block-level"  multiple>
                                    <option value="approved">Approved</option>
                                    <option value="pending approval">Pending Approval</option>
                                    <option value="not set">Not Set</option>
                                </select>
                            </label>
                            <div class="btn-toolbar ">
                                <button type="button" class="btn btn-sm btn-danger">Search</button>
                                <button type="button" class="btn btn-sm btn-default">Clear</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
    	</section>
    	
    <!--<section class="widget widget-tabs">
        <header>
            <h4>
                <i class="fa fa-stethoscope"></i>
                &nbsp;Non-nambal member EMR
                <small>
                    Your basic Health record keeping for non-nambal Patients.
                </small>
            </h4>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#non-nambal-list" data-toggle="tab">List</a>
                </li>
         
                <li>
                    <a href="#non-nambal-search" data-toggle="tab">Advance Search</a>
                </li>
            </ul>
        </header>
        <div class="body tab-content">
            <div id="non-nambal-list" class="tab-pane active clearfix">
                <i class="fa fa-spinner fa-spin"></i> Please wait, loading...
            </div>
             
             <div id="non-nambal-search" class="tab-pane  ">
                search
            </div>
        </div>
    </section>-->
    <!-- end of the left-->
    </div>
    
    <div class="col-md-4 widget-container">
    <!-- the right-->
        <section class="widget widget-tabs">
            <h3 class="page-title">Scheduled Appointments Reminder</h3>
            <header></header>
            <div class="body tab-content">
                <div class="scheduled-appointments-reminder">
                    <div class="event"><!-- Hospital Rounds <br />at <a href="#" data-toggle="modal" data-target="#under-improvement">Chong Hua Hospital</a><br />on February 10, 2014<br />10:00 AM-11:00 AM --><br><br><br></div>
                    <div class="date pull-right">Today is <?php echo date("F");?><br /><span><?php echo date("d");?></span><?php echo date("l");?></div>
                    <div class="calendar-link"><a href="<?=base_url();?>appointments"><i class="fa fa-calendar"></i>&nbsp;&nbsp;View All Scheduled Appointments</a></div>
                    <!-- <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">4 Upcoming Appointments</button></a></div> -->
                    <div class="clear"></div>                
                </div>
                <!--<div id="logs-report" class="tab-pane">
                     <header>
                        <h4>
                            <i class="fa fa-rss"></i>
                            &nbsp;&nbsp;Activity
                        </h4>
                        <div class="actions">
                            <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                        </div>
                    </header>
                </div>-->
                <!--<div id="logs-recommend" class="tab-pane">
                    <!-- recommendation -->
                    <!--<header>
                        <h4>
                            <i class="fa fa-comments"></i>
                            &nbsp;&nbsp;Recommendations
                        </h4>
                        <div class="actions">
                            <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                        </div>
                    </header>
                        asdf
                    
                    <!-- end of recommendation -->
                <!--</div>-->
            </div>
        </section>
         
        <section class="widget  widget-tabs ">
        <h3 class="page-title">Search Patient </h3>
         <div class="body tab-content">
            <form method="get" action="<?=base_url();?>profileViewer/search" >
              
              <label for="search-patient-keyword" class="select-block-level">Search:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
                <input name="search-patient-keyword"  type="text" required class="tootipper select-block-level " id="search-patient-keyword" placeholder="Search by firstname, lastname, full name, etc." title="Search patient" value="" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Search by firstname, lastname, full name, or etc." />
              <br><br>
              <center>
                <a href="<?=base_url();?>profileViewer/search?moreoptions=TRUE">More options search</a><br>
                <button type="submit" name="search-patient" value="Search patient" class="btn btn-primary btn-sm margin-top-two" >Search Patient</button>
              </center>
            </form>
        </div>
        </section>

         <!-- <section class="widget widget-tabs">
            <h3 class="page-title">My Recent Activities</h3>
            <header></header>
            <div class="body tab-content">
                <div class="my-recent-activities">
                    <div class="activity">
                    
                        <div class="ind-act">Wellness Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                        <div class="ind-act">Personal Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">you</a></span></div>
                        <div class="ind-act">Procedures<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                    
                    </div>
                    <div class="date pull-right">Your Last Update was on <span class="month">February</span><span class="num">05</span><span class="month">Wednesday</span></div>
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-bolt"></i>&nbsp;&nbsp;View all My Recent Activities</a></div>
                    <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">10 Updates made Today</button></a></div>
                    <div class="clear"></div>                
                </div>
            </div>
        </section> -->
       
        
    	<!-- end of the right-->
        
    </div>
</div>

<!-- modals -->
<?php 
#if user is firsttime
if($firsttime): 
?>
<script type="text/javascript">
jQuery( document ).ready(function() {
  jQuery('#take-a-tour').modal({});
});
</script>
<div id="take-a-tour" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" >
<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
		<div class="clearfix">&nbsp;</div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			<h2 class="modal-title" id="myModalLabel">Congratulations Doctor!</h2>
			<h4 class="modal-title" id="myModalLabel">You may now use your doctor's dashboard.</h4>
		</div>
		<div class="modal-body">
            <center >
			<div class="embed-responsive embed-responsive-4by3" >
                <iframe  src="//www.youtube-nocookie.com/embed/TKr1ZhS_M5I?rel=0" class="embed-responsive-item"  allowfullscreen></iframe>
            </div>
            </center>
			 <br/>
			  <p>
			   Please take a moment to view this short video tutorial about your doctor's dashboard in Nambal.com
			  </p>
		</div>
		<div class="modal-footer">
			<form class="updateTour" action="doctorDashboard/tour" method="POST">
				<!--<input type="submit" class="skip btn btn-primary"  aria-hidden="true" value="Skip"/>-->
				<input type="submit" class="next btn btn-primary" aria-hidden="true" value="Finish, close this tour."/>
			</form>
		</div>

	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<?php
endif;
?>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="event-name" class="control-label">Event name</label>
                    <div class="controls">
                        <input type="text" id="event-name" name="name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



