<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Welcome to your Nambal Safe Doctor’s Dashboard</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8 widget-container">
    	
    	<!-- the left-->
    	<section class="widget widget-tabs">
    		<h3 class="page-title">Appointments, Events and Schedules</h3>
        	<header>
                <!--<h4>
                    <i class="fa fa-calendar"></i>
                    &nbsp;&nbsp;Appointments and events
                    <small>
                    All schedules 
                    </small>
                </h4>-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#schedule-calendar" data-toggle="tab">Calendar</a>
                    </li>
                    <li>
                        <a href="#schedule-table" data-toggle="tab">In Table format</a>
                    </li>
                    <li>
                        <a href="#schedule-search" data-toggle="tab">Advance Search</a>
                    </li>
                </ul>
            </header>
    
            <div class="body tab-content">
                <div id="schedule-calendar" class="tab-pane active clearfix">
                <!-- calendar -->
                    <header>
                        <div class="actions">
                            <button id="today" type="button" class="btn btn-sm btn-warning">
                                Today
                            </button>
                            <div id="calendar-switcher" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-success active" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="month"> Month
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaWeek"> Week
                                </label>
                                <label class="btn btn-sm btn-default" data-toggle-class="btn-success" data-toggle-passive-class="btn-default">
                                    <input type="radio" name="view" value="agendaDay"> Day
                                </label>
                            </div>
                        </div>
                    </header>
                    <div class="body">
                        <div id="calendar" class="calendar"> </div>
                    </div>
    
                <!-- end of calendar -->
                </div>
                <div id="schedule-table" class="tab-pane">
                    <!-- appointment in table  -->
                    <table id="datatable-table" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Patient's Name</th>
                            <th class="no-sort hidden-phone-landscape">Date</th>
                            <th>Time</th>
                            <th>Description</th>
                            <th class="hidden-phone-landscape">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Wed,</strong> January 1, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Sun,</strong> January 5, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Pending Approval</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Wed,</strong> January 8, 2014</td>
                            <td>10:30 A.M. </td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Wed,</strong> January 8, 2014</td>
                            <td>12:00 P.M.</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Thu,</strong> January 9, 2014</td>
                            <td>07:00 P.M.</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Sun,</strong> January 12, 2014</td>
                            <td>04:00 P.M.</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Mon,</strong> January 13, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Tue,</strong> January 14, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Wed,</strong> January 15, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Approved</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Tue,</strong> January 28, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Pending Approval</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Wed,</strong> January 29, 2014</td>
                            <td>all day</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Pending Approval</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        <tr>
                            <td><strong>Sample Appointment</strong></td>
                            <td class="hidden-phone-landscape"><strong>Not yet set</strong></td>
                            <td>&nbsp;</td>
                            <td><a href="#under-improvement" data-toggle="modal">Sample Appointment</a></td>
                            <td class="hidden-phone-landscape">Not set</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- end of appointment in table -->
                </div>
                <div id="schedule-search" class="tab-pane">
                    <form name="form1" method="post" action="">
                        <center>
                            <label>Patient's Name: <input type="text" name="Keywords" id="Keywords" class="form-control input-transparent ">  </label><br>
                            <label>Date:<input id="in-place-date" class="input-transparent form-control date-picker" type="text" name="in-place-date" value="" placeholder="mm/dd/yyyy"></label><br>
                            <label >Status:<br>
                                <select name="status" data-placeholder="Can select multiple status" class="chzn-select select-block-level"  multiple>
                                    <option value="approved">Approved</option>
                                    <option value="pending approval">Pending Approval</option>
                                    <option value="not set">Not Set</option>
                                </select>
                            </label>
                            <div class="btn-toolbar ">
                                <button type="button" class="btn btn-sm btn-danger">Search</button>
                                <button type="button" class="btn btn-sm btn-default">Clear</button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
    	</section>
    	
        <section class="widget widget-tabs">
            <h3 class="page-title">Accounts Receivable</h3>
            <header>            
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#accounts-receivable" data-toggle="tab">Receivable</a>
                    </li>
                    <li>
                        <a href="#accounts-search" data-toggle="tab">Advance Search</a>
                    </li>
                </ul>
            </header>
            <div class="body tab-content">
                <div id="accounts-receivable" class="tab-pane active clearfix">
                <!-- accounts receivable -->
                    <!--<div class="actions hidden-xs-portrait">
                        <input id="search" type="search" placeholder="Enter patient's name">
                    </div>-->
                    <div id="table-dynamic">
                        <i class="fa fa-spinner fa-spin"></i> Please wait, loading...
                    </div>
                <!-- end of accounts receivable  -->
                </div>
                <div id="accounts-search" class="tab-pane">
                    accounts advance search. (sorry for the inconvenience) This page is still under construction.
                </div>
            </div>
        </section>
    <!--<section class="widget widget-tabs">
        <header>
            <h4>
                <i class="fa fa-stethoscope"></i>
                &nbsp;Non-nambal member EMR
                <small>
                    Your basic Health record keeping for non-nambal Patients.
                </small>
            </h4>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#non-nambal-list" data-toggle="tab">List</a>
                </li>
         
                <li>
                    <a href="#non-nambal-search" data-toggle="tab">Advance Search</a>
                </li>
            </ul>
        </header>
        <div class="body tab-content">
            <div id="non-nambal-list" class="tab-pane active clearfix">
                <i class="fa fa-spinner fa-spin"></i> Please wait, loading...
            </div>
             
             <div id="non-nambal-search" class="tab-pane  ">
                search
            </div>
        </div>
    </section>-->
    <!-- end of the left-->
    </div>
    
    <div class="col-md-4 widget-container">
    <!-- the right-->
        <section class="widget widget-tabs">
            <h3 class="page-title">Scheduled Appointments Reminder</h3>
            <header></header>
            <div class="body tab-content">
                <div class="scheduled-appointments-reminder">
                    <div class="event">Hospital Rounds <br />at <a href="#" data-toggle="modal" data-target="#under-improvement">Chong Hua Hospital</a><br />on February 10, 2014<br />10:00 AM-11:00 AM</div>
                    <div class="date pull-right">Today is February<br /><span>06</span>Thursday</div>
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-calendar"></i>&nbsp;&nbsp;View All Scheduled Appointments</a></div>
                    <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">4 Upcoming Appointments</button></a></div>
                    <div class="clear"></div>                
                </div>
                <!--<div id="logs-report" class="tab-pane">
                     <header>
                        <h4>
                            <i class="fa fa-rss"></i>
                            &nbsp;&nbsp;Activity
                        </h4>
                        <div class="actions">
                            <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                        </div>
                    </header>
                </div>-->
                <!--<div id="logs-recommend" class="tab-pane">
                    <!-- recommendation -->
                    <!--<header>
                        <h4>
                            <i class="fa fa-comments"></i>
                            &nbsp;&nbsp;Recommendations
                        </h4>
                        <div class="actions">
                            <button class="btn btn-transparent btn-xs">Show All <i class="fa fa-arrow-down"></i></button>
                        </div>
                    </header>
                        asdf
                    
                    <!-- end of recommendation -->
                <!--</div>-->
            </div>
        </section>
        
        <!-- START OF CONNECT WITH MY MEDICAL PROFESSIONALS -->
        <section class="widget widget-tabs">
        	<h3 class="page-title">Connect with My Medical Professionals</h3>
            <header class="widget-tabs">
            	<ul class="nav nav-tabs">
                	<li class="active"><a href="#find-my-doc" data-toggle="tab">Doctor</a></li>
                    <li><a href="#pharmacy-store" data-toggle="tab">Pharmacy</a></li>
                    <li><a href="#laboratory-procedure" data-toggle="tab">Lab</a></li>
                </ul>
            </header>
            <div class="body tab-content">
            	<div id="find-my-doc" class="tab-pane active clearfix">
                    <?=@$this->load->view('connect-to-doctor/search-form.phtml');?></div>
                <div id="pharmacy-store" class="tab-pane clearfix">
                    <?=@$this->load->view('connect-to-pharmacy/search-form.phtml');?>
                </div>
                <div id="laboratory-procedure" class="tab-pane clearfix">
                    <?=@$this->load->view('connect-to-laboratory/search-form.phtml');?>
                </div>            
            </div>
        </section>
        <!-- END OF CONNECT WITH MY MEDICAL PROFESSIONALS -->
        
        <section class="widget widget-tabs">
            <h3 class="page-title">Current Information Details</h3>
            <header>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#current-information-details-activities" data-toggle="tab">Activities</a>
                    </li>
                    <li>
                        <a href="#current-information-details-patients" data-toggle="tab">Patients</a>
                    </li>
                    <li>
                        <a href="#current-information-details-staffs" data-toggle="tab">Staffs</a>
                    </li>
                </ul>
            </header>
            <div class="body tab-content">
                <!-- orig <div id="logs-staff" class="tab-pane active clearfix"> -->
                <div id="current-information-details-activities" class="tab-pane active clearfix">
                    <!--<h5 class="tab-header"><i class="fa fa-group"></i> Last logged-in Staffs</h5>-->
                    <ul class="news-list">
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/2.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">NEIL JIMENO</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(27 Years Old)</span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Booked a Vacation to Macau</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/1.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">farezz wakowako</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(25 Years Old)</span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Bought Diatabs @ <a href="#under-improvement" data-toggle="modal">Rose Pharmacy</a></div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/15.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">DIANE ALIDON</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(23 Years Old)</span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">General Check-up @ <a href="#under-improvement" data-toggle="modal">Cebu Doctors Hospital</a></div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/13.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">jonathan hanopol</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(34 Years Old)</span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Added a new <a href="#under-improvement" data-toggle="modal">Wellness Information Data</a></div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/3.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">eric fem roxas</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(24 Years Old)</span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Admitted to <a href="#under-improvement" data-toggle="modal">Vicente Sotto Memorial Medical Center (VSMMC)</a></div>
                            </div>
                        </li>
                        
                        <!--<li>
                            <img src="img/14.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="position">Sales Manager</div>
                                <div class="time">Last logged-in: Jun 8, 9:13</div>
                            </div>
                        </li>-->
                    </ul>
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-eye"></i>&nbsp;&nbsp;View All Activities</a></div>
                 
                </div>
                
                <div id="current-information-details-patients" class="tab-pane clearfix">
                    <!--<h5 class="tab-header"><i class="fa fa-group"></i> Last logged-in Staffs</h5>-->
                    <ul class="news-list">
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/2.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">NEIL JIMENO</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(27 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Nambal Member Since January 10, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/1.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">farezz wakowako</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(25 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Nambal Member Since January 10, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/15.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">DIANE ALIDON</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(23 Years Old)</span><span class="pull-right"><a class="btn btn-info btn-xs" href="#under-improvement" data-toggle="modal">Invite&nbsp;<i class="fa fa-check"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="membership warning"><i class="fa fa-warning"></i>&nbsp;&nbsp;Non-Nambal Member</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/13.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">jonathan hanopol</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(34 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Nambal Member Since January 10, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/3.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">eric fem roxas</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(24 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Nambal Member Since January 10, 2010</div>
                            </div>
                        </li>
                        
                        <!--<li>
                            <img src="img/14.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="position">Sales Manager</div>
                                <div class="time">Last logged-in: Jun 8, 9:13</div>
                            </div>
                        </li>-->
                    </ul>
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-eye"></i>&nbsp;&nbsp;View All Your Patients</a></div>
                 
                </div>
                <div id="current-information-details-staffs" class="tab-pane clearfix">
                    <!-- recommendation -->
                    <ul class="news-list">
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/2.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">NEIL JIMENO</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(27 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Hired as your staff since January 8, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/1.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">farezz wakowako</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(25 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Hired as your staff since January 8, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/15.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">DIANE ALIDON</a>&nbsp;&nbsp;<i class="fa fa-female"></i>&nbsp;&nbsp;&nbsp;<span class="age">(23 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Hired as your staff since January 8, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/13.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">jonathan hanopol</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(34 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 23, 9:02</div>
                                <div class="latest-activity">Hired as your staff since January 8, 2010</div>
                            </div>
                        </li>
                        <li>
                            <img src="<?php echo base_url(); ?>public/img/3.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#under-improvement" data-toggle="modal">eric fem roxas</a>&nbsp;&nbsp;<i class="fa fa-male"></i>&nbsp;&nbsp;&nbsp;<span class="age">(24 Years Old)</span><span class="pull-right"><a href="#under-improvement" data-toggle="modal"><i class="fa fa-phone"></i></a>&nbsp;&nbsp;<a href="#under-improvement" data-toggle="modal"><i class="fa fa-envelope"></i></a></span></div>
                                <div class="time">Last logged-in: Mar 20, 18:46</div>
                                <div class="latest-activity">Hired as your staff since January 8, 2010</div>
                            </div>
                        </li>
                        
                        <!--<li>
                            <img src="img/14.jpg" alt="" class="pull-left img-circle"/>
                            <div class="news-item-info">
                                <div class="name"><a href="#">Jessica Johnsson</a></div>
                                <div class="position">Sales Manager</div>
                                <div class="time">Last logged-in: Jun 8, 9:13</div>
                            </div>
                        </li>-->
                    </ul>                   
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-eye"></i>&nbsp;&nbsp;View All Your Staffs</a></div>
                    
                    <!-- end of recommendation -->
                </div>
            </div>
        </section>
        
        <section class="widget widget-tabs">
            <h3 class="page-title">My Recent Activities</h3>
            <header></header>
            <div class="body tab-content">
                <div class="my-recent-activities">
                    <div class="activity">
                    
                        <div class="ind-act">Wellness Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                        <div class="ind-act">Personal Information<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">you</a></span></div>
                        <div class="ind-act">Procedures<br /><span class="nine">Updated by <a href="#" data-toggle="modal" data-target="#under-improvement">Dr. Quiñones</a></span></div>
                    
                    </div>
                    <div class="date pull-right">Your Last Update was on <span class="month">February</span><span class="num">05</span><span class="month">Wednesday</span></div>
                    <div class="calendar-link"><a href="#" data-toggle="modal" data-target="#under-improvement"><i class="fa fa-bolt"></i>&nbsp;&nbsp;View all My Recent Activities</a></div>
                    <div><a href="#"><button type="button" class="btn btn-info btn-xs pull-right" data-placement="top" data-original-title=".btn .btn-info .btn-xs" data-toggle="modal" data-target="#under-improvement">10 Updates made Today</button></a></div>
                    <div class="clear"></div>                
                </div>
            </div>
        </section>
        
        <section class="widget widget-tabs">
            <h3 class="page-title">Doctors Overview</h3>
            <header></header>
            <div class="body tab-content">
                <div class="doctors-overview">
                    <ul class="overall-stats">
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Total Nambal Patients</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">7 541</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Total Non-Nambal Patients EMR</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">2 876</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Appointments for Today</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">4</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Accounts Receivable due this week</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">18</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon pull-left">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <span class="key"><a href="#" data-toggle="modal" data-target="#under-improvement">Other Activities for the week</a></span>
                                    <div class="value pull-right">
                                        <span class="badge badge-info">88</span>
                                    </div>
                                </li>
                            </ul>                
                </div>
            </div>
        </section>
    	<!-- end of the right-->
        
    </div>
</div>

<!-- modals -->
<?php 
#if user is firsttime
if($firsttime): 
?>
<div id="take-a-tour" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
<div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-header">
		<div class="clearfix">&nbsp;</div>
			<h2 class="modal-title" id="myModalLabel">Congratulations Doctor!</h2>
			<h4 class="modal-title" id="myModalLabel">You may now use your doctor's dashboard.</h4>
		</div>
		<div class="modal-body">
			<div class="embedVideo">
			<object width="400" height="390" data="http://www.youtube.com/v/TKr1ZhS_M5I?hl=en_US&amp;version=3" type="application/x-shockwave-flash">
				<param name="movie" value="http://www.youtube.com/v/TKr1ZhS_M5I?hl=en_US&amp;version=3"></param>
				<param name="allowFullScreen" value="true"></param>
				<param name="allowscriptaccess" value="always"></param>
				<embed src="http://www.youtube.com/v/TKr1ZhS_M5I?hl=en_US&amp;version=3" width="400" height="390" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" ></embed>
			  </object>
			 </div>
			 <br/>
			  <p>
			   Please take a moment to view this short video tutorial about your doctor's dashboard in Nambal.com
			  </p>
		</div>
		<div class="modal-footer">
			<form class="updateTour" action="doctorDashboard/tour" method="POST">
				<!--<input type="submit" class="skip btn btn-primary"  aria-hidden="true" value="Skip"/>-->
				<input type="submit" class="next btn btn-primary" aria-hidden="true" value="Finish"/>
			</form>
		</div>

	</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<?php
endif;
?>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label for="event-name" class="control-label">Event name</label>
                    <div class="controls">
                        <input type="text" id="event-name" name="name">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default">Cancel</button>
                <button data-dismiss="modal" id="create-event" class="btn btn-success">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



