<?php
if (!empty($this->nambal_session))
{
  $birthDate = explode('-', $this->nambal_session['dateofbirth']);
  $age = (date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));
}
?>

<div class="breadcrumbwidget">
  <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="<?php echo base_url(); ?>dashboard">Dashboard</a> <span class="divider">/</span></li>
        <li class="active"><a href="<?php echo base_url(); ?>doctorDashboard">Doctor dashboard</a> </li>
  </ul>
</div><!--breadcrumbwidget-->

<div class="pagetitle">
<h1>Doctor's Dashboard</h1>

</div><!--pagetitle--> 
<?php if (empty($this->nambal_session['fullname'])): ?>
  <?=@$this->load->view('doctor-dashboard/index-public.phtml');?>
<?php else: ?>
<div class="maincontent">
<?php 
$errorReturn = validation_errors();
?>
<?php if ( (!empty($errorMessage)) || (!empty($errorReturn)) ): ?>
<div class="alert alert-block alert-error fade in">
<?php
  echo $errorMessage;
  echo validation_errors(); 
?>
</div>
<?php endif; ?>
<div class="contentinner content-dashboard">

  <div class="row-fluid">
    <div class="span8" >
      
      
      <ul id="the-dashboard" class="" >
         <li>
          <h4 class="widgettitle nomargin">Appointments and Events</h4>
          <div class="widgetcontent bordered">
               <div id="calendar" class="widgetcalendar"></div>
               <script type='text/javascript'>

            jQuery(document).ready(function() {
            
              var date = new Date();
              var d = date.getDate();
              var m = date.getMonth();
              var y = date.getFullYear();
              
              var calendar = jQuery('#calendar').fullCalendar({
                header: {
                  left: 'prev,next today',
                  center: 'title',
                  right: 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                  prev: '&laquo;',
                  next: '&raquo;',
                  prevYear: '&nbsp;&lt;&lt;&nbsp;',
                  nextYear: '&nbsp;&gt;&gt;&nbsp;',
                  today: 'today',
                  month: 'month',
                  week: 'week',
                  day: 'day'
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                  var title = prompt('Event Title:');
                  if (title) {
                    calendar.fullCalendar('renderEvent',
                      {
                        title: title,
                        start: start,
                        end: end,
                        allDay: allDay
                      },
                      true // make the event "stick"
                    );
                  }
                  calendar.fullCalendar('unselect');
                },
                editable: true,
                events: [
                  {
                    title: 'Visit to doctor',
                    start: new Date(y, m, 1)
                  },
                  {
                    title: 'Jogging',
                    start: new Date(y, m, d-5),
                    end: new Date(y, m, d-2)
                  },
                  {
                    title: 'Happy Calories day',
                    start: new Date(y, m, d, 10, 30),
                    allDay: false
                  },
                  {
                    title: 'no calories Lunch',
                    start: new Date(y, m, d, 12, 0),
                    end: new Date(y, m, d, 14, 0),
                    allDay: false
                  },
                  {
                    title: 'Visit to Dentist',
                    start: new Date(y, m, d+1, 19, 0),
                    end: new Date(y, m, d+1, 22, 30),
                    allDay: false
                  },
                  {
                    title: 'Visit to Nurse',
                    start: new Date(y, m, 28),
                    end: new Date(y, m, 29),
                    url: 'http://google.com/'
                  }
                ]
              });
              
            });

          </script>  
          </div> 
          </li>
      <li>
        <h4 class="widgettitle nomargin">Accounts Receivable</h4>
        <div class="widgetcontent ">
          <div id="tabs">
              <ul>
                  <li><a href="#accounts-receivable">Receivable</a></li>
                  <li><a href="#accounts-search">Search</a></li>
              </ul>
              <div id="accounts-receivable" class="center-content">
                <!-- accounts receivable table -->
                <table class="table table-bordered" id="accounts-table">
                     <colgroup>
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">Patient's Name</th>
                            <th class="head1">Expected Amount</th>
                            <th class="head0">Expected Date</th>
                            <th class="head1">Expected Source</th>
                            <th class="head0">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Protacio Humad</td>
                        <td>PhP 3,450.00</td>
                        <td>Dec. 12, 2013</td>
                        <td>Philhealth</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Protacio Humad</td>
                        <td>PhP 3,450.00</td>
                        <td>Jan. 1, 2014</td>
                        <td>Philhealth</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Juan Taclob</td>
                        <td>PhP 33,450.00</td>
                        <td>Jan. 3, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Juan Taclob</td>
                        <td>PhP 33,450.00</td>
                        <td>Jan. 13, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Juan Taclob</td>
                        <td>PhP 13,450.00</td>
                        <td>Jan. 23, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Juan Taclob</td>
                        <td>PhP 3,450.00</td>
                        <td>Feb. 3, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Juan Taclob</td>
                        <td>PhP 450.00</td>
                        <td>Feb. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ferdi Piano</td>
                        <td>PhP 4250.00</td>
                        <td>Feb. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ferdi Piano</td>
                        <td>PhP 4250.00</td>
                        <td>Mar. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ferdi Piano</td>
                        <td>PhP 4250.00</td>
                        <td>Apr. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ferdi Piano</td>
                        <td>PhP 4250.00</td>
                        <td>May. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ray Tol</td>
                        <td>PhP 1250.00</td>
                        <td>May. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ray Tol</td>
                        <td>PhP 1250.00</td>
                        <td>Jun. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ray Tol</td>
                        <td>PhP 1250.00</td>
                        <td>Jul. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ray Tol</td>
                        <td>PhP 1250.00</td>
                        <td>Aug. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      <tr>
                        <td>Ray Tol</td>
                        <td>PhP 1250.00</td>
                        <td>Sep. 24, 2014</td>
                        <td>Cash</td>
                        <td>Pending</td>
                      </tr>
                      </tbody>
                </table>
                <!-- accounts receivable table end-->
              </div>
              <div id="accounts-search">
                Search Receivable list
              </div>
              </div><!--#tabs-->
        </div><!--widgetcontent-->
      </li>
      
      <li>
        <h4 class="widgettitle nomargin">Non-nambal member EMR</h4>
        <div class="widgetcontent">
          <div id="tabs">
              <ul>
                  <li><a href="#nonnambal-list">List</a></li>
                  <li><a href="#nonnambal-add">Add</a></li>
                  <li><a href="#nonnambal-delete">Delete</a></li>
                  <li><a href="#nonnambal-search">Search</a></li>
              </ul>
              <div id="nonnambal-list" class="center-content">
                List non-nambal here
              </div>
              <div id="nonnambal-add">
                Add non-nambal here
              </div>
              <div id="nonnambal-delete">
                Delete non-nambal here
              </div>
              <div id="nonnambal-search">
                Search non-nambal here
              </div>
              </div><!--#tabs-->
        </div><!--widgetcontent-->
      </li>
     
              
            
    </div>
    <?=@$this->load->view('doctor-dashboard/right.phtml');?>

  </div>
  
</div>
</div>
<?php endif; ?>
<script type="text/javascript">
jQuery(document).ready(function(){

  jQuery('.profilethumb').hover(function(){
    jQuery(this).find('a').fadeIn();
  },function(){
    jQuery(this).find('a').fadeOut();
  });
  
  jQuery('.taglist a').click(function(){
    return false;
  });
  jQuery('.taglist a span').click(function(){
    jQuery(this).parent().remove();
    return false;
  });

  jQuery("#the-dashboard").sortable();
  jQuery("#the-dashboard-right").sortable();

  
});
</script>

  <!--Modals--><script type="text/javascript" src="/public/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" >
// dynamic table
jQuery('#accounts-table').dataTable({
   "sPaginationType": "full_numbers",
   "aaSortingFixed": [[0,'asc']],
   "fnDrawCallback": function(oSettings) {
      jQuery.uniform.update();
   }
});
</script>
<script type="text/javascript">
jQuery(document).ready(function(){
    // basic chart
        var systolic = [[11, 90], [12, 160], [24,100], [25, 190], [26, 119], [27, 100], [28, 119]];
        var diastolic = [[11, 60], [12, 100], [24,60], [25, 110], [26, 100], [27, 73], [28, 79]];
            
        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5
            }).appendTo("body").fadeIn(200);
        }
    
            
        var plot = jQuery.plot(jQuery("#chartplace2"),
               [ { data: systolic, label: "Systolic", color: "#fb6409"}, { data: diastolic, label: "Diastolic", color: "#096afb"} ], {
                   series: {
                       lines: { show: true, fill: true, fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.15 } ] } },
                       points: { show: true }
                   },
                   legend: { position: 'nw'},
                   grid: { hoverable: true, clickable: true, borderColor: '#ccc', borderWidth: 1, labelMargin: 10 },
                   yaxis: { min: 50, max: 200 },xaxis: { min: 11, max: 28 }
                 });
        
        var previousPoint = null;
        jQuery("#chartplace2").bind("plothover", function (event, pos, item) {
            jQuery("#x").text(pos.x.toFixed(2));
            jQuery("#y").text(pos.y.toFixed(2));
            
            if(item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                        
                    jQuery("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);
                        
                    showTooltip(item.pageX, item.pageY,
                                    item.series.label + " of " + x + " = " + y);
                }
            
            } else {
               jQuery("#tooltip").remove();
               previousPoint = null;            
            }
        
        });
        
        jQuery("#chartplace2").bind("plotclick", function (event, pos, item) {
            if (item) {
                jQuery("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                plot.highlight(item.series, item.datapoint);
            }
        });
     //   console.log('Calling chart.invalidateSize()');
    // bar graph
    var d2 = [];
    for (var i = 0; i <= 10; i += 1)
      d2.push([i, parseInt(Math.random() * 30)]);
      
    var stack = 0, bars = true, lines = false, steps = false;
    jQuery.plot(jQuery("#bargraph2"), [ d2 ], {
      series: {
        stack: stack,
        lines: { show: lines, fill: true, steps: steps },
        bars: { show: bars, barWidth: 0.6 }
      },
      grid: { hoverable: true, clickable: true, borderColor: '#bbb', borderWidth: 1, labelMargin: 10 },
      colors: ["#06c"]
    });
    
    // calendar
    jQuery('#calendar').datepicker();


});

jQuery(function() {
      jQuery( "#tabs" ).tabs({
        select: function(event, ui) {
          console.debug('Calling chart.invalidateSize()');
          chart.invalidateSize();
        }
      });
    });


</script>