<div class="leftpanel">
        <div class="logopanel">
          <h1><a href="/dashboard">Nambal.com</a></h1>
        </div><!--logopanel-->
        
        <div class="datewidget"><?php //Today is Tuesday, Dec 25, 2012 5:30pm ?>Version 1.1</div>
    
      <div class="searchwidget">
          <form action="results.html" method="post">
              <div class="input-append">
                    <input type="text" class="span2 search-query" placeholder="Search here...">
                    <button type="submit" class="btn"><span class="icon-search"></span></button>
            </div>
        </form>
</div><!--searchwidget--> 
        
<div class="leftmenu hidden-phone hidden-tablet" style="margin-top:0">        
    <ul class="nav nav-tabs nav-stacked">
        <li class="nav-header">Doctor's Navigation</li>  
        <li>              
            <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Doctor Options</a></h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="<?php echo base_url(); ?>profileViewer" ><span class="iconfa-user"></span> Profile Viewer</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-calendar"></span> Appointments</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-wrench"></span> Clinic Settings</a></li>
                    <li><a href="<?php echo base_url(); ?>doctorstaff" data-toggle="modal"><span class="iconfa-group"></span> Staffs administration</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconsweets-expose"></span> set as DEFAULT dashboard</a></li>
                </ul>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Messaging<span class="badge badge-important">2</span></a></h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-inbox"></span> Inbox<span class="badge badge-important">2</span></a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconsweets-outgoing"></span> Sent</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-envelope"></span> Draft</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-trash"></span> Deleted Messages</a></li>
                </ul>
                <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Applications and Plug-ins</a></h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="<?php echo base_url(); ?>dashboard"><span class="icon-search"></span> Nambal App network</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-money"></span> Basic Accounting tool</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-qrcode"></span> QR reader</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconsweets-speech4"></span> Donor's network</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-asterisk"></span> Non-Nambal member EMR</a></li>
                </ul>
                 <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Personal dashboard</a></h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="<?php echo base_url(); ?>dashboard"><span class="icon-arrow-left"></span> Back to personal dashboard</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="iconfa-money"></span> Print your nambal safe card</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><span class="icon-calendar"></span> Your wellness calendar</a></li>                    
                </ul>
                
               
            </div>
        </li>
    <ul>

</div>