<form name="captchaform" method="post" action="">
<?php echo validation_errors(); ?>
USERNAME:<input type="text" name="username" id="username">
PASSWORD:<input type="text" name="password" id="password">
<?php echo $recaptcha ?>
<input type="submit" value="SUBMIT">
</form>