<link rel="stylesheet" href="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.css">
<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>

<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
});
var $btnCalendarEnd = jQuery('#btn-select-calendar-dateend');
$btnCalendarEnd.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateend').val($btnCalendarEnd.data('date'));
});
var $btnCalendarwriteon = jQuery('#btn-select-calendar-writtenon');
$btnCalendarwriteon.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#writtenon').val($btnCalendarwriteon.data('date'));
});

var $btnCalendarexpirydate = jQuery('#btn-select-calendar-expirydate');
$btnCalendarexpirydate.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-expirydate').val($btnCalendarexpirydate.data('date'));
});
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });


jQuery( "#meds" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"medication/displayMedication",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});
jQuery(document).ready(function()
{
  jQuery('#medFormAdvanced').hide(); 
  
});

</script>
<script type="text/javascript" src="<?=base_url()?>public/js/custom-dashboard-medication-tablejs.js"> </script>

<input name="IDsafe_drug" type="hidden" value="<?=@$this->medicationInfo['IDsafe_drug']?>">
<div class="row">
<table class="table table-colored table-condensed">
    <thead>
    <tr>
        <th>Medication Name</th>
        <th>Dosage</th>
        <th>Frequency</th>
        <th>Route</th>
        <th  class="hidden-xs-portrait">Strength</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>ottoto@example.com</td>
        <td class="hidden-xs-portrait"><span class="badge badge-info">Active</span></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jacob</td>
        <td class="hidden-xs-portrait">Thornton</td>
        <td>fat.thor@example.com</td>
        <td class="hidden-xs-portrait"><span class="badge badge-warning">Unconfirmed</span></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Larry</td>
        <td class="hidden-xs-portrait">the Bird</td>
        <td>larry@example.com</td>
        <td class="hidden-xs-portrait"><span class="badge badge-success">New</span></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Peter</td>
        <td class="hidden-xs-portrait">Horadnia</td>
        <td>peter@example.com</td>
        <td class="hidden-xs-portrait"><span class="badge badge-important">Pending</span></td>
    </tr>
    </tbody>
</table>
</div>
<center>
  <button type="button" id="olduserinterfacemedication" class="btn btn-inverse btn-sm" data-placement="top" data-original-title=".btn .btn-inverse .btn-sm">Old User Interface</button>
</center>