<form class="form-horizontal" method="post" action="">
<script src="<?=base_url();?>public/js/custom-dashboard-prescription-final.js"></script>
<?php 
	$this->modifyprescription_bool = filter_var($this->input->get('modify'), FILTER_SANITIZE_STRING);
	if ( (!empty($this->modifyprescription_bool)) && ((boolean)$this->modifyprescription_bool == TRUE)):
?>
<script src="<?=base_url();?>public/js/custom-dashboard-prescription-formodification.js"></script>
<?php endif; ?>
<script type="text/javascript">
	<?php if ((boolean)$this->prescriptionInformation->includeaddress != TRUE): ?>
		jQuery('#addressareanisiya').toggle();
	<?php endif; ?>
	<?php if((boolean)$this->prescriptionInformation->includeage != TRUE):?>
		jQuery('#agenisiya').toggle();
	<?php endif; ?>
	<?php if((boolean)$this->prescriptionInformation->includegender != TRUE): ?>
		jQuery('#gendernisiya').toggle();
	<?php endif; ?>
	<?php if ((boolean)$this->prescriptionInformation->includedob != TRUE): ?>
		jQuery('#dobnisiya').toggle();
	<?php endif; ?>
</script>
<link href="<?=base_url();?>public/css/custom-prescription-profileviewer.css" rel="stylesheet" type="text/css" />
<div class="row">
<div class="col-md-6 ">
	<p>
	<strong>Patient name:</strong> 
	<?=ucwords($this->nagkamoritsing->ibalik(@$this->prescriptionInformation->firstname));?>&nbsp;
	<?=ucwords($this->nagkamoritsing->ibalik(@$this->prescriptionInformation->lastname));?><br>
		<span id="addressareanisiya"><strong>Address:&nbsp;&nbsp;</strong>
			<?=@ucwords($this->patientAddress->street);?>,&nbsp;
			<?=@ucwords($this->patientAddress->city);?>,&nbsp;
			<?=@ucwords($this->patientAddress->state);?>,&nbsp;
			<?=@ucwords($this->patientAddress->country);?>,&nbsp;
			<?=@ucwords($this->patientAddress->postcode);?>&nbsp;
		<br></span>
		<span id="agenisiya"><strong>Age:&nbsp;&nbsp;</strong>
			<?php
				$birthDate = explode('-', @$this->prescriptionInformation->dateofbirth);
				$age = @(date("md", date("U", mktime(0, 0, 0, $birthDate[1], $birthDate[2], $birthDate[0]))) > date("md") ? ((date("Y")-$birthDate[0])-1):(date("Y")-$birthDate[0]));

				echo $age;
			?>
		<br></span>
		<span id="gendernisiya"><strong>Sex:&nbsp;&nbsp;</strong>
			<?=@$this->prescriptionInformation->sex;?>
		<br></span>
		<span id="dobnisiya"><strong>Date of birth:&nbsp;&nbsp;</strong>
		<?php 
			$birthDate = date("F d, o", strtotime($this->prescriptionInformation->dateofbirth));
			echo $birthDate;
		?>
		<br></span>
	</p>
	<br>
	<p>
		<?php if (!empty($this->medicationlist)): ?>
		<ol id="prescription-list">
		<?php foreach ($this->medicationlist as $medication): ?>
			<li>
				<?=$medication->genericName;?> &nbsp;<?=@$medication->strength?>&nbsp;<?=@$medication->strengthtype?>&nbsp;<?=@$medication->dosagetype?>
				<br>
				Sig:
				<br>
				<a href="javascript:void(0);"  class="deletemedication" data-IDsafeprescription="<?=$this->nagkamoritsing->bungkag(@$this->activeprescription);?>" data-IDsafedrug="<?=@$medication->IDsafe_drug;?>">Delete</a>&nbsp;&nbsp;<a href="javascript:void(0);" class="modifymedication" data-IDsafedrug="<?=@$medication->IDsafe_drug;?>">Modify</a> 
			</li>
		<?php endforeach; ?>
		</ol>
		<p style="text-align: center;"><a href="javascript:void(0);" class="addnewmedication" data-IDsafeprescription="<?=$this->nagkamoritsing->bungkag(@$this->activeprescription);?>">Add medication</a></p>
		<?php else: ?>
			No medication listed<br>
			<a href="javascript:void(0);" class="addnewmedication" data-IDsafeprescription="<?=$this->nagkamoritsing->bungkag(@$this->activeprescription);?>">Add medication</a>
		<?php endif; ?>
	</p>
	<br>
	<p>
	<?=ucwords(@$this->prescriptionInformation->dr_name);?><br>
	<strong>License number: </strong><?=@$this->prescriptionInformation->licenseNumber?><br>
	</p>
<?php //print_r($this->prescriptionInformation); ?>
	<label for="notes"  ><strong>Notes:</strong>&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
	</label>
	 <textarea name="notes" required class="select-block-level tootipper" id="notes" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="This can be the reasons of taking this medicine.  Some notes to help you, your staff and other attending healthcare professionals." ><?=@$this->prescriptionInformation->notes?></textarea>
	    <p>Some extra notes here not included in the input fields such us, PTR and s2.  </p>
</div>
	<section class="col-md-6 input-doctor-textarea">
		<div class="row col-md-6">
		    <label>
		    <input type="checkbox" name="includeAddress" id="includeAddress" <?php if (!empty($this->prescriptionInformation->includeaddress)) echo 'checked';?> >
		    <span class="justext">Include address of the patient</span></label>
		    <br>
		    <label>
		    <input type="checkbox" name="includeAge" id="includeAge" <?php if (!empty($this->prescriptionInformation->includeage) && ($this->prescriptionInformation->includeage == TRUE)) echo 'checked';?>>
		    Include the age of the patient</label>
		    <br>
		    <label>
		    <input type="checkbox" name="includeGender" id="includeGender" <?php if ((!empty($this->prescriptionInformation->includegender)) && ($this->prescriptionInformation->includegender == TRUE) ) echo 'checked';?>>
		    Include the gender of the patient</label>
		    <br>
		    <label>
		    <input type="checkbox" name="includeDob" id="includeDob" <?php if (!empty($this->prescriptionInformation->includedob)) echo 'checked';?>>
		    Include the birthday of the patient</label>
		    <br>
		    <label>
		   <!-- <input type="checkbox" name="includeExpiry" id="includeExpiry" checked>
		    Include expiry date</label>-->
		 </div>
	</section>
  <section class="col-md-6 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->journalConnected->notes;?></textarea>
    </label>
  </section> 
  </div>
  <input name="IDsafe_prescription" type="hidden" value="<?=@$this->activeprescription;?>">
  <input name="IDemr_journal" type="hidden" value="<?=@$this->journalConnected->IDemr_journal;?>">
</form>