<script src="<?=base_url();?>public/ui/1.11.0-themes-smoothness/jquery-ui.js"></script>
<script type="text/javascript" src="<?=base_url()?>public/lib/bootstrap-datepicker.js"> </script>
<script type="text/javascript" src="<?=base_url()?>public/lib/jquery-maskedinput/jquery.maskedinput.js"> </script>
<script src="<?=base_url();?>public/js/custom-dashboard-medication-prescription.js"></script>
<style>
.ui-autocomplete-loading {
  background: white url("<?=base_url()?>public/img/loaders/loader2.gif") right center no-repeat;
}
.ui-autocomplete {
  z-index: 9999999999999999 !important;
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  
}
.popover-title
{
  color: #ffffff !important;
  font-size: 10px !important;
}
.datepicker
{
    z-index: 999999 !important;
}
ul.ui-autocomplete {
    z-index: 999999;
}
#medFormAdvanced
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
html .ui-autocomplete {
  height: 100px;
}
</style>

<script>
/* datepicker */
jQuery('.date-picker').datepicker({
    autoclose: true
});
var $btnCalendar = jQuery('#btn-select-calendar-datestarted');
$btnCalendar.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-datestarted').val($btnCalendar.data('date'));
});
var $btnCalendarEnd = jQuery('#btn-select-calendar-dateend');
$btnCalendarEnd.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-dateend').val($btnCalendarEnd.data('date'));
});
var $btnCalendarwriteon = jQuery('#btn-select-calendar-writtenon');
$btnCalendarwriteon.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#writtenon').val($btnCalendarwriteon.data('date'));
});

var $btnCalendarexpirydate = jQuery('#btn-select-calendar-expirydate');
$btnCalendarexpirydate.datepicker({
    autoclose: true
}).on('changeDate', function(ev){
        jQuery('#select-calendar-expirydate').val($btnCalendarexpirydate.data('date'));
});
jQuery(".masked-date").mask("99/99/9999");
jQuery(".mask-time").mask("99:99");
/* tooltip */
jQuery('.tootipper').popover();

/* autocomplete */
jQuery(function() {
    function log( message ) {
      jQuery( "<div>" ).text( message ).prependTo( "#log" );
      jQuery( "#log" ).scrollTop( 0 );
    }
$('.datepicker .datepicker-days tbody').on('click', function(){  $('.datepicker').hide() });


jQuery( "#meds" ).autocomplete({
  autoFocus: true,
  source: function( request, response ) {
    jQuery.ajax({
      // url: "http://gd.geobytes.com/AutoCompleteCity",
      dataType: "jsonp",
      url: BASEURLL+"medication/displayMedication",
      // dataType: "json",
      data: {
        q: request.term
      },
      success: function( data ) {
        response( data );
      }
    });
  },
  minLength: 3,
  select: function( event, ui ) {
    // log( ui.item ?
    //   "Selected: " + ui.item.label :
    //   "Nothing selected, input was " + this.value);
  },
  open: function() {
    jQuery( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  },
  close: function() {
    jQuery( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  }
});

});
jQuery(document).ready(function()
{
  jQuery('#medFormAdvanced').hide();
  
});
</script>
<input name="IDsafe_drug" type="hidden" value="<?=@$this->medicationInfo['IDsafe_drug']?>">
<div class="control-group">
  <label for="meds">Medication Name:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
    <input name="medication" type="text" required class="tootipper select-block-level" id="meds" placeholder="Example: Aspirin, Glyburide, Multivitamin"  title="Medications" value="<?=@$this->medicationInfo['medicationName']?>" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="We recommend to input one medicine per entry.  For your convenience you can select from the list. Example: Aspirin, Glyburide, Multivitamin" /><br><br>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
 
      <div class="col-md-6">
        <label class="select-block-level" for="frequency">Frequency:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle"></i></label>
        <input name="frequency" type="text" class="tootipper" id="frequency" placeholder="Example: 3 times day." title="How often taken?" value="<?=@$this->medicationInfo['frequency']?>" maxlength="45"  data-animation="true" data-placement="top" data-trigger="hover focus" data-content="How often you take this medicine. Example: 3 times day." />
        <input name="now" type="hidden" value="TRUE" />
      </div>
    </div>

      <div class="row">                     
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6" >
            <div class="input-group">
              <label>Date started (Best guess):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-datestarted" name="datestarted" class="tootipper col-sm-7 masked-date "  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->medicationInfo['dateStart'])) echo date('m/d/o', strtotime($this->medicationInfo['dateStart'])); else echo date('m/d/o'); ?>" title="Date problem started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-datestarted" data-trigger="hover"   class="tootipper btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->medicationInfo['dateStart'])) echo date('m/d/o', strtotime($this->medicationInfo['dateStart'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label>
            </div>
          </div>
          <div class="col-md-6" >
            <label>Time started (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timestarted" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->medicationInfo['dateStart'])) echo date('H:i', strtotime($this->medicationInfo['dateStart'])); else echo date('H:i'); ?>" title="Time started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="input-group">
              <label>Date ended (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required id="select-calendar-dateend" name="dateended" class="tootipper col-sm-7 masked-date"  type="text" placeholder="mm/dd/yyyy" value="<?php if (!empty($this->medicationInfo['dateEnd'])) echo date('m/d/o', strtotime($this->medicationInfo['dateEnd'])); ?>" title="Date problem started" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Date format: mm/dd/yyyy or you may click the calendar button on the right for easier selection" />
              <span class="input-group-btn"><a href="javascript:void(0)" id="btn-select-calendar-dateend" class="btn btn-danger" data-date-format="mm/dd/yyyy" data-date="<?php if (!empty($this->medicationInfo['dateEnd'])) echo date('m/d/o', strtotime($this->medicationInfo['dateEnd'])); else echo date('m/d/o'); ?>"  data-date-viewmode="years">
              <i class="fa fa-calendar"></i>  </a></span></label>
            </div>
          </div>
          <div class="col-md-6" >
            <label>Time ended (Optional):&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i><br><input required name="timeend" class="mask-time tootipper col-sm-4"  type="text" placeholder="hh:mm" value="<?php if (!empty($this->medicationInfo['dateEnd'])) echo date('H:i', strtotime($this->medicationInfo['dateEnd'])); ?>" title="Time End" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Please input the best guess.  Time format: hh:mm in military time. Example: 13:00 means 1:00 PM" />
              </label>
          </div>
        </div>
      </div>
    </div><br />
    <div class="row" style="text-align: left;">
      <div class="col-md-4">
        <label for="route">Route:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
        <select name="route" id="route" class="tootipper form-control select-block-level" title="Route" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="How is it taken? Please select.">
            <option>Select...</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via mouth (Oral)')==0) ? 'selected' : ''); ?>>Via mouth &#40;Oral&#41;</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via injection')==0) ? 'selected' : ''); ?>>Via injection</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via ear (Otic)')==0) ? 'selected' : ''); ?>>Via ear &#40;Otic&#41;</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via eye (Optic)')==0) ? 'selected' : ''); ?>>Via eye &#40;Optic&#41;</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via nose (drops/spray)')==0) ? 'selected' : ''); ?>>Via nose &#40;drops/spray&#41;</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via feeding tube')==0) ? 'selected' : ''); ?>>Via feeding tube</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Via Intravenous/Intradermal/Intramuscular/Subcutaneous')==0) ? 'selected' : ''); ?>>Via Intravenous&#47;Intradermal&#47;Intramuscular&#47;Subcutaneous</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Skin (Topical)')==0) ? 'selected' : ''); ?>>Skin &#40;Topical&#41;</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Under the tongue')==0) ? 'selected' : ''); ?>>Under the tongue</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Inhaled')==0) ? 'selected' : ''); ?>>Inhaled</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Rectal')==0) ? 'selected' : ''); ?>>Rectal</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Vaginal or Penis')==0) ? 'selected' : ''); ?>>Vaginal or Penis</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Nebulization')==0) ? 'selected' : ''); ?>>Nebulization</option>
            <option <?php echo ((strcasecmp(@$this->medicationInfo['route'], 'Others')==0) ? 'selected' : ''); ?>>Others</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="" class="select-block-level">Strength:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
        <input name="strength"  type="text" required class="tootipper col-sm-4 " id="strength" placeholder="1, or 1.5, 2, 12" title="Medicine Strength" value="<?=@$this->medicationInfo['strength']?>" size="4" maxlength="5" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="for example: 200 mg, mg can be selected at the side." />
        <select name="strengthunit" style="width: 110px;" class="tootipper form-control select-block-level" title="Strength unit" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="For example: 200 gm, select Milligram mg. Please select from the list." id="strengthunit">
          <option>Select...</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Colony forming units per millilitre (cfu/ml)')==0) ? 'selected' : ''); ?>>Colony forming units per millilitre &#40;cfu/ml&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'International unit (iu)')==0) ? 'selected' : ''); ?>>International unit &#40;iu&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Micrograms (mcg)')==0) ? 'selected' : ''); ?>>Micrograms &#40;mcg&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Millieequivalent (meq)')==0) ? 'selected' : ''); ?>>Millieequivalent &#40;meq&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Milliequivalent per millilitre (meq/ml)')==0) ? 'selected' : ''); ?>>Milliequivalent per millilitre &#40;meq/ml&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Milligram (mg)')==0) ? 'selected' : ''); ?>>Milligram &#40;mg&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Milligram per millilitre (mg/ml)')==0) ? 'selected' : ''); ?>>Milligram per millilitre &#40;mg/ml&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Millilitre (ml)')==0) ? 'selected' : ''); ?>>Millilitre &#40;ml&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Percent (%)')==0) ? 'selected' : ''); ?>>Percent &#40;&#37;&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Unit (unt)')==0) ? 'selected' : ''); ?>>Unit &#40;unt&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['strengthunit'], 'Unit per millilitre (unt/ml)')==0) ? 'selected' : ''); ?>>Unit per millilitre &#40;unt/ml&#41;</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="dosagesunit" class="select-block-level">Dosage:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i></label>
        <input name="dosage"  type="text" required class="tootipper col-sm-4 " id="dosage" placeholder="1, or 1.5, 2, 12" title="Dosage" value="<?=@$this->medicationInfo['dosage']?>" size="4" maxlength="5" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="for example: 1 tablet, select unit &ldquo;tablet&rdquo; at the side." />
        <select id="dosagesunit" name="dosagesunit" style="width: 110px;" class="tootipper form-control select-block-level" title="Dosage" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="for example: 1 tablet, select unit &ldquo;tablet&rdquo; from the list.">
          <option>Select...</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Applicatorfuls')==0) ? 'selected' : ''); ?>>Applicatorfuls</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Bags')==0) ? 'selected' : ''); ?>>Bags</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Bars')==0) ? 'selected' : ''); ?>>Bars</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Capsules')==0) ? 'selected' : ''); ?>>Capsules</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Doses')==0) ? 'selected' : ''); ?>>Doses</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Dropperfuls')==0) ? 'selected' : ''); ?>>Dropperfuls</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Drops')==0) ? 'selected' : ''); ?>>Drops</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Grams (g)')==0) ? 'selected' : ''); ?>>Grams &#40;g&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Inhalations')==0) ? 'selected' : ''); ?>>Inhalations</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Lozenges')==0) ? 'selected' : ''); ?>>Lozenges</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Micrograms (mcg)')==0) ? 'selected' : ''); ?>>Micrograms &#40;mcg&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Milligrams (mg)')==0) ? 'selected' : ''); ?>>Milligrams &#40;mg&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Millilitres (ml)')==0) ? 'selected' : ''); ?>>Millilitres &#40;ml&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Packets')==0) ? 'selected' : ''); ?>>Packets</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Pads')==0) ? 'selected' : ''); ?>>Pads</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Patches')==0) ? 'selected' : ''); ?>>Patches</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Percent (%)')==0) ? 'selected' : ''); ?>>Percent &#40;&#37;&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Puffs')==0) ? 'selected' : ''); ?>>Puffs</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Scoops')==0) ? 'selected' : ''); ?>>Scoops</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Shots')==0) ? 'selected' : ''); ?>>Shots</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Sprays')==0) ? 'selected' : ''); ?>>Sprays</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Suppositories')==0) ? 'selected' : ''); ?>>Suppositories</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Syringe')==0) ? 'selected' : ''); ?>>Syringe</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Tablespoons (tbsp)')==0) ? 'selected' : ''); ?>>Tablespoons &#40;tbsp&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Tablets')==0) ? 'selected' : ''); ?>>Tablets</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Teaspoons (tsp)')==0) ? 'selected' : ''); ?>>Teaspoons &#40;tsp&#41;</option>
          <option <?php echo ((strcasecmp(@$this->medicationInfo['dosagesunit'], 'Units (U)')==0) ? 'selected' : ''); ?>>Units &#40;U&#41;</option>
        </select>
      </div>
    </div>
    <div class="row control-group">
      <br>
      <div class="col-md-12">
        <input name="activeprescription" type="hidden" value="<?=@$this->activeprescription?>" />
      </div>
    </div>
    <div class="row">
      <label for="notes"  >Notes:&nbsp;&nbsp;<i class="tootipper fa fa-question-circle" data-trigger="hover"></i>
        </label>
         <textarea name="notes" required class="select-block-level tootipper" id="notes" title="Notes" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="This can be the reasons of taking this medicine.  Some notes to help you, your staff and other attending healthcare professionals." ><?=@$this->medicationInfo['notes']?></textarea>
            <p>This can be reasons or method in taking this medicine.  Example: Always take it before food.  </p>
    </div>
  </div>
  <section class="col-md-4 input-doctor-textarea">
    <label class="select-block-level">Your private note: <i class="tootipper fa fa-question-circle"></i><br>
      Only you can see this note.
          <textarea placeholder="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." name="doctor-notes" required class="tootipper select-block-level" id="doctor-notes"  title="Your private note" data-animation="true" data-placement="top" data-trigger="hover focus" data-content="Doctor's notes.  Only you can see this.  You can say anything here, even very private matters about this patient." ><?=@$this->problemInformation['notes'];?></textarea>
    </label>
  </section> 
</div>