<script src="<?=base_url();?>public/js/custom-dashboard-medication-profileviewer.js"></script>
<?php if (!empty($results)): ?>
<table class="table table-bordered table-hover" id="drug-table">
    <thead>
    <tr>
        <th>Medicine name</th>
        <th>Date Started</th>
        <th>Status</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <?php foreach ($results as $drug): ?>
    <tr>
        <td><?=@$drug['brandName']?></td>
        <td><?=date('M j, Y',strtotime(@$drug['dateStart']))?></td>
        <td>
            <?php if ($drug['havingitnow'] == 1): ?>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; On-going <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Set Complete</a></li>
                    <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Set Incomplete</a></li>
                </ul>
            </div>
            <?php elseif($drug['havingitnow'] == -1): ?>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; incomplete <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Set Complete</a></li>
                </ul>
            </div>
            <?php else: ?>
                Completed
            <?php endif; ?>
        <td>    
            <?php if (!empty($drug['IDemr_user'])): ?>
            <?php if (!empty($this->sessionid)): ?>
                <?php if ((int)$drug['IDemr_user'] == (int)$this->myemrsession->IDemr_user): ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#show-modal-change" class="modifythisdrug" data-drugid="<?=@$drug['IDsafe_drug']; ?>" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View Prescription</a></li>
                            <li><a href="#show-modal-change" class="deletemedication" data-medicationid="<?=@$drug['IDsafe_drug']; ?>" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;Delete Medication</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;View Journal</a></li>
                        </ul>
                </div>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn btn-info" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($drug['doctor']));?> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;Modify info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;View Presription</a></li>
                            <li class="divider"></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                            <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php else: ?>
            <div class="btn-group">
            <button class="btn dropdown-toggle btn btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Dr.&nbsp;<?=ucwords($this->nagkamoritsing->ibalik($drug['doctor']));?> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconfa-list-alt"></i> &nbsp;Modify info</a></li>
                <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                <li class="divider"></li>
                <li><a href="#under-improvement" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                <li><a href="#under-improvement" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                </ul>
            </div>
            <?php endif; ?>
            <?php else: ?>
                <?php if (!empty($this->sessionid)): ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; Patient input <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#show-modal-change" data-toggle="modal" class="modifythisdrug" data-drugid="<?=@$drug['IDsafe_drug']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Modify info</a></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethismedication"  data-medicationid="<?=@$drug['IDsafe_drug']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                        </ul>
                </div>
                <?php else: ?>
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#show-modal-change" data-toggle="modal" class="modifythisdrug" data-drugid="<?=@$drug['IDsafe_drug']?>"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;Modify info</a></li>
                        <li><a href="#under-improvement" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                        <li><a href="#show-modal-change" data-toggle="modal" class="deletethismedication"  data-medicationid="<?=@$drug['IDsafe_drug']?>"><i class="icon-eye-open" ></i> &nbsp;Delete info</a></li>
                        </ul>
                </div>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
    
    <?php endforeach; ?>
    </tbody>
</table>
<?php else: ?>
<?php if (!empty($this->sessionid)): ?>
<br><br>
<center>No data here</center>
<br><br>
<?php else: ?>
<p>Note: Sample data below.  This will be changed if your doctor or you will input some data in it.</p>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Medicine Name</th>
        <th>Date Started</th>
        <th>Status</th>
        <th>Added by</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>Sample Data</td>
        <td><?php echo date('M j, Y');?></td>
        <td>On-going</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-th"></i> &nbsp; You <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-edit"></i> &nbsp;Modify info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Delete info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    <tr>
        <td>Sample Data from doctor</td>
        <td><?php echo date('M j, Y');?></td>
        <td>No longer taking it</td>
        <td>
            <div class="btn-group">
                <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown"><i class="icon-th"></i> &nbsp;  Your Dr. <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="iconfa-list-alt"></i> &nbsp;View details</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal"><i class="icon-eye-open"></i> &nbsp;Privacy Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="iconsweets-users"></i> &nbsp;Check Doctor's Info</a></li>
                    <li><a href="#sampledataonly" data-toggle="modal" ><i class="icon-question-sign"></i> &nbsp;Ask doctor about this info</a></li>
                    </ul>
                </div>
        </td>
    </tr>
    
    </tbody>
</table>
<?php endif; ?>
<?php endif; ?>
<div id="medication-pagination-div-id"><?php echo $links; ?></div>